[2022-03-21 09:06] ObsisMc opened #687 "Image in Paragraph has unexpected behavior"
**Describe the bug**
Add a string and an image into a Paragraph, the string will overlap with the image.

**To Reproduce**
[code]
The image can be any image.

**Expected behavior**
I think maybe they the image should be behind the string.

**Actual behavior**
![图片](https://user-images.githubusercontent.com/71996633/159230762-69166223-bf09-469e-83a8-0aec4f3c766c.png)

**System (please complete the

[2022-03-21 11:39] testn commented on #687
Can you try to add `writer.setStrictImageSequence(true);` to see if it solves the problem.

[2022-03-21 11:46] testn commented on #679
What is the size of the font file?

[2022-03-21 12:06] wise-coders commented on #679
The font is 16Mb large. Here is a link to it: https://dbschema.com/fonts/unifont.ttf
The software also downloads it from the website. It is also possible that the download was broken.

[2022-03-22 12:16] ObsisMc commented on #687
@testn It doesn't work wherever I put the code.

[2022-03-23 06:07] andreasrosdal commented on #687
Can you please try different versions of OpenPDF and iText to see if this works correctly in other versions?

[2022-03-23 06:56] testn commented on #685
Which version of Adobe Acrobat Reader DC do you use?

[2022-03-23 16:10] ObsisMc commented on #687
I want to get result like this ![图片](https://user-images.githubusercontent.com/71996633/159743271-bfa7afcb-1f8d-44e2-ad73-4dacb12d4342.png), example (com.lowagie.examples.objects.images) using `writer.setStrictImageSequence(true)` doesn't put image into Paragraph. I wonder whether it is ok for me to put images into Paragraph.

[2022-03-28 09:25] laurelgr opened #689 "XFA - Duplicated subform tag and pages"
When filling a specific dynamic form's field, the resulting file goes from 6 to 11 pages. Pages 7 to 11 are duplicates of pages 2 to 6, with some data discrepancies.

I investigated the file's XML, and noticed some things:
- the <form> tag
  - is not **initially** empty, it contains one instanceManager+subform (of 1 field with value override) and the pageSet (6 pages)
  - **after filling** the fil

[2022-03-31 08:04] boyqian opened #690 "Does the recent spring vulnerability affect openPDF?"
Analyze the software that OpenPDF depends on contains the spring-beans component. Check whether the spring vulnerability affects OpenPDF 1.3.20.

[2022-03-31 08:15] boyqian commented on #690
If affect it, Will shiro upgrade the spring version?

[2022-03-31 09:39] Lonzak commented on #690
There is [no spring](https://github.com/LibrePDF/OpenPDF/blob/master/pom.xml) used inside openPDF.

[2022-03-31 14:04] boyqian commented on #690
emm.... How do you explain that this description uses spring?
The following link is the vulnerability information released by Spring.
And I just want to know if the official vulnerability has anything to do with our pdf.

https://spring.io/blog/2022/03/31/spring-framework-rce-early-announcement
![image](https://user-images.githubusercontent.com/20450454/161073888-d8a54aee-eb98-4df3-986f-cd5b20f87a

[2022-04-01 01:10] #690 closed

[2022-04-02 08:47] ThreeHmeng commented on #687
I'm interesting in the problem, so i'll try to fix it. ————from SUS-Lanrand

[2022-04-02 09:43] Jaspreet96 opened #691 "Adding Paragraphs with different run directions to same ColumnText object"
XDocReport while converting DOCX to PDF is using Apache POI with OpenPdf. They create a layout table with a single row, cell and add their objects into that cell.
The problem arises when a document contains BiDirectional Content. For example, refer the below lone line paragraphs:
     اختبار اللغة العربية
I am trying to use XDocReport to convert DOCX into PDF. It’s going well as of now. Want to ru

[2022-04-02 09:48] #674 closed

[2022-04-02 09:49] Jaspreet96 commented on #674
As mentioned in the above comment, the problem lies with how XDocReport is using OpenPdf to convert DOCX to PDF.

[2022-04-02 16:04] andreasrosdal commented on #691
Thank you for reporting. Pull requests welcome.

[2022-04-03 15:02] ObsisMc commented on #103
@wzy1935 are you still working on it? If not I will try.

[2022-04-04 03:44] ObsisMc opened #692 "How to split a row whose rowspan > 1 evenly"
I use following code to get the result like the first image.
[code]
![图片](https://user-images.githubusercontent.com/71996633/161469540-ab18b593-9517-4964-8213-aa6c8bb8311c.png)

However, I want heights of rows in the second column to be the same like following image.
![图片](https://user-images.githubusercontent.com/71996633/161470109-908ebfaa-7e0e-4ac4-9af2-07110ad18f46.png)

How should I change my

[2022-04-04 05:58] ObsisMc commented on #692
After my investigations, I find that maybe the first case is a default result. Do you think that letting it be split evenly is reasonable?

[2022-04-04 12:13] wzy1935 commented on #103
@ObsisMc Sure. You can work on this

[2022-04-05 08:43] ThreeHmeng commented on #687
I'm interesting in the problem, so i'll try to fix  @asturio   ————from SUS-Lanrand

[2022-04-05 08:45] ThreeHmeng commented on #687
Hi, @asturio .I would like to work on this issue! So can I try to fix it? ————from SUS-Lanrand

[2022-04-07 15:02] NicolaIsotta opened #699 "Smart mode (like PdfSmartCopy) for PdfWriter"
**Is your feature request related to a problem? Please describe.**
When creating PDFs with PdfWriter, there's no optimization when adding resources. If I add the same image in two pages, the image bytes are added two times to the resulting PDF.

**Describe the solution you'd like**
Either add a smartMode property to PdfWriter, or a PdfSmartWriter which extends PdfWriter. The new class/mode would h

[2022-04-08 06:59] SirishaGorasa opened #701 "Adding Chunks to Marked Content Sequences"
**I am trying to add chunks to Marked Content Sequences using Chunk class of OpenPDF. After creating a chunk, There is no MCID for it in the Content Stream of the PDF. The main aim is to add a URL as a Chunk of Content and make it tagged with MCID in the content stream.**
Initially, After Creation of the Chunk, I had set an Action for it, set the Generic tag Chunk and then added to the document. T

[2022-04-12 10:22] SirishaGorasa opened #703 "Adding PDFStructureElement to Chapter"
With the current capability, I was able to add `paragraph` to `chapter` which is untagged i.e., it neither follows the `accessibility guidelines` nor have the `proper internal structure` or enclosed in a marked content sequence.

I was able to figure out a way to add Paragraphs individually as tagged elements with the help of `PdfStructureElement` and `PdfContentByte` classes. But can't really fig

[2022-04-12 12:01] phermsdorf opened #704 "OSGi MANIFEST.MF Requires sun.misc which is not available in newer Java versions"
**Describe the bug**
I imported openpdf into my osgi project and get an Error: "Missing Constraint: Import-Package: sun.misc"

**To Reproduce**
1. Setup an Eclipse Target Platform and add OpenPDF via Maven coordinates to the target platform (this is possible in newer Eclipse Releases)
2. Open the "Target Platform State" View and look for the Bundle "com.github.librepdf.openpdf"
3. You see the abov

[2022-04-14 14:36] ObsisMc commented on #620
@haha989 is you working on this issue? I want to try it.

[2022-04-16 09:09] ObsisMc opened #706 "HtmlParser: maybe there should be a new line between title and body"
My html has title and after parsing, the title is in the first line of body. I think at least it should change a line.

**To Reproduce**
The code is the same as sample [ParseHelloHtml.java](https://github.com/LibrePDF/OpenPDF/blob/master/pdf-toolbox/src/test/java/com/lowagie/examples/html/ParseHelloHtml.java).
[code]
Html is following.
[code]
**Current behavior**
![图片](https://user-images.githubus

[2022-04-16 10:31] jknight commented on #115
TIFF is quite common on the corporate world

[2022-04-17 16:21] ObsisMc commented on #259
@vic0075 So setMargins() only comes into effect in the second page and pages after that?

[2022-04-20 05:23] bk1991 commented on #317
@asturio - I am facing this issue with 1.3.26 release for multiple cases. This gets fixed by the changes mentioned by @whexy in
#524
But these changes are not there in the latest release 1.3.27, can you get a release/patch with this change ?

[2022-04-20 12:25] mkl-public commented on #259
If anything, this may be a _documentation_ issue because the behavior makes sense. iText / OpenPDF design details:

* The margins are considered whenever a new page is created.
* `Document.open` creates the first document page.
* `Document.newPage` is ignored by `PdfDocument` if nothing has been added to the current page yet.

Thus, after
[code]
you're still on the first page with the original mar

[2022-04-20 16:06] Brooklyn-0 commented on #658
Hi, I am interested in this issue, can I work on this?

[2022-04-21 03:12] Elizalll commented on #706
Hello👋 @ObsisMc, may I work on this issue? Thank you.

[2022-04-21 09:35] chappyer commented on #706
Good issue! I'll fix this and submit a Pull Request soon.

[2022-04-25 20:37] liefke opened #718 "ArrayIndexOutOfBoundsException when opening PDF file with invalid indirect reference"
I have a (confidential) PDF file, which can be opened by Acrobat Reader, Chrome and Firefox, but throws the following exception when opened with OpenPDF:

[code]

Apparently an _indirect reference_ in the PDF references a _-1_ (which is not valid according to the standard, but is ignored by most readers). I debugged the PDF and there is indeed a "-1 0 R" in one of the dictionary arrays, so no erro

[2022-04-27 09:37] kaufmann1 opened #720 "NullPointerException when opening PDF"
**Describe the bug**
OpenPDF throws a NullPointerException when creating a new reader instance.
` try (PdfReader reader = new PdfReader(new FileInputStream(inputFile))) {`
The PDF is a singled paged document with a size of ~450 KB.

**To Reproduce**
For confidentiality reasons, I cannot share the pdf file.
In my case PdfReader.getPdfObject returns null. Most functions that call getPDFObject have a

[2022-04-27 09:47] kaufmann1 commented on #720
The pdf file can be openend with all common PDF programs like Adobe, PDF24, Edge or Chrome

[2022-04-28 02:36] h2cone commented on #375
Similar issues:
[code]

[2022-04-28 10:03] bk1991 commented on #616
Here is a one way to create a thumbnail of pdf page -
PdfReader reader = new PdfReader("HelloWorldToImport.pdf");
PdfWriter writer = PdfWriter.getInstance(document, new FileOutputStream("HelloWorldImportedPages.pdf"));
document.open();
System.out.println("Tampered? " + reader.isTampered());
document.add(new Paragraph("This is page 1:"));
PdfImportedPage page = writer.getImportedPage(reader, 1);
Im

[2022-04-28 10:05] kaufmann1 commented on #720
I think OpenPDF should have some error tolerance to a certian degree. There are so many different libs/app that produce PDFs, that faulty non conform PDFs are practically predestined.
My opionion is that OpenPDF should handle those files. If common readers can display the files, that OpenPDF should also be able to. If OpenPDF can't process "real world PDF" files, why should I use it ?

[2022-04-28 17:32] mkl-public commented on #720
Well, not really.

Please don't forget the big difference between the use cases.

After loading a faulty PDF and attempting to repair the errors, a PDF processor _displaying the PDF_ has a user on the other side of the screen who can decide whether the document looks ok or not. So if the "repair" resulted in something obviously broken, the user will reject the file for further processing.

PDF lib

[2022-04-28 21:23] liefke commented on #718
My PDF was created with Microsoft PowerPoint 2019 three weeks ago (2022-04-07). But as it was the first time that such an error was reported and as we have enough other documents that were created by Microsoft PowerPoint 2019 before, one could guess that a Microsoft update is responsible for the broken PDFs (and one could hope, that Microsoft will fix that soon, too).

[2022-04-30 13:21] kaufmann1 commented on #720
The use case where I use OpenPDF is exactly the opposite.
My application consumes user created PDFs.
We try to extract a specific number from the documents sent to us. If this is possible, the document can be processed further automatically.
If the PDF cannot be opened, the document must be processed by an employee.

[2022-05-03 07:40] alesky78 commented on #616
Hello @bk1991 thank you for your update,  this is an interesting approach but doesn't solven the problem of this topic.
The point here is to convert a pdf page in a immage: jpeg, png, etc....

[2022-05-09 10:17] andreasrosdal commented on #720
Thanks for reporting this error. I agree, this bug is a critical bug in OpenPDF, and should be fixed so that no NullPointerException is thrown. Please merge the pull request #721.

This is the stacktrace I get for this NullPointerException:

Caused by: java.lang.NullPointerException
	at com.lowagie.text.pdf.PdfReader$PageRefs.iteratePages(PdfReader.java:3729)
	at com.lowagie.text.pdf.PdfReader$Pag

[2022-05-09 10:28] andreasrosdal commented on #718
I get the same problem. I hope that the pull request for this bug can be accepted.

java.lang.IndexOutOfBoundsException: Index -1 out of bounds for length 7770
	at java.base/jdk.internal.util.Preconditions.outOfBounds(Preconditions.java:64)
	at java.base/jdk.internal.util.Preconditions.outOfBoundsCheckIndex(Preconditions.java:70)
	at java.base/jdk.internal.util.Preconditions.checkIndex(Preconditio

[2022-05-09 10:31] andreasrosdal opened #724 "ClassCastException in PdfReader.consolidateNamedDestinations: com.lowagie.text.pdf.PdfArray cannot be cast to class com.lowagie.text.pdf.PdfString"
I get this ClassCastException in OpenPDF version 1.3.27:

java.lang.ClassCastException: class com.lowagie.text.pdf.PdfArray cannot be cast to class com.lowagie.text.pdf.PdfString (com.lowagie.text.pdf.PdfArray and com.lowagie.text.pdf.PdfString are in unnamed module of loader org.apache.catalina.loader.ParallelWebappClassLoader @6c901f0e)
	at com.lowagie.text.pdf.PdfNameTree.iterateItems(PdfNameTr

[2022-05-09 10:36] andreasrosdal opened #725 "NullPointerException in PdfReader.readPages()"
I get this NullPointerException in OpenPDF 1.3.27,
when calling:      reader = new PdfReader(data);

java.lang.NullPointerException
	at com.lowagie.text.pdf.PdfReader.readPages(PdfReader.java:1103)
	at com.lowagie.text.pdf.PdfReader.readPdf(PdfReader.java:627)
	at com.lowagie.text.pdf.PdfReader.<init>(PdfReader.java:212)
	at com.lowagie.text.pdf.PdfReader.<init>(PdfReader.java:196)

https://github

[2022-05-09 19:08] andreasrosdal commented on #704
@albfernandez Can you please help at this?
https://github.com/LibrePDF/OpenPDF/blob/bff6520a368fe0a35b443740a36cba108f4ed1a4/openpdf/src/main/java/com/lowagie/text/pdf/MappedRandomAccessFile.java#L220

[2022-05-11 21:19] #718 closed

[2022-05-11 21:27] #720 closed

[2022-05-11 21:49] #706 closed

[2022-05-11 22:07] #640 closed

[2022-05-12 10:40] chappyer commented on #725
Hello, is there a complete test code for this problem? If there is , could you please share the test code to me? So I can reproduce this problem. It will help me to solve this bug. Thank you!

[2022-05-12 12:04] kaufmann1 commented on #720
THX

[2022-05-13 12:51] koenvb opened #727 "NullpointerException on this.OCGRadioGroup"
**Describe the bug**

When trying to call the stamper.getPdfLayers() you get a nullpointer exception

[code]

**To Reproduce**

[code]

**Expected behavior**
No nullpointer exception

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System (please complete the following information):**
 - OS: [e.g. iOS]
 - Used Font:

**Additional context**

Can be solved by adding a

[2022-05-13 12:51] koenvb commented on #727
I am creating a pull request for this

[2022-05-13 15:24] koenvb opened #729 "Cast error class com.lowagie.text.pdf.PRIndirectReference cannot be cast to class com.lowagie.text.pdf.PdfDictionary"
**Describe the bug**

When reading a pdf generated by Adobe Illustrator the code hangs on a casting error.
This is due to wrong casting from PRIndirectReference to PdfDictionary

[code]

**To Reproduce**
Code to reproduce the issue
1. Sample Code
2. Unit-Test

**Expected behavior**

pdfWriter just goes on without any issue

**System (please complete the following information):**
 - OS: [e.g. iOS]

[2022-05-13 16:53] koenvb commented on #724
hi Andreas, would you have a pdf to test? Looks like a sort error in the pdf itself which needs to be catched.

[2022-05-14 10:11] asturio commented on #692
It seems a nice feature.

[2022-05-14 10:34] asturio commented on #687
@ObsisMc
"Fixing" this issue could change the expected behavior. As @andreasrosdal asked, could you compare the functionality using iText?

[2022-05-17 23:51] alshubei commented on #704
Hi, I have same problem here. I build a project via maven. It has BIRT which depends on `com.github.librepdf.openpdf` that imports the package `sun.misc` which is unresolved by `org.eclipse.tycho:tycho-compiler-plugin:2.7.3:validate-classpath`

[code]

[2022-05-18 05:10] Neanrakyr opened #733 "Add pagination + informations at the end of the page"
Hello I would like some help.

I'm trying to add the number of page on each page them add some informations at the end of the last page, but it look like the footer in the document.open() override the general pagination.

Did you have a methode to do not have this issue? I try to set true but the number of page isnt center.
HeaderFooter footer = new HeaderFooter(footerParagraph, true);

I saw ther

[2022-05-18 22:03] Neanrakyr opened #734 "Add pagination + informations at the end of the page"
Hello I would like some help.

I'm trying to add the number of page on each page them add some informations at the end of the last page, but it look like the footer in the document.open() override the general pagination.

Did you have a methode to do not have this issue? I try to set true but the number of page isnt center.
HeaderFooter footer = new HeaderFooter(footerParagraph, true);

I saw ther

[2022-05-20 09:36] arnthom commented on #734
Hello Neanrakyr,
check the PdfPageEventHelper class.

We have created a PdfEvent class that extends PdfPageEventHelper, the you can add all the stuff, that has to be done when
the paragraph/chapter/page/document begins or ends etc.

So when a page ends, you can define heder or footer, watermark or stuff like that.
You have to declare this class by using the PdfWriter method setPageEvent.

Hope thi

[2022-05-21 12:49] haha989 commented on #701
I would like to try for it.

[2022-05-21 20:05] Neanrakyr commented on #734
Thank you it help me a lot to understand it.

[2022-05-21 20:05] #734 closed

[2022-05-22 11:52] Neanrakyr opened #735 "Not Show the getNumberPage on the Page 1"
Hello,

Today i'm trying to not show the getNumberPage on the first page if you only have one page in the document.

I trySoemthing like it

[code]

but it only show the second page and not show the firstpage if i have 2 page in the document

so i try something like it

[code]

but that dont work too...

Anyone can help me to find the solution and if you have the solution to show the totalPage of

[2022-05-23 07:47] TarunNanduri opened #736 "showText isn't creating new lines if string is bigger than pdf width"
**Describe the bug**
showText isn't creating new lines if string is bigger than pdf width

**To Reproduce**
Code to reproduce the issue
[code]

**Expected behavior**
I expect string to move to next line if page-end is hit.

**Screenshots**
![image](https://user-images.githubusercontent.com/40847178/169769058-34dd96c0-17f4-4e00-a692-209cb9ae4a82.png)

**System (please complete the following informa

[2022-05-23 07:49] TarunNanduri commented on #736
This holds true, even if I use an `LayoutProcessor` supported font.

[2022-05-23 16:11] andreasrosdal commented on #724
I have such as a PDF file to reproduce this problem, can you please send me an email to andreas.rosdal AT gmail.com and I will share the PDF file with you. Thank you.

@koenvb

[2022-05-23 16:13] andreasrosdal commented on #725
The code to reproduce this problem is to read a PDF file using the PdfReader.PdfReader(byte[] pdfIn) constructor.
Here: https://github.com/LibrePDF/OpenPDF/blob/master/openpdf/src/main/java/com/lowagie/text/pdf/PdfReader.java#L195

[2022-05-24 13:46] youyumeimei commented on #736
Hello @TarunNanduri  , our group are interested in this issue, and we will try to fix it.
---- SE_SUSTech, group: Lanrand

[2022-05-25 07:43] arnthom commented on #735
Do you use PdfEvent for this?
You are using
`writer.getPageNumber()`
I suppose, not setPageNumber

Try debugging the creation process and watch carefully, which value you get.

[2022-05-25 09:13] linux936294871 opened #737 "Add multiple PDFs and merge them into one PDF"
In daily life, we often need to combine multiple PDFs of the same type into a single PDF, so I highly recommend adding this feature to facilitate many subsequent uses.

[2022-05-25 09:14] youyumeimei commented on #737
Hello @linux936294871 , our group are interested in this issue, and we will try to fix it.
---- SE_SUSTech, group: Lanrand

[2022-05-25 15:42] andreasrosdal commented on #737
Please don't add a dependency on Pdfbox and Lombok

[2022-05-25 23:59] tbessie opened #739 "Setting page size doesn't take effect until new page"
**Describe the bug**
When I create a new Document and add images to it, I set the page size for each image received before adding the image.  However, the page size I set doesn't appear to take effect until the next page.

**To Reproduce**
Code to reproduce the issue
    /**
     * Convert TIFF to PDF.
     * Used for processing incoming Fax data.
     */
    public byte[] convertTIFFToPDF(byte[]

[2022-05-26 08:00] Brooklyn-0 commented on #739
Hi, can I work on this issue?

[2022-05-26 11:18] ObsisMc opened #740 "setVerticalAlignment methods for Cell class causes endless loop when starting a new page"
**Describe the bug**
1. Create a `Table` instance which has at least 2 columns in document
2. Add a `Cell` into the first column which should calls `setVerticalAlignment` methods, and the second column should have a cell with a large String which will make the document start a new page
3. Run code. The program cannot stop in short time and size of the output pdf will become will large

**To Reprod

[2022-05-26 11:18] ObsisMc commented on #740
I will try to fix it.

[2022-05-26 13:36] tn185075 commented on #736
Great! Looking forward.

[2022-05-26 13:39] TarunNanduri commented on #736
Great, Looking forward!

[2022-05-26 14:35] Pashamacel opened #741 "Extracting incomplete text from pdf page"
**Describe the bug**
I have a pdf document. Document was generated by convertation from ODT file using OpenOffice service.
I am trying to extract the text of this document, but the function returns me not the full text of the page.

**To Reproduce**
[code]
**Expected behavior**
Functions returns the full text of page.

**System (please complete the following information):**
 RedHat, java 1.8.0_282

[2022-05-26 19:48] tbessie commented on #739
Not sure if you're asking me, or someone who's in charge of the project. :-)

If you do, in any case, when I stepped through what's happening, I suspected the various listener events that are being fired and how they are responded to.  Perhaps they are being ignored for page size change for current page.  I don't know what the listeners are doing, though, as I didn't step into them.

[2022-05-27 21:30] tbessie commented on #739
NOTE: I also noticed that the default MediaBox value per PDF page is the same as the resolution of the image that page contains.  In the iText version we were using, the default value is A4 (which appears the default pagesize overall).  I'm not sure if this is a bug in the old iText library or a bug in OpenPDF - probably debateable.

[2022-05-27 21:59] tbessie opened #743 "Not all PdfName properties are settable in PdfViewerPreferencesImp (eg. MediaBox)"
**Describe the bug**
I can't change all PdfName properties with PdfWriter.addViewerPreference()

**To Reproduce**
Try something like this:

writer.addViewerPreference(PdfName.MEDIABOX, new PdfRectangle(PageSize.A4));

... observe that the resulting PDF does not have the MEDIABOX value set.
This is apparently because only a limited set of values is supported in PdfViewerPreferencesImp.java

**Expec

[2022-05-27 22:57] tbessie commented on #739
It looks like this (and associated behavior) is the culprit, from PdfDocument:

    public boolean setPageSize(Rectangle pageSize) {
        if (this.writer != null && this.writer.isPaused()) {
            return false;
        } else {
            this.nextPageSize = new Rectangle(pageSize);
            return true;
        }
    }

[2022-05-28 09:55] guguguteam opened #744 "Use PdfStamper.getPdfLayers() causes java.lang.NullPointerException."
**Describe the bug**
When use  PdfStamper.getPdfLayers() causes java.lang.NullPointerException.

**To Reproduce**
Code to reproduce the issue
pdfstamper = new PdfStamper(reader, new FileOutputStream("myTest2.pdf"));
System.out.println(pdfstamper.getPdfLayers());
pdfstamper.close();

myTest2.pdf is a pdf file which use the pro to generate.

**Expected behavior**
no causes PdfStamper.getPdfLayers().

[2022-05-28 09:58] guguguteam commented on #744
Hello, can I work on this issue?

[2022-05-28 09:59] ThreeHmeng commented on #744
Hello, can I work on this issue? I'll try to fix it

[2022-05-28 10:01] guguguteam commented on #744
Of cause! Thanku!

[2022-05-29 03:00] Brooklyn-0 opened #747 "wrong layout of table with setVerticalAlignment as bottom"
**Describe the bug**
Firstly, create a table with two clumns and only one row. Then, set the cell in one column as alignment.BOTTOM and fill another cell with long string which overruns one page. As a result, the produced PDF will have strange layout or causing endless loop.
**To Reproduce**
[code]

**Expected behavior**
Correct layout of string in cell at the table bottom boundary

**Screenshots*

[2022-05-29 03:04] Brooklyn-0 commented on #747
I will fix this bug very soon

[2022-05-30 10:38] #103 closed

[2022-05-31 20:03] #602 closed

[2022-05-31 20:33] #691 closed

[2022-05-31 20:49] #729 closed

[2022-05-31 21:05] #633 closed

[2022-06-01 11:51] asturio commented on #737
Please note: OpenPDF is a PDF manipulation library like iText or PDFBox. There is no point using iText or PDFBox inside OpenPDF to add new features to the library. If this feature is really needed (Merging existing PDF files into a single PDF file), then please accomplish this using only code in and from OpenPDF.

[2022-06-01 13:34] asturio opened #756 "Open discussion about the motivation of this project."
There is a need to move the classes of OpenPDF (and sibling projects) from the com.lowagie-namespace to a OpenPDF/LibrePDF-namespace.

Also I wanted to checkout how these "projects" in GitHub work :-)

My suggestion is:

- Move all classes from com.lowagie.* to org.librepdf.*
- This change should be a major release (e.g. 2.0.0)
- This should be well documented in the Wiki, and in gh-pages.

This i

[2022-06-01 14:00] asturio commented on #631
There are different copies of license-files scattered  through the project. The openpdf.jar has the old copies. And also an Apache-License inside, which I don't know what code is covered by it.

[2022-06-01 14:36] asturio commented on #631
Some code is licensed under the ASF 2.0. I think that license should also be included in the jar-Bundle

[2022-06-01 16:31] #345 closed

[2022-06-02 02:52] Neanrakyr commented on #735
@arnthom

yes sorry i use getPageNumber()

I don't find anysolution yet. I would like to show the getPageNumber() only if you have more than 1 page.

You have any idea?

[2022-06-02 06:42] arnthom commented on #735
That's the problem, with the event onEndPage you can just "see" this peticular page.
In iText there seems to be a PdfDocument method calles getNumberOfPages() (instead of getPageNumber()) to retrieve this value.
In OpenPDF I have not found such.
As a first step you could hide the page number 1 and start counting at 2 ...

[2022-06-02 07:08] asturio commented on #744
I think this issue was solved with #728

[2022-06-02 07:09] asturio commented on #744
May be the same problem as in #727 .

[2022-06-03 04:47] andreasrosdal commented on #756
The namespace com.lowagie.* is used in accordance with the LGPL and MPL license, so there is no urgent need to change the package names. Using this package name makes migration to OpenPDF easy and quick.

[2022-06-03 11:56] Saeron opened #760 "Reflective access operation"
**Describe the bug**
I am trying to add a water mar to a pdf

**To Reproduce**
`PdfReader reader = new PdfReader(fileStorageDir + "/" + documento.getPath());`

**Expected behavior**
`WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.lowagie.text.pdf.MappedRandomAccessFile$1 (file:/home/saeron/.gradle/caches/modules-2/files-2.1/com.lowagie/itext/

[2022-06-03 19:14] netmackan opened #763 "Certain documents with shared objects/streams gets the modified page blank after signing"
**Describe the bug**
For certain documents putting a visible signature in a page which has a /Contents with an array where one or more of the objects within it has the same number as an object in an other page causes the page with the visible signature to be blank. (Additionally if signed more then once, all but the last signature will show up as invalid in Acrobat.)

**To Reproduce**
Code to repr

[2022-06-10 13:23] netmackan commented on #763
It turns out that the digital signature is not needed to reproduce the issue. The following simplified sample code is enough and also gives the blank page 2:

**To Reproduce**
1. Sample Code

[code]

Basically all that is needed is to make a modification with PdfStamper in append mode.

Anyone having an idea about what could be the issue here? Or some background on the purpose of the PdfReader.eli

[2022-06-11 10:05] PulkitGupta707 opened #767 "Indian language support with glyphs and Html parsing"
I have a string consisting of HTML code and internal css style which I got from velocity template. The language in that string is Hindi and English with the font 'Mangal'. How can I parse that HTML string and convert to PDF? I have tried using itext5 nd it works but glyphs support isn't present on free version and if I use open pdf the resulted pdf just shows squares for thr data inside <body> tag

[2022-06-15 22:21] andreasrosdal commented on #346
Sure, please submit a pull request for this.
@ObsisMc

[2022-06-15 22:22] andreasrosdal commented on #616
Any help on this issue would be welcome. Please submit a pull request.

[2022-06-16 11:01] asturio commented on #687
I compared this with iText 5, and the behavior there is the same as with OpenPDF. I think the desired effect can be accomplished  with tables.

[2022-06-19 22:03] asturio commented on #687
The best way to add image in flow text is to use a Chunk to wrap that image. Take a look add pdf-toolbox/src/test/java/org/librepdf/openpdf/text/pdf/ImageAfterTextExample.java

[2022-06-19 22:15] #373 closed

[2022-06-23 07:57] kolaval commented on #536
@asturio Issue again in 1.3.28

[2022-06-23 09:52] Noryt2501 opened #771 "setSkipFirstHeader not working on table when inserted into a cell"
**Describe the bug**
Calling table.setSkipFirstHeader(true) does not skip the header rows on the first page when the table is inserted into a cell and the added to anoter table.

**To Reproduce**
Code to reproduce the issue
1. Sample Code
                document.open();
		PdfPCell cell;
		PdfPTable mainTable = new PdfPTable(1);
		mainTable.setWidthPercentage(100);
		mainTable.setHeaderRows(3);

[2022-06-23 11:40] netmackan commented on #763
I believe this call to eliminateSharedStream() should not be made from the readPdf() method called from the constructor of PdfReader. Instead this (public) method could be called explicitly if anyone needs it.

An other major PDF library does not have this issue and is not calling that method.

https://github.com/LibrePDF/OpenPDF/blob/8e941dc00114a5addf4e65adf11ec05eecaf15b3/openpdf/src/main/java/

[2022-06-24 12:13] MotoMana commented on #82
I've also wanted to add SVG icons to PDF and used the Batik example mentioned above but the line where the SAXSVGDocumentFactory is created always throws the following exception:

org.xml.sax.SAXNotSupportedException: http://xml.org/sax/features/external-general-entities
	at org.apache.xerces.framework.XMLParser.setExternalGeneralEntities(XMLParser.java:484)
	at org.apache.xerces.framework.XMLPars

[2022-06-24 17:13] #620 closed

[2022-06-24 20:41] #574 closed

[2022-06-24 20:41] #631 closed

[2022-06-29 05:36] antonis-tsolomitis opened #777 "Embed SVG for beautifying signatures"
This comes from the JSignPdf program. I was told from the developers that the following is an OpenPdf issue.

In order to make the signature on a pdf file better looking a good way is to use  the TeX system. A wrote a trivial script that can create the visual part of the signature using XeLaTeX (so any font can be used, any color, and so many other things can be tweaked like lineskip). This is don

[2022-07-05 12:10] knshalini opened #779 "RTL Issue with english and arabic content in single PDF"
**Issue**:
I use both arabic and english in my pdf. I need arabic content to be in RTL (right to left) and english to be in LTR (Left to right) and I tried to achieve RTL by enabling layoutprocessor. However both English and arabic are displayed in RTL direction.

**To Reproduce**:
import com.lowagie.text.pdf.LayoutProcessor;
LayoutProcessor.enable(java.awt.Font.LAYOUT_RIGHT_TO_LEFT);

Used the ab

[2022-07-09 13:24] #747 closed

[2022-07-09 13:25] #744 closed

[2022-07-12 12:09] vstokesjr opened #781 "Header and Footer phrase is no longer being rendered"
**Describe the bug**
The document _header_ and _footer_ are no longer being rendered in version 1.3.29 when solely set with _Phrase()_. However, if you change the "_numbered_" option to _TRUE_ then the _header_ and _footer_ are rendered but only with the page number. The supplied _Phrase()_ is not being rendered.

**To Reproduce**
Document document = new Document( PageSize.Letter );
PdfWriter.getI

[2022-07-12 12:18] vstokesjr commented on #781
I forgot to mention that if I revert back to OpenPDF Version: 1.3.25 (via Maven) then the header/footer work properly.

[2022-07-16 09:47] vk-github18 commented on #779
Use <code>LayoutProcessor.enable();</code>
for automatic selection of direction.

[2022-07-18 07:35] wise-coders opened #784 "Increase buffer size."
When generating a large PDF documentation, I got this exception. Is it maybe some buffer that can be increased?

Error handling method 'generate' in class com.wisecoders.dbs.dialogs.system.FxDocumentationDialog:
java.lang.IllegalArgumentException: newPosition > limit: (15891762 > 3130368)
  at java.base/java.nio.Buffer.createPositionException(Buffer.java:337)
  at java.base/java.nio.Buffer.positio

[2022-07-25 10:44] CTaylor-pf commented on #274
Have a "shim" layer that redirects to the "new" API?

[2022-07-29 07:30] bobo325 opened #787 "Run test method: visibleExternalSignature to generate a pdf file with digital-signature"
I try to use openPdf to generate a pdf file with digital-signature with test method: visibleExternalSignature, It did generate a pdf file, but when I open it with Adobe Acrobat Reader DC, It reported an error: At lease one signature is invalid.  And when I extend the details, It appeared the follow errors:

![图片](https://user-images.githubusercontent.com/18496636/181707462-8209bf83-aec0-4ea6-a0c2-

[2022-07-29 10:25] bobo325 commented on #787
Compared to other solutions, I found that  there is no private key, certs and so on... progress...

[2022-08-11 11:48] jansorby opened #790 "Tab position is not interpreted correctly"
When setting TAB positions for a Paragraph, the resulting text is positioned one character width too far to the right in respect to the given position. This becomes very obvious and annoying when used in combination with setIndentationLeft as the resulting positions are different.

The code used looks like this.
                  float left = currentParagraph.getIndentationLeft();

[2022-08-11 12:31] jansorby opened #791 "Using negative values in setFirstLineIndent in combination with TAB causes line-break to be wrong"
When using setFirstLineIndent with negative value in combination with TAB and setIndentationLeft to create hanging indent causes the line to be cut short.

The code could look something like this (I have tried to condense code that is located several places, don't take it literally)

[code]

I would expect the text to be rendered using all the available space to the right for all the lines in the

[2022-08-15 15:06] mpuebla12 commented on #146
Hi:
I need a version of openpdf that is java7 compatible and supports QR code generation and QR code printing.

 Does this version support it?

Best.

[2022-08-19 00:45] gnahraf commented on #781
can confirm same behavior on macOS (12.1) with openjdk 17.0.1; also works here w/ version 1.3.28

[2022-08-19 11:04] bigredstar opened #795 "Borders not displayed correctly in table"
**Describe the bug**
I created a little piece of code that draw a table with some data. I only show the "vertical" borders of cell in order to display only columns. It renders perfectly.

However, if I add different color for even and odd row (to improve readability), some borders disappear.
The problem occurs when using Acrobat Reader DC 32bit on Windows 10. The border may reappears depending on

[2022-08-19 12:51] flaxx opened #796 "Text (AWT font) is not stretched with TextAttribute.TRACKING set greater than zero"
**Describe the bug**
Text (AWT font) in the pdf document is not stretched with TextAttribute.TRACKING  set greater than zero.

**To Reproduce**
1. Run attached Java code (Main class App.java) with JDK >= 10

**Expected behavior**
When TextAttribute.TRACKING is set greater then zero, the text in the pdf document should be streched.

**Screenshots**
see attached Screenshots.pdf

**System**
 - OS: Wi

[2022-08-19 13:12] bigredstar commented on #795
Add mising archive file
[openpdf_badborder.zip](https://github.com/LibrePDF/OpenPDF/files/9382398/openpdf_badborder.zip)

[2022-08-29 08:48] ytc5413 opened #798 "Help! How to find the keyword textPosition?"
Anyone can tell me how to find the keyword textPosition ?
I want to add watermarker above the keyword .
Thanks for any answer !

[2022-08-30 07:52] zhangbp opened #799 "填充PDF表单，无法加粗字体"
openpdf  version: 1.3.29

`
package com.lowagie.examples.general.copystamp;

import com.lowagie.text.Font;
import com.lowagie.text.pdf.AcroFields;
import com.lowagie.text.pdf.BaseFont;
import com.lowagie.text.pdf.PdfReader;
import com.lowagie.text.pdf.PdfStamper;

import java.io.FileOutputStream;

/**
 * Fill in a simple registration form.
 */
public class Register {
    /**
     * Reads a form an

[2022-08-31 13:19] bsanchezb commented on #375
Did anybody try to implement it? Very interested in this as well!

[2022-08-31 13:35] Lonzak commented on #375
Yes there is a working branch at least for R=6 (not the deprecated R=5) I did the quality test and it is running perfectly for me since quite a while..
@mkl-public wanted to add a PR here some time ago but maybe he's busy with some other things...

[2022-09-01 14:25] mkl-public commented on #375
@bsanchezb, @Lonzak,

ok ok, the PR is there, it's #802.

[2022-09-02 09:00] #798 closed

[2022-09-09 12:41] renoth commented on #781
this is most likely due to this commit https://github.com/LibrePDF/OpenPDF/commit/ea9e5c600f8ede086135a933a250b1ecd534d09e
it removes the only content from header and footer

[2022-09-09 12:55] renoth commented on #781
Workaround: wrap the Phrase of the Header/Footer in a Paragraph
![image](https://user-images.githubusercontent.com/4069007/189354857-a541019d-794f-454f-bd1a-e267f3d91f02.png)

[2022-09-09 13:01] renoth commented on #781
The reason seems to be that this was tested with a Paragraph as header content, when adding a paragraph to the header a newline Chunk is created that needs to be removed afterwards.
This code will not work with a naked Phrase though, although the API does suggest otherwise.
![image](https://user-images.githubusercontent.com/4069007/189355843-dcc9a2a1-9e29-4f53-bcf8-5e9479d5446e.png)

[2022-09-12 21:37] asturio commented on #659
@haha989 @ernestoacosta75
Hi there,
the PR #746 looks really nice, as it implements the API, but I'm still missing the code that implements the actual "may not break" functionality. Any updates on this?

[2022-09-13 07:30] madsnesse opened #812 "PdfStamper to implement AutoCloseable"
**Is your feature request related to a problem? Please describe.**
I want to be able to use try-with-resources (https://docs.oracle.com/javase/tutorial/essential/exceptions/tryResourceClose.html) with pdfStamper.

**Describe the solution you'd like**
To be able to use try-with-resources the class needs to implement AutoCloseable.(https://docs.oracle.com/javase/8/docs/api/java/lang/AutoCloseable.ht

[2022-09-13 09:09] asturio commented on #781
Pull requests are welcome.

[2022-09-13 19:25] #672 closed

[2022-09-13 20:31] asturio commented on #619
Solved with #750

[2022-09-13 20:31] #619 closed

[2022-09-13 21:24] asturio commented on #317
@bk1991 @whexy @sixdouglas @rammetzger
I think this was fixed in 1.3.29. Can you check that?

[2022-09-14 05:16] haha989 commented on #659
Oh, sorry, I am busy these days and I have some troubles when dealing with it so I think maybe I cannot update on it. Really sorry!

[2022-09-14 08:26] #781 closed

[2022-09-14 09:03] #375 closed

[2022-09-14 09:03] #655 closed

[2022-09-14 09:22] Lonzak commented on #655
@bsanchezb Yes the update is that it has been implemented :-)

[2022-09-14 09:34] bsanchezb commented on #655
@Lonzak , thank you for the notification ;) and big thanks to @mkl-public for the PR

[2022-09-14 14:56] #737 closed

[2022-09-15 12:08] mkl-public commented on #375
Just to make sure the nature of the fix is correctly understood: It adds support for password based AES256 (ISO 32000-2) - **R=6** - but not for the interim AES256 (ISO 32000-1 + Adobe Developer Extensions) - **R=5** - which has been deprecated in ISO 32000-2.
Thus, it solves the issue as originally posted by Ralf Hauser but it won't help with documents as referenced by mspnr (Indian-National-Move

[2022-09-23 10:43] bcersows commented on #373
The closing issue https://github.com/LibrePDF/OpenPDF/pull/697 only seems to handle images, or am I missing something? The initial report about tables is still not working. Can someone chime in and try it out to ensure it's not a problem on my end?

Otherwise I'll give it a try next week.

[2022-09-23 15:58] ObsisMc commented on #373
It indeed only handles images.

[2022-09-26 03:19] yecpster opened #824 "NoClassDefFoundError after system running several days"
Caused by: java.lang.NoClassDefFoundError: Could not initialize class org.xhtmlrenderer.pdf.ITextOutputDevice
        at org.xhtmlrenderer.pdf.ITextRenderer.<init>(ITextRenderer.java:106) ~[flying-saucer-pdf-openpdf-9.1.22.jar!/:na]
        at org.xhtmlrenderer.pdf.ITextRenderer.<init>(ITextRenderer.java:102) ~[flying-saucer-pdf-openpdf-9.1.22.jar!/:na]

I use openpdf to convert html to pdf, it wo

[2022-09-28 13:54] bk1991 opened #829 "Merging two PDF/A files using PdfCopy does not generate PDF/A compliant resultant file"
If we try to merge two or more PDF/A compliant files using PdfCopy, then generated resultant PDF file is  not PDF/A complaint.
Validator shows below error message - [https://www.pdf-online.com/osa/validate.aspx](url)

File:   mergeusing_openPDF.pdf
Compliance: pdfa-1a
Result:
     Document does not conform to PDF/A.
Details:
    Validating file "mergeusing_openPDF.pdf" for conformance level pdfa-1

[2022-09-28 14:07] bk1991 commented on #829
Attaching the input PDFA files and resultant merged PDF files which shows the PDFA compliance failure
[Merged_PDFA_files.zip](https://github.com/LibrePDF/OpenPDF/files/9665711/Merged_PDFA_files.zip)

[2022-09-28 14:38] bk1991 commented on #203
Agree with @razilein, his provided code works and couldn't see any blank page [Verified on openPdf-1.3.29]

[2022-09-28 16:59] razilein commented on #203
I'm a girl 😉 but thanks for your approval.

[2022-09-29 07:48] bk1991 commented on #317
@asturio verified on 1.3.29, the issue seems resolved

[2022-10-05 11:57] TheSuperBeaver opened #832 "Merging pdfs doesn't merge the acro form fields"
**Describe the bug**
Using PdfSmartCopy, i'm trying to merge multiple pdfs into one.
The generated pdf seems ok, but the acro fields are not recognized.

**To Reproduce**
`
public static byte[] merge(final byte[]... byteArrays) {
        try {
            ByteArrayOutputStream pdfResult = new ByteArrayOutputStream();
            Document document = new Document();
            PdfSmartCopy pdfCopy

[2022-10-05 20:58] DenisSazhaevBench opened #833 "getTextFromPage extracts text in wrong order"
**Describe the bug**
Formatted text is extracted in wrong order.

**To Reproduce**
[File used](https://github.com/LibrePDF/OpenPDF/files/9718916/doc6.pdf)

[code]

Running code we get:
`two  five six onethree fourseven`

When the PDF viewer displays:
`one two three four five six seven`

**Expected behavior**
Text should be extracted in correct order.

**System (please complete the following inform

[2022-10-10 07:50] andreasrosdal commented on #725
We still get this error in production when reading some PDF files using OpenPDF 1.3.30.

https://github.com/LibrePDF/OpenPDF/blob/05ff04f1da01052b695443f243d577f724a216d4/openpdf/src/main/java/com/lowagie/text/pdf/PdfReader.java#L1164
[code]

@chappyer @asturio

[2022-10-11 07:00] rammetzger commented on #317
I am glad to see that the problem is fixed in 1.3.29.

[2022-10-18 07:40] andreasrosdal commented on #725
This commit removed the check for null trailer:
https://github.com/daviddurand/iText-4.2.0/commit/d61051c9bef5c139a0a1c746eaafd29ae47507f4

[2022-10-18 11:12] laeubi opened #837 "com.lowagie.text.pdf.PdfPTable.addCell(....) should return the generated cell"
**Is your feature request related to a problem? Please describe.**
Currently adding cells to a table is rather cumbersome, there are some helpful methods but they all work on the standard cell. If one only want to derivative some properties it is required to replicate a lot of code.

**Describe the solution you'd like**
All `com.lowagie.text.pdf.PdfPTable.addCell(....) ` variant currently have a v

[2022-10-19 20:07] sixdouglas commented on #152
Hi all,
It's been a long time since I've contributed here, and would be please to help improve documentation or samples.
How can I help you?

[2022-10-20 06:39] andreasrosdal commented on #152
https://github.com/LibrePDF/OpenPDF/wiki/Tutorial  - This tutorial could be improved.

Pull requests to improve the JavaDoc in the code would be useful.

[2022-10-20 15:00] bk1991 opened #839 "In PDF we can see additional top space in a cell containing text"
**Describe the bug**
In PDF we can see additional top space/padding for table cell containing text, but there is no space at bottom of cell and hence text gets overlap on cell bottom border for characters like y.p.q which gets extended below the baseline.

**To Reproduce**
Code to reproduce the issue
public class TopGap {
    public static final String LOREM_IPSUM = "The quick brown fox jumps over

[2022-10-21 15:04] minfrin opened #840 "Progressive PDF: how to indicate progress within generation of a large document"
**Is your feature request related to a problem? Please describe.**

We have PDFs that take a long time to generate, many many minutes. Right now "I am busy, nothing is wrong, please wait longer" is indistinguishable from "it's hung, you can wait forever, nothing is going to happen".

**Describe the solution you'd like**
Is there a way, inside the PDF document, to indicate progress?

To be specific

[2022-10-23 05:54] sixdouglas commented on #152
What do you think about moving the sample classes to a dedicated maven module, in the same way other projects do?
This way it would be more visible.

[2022-10-27 13:27] boyqian opened #843 "The X-axis chart of the DST is not displayed."
**Incorrect description**
The X-axis chart of the DST is incorrect.

**Copy**
1. The environment time is Sydney DST.
2. Transfer Start DST Timestamp 1680363293000 Sun Apr 2 02:34:53 AEDT 2023
3. Transfer end DST timestamp 1680366053000 Sun Apr 2 02:20:53 AEST 2023

**Expected Behavior**
The X-axis time information is displayed correctly.

**Screenshot**
Blank is not displayed.
Some Picture can not

[2022-10-28 01:45] #843 closed

[2022-10-28 01:45] boyqian commented on #843
Sorry，NOT  THIS SoftWare

[2022-11-04 16:29] antonleliuk opened #846 "Umlauts doesn't displayed in form fields"
**Describe the bug**
We have a PDF template with fields and after we fill fields with values that can contains umlauts this symbols doesn't shows after we open file in the any PDF-Viewer.

**To Reproduce**
[code]

**Expected behavior**
Umlauts in the fields displayed

**Screenshots**
Before fix
<img width="465" alt="Снимок экрана 2022-11-04 в 18 21 22" src="https://user-images.githubusercontent.co

[2022-11-09 18:39] mkl-public commented on #840
_Concerning a relative progress indicator going e.g. from 0% to 100%..._

You say you generate PDFs. Thus, I assume a `Document`/`PdfWriter` approach. In this approach the PDF output is generated while you add content to the `Document`. Thus, usually it's the program feeding data to the `Document` - i.e. your code - that knows the relative progress made and can generate progress info.

There are t

[2022-11-30 09:30] belene opened #855 "Use of mutation testing in OpenPDF - Help needed"
Hello there!

My name is Ana. I noted that you use the mutation testing tool pit in the project.
I am a postdoctoral researcher at the University of Seville (Spain), and my colleagues and I are studying how mutation testing tools are used in practice. With this aim in mind, we have analysed over 3,500 public GitHub repositories using mutation testing tools, including yours! This work has recently