[2016-10-27 04:54] bengolder opened #2 "Correct the license"
This repo still has the incorrectly changed license from rtfarte/OpenPDF. It needs to pull in the latest changes from https://github.com/rtfarte/OpenPDF/issues/17

[2016-10-27 05:02] bengolder opened #3 "Update pom.xml and create a new Maven Release to reflect organizational ownership."

[2016-10-27 05:06] bengolder opened #4 "Update README"
- [x] Update links to refer to this new repository location (LibrePDF/OpenPDF)
- [ ] Document recent changes

[2016-10-27 06:12] #2 closed

[2016-10-31 08:17] andreasrosdal commented on #3
A new release would be a good idea!

[2016-11-24 07:35] andreasrosdal commented on #3
Any news on the new maven release? It would be nice to get a release out.

[2016-12-10 18:13] santeriv opened #5 "FontAwesome icons bundled in openpdf"
Hi I got this idea from Vaadin:

Could FontAwesome icons be also added similar way to openpdf?

https://github.com/vaadin/framework/blob/7.7/scripts/generateFontAwesomeEnum.sh
https://github.com/vaadin/framework/blob/7.7/server/src/main/java/com/vaadin/server/FontAwesome.java
https://github.com/vaadin/framework/blob/7.7/server/src/main/java/com/vaadin/server/FontAwesome.java#L773
https://github.co

[2016-12-10 19:18] andreasrosdal commented on #5
This is a good idea. Perhaps you could submit a pull request?

[2016-12-10 19:22] santeriv commented on #5
Thanks for quick response. I'd like to do it unless you are already holding your breath. Might take a week or so to find a gap. :)

[2017-01-11 13:19] nwinkler opened #7 "Develop version - SNAPSHOT?"
I noticed that all of the code in the `master` branch has `1.0` as a version number in the `pom.xml` files.

Shouldn't we follow the Maven standard of using `SNAPSHOT` versions, and use the full version number only for the released version? That would mean changing the `1.0` in the pom files to `1.1-SNAPSHOT` or `1.0.1-SNAPSHOT`.

Since I'm preparing a couple of pull requests for this project, I'd

[2017-01-11 13:36] andreasrosdal commented on #7
Yes, this is a good idea. Feel free to submit a PR for this. It's great that you show interest in contributing to this project!

[2017-01-11 14:21] nwinkler commented on #7
Created a PR in #8

[2017-01-11 14:49] #7 closed

[2017-01-12 15:46] syakovyn opened #9 "Improper handling of line-height by HTML to PDF parser"
Hi,

I've prepared the test example showing an issue: https://gist.github.com/syakovyn/6ead2da4f00716b25a4803e36b64bb90

The attached PDF shows a workaround that fixes the paragraph leading and the paragraphs without a fix [test.pdf](https://github.com/LibrePDF/OpenPDF/files/702126/test.pdf)

The issue is in com.lowagie.text.html.simpleparser.FactoryProperties#insertStyle(java.util.HashMap, com.lo

[2017-01-13 10:47] andreasrosdal opened #11 "Setup Travis CI automatic tests"
We should setup automatic builds on Travis CI for this project.

(This requires organization access to the LibrePDF organization)

[2017-01-13 10:48] syakovyn commented on #9
Fixed.

[2017-01-13 10:48] #9 closed

[2017-01-13 10:50] andreasrosdal commented on #4
Can I close this issue now?

[2017-01-13 16:57] andreasrosdal commented on #11
Done!

[2017-01-13 16:57] #11 closed

[2017-01-13 17:09] #4 closed

[2017-01-14 02:23] bengolder commented on #11
Awesome!

[2017-01-16 09:32] nwinkler commented on #3
Do you want me to create a PR for the pom.xml updates with the new groupId?

What should it be? `com.github.librepdf`?

[2017-01-16 09:36] andreasrosdal commented on #3
Yes, please. com.github.librepdf seems fine to me.

[2017-01-16 09:39] nwinkler commented on #3
OK, will do. We'll have to talk about what we want to do with the existing `1.0` version that's out on Maven Central, since that's using the existing groupId. Do we want to add a redirect to the new groupId in there? (Not sure how to do that, but I've seen it used before.)

[2017-01-16 10:51] nwinkler commented on #3
Opened PR in #12.

For the updated release - what version number would that use? Since it's a change in the groupId, it probably shouldn't be done in a patch release (`1.0.1`)...

[2017-01-16 10:53] andreasrosdal commented on #3
How about 1.1 ?

[2017-01-17 18:02] bengolder commented on #3
@nwinkler or @andreasrosdal I can queue up a new release as I did last time. I think it would be useful collaborate with one or both of you on the process so that more committers are able to publish releases. Would either of you like to work with me to do the release?

[2017-01-17 19:02] andreasrosdal commented on #3
A new release would be nice. Perhaps you can email me your notes after making the release?

[2017-01-18 07:25] nwinkler commented on #3
Now that the Wiki is enabled, we should probably document the release process on a Wiki page.

I've done an internal, private release of OpenPDF with the OSGi changes I made (since I needed them) yesterday, and it worked fine without any hitches. All I had to do was to remove the `distribution` settings (and the nexus-deploy plugin) and add our own Maven repo as the distribution target. Then it wa

[2017-01-18 07:29] andreasrosdal commented on #3
Travis CI currently skips the GPG part:
mvn install -Dgpg.skip
https://github.com/LibrePDF/OpenPDF/blob/master/.travis.yml

[2017-01-18 07:38] nwinkler commented on #3
Ah, cool - didn't know that! Thanks!

[2017-01-25 11:41] andreasrosdal commented on #3
@bengolder How about a new release of OpenPDF now?

[2017-01-28 22:12] bengolder commented on #3
@andreasrosdal Absolutely. My apologies for the delay. Working on it now, reviewing my notes.

[2017-01-28 22:36] bengolder commented on #3
I'm adding my notes to this wiki page:
https://github.com/LibrePDF/OpenPDF/wiki/Release-Process

[2017-01-28 23:05] bengolder commented on #3
I've added a ticket to claim the groupId `com.github.librepdf` and the respository:
https://issues.sonatype.org/browse/OSSRH-27890

@andreasrosdal I've added your JIRA username so that you'll have permission to do releases.

[2017-01-28 23:35] bengolder opened #16 "I made a quick logo, is it okay?"
@andreasrosdal I made a logo for [LibrePDF](//github.com/LibrePDF). I didn't spend much time on it. I just wanted the account to look a little better than the default generated image.

Is it okay? I'm happy to remove it or make _minor_ adjustments if not.

![librepdf logo](https://cloud.githubusercontent.com/assets/451510/22400667/2dc9e0c6-e570-11e6-8230-9c5c97676c46.png)

[2017-01-28 23:45] bengolder commented on #3
The repository has been created! Moving forward.

[2017-01-29 00:50] bengolder commented on #3
I'm bad at version management. Should I bump all the `pom.xml` files to say `1.0.2-SNAPSHOT`, `1.0.2`, or `1.0.1-SNAPSHOT`?

[2017-01-29 04:29] andreasrosdal commented on #16
Look good

[2017-01-30 06:44] andreasrosdal commented on #3
I can confirm that I can install OpenPDF version 1.0.1 through Maven. Great job @bengolder !

I have no strong opinions on the snapshot versining convention.

Thanks!

[2017-01-30 06:48] #3 closed

[2017-01-30 06:49] #16 closed

[2017-01-30 08:33] nwinkler commented on #3
Since 1.0.1 has been released, the next SNAPSHOT version should be `1.0.2-SNAPSHOT`- it needs to be one higher than the release version, since the SNAPSHOT is the next version that we will be working on.

Will review later and provide some more feedback - I'm about to board a plane.

[2017-01-30 08:38] nwinkler commented on #3
Had a look at the release instructions in the Wiki. It should be possible to create the release (including updating the version numbers, Git tag, uploading, etc.) by using the Maven Release Plugin: http://maven.apache.org/maven-release/maven-release-plugin/

I've done an internal release recently using the release plugin, and it worked by simply doing the following:

[code]

This should do everyth

[2017-01-31 17:32] bengolder commented on #5
@santeriv did you ever take a shot at this? Should we keep this issue open for further discussion?

[2017-01-31 17:57] bengolder commented on #3
Thanks @nwinkler. I updated the version to 1.0.2-SNAPSHOT
The Maven Release plugin does look easier. Next time we need to do a release I think it's worth a try. If you want to do it, and add the documentation please feel free.

[2017-01-31 20:00] santeriv commented on #5
@bengolder good that you asked. I overestimated my available time. I did test the .sh script it seems to be a good base yet I felt a bit unsure whether this was doable at all. Thus, this issue can remain Open.

[2017-02-02 06:56] #5 closed

[2017-02-15 09:47] amedee opened #18 "Exact iText commit this project is based on"
The [readme](https://github.com/LibrePDF/OpenPDF/blob/master/README.md) says that this fork is based on _iText 4_, but to be precise:

* [iText 2.1.7](https://github.com/itext/itextpdf/releases/tag/2.1.7) (7 Jul 2009) was the last MPL/LGPL release by [iText Software](http://itextpdf.com/).
* `4.2.0` was an internal SVN tag, used to sync up versions between [iText (Java)](https://github.com/itext/i

[2017-02-15 09:50] #18 closed

[2017-02-15 09:58] andreasrosdal commented on #18
https://www.gnu.org/licenses/lgpl-3.0.en.html

[2017-02-24 12:39] ghost opened #19 "Some input files use or override a deprecated API"
I get these warnings of "Some input files use or override a deprecated API" when compiling the latest version of OpenPDF:

[INFO] --- maven-compiler-plugin:3.2:compile (default-compile) @ openpdf ---
[INFO] Changes detected - recompiling the module!
[INFO] Compiling 344 source files to C:\Users\andreas\librepdf\OpenPDF\openpdf\target\classes
[INFO] /C:/Users/andreas/librepdf/OpenPDF/openpdf/src/ma

[2017-02-24 12:45] andreasrosdal opened #20 "Bouncy Castle maven dependency moved"
Bouncy Castle is a dependency of OpenPDF. Their maven artifact seems to have moved, according to this merged pull request in the flyingsaucer project:  https://github.com/flyingsaucerproject/flyingsaucer/pull/115

Perhaps a similar change should be done in OpenPDF, I'm not sure yet.

[2017-03-07 13:46] MartinKocour opened #21 "Duplicate entry"
Hi,

it looks like XmlDomWriter in openpdf dependency is the same as XmlDomWriter in pdf-xml dependency.
Both of them has same package name and also content.
I have a dependency on pdf-html sources in my android procject.
`compile 'com.github.librepdf:pdf-html:1.0.1'`
When i try to build my project i get
[code]

[2017-03-07 13:54] andreasrosdal commented on #21
Hi Martin,  could you please submit a pull-request for this?

Andreas

[2017-03-07 17:17] andreasrosdal commented on #21
Thanks. I have merged your pull-request.

[2017-03-07 17:17] #21 closed

[2017-03-07 20:41] andreasrosdal commented on #19
X509CertParser is deprecated.

https://github.com/LibrePDF/OpenPDF/blob/master/openpdf/src/main/java/com/lowagie/text/pdf/PdfPKCS7.java#L444

"@deprecated use CertificateFactory or the PEMParser in the openssl package (pkix jar)."
https://github.com/bcgit/bc-java/blob/master/prov/src/main/java/org/bouncycastle/jce/provider/X509CertParser.java

[2017-03-08 05:23] Radagan opened #23 "Limited functionality under Google App Engine"
Hi, is there a way to get rid of the dependency on java.awt.Color? It's not white listed on GAE, so setting cell colors, etc. will not work. This library is amazing otherwise. I've tried PDFBox and it is years from where this library is.

[2017-03-08 05:38] andreasrosdal commented on #23
Hi! Yes, this is possible. Can you please submit a pull-request for this?

[2017-03-08 23:49] Radagan commented on #23
Hi Andreas,

I must be doing something wrong... When I press "New Pull Request" it sends me here:

![screen shot 2017-03-09 at 9 45 55 am](https://cloud.githubusercontent.com/assets/648226/23729427/7eef33d2-04ad-11e7-9a4e-b1cc85ef09dd.png)

Happy to do what I can if you'll point me in the right direction.

[2017-03-09 06:23] andreasrosdal commented on #23
Hi!

Here is a suggestion:
1. Propose a suggestion about how you suggest you change OpenPDF to work on Google App Engine in this issue. It would be very nice to have OpenPDF working on GAE! However, I don't think we should break the API for existing users of OpenPDF. How can we solve this? Perhaps create a different branch of OpenPDF with java.awt.Color replaced with our own Color class?

2. Then

[2017-03-09 07:54] Radagan commented on #23
Thanks, Andreas.

I confess this is the first time I’ve ever contributed to an open source project, much less on GitHub. This should be fun!

I’ll do as you suggest. I suffered with the state of PDFBox up close for a few days, and then found your fork of the old LGPL version of iText. Our company would happily buy iText if they had anything close to a normal software license agreement, but it’s mo

[2017-03-09 08:29] andreasrosdal commented on #23
This sounds like a good plan. Your contributions will be very welcome!

[2017-03-09 17:50] andreasrosdal commented on #23
Hi again Rolf,

If you are interested, then I could implement this functionality for you as a contracting job.
You could specify the requirements for the functionality you need. The result would be included in OpenPDF. Contact me directly on  andreas.rosdal@gmail.com if this is of interest to you.

Regards,
Andreas

[2017-03-16 14:51] renierr opened #24 "Nullpointer on Font create"
in class: BaseFont
Line: 856

You always get null if you do not cache the font (cache = false).
Lines before will put it inside the cache.
You just habe to return the var here.

[2017-03-16 15:23] andreasrosdal commented on #24
Hi! Do you have a suggestion about how to fix this? Can you submit a pull-request?

[2017-03-17 08:00] renierr commented on #24
Yes, change this (i do not have an own fork):

		if (cached) {
			fontCache.putIfAbsent(key, fontBuilt);
		}
		return fontCache.get(key);

to:

		if (cached) {
			fontCache.putIfAbsent(key, fontBuilt);
                        return fontCache.get(key);
		}
               return fontBuilt;

A more detailed explanation is:
When you pass 'false' to the cached parameter, you never fill the cache, so g

[2017-03-17 08:42] andreasrosdal commented on #24
Thanks. Can you please submit a pull-request for this?

[2017-03-17 11:12] #24 closed

[2017-03-24 13:57] renierr commented on #24
Is there a plan to make a patch relase for this?
All flying saucer users who generates via OpenPdf and define own fonts will have this issue.
Or all that uses Fonts withtout cache

[2017-03-24 14:36] andreasrosdal commented on #24
@bengolder Maybe you can please do your release magic and create a new release?

[2017-04-12 18:27] jeeban13 commented on #23
How to use openPDF object in vbscript and C# because customer installed openPDF software to view and edit pdf files

[2017-04-12 18:29] jeeban13 opened #26 "How to use openPDF in vbscript and C#"
How to use openPDF object in vbscript and C# because customer installed openPDF software to view and edit pdf files

[2017-04-18 05:34] andreasrosdal commented on #26
OpenPDF is a Java library. I don't know how you could use that in Vbscript or C#.

[2017-05-12 09:11] renber opened #29 "Change package name to com.github.librepdf"
Since the maven groupId and the java package name of the library have nothing in common now, wouldn't it be better to move all class from com.lowagie to com.github.librepdf / com.github.librepdf.openpdf?

[2017-05-12 10:19] andreasrosdal commented on #29
Yes. We could change the package name at some point. However, as this will cause trouble for existing users of OpenPDF, I do not want to do this change yet.

[2017-05-12 10:22] andreasrosdal commented on #26
Closing, as OpenPDF is a Java library, not C#.

[2017-05-12 10:22] #26 closed

[2017-05-16 07:49] renber commented on #29
Maybe this can be done with a potential 2.0 release? Provided enough differences to the basic itext exist then, setting this library apart.

[2017-05-16 07:56] andreasrosdal commented on #29
Yes, possibly. I'm thinking this could happen in 2018 or 2019.  We need more users of OpenPDF still first. Once OpenPDF is well established as the main dominating development branch for this code-base, then possibly the package name could be changed, iff the users wants it. There are few reasons why the end-users of OpenPDF should care very much for the package name, though.

A start would be to c

[2017-05-16 12:42] andreasrosdal commented on #29
Thanks for reporting this. I am closing this issue now, and will revisit this issue again in 2019. The main reason for closing is that I want to keep stable API compatibility for a longer period of time.

[2017-05-16 12:42] #29 closed

[2017-05-16 12:44] andreasrosdal commented on #23
@Radagan  Any news on this issue?

[2017-05-16 23:22] Radagan commented on #23
@Andreas. With Google releasing the flexible environment, this is less of an issue. The library works under standard so long as you don’t use the color methods, and under flexible there are not restrictions. So, I would close the feature request as no longer needed. Even with a standard app engine project, one should be able to break the pdf portion off into a micro-service running under flexible

[2017-05-17 05:08] #23 closed

[2017-05-18 06:38] andreasrosdal opened #30 "Release of OpenPDF 1.0.2"
Perhaps it is time to release a new version of OpenPDF.

@bengolder  @nwinkler Perhaps one of you could please create and publish the release?

https://github.com/LibrePDF/OpenPDF/wiki/Release-Process

[2017-06-03 09:23] andreasrosdal commented on #30
OpenPDF 1.0.2 has been released.

[2017-06-03 09:23] #30 closed

[2017-06-05 14:57] #20 closed

[2017-06-22 14:10] arjunbpune opened #31 "Problem In Signing of Pdf with externalSiging service (eSign)"
Hi ,

we want to sign the pdf with external signature provided by esign service.we have used openpdf 1.0.1..
the problem is we are unable to calculate the exclusion size of signature appearance before preclose..
please find below code -

		byte[] signeddata = null;
		PdfSignatureAppearance pdfSigApp=null;
		File destFile=null;
		PdfReader reader=null;
		 ByteArrayOutputStream arrayOutputStream = n

[2017-06-22 16:07] andreasrosdal commented on #31
Hello Arjun,

Thanks for reporting this issue.

Do you get any error messages? What do you yourself think is the cause of this problem? Would you be interested in me fixing this problem as a paid job for you?  If you can provide some more information, then perhaps I could help you better.

Best regards,
Andreas R.

[2017-06-22 16:21] arjunbpune commented on #31
the problem is i am not able to estimate the exact value for exclusion value for preclose...
like if i given some random number like - exclusions.put(PdfName.CONTENTS,new Integer(7000));
after that signing will be failed with error - The key /Contents is too big. Is 7622, reserved 7000...
also i we give some greater number ..then everything works fine but after opening signed pdf with adobe reader

[2017-06-22 17:21] arjunbpune commented on #31
So How i can i calculate/estimate the value for exclusion with dynamically for each external (pkcs7) signature ?

[2017-06-22 17:27] andreasrosdal commented on #31
OpenPDF is an open source project, so you have access to the source code, which should help you understand this issue better. Unfortunately, I don't know the answer to your question directly.  This would take some some hours to find out. Perhaps someone reading this issue will be able to help you.

[2017-07-11 09:45] Blackbilbao opened #33 "Unicode Characters"
Hi everyone,

i'm new to your repo. I'm trying to print a special unicode character \u25b2 which would be a triangle in the Times new Roman font...

unfortianaly it is ignroed when looking at the pdf
`
private static final Font NORMALFONT = new Font(Font.TIMES_ROMAN, 7, Font.NORMAL, Color.black);
`
![image](https://user-images.githubusercontent.com/6515405/28062441-3defccce-662e-11e7-931c-37072f01

[2017-07-11 10:27] andreasrosdal commented on #33
Sorry, I don't know the answer to this. Please share the solution here if you find out.

[2017-07-18 14:56] erikliberal opened #34 "Error while retrieving text from pdf with an empty page"
While reading text per page of a Pdf had had some issues when it had a blank page. Any other contents were loaded just fine
[code]

[2017-07-18 15:03] andreasrosdal commented on #34
Thanks for reporting this.
Perhaps you can submit a pull-request to fix this?

Which version of OpenPDF are you using?

[2017-07-18 15:06] andreasrosdal commented on #34
This is the relevant code:
https://github.com/LibrePDF/OpenPDF/blob/master/openpdf/src/main/java/com/lowagie/text/pdf/parser/PdfTextExtractor.java#L157

[2017-07-18 16:24] erikliberal commented on #34
Yeah, after I'm done with some tasks I'm currently working on that's what I'll do

I'm using version 1.0.1

[2017-08-01 12:30] bbottema opened #35 "OpenPDF makes no distinctions between reading password vs editing password"
I have a PDF that is password protected for editing (PDF/A compatible PDF), but can be read without password. If you open Acrobat Reader, go to File -> Properties -> Security -> Show Details.., you can see that there are actually two passwords possible and only for editing it is enabled. Acrobat can even force the PDF to be editable without password, losing the PDF/A compatibility in the process.

[2017-08-01 13:05] bbottema commented on #35
Although not the best solution, iText works around it with [a property called `.unethicalreading`](https://stackoverflow.com/questions/17691013/pdfreader-not-opened-with-owner-password-error-in-itext) (which I think is incorrect for PDF's that have a password for editing, not reading).

[2017-08-02 07:27] andreasrosdal commented on #35
Thanks for reporting this. I have retired from development on this project. Perhaps @bengolder or @daviddurand can help?

[2017-08-17 12:01] wickstargazer opened #36 "Language glyphs and diacritics"
Hi,

have you been able to figure out the language diacritics not rendering properly in openpdf ? :)

[2017-08-28 07:18] andreasrosdal commented on #36
No, I haven't. Please describe this problem in more detail. Which language diacritics are not rendered?
 Perhaps you can submit a pull-request to fix it yourself?

[2017-09-12 10:20] DanielYWoo opened #37 "Provide CSS resolver"
If you have an HTML contains <style> tags in the head, the HTMLWorker cannot parse them, instead, it generates the style tags into the PDF file. Can we support inline styles like iText5+?

[code]

[2017-09-12 10:42] DanielYWoo opened #38 "POM dependency is incorrect"
cannot use pdf-xml 1.0.3

[2017-09-16 01:39] DanielYWoo commented on #38
Daniels-MacBook-Pro:benchmarkPDF danielwu$ mvn clean package
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building test 1.0-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[WARNING] The POM for com.github.librepdf.openpdf:openpdf:jar:1.0.3 is missing, no dependency information

[2017-09-16 12:03] asturio commented on #38
The correct path should be
https://repo.maven.apache.org/maven2/com/github/librepdf/pdf-rtf/1.0.3/pdf-rtf-1.0.3.jar (without openpdf).

Check the group ID.
It should be
             <groupId>com.github.librepdf</groupId>
And not
             <groupId>com.github.librepdf**.openpdf**</groupId>

You should use
       <dependency>
             <groupId>com.github.librepdf</groupId>
             <artif

[2017-09-16 16:53] asturio commented on #33
Hi there,

I just investigated this, and I think the problem is, that the Times Font in openpdf is quite old and doesn't contain unicode character.

There is 2 possible solutions for that:

- the easiest one should be to replace the font, but there is probably some issues with the license.
- the second one is to read the font from some where else, and embed that in the PDF.

I have some code here

[2017-09-16 16:54] andreasrosdal commented on #33
Yes, please submit a pull-request.

[2017-09-18 01:26] DanielYWoo commented on #38
This is my config

`    <dependency>
      <groupId>com.github.librepdf</groupId>
      <artifactId>openpdf</artifactId>
      <version>1.0.3</version>
      </dependency>
    <dependency>
      <groupId>com.github.librepdf</groupId>
      <artifactId>pdf-html</artifactId>
      <version>1.0.3</version>
    </dependency>

[2017-10-12 14:23] andreasrosdal opened #43 "Update to Bouncy Castle version 1.58"
https://www.bouncycastle.org/

[2017-10-13 14:31] asturio commented on #38
Have you found a solution for your problem?

[2017-10-19 18:37] #43 closed

[2017-10-24 10:41] andreasrosdal opened #45 "Compilation error on Java 7"
The master branch of OpenPDF doesn't compile with Java 7. If Java 8 now is a requirement, then it would be nice if the README could be updated to show that OpenPDF now requires Java 8.

This is the compilation error I get with Java 7:

[ ERROR] /C:/OpenPDF-master/pdf-html/src/test/java/com/lowagie/text/html/simpleparser/FactoryPropertiesTest.java:[24,19] cannot access java.util.stream.Stream
  cla

[2017-10-24 10:49] andreasrosdal commented on #45
This can also be seen here: https://jitpack.io/com/github/librepdf/openpdf/1.0.3/build.log

[2017-10-24 11:08] asturio commented on #45
@LibrePDF/openpdf:
Should we try to support Java 7 too? Java 7 is byte code compatible with Java 6, but Java 8 not anymore.
Any votes? The code is really old, no generics, so if we stick with Java 7 is a nice improvement :-). What do you think?

[2017-10-24 11:21] kulatamicuda commented on #45
Yes, we should as Oracle offers extended support for java 7  till Jul 2022. Of course it should not limit future updates, but as you have allready written, codebase is pretty old. So avoid lambda in new code and everything should be ok.

[2017-10-24 11:48] tlxtellef commented on #45
I suspect the culprit is `org.assertj:assertj-core` as version `3.X.X` is Java 8 and version `2.X.X` is Java 7.

[2017-10-24 11:53] tlxtellef commented on #45
We should probably change the JDK Travis uses to Java 7 to make sure this project is in fact Java 7 compatible.

[2017-10-24 19:48] andreasrosdal commented on #45
Thanks.

[2017-10-24 19:48] #45 closed

[2017-10-24 21:28] kmix commented on #34
This appears to be fixed and can likely be closed. Unable to reproduce in local test environment.

https://github.com/LibrePDF/OpenPDF/commit/6dd8db39c021ec25ce4c60c729b77aad1f43632d

[2017-10-24 23:20] asturio commented on #37
Have you tried flying saucer? It works really nice for HTML and CSS (in the Header).

[2017-10-24 23:25] asturio commented on #36
As with the unicode issue, it seems that the fonts provided are not so symbol rich as you need it, Please try loading a font which has the symbols you need, and see if it works.

Take a look at this "test": https://github.com/LibrePDF/OpenPDF/blob/master/openpdf/src/test/java/com/lowagie/text/pdf/UnicodePdfTest.java

[2017-10-25 07:15] tlxtellef opened #47 "Make Travis use JDK 7."
This includes testing that it works as intended in regards to Java 7 code and dependency compatibility.

[2017-10-31 09:42] asturio commented on #34
@erikliberal Should work with 1.0.3+. Can you check that?

[2017-10-31 10:08] asturio commented on #47
This should do it:
https://github.com/LibrePDF/OpenPDF/pull/49/commits/82ab4ee808cdc3a17a64c66dc6122f5d538a8944

[2017-10-31 10:08] #47 closed

[2017-10-31 10:09] asturio commented on #38
Hi @DanielYWoo, do you still have this problem?

[2017-10-31 10:11] asturio commented on #33
@Blackbilbao, have you tried using a different font? I loaded my own, and it worked (see Test in the other comment).

[2017-10-31 10:37] Blackbilbao commented on #33
I have treid diffrent fonts (external ones) at indeed it works with them...

[2017-11-01 09:18] tlxtellef commented on #19
- [ ]  `org.bouncycastle.asn1.x509.TBSCertificateStructure` in `org.bouncycastle.asn1.x509` has been deprecated
  - [ ]  `com/lowagie/text/pdf/PdfPublicKeySecurityHandler.java:[125,34]`
  - [ ]  `com/lowagie/text/pdf/PdfPKCS7.java:[106,34]`
- [ ]  `org.bouncycastle.jce.provider.X509CertParser` in `org.bouncycastle.jce.provider` has been deprecated
  - [ ]  `com/lowagie/text/pdf/PdfPKCS7.java:[112,

[2017-11-01 09:23] tlxtellef commented on #37
[https://github.com/flyingsaucerproject/flyingsaucer](https://github.com/flyingsaucerproject/flyingsaucer)

[2017-11-01 12:04] #37 closed

[2017-11-01 12:04] DanielYWoo commented on #37
Yes, I have given up and switched to flying saucer

[2017-11-01 12:05] DanielYWoo commented on #38
No, but I switched to other solutions. Thanks anyway

[2017-11-01 12:05] #38 closed

[2017-11-01 14:00] tlxtellef commented on #37
Support may appear in the future but for now a bigger job of cleaning up is should be done before any new features are added.

[2017-11-02 16:40] PascalSchumacher opened #50 "Assertj dependency should have test scope"
Openpdf version 1.0.4 has assertj-core as a `compile` scope dependency (inherited from openpdf-parent). I believe this dependency should have `test` scope.

By the way: Thanks for providing OpenPDF. 👍

[2017-11-03 06:30] asturio commented on #19
I'm working on com/lowagie/text/pdf/PdfPKCS7.java. Please note, that this warnings come after we added the lint flag to the compiler, which has a much aggressive behavior.

[2017-11-03 07:41] tlxtellef commented on #19
@asturio Yes, I used `-Xlint:deprecation` to create that list.

[2017-11-08 10:37] #50 closed

[2017-11-08 20:26] PascalSchumacher commented on #50
Thanks for fixing this!

[2017-11-09 18:34] daviddurand commented on #34
This problem was fixed in **1.0.3** by
https://github.com/LibrePDF/OpenPDF/commit/6dd8db39c021ec25ce4c60c729b77aad1f43632d

[2017-11-09 20:10] asturio commented on #34
I'm closing this now. If the issue isn't fixed someone will open it again.

[2017-11-09 20:10] #34 closed

[2017-11-13 08:03] kdekooter opened #53 "docs?"

[2017-11-14 10:55] vmichaud opened #54 "PDF Metadata producer is always "OpenPDF 1.0.0-SNAPSHOT""
I have found this code in class "com.lowagie.text.Document" :
[code]
This will be great if the version was read from a property file, automatically updated at Maven build phase with resource filtering.

[2017-11-15 08:31] asturio commented on #53
Hi there,

OpenPDF is (still) compatible with itext 2.1.7, so any documentation for itext 2.1.7 should fit OpenPDF. And what about the JavaDoc generated by the project?

[2017-11-15 08:47] kdekooter commented on #53
I am afraid all documentation for itext 2.1.7 (and lower) has been wiped off the internet. As the API is quite verbose it would be great to have some kind of cookbook / tutorial documentation to get started.

[2017-11-16 11:43] tlxtellef commented on #53
Seems like we have to start working on documentation then. For now there are some example code in some of the test source folders, like [pdf-toolbox/src/test/java/com/lowagie/examples](https://github.com/LibrePDF/OpenPDF/tree/master/pdf-toolbox/src/test/java/com/lowagie/examples)

[2017-11-16 11:46] kdekooter commented on #53
Would be highly appreciated. We really need an open source PDF solution for Java!

[2017-11-16 11:46] #53 closed

[2017-11-16 11:49] tlxtellef commented on #54
#55 Will solve this issue.

[2017-11-16 14:46] asturio commented on #36
@wickstargazer , you mean the combination of 2 symbols like "a" + "´" = "á", and be hanled like 2 symbols, instead of 1?

[2017-11-17 06:14] andreasrosdal commented on #53
http://www.avajava.com/tutorials/lessons/how-do-i-write-to-a-pdf-file-using-itext.html
http://www.adobepress.com/articles/article.asp?p=420686&seqNum=3

[2017-11-17 22:01] #54 closed

[2017-12-04 09:38] imgx64 opened #59 "Unable to parse HTML table with whitespace inside it"
[code]

The last line throws this exception:
[code]

pom.xml
[code]

[2017-12-18 13:47] msincuba opened #60 "This does not work when my PDF starts with "%PDF-1.4". "%PDF-" should be checked"
https://github.com/LibrePDF/OpenPDF/blob/251761c5406339783eea858dc1dfde1e7bf13679/openpdf/src/main/java/com/lowagie/text/pdf/PRTokeniser.java#L212

[2017-12-20 11:25] tlxtellef commented on #60
`%FDF-1.2`

[Page 712 of PDF 1.7](https://www.adobe.com/content/dam/acom/en/devnet/acrobat/pdfs/pdf_reference_1-7.pdf)

[2017-12-20 11:25] #60 closed

[2017-12-28 17:29] literakl opened #61 "Manual is missing"
I want to evaluate this fork and I miss a manual / simple demo applications. I tried to search for iText tutorials but most of them does not compile with OpenPDF. So I suggest that demos / wiki would be nice for newcommers.

Btw is there some chat for a discussion with OpenPDF developers?

[2017-12-29 12:43] asturio commented on #61
OpenPDF should work like itext 2.1.7. So any example using itext 2.1.7 should work with OpenPDF too. Examples using iText5 or later are incompatible. (other package hierarchy).

[2017-12-29 12:44] asturio commented on #61
Please take a look at here: https://github.com/LibrePDF/OpenPDF/issues/53

[2018-01-01 13:13] literakl commented on #61
Thanks. I may publish some demo in future. I grabbed several existing articles and make them work. But I do not want to enter licensing issues so I will have to rewrite them first.

Btw I have created a tag at stackoverrflow: https://stackoverflow.com/questions/tagged/openpdf
I do not want to submit issues there in github when I do not understand some API. SO is better platform.

[2018-01-03 19:35] asturio commented on #61
@literakl If you want to contribute with documentation, you are welcome.

[2018-01-05 13:04] andreasrosdal opened #62 "Update to Bouncy Castle 1.59"
Update to Bouncy Castle 1.59
https://www.bouncycastle.org/releasenotes.html

[2018-01-11 07:13] andreasrosdal opened #63 "Add PDF 2.0 support"
Add PDF 2.0 support to OpenPDF:
https://www.pdfa.org/publication/iso-32000-2-pdf-2-0/
https://www.pdfa.org/what-will-pdf-2-0-bring/

https://issues.apache.org/jira/browse/PDFBOX-3892

[2018-01-13 23:11] #63 closed

[2018-01-14 15:51] #62 closed

[2018-01-23 11:53] rik86 commented on #61
In itext 2.1.7 you could do:

[code]
This dos not seem to be the case, so I agree some minimal documentation would be useful. I'll make an attempt to contribute with a PR if I manage to understand how this works.

[2018-01-26 17:53] rivron opened #65 "Bouncy Castle is not optional"
A simple test which only instantiate a PdfReader on a empty PDF requires Bouncy Castle in the classpath. The pom declare it optional in the manifest.
This problem does not happen with the iText version at [ymasory/iText-4.2.0](https://github.com/ymasory/iText-4.2.0).

[2018-01-26 18:10] rik86 commented on #65
could you share your test, so I can replicate it? Thanks

[2018-01-27 14:05] rivron commented on #65
My test and the result :
[code]
`$ javac -cp openpdf-1.0.6-SNAPSHOT.jar Test.java`
`$ java -cp openpdf-1.0.6-SNAPSHOT.jar:. Test `[`blank.pdf`](https://github.com/LibrePDF/OpenPDF/files/1670118/blank.pdf)

[code]

[2018-01-27 15:22] rik86 commented on #65
Hello, I haven't found any exception, I set up a project in Maven with `openpdf-1.0.6-SANPSHOT` as a dependency and run the following test

[code]
This test passes. It could be something relevant to the PDF you are passing as an argument.
Although coming back to your first point "Bouncy Castle is not optional", I'd say no, it isn't as the README.md states it is Required.

[2018-01-27 16:41] rik86 commented on #59
Hello I fixed this and opened a PR https://github.com/LibrePDF/OpenPDF/pull/66

[2018-01-30 20:36] asturio commented on #65
Hi @rik86, I just checked the pom.xml. I think there is than an error here:

            <plugin>
                <groupId>org.apache.felix</groupId>
                <artifactId>maven-bundle-plugin</artifactId>
                <configuration>

                    <unpackBundle>true</unpackBundle>
                    <instructions>

                        <Export-Package>com.lowagie.text.*;version

[2018-01-30 20:39] asturio commented on #65
I don't know the reason for this. Any clue?

[2018-01-30 22:02] rik86 commented on #65
I think this maven plug in is well old, from a quick read it seems to be for maven 2. I'd say to remove it and make bouncy castle a normal dependency. In maven 3 clashing dependencies can be excluded anyway... also the repository mentioned in the first comment: ymasory/iText-4.2.0 it's an ant build, so it's different

[2018-01-31 09:34] rivron commented on #65
BouncyCastle is optional in iText at execution time until there is an attempt to read or write encrypted PDF, which is far to be the most frequent use case. So this line in the manifest was correct. Also, BC is now declared optional in the iText 5 [pom.xml](https://github.com/itext/itextpdf/blob/50390a036ff68dc0fb2c9f96723d0a7aa7d2b2f5/itext/pom.xml#L79).
This constraint prevents us to migrate fro

[2018-02-01 22:50] asturio commented on #65
@rivron, so you mean OpenPDF should keep the optional plugin setup? So the generated jar has this optional flag set?

[2018-02-06 11:20] rik86 commented on #59
PR has been merged, please close this issue

[2018-02-06 11:32] #59 closed

[2018-02-07 21:09] asturio commented on #65
@rivron, @rik86
There is a PR #68. Could this fix this issue?

[2018-02-09 15:29] rivron commented on #65
The problem is independent from the pom or the manifest. It can only be reproduced with a custom classpath which does not include bouncy castle, i.e outside maven.
I have attached a [zip](https://github.com/LibrePDF/OpenPDF/files/1711484/bcTest.zip) which runs the test from @rik86 with 3 different jars:
 - itext-4.2.0.jar from maven repository
 - openpdf-1.0.5.jar from maven repository
 - a custom

[2018-02-16 20:26] mintern opened #69 "NullPointerException due to missing trailer (on bad startxref?)"
In 1.0.5, we got a NullPointerException with the following stacktrace while trying to read a PDF:

[code]

Based on the line numbers, `trailer` must be null. Tracing through the execution, this can happen in the following sequence of events:

1. `readPdf` calls `readXref`, which is supposed to set `trailer` (among other things).
2. `readXref` doesn't find a valid `startxref` and throws an exceptio

[2018-02-16 20:35] rik86 commented on #69
Do you have any more information on how to reproduce this error please? Maybe attaching the file you are attempting to read and or a snippet of code you use to read the file, if not even better a unit test? Many thanks

[2018-02-16 20:43] mintern commented on #69
The code to read the file is `new PdfReader(inputStream)`. This is happening in the constructor.

I'm locating the file now to see if it can be shared.

[2018-02-16 20:57] mintern commented on #69
Unfortunately, I cannot publish the file, and I don't have enough expertise or time to share a sanitized version. Sorry about that.

[2018-02-16 21:11] rik86 commented on #69
no worries, I'll take a look at this as soon as I can anyway

[2018-02-17 21:24] rik86 commented on #69
Ok, so I have done a fair bit of reading, and this seems to be a problem that has some correlation with Acrobat Reader 9, (not 100% sure though). A file TRAILER in PDFs, is in my understanding a mandatory, although some file do not have a TRAILER keyword followed by a TRAILER dictionary instead they live in the XREF stream dictionary.

Unfortunately I was unable to recreate a unit test because I d

[2018-02-18 05:24] andreasrosdal commented on #69
I suggest someone adds checks for NullPointerExceptions in this methos:  https://github.com/LibrePDF/OpenPDF/blob/master/openpdf/src/main/java/com/lowagie/text/pdf/PdfReader.java#L1111

[2018-02-18 11:59] asturio commented on #65
Hi @rivron, @rik86, @rtfarte,

I just made some changes in the PdfReader, now your test code is working. Take a look at #68

[2018-02-19 09:11] rivron commented on #65
I have tested it. Thanks a lot @asturio !

[2018-02-19 20:56] asturio commented on #65
If there is no objection, I'll be merging it till the WE.

[2018-03-15 00:54] zimmyg opened #71 "Issue with subsetting on OTF/CFF fonts"
I use OpenPDF in flying saucer to generate PDFs from HTML and I've run into a problem that I cannot use fonts such as NotoSansCJKjp (an OTF/CFF font) because CFF font subsetting does not work correctly.

The subsequent PDF output is broken in Acrobat, stating that the embedded font cannot be extracted. It does work in other readers, but I believe that is because they are more lenient than Acrobat

[2018-03-29 16:22] lapo-luchini opened #72 "Broken retro-compatibility"
Commit ae40ae2497a2d6ef86cf273f70e6fe2b0dbe4107 changed the signature of `PdfSignatureAppearance.setCrypto` removing some arrays.
Unfortunately the diff can't be seen on GitHub because the file was dropped and re-added, but here's a part of the diff:

[code]

As far as the change goes I guess it's fine, because the array was never used for anything more than `[0]` but it breaks binary compatibilit

[2018-04-01 12:14] asturio commented on #72
Hi @lapo-luchini ,

I think a PR would be great. Can you create one? I'll check it, when it's there. For compatibility with itext, I think such "deprecated" methods are nice.

[2018-04-02 23:06] jeffrey-easyesi opened #73 "Image.getInstance: mono PNG with color ICC profile displays wrong"
Although it doesn't make a lot of sense to me, a monochrome PNG (1 component) might have a color ICC profile (3 components). One way to create a file like that is these GhostScript and ImageMagick:

* Start with a black-and-white text PDF
* Use GhostScript to render to color PNG: `gs -sDEVICE=png256 -o test.png test.pdf`
* Use ImageMagick to convert to B&W PNG: `convert test.png test2.png`

Here's

[2018-04-03 16:38] mtwords opened #75 "New behaviour of how text is extracted from a page"
Hi everyone

I just updated from the original iText 4.2.0 (https://github.com/ymasory/iText-4.2.0) to your OpenPDF 1.0.5. So far, it works fine, but I mentioned a change to the behaviour how text is extracted from a pdf.
With the previous version, the text has been extracted via PdfTextExtractor.getTextFromPage(i) as "plain text", now I get every word surrounded by markup tags.

For example:
**bef

[2018-04-15 12:20] #72 closed, assigned to nobody

[2018-04-15 12:42] asturio commented on #75
@daviddurand do you remember, if there is an alternative for the text extraction no being so verbose?

[2018-04-20 18:47] daviddurand commented on #75
So, this was something that occurred to me when you guys started with my code -- as, while I fixed a number of bugs, I was also pretty thoroughly reworking the text extraction (to meet the needs of my company). This included lots of bug fixes (and more to come), but also extra result information, returned in the form of HTML (not the best idea long term).

The new protocol to extract text includes

[2018-04-20 18:51] daviddurand commented on #75
Just to be clear, I don't think it would be good to go back to the original text extraction, as a lot of bugs were removed.

[2018-04-21 22:49] daviddurand commented on #69
I've looked at this before (thought, in fact, I'd fixed it, once upon a time, but there may be more than one trailer check/reference).

Trailers are no longer required for PDF 1.5 and greater. I'll try to make an example, and take a look at the crash.

The trailer isn't really used for much, since it's just an optimization for finding the directory by looking at the end of a file.

[2018-04-25 19:04] daviddurand opened #77 "Calls to String.toLowerCase(), and friends should be checked for proper use of locales"
Case-folding is used for various pieces of data and metadata used in PDF syntax (perhaps also in user content). Those transformations are based on Adobe's general assumption of the use of US_ASCII/ISO-Latin-1 encoding. As noted in the comment on pull request https://github.com/LibrePDF/OpenPDF/pull/76 This fails for (at least) Turkish locales, where Capital I can fold to a non-Latin-1 lowercase do

[2018-05-25 09:07] vp111 opened #81 "Recent changes to PdfArray broke the Kids field"
Recent changes in PdfArray.java broke the pdf creation. PdfPages.writePageTree creates empty "Kids" field. Maybe some other code parts affected. Reverting getArrayList (and getElements) to returning internal list fixes the issue.
There is pull request #80 on just the same issue (partially)

[2018-06-04 14:17] keesvandieren commented on #65
Bouncy Castle may give problems on some Application Servers, a release would be great :-)

[2018-06-06 20:46] pronabb opened #82 "svg file support in OpenPDF"
Hi,
We want to use SVG files to add icons in PDF. Is there any standard way to do that using OpenPDF?

[2018-06-09 13:33] gexclaude commented on #65
I would appreciate a release too :)

[2018-07-11 14:25] roschdal commented on #65
This seems to ve fixed now? Please reopen if you still have this problem.

[2018-07-11 14:25] #65 closed

[2018-07-11 14:29] roschdal commented on #81
#80 has been merged and included in the latest release. Please reopen if you still have this problem.

[2018-07-11 14:29] #81 closed

[2018-07-11 15:43] roschdal commented on #65
Please try OpenPDF 1.1.0 and report if this has been fixed: https://github.com/LibrePDF/OpenPDF/releases/tag/1.1.0

[2018-07-11 21:40] gexclaude commented on #65
In our case we can now generate the PDFs without bouncycastle - therefore I consider this issue fixed.

[2018-07-13 07:58] schluedo opened #83 "Possibility to customize "producer"-Flag in PDF-Metadata"
I would like to change the producer-flag in the meta-data of a generated PDF-file.
Which way of doing that would you prefer?
- Exposing an API for Metadata-Manipulation?
- A protected Method for metadata-processing that can be overridden in a custom class?
- Any other option?
Please let me know which way you would prefer from an architectural perspective.
I can then try to implement it and creatin

[2018-07-13 08:10] roschdal commented on #83
Exposing an API seems like a good idea. Pull-requests welcome.

[2018-07-17 13:40] arthurblake commented on #35
Would love to see a fix for this in 1.1.1 - IMHO just adding a simple boolean flag such as allowPdfModifyWithoutOwnerPassword with getter/setter to PDFReader (and even defaulting it to true) might be the best way to handle this. I agree that "unethicalreading" is inappropriate as there is really nothing unethical about this. As I understand it. The intent of the owner password was to not allow cas

[2018-07-17 16:24] roschdal commented on #35
Patches welcome.

[2018-07-17 16:59] arthurblake commented on #35
Sure thing. I'll see what I can do.

[2018-07-17 18:38] arthurblake commented on #35
Please see https://github.com/LibrePDF/OpenPDF/pull/84

[2018-07-17 18:59] #35 closed

[2018-07-30 13:39] EvgeniySokolov opened #85 "DocumentException should be unchecked"
DocumentException extends Extension that makes it checked exception.

Basically, it's useless to force to catch it and making it harder to use (e.g. in lambda expressions).

[2018-07-30 13:46] andreasrosdal commented on #85
Pull-requests welcome.

[2018-07-30 18:43] andreasrosdal commented on #85
Please explain why this API-change is necessary.

[2018-07-31 10:59] EvgeniySokolov commented on #85
Let me quote my original comment and add explanations:

Example:
  `   * @throws DocumentException
     *             when a document isn't open yet, or has been closed
     */
    public boolean add(Element element) throws DocumentException {
`
What would you do with this? The document is closed or not open, how are you going to react on it?

Other example:
`**
     * Constructs a <CODE>Table</CO

[2018-07-31 18:38] daviddurand commented on #75
I believe that #76 provided what @mtwords needed -- a markup-free text extraction option. I'm closing this issue on that account.

[2018-07-31 18:38] #75 closed

[2018-07-31 19:12] andreasrosdal opened #86 "PAdES signatures support"
PAdES support in OpenPDF would be nice to verify the authenticity of PDF documents such as invoices.

Search for OpenPDF here:
https://ec.europa.eu/cefdigital/DSS/webapp-demo/doc/dss-documentation.html

https://en.wikipedia.org/wiki/PAdES

[http://www.etsi.org](http://www.etsi.org/deliver/etsi_ts%5C102700_102799%5C10277801%5C01.01.01_60%5Cts_10277801v010101p.pdf)

https://librepdf.github.io/OpenPD

[2018-08-01 12:50] EvgeniySokolov commented on #85
Shouldn't be any issues, since it's unchecked exception, so you can define in method declaration, still try/catch it.

PR created

[2018-08-02 09:18] Lonzak commented on #86
I am highly interested in this. What does the closing mean? Is it already implemented? Was it discarded?

[2018-08-02 09:44] #85 closed

[2018-08-02 09:54] Lonzak commented on #86
I am following this project for quite some time now since we are maintaining our own fork for nearly 10 years now. My plan would be to create a (probably bigger) patch to migrate our fixes and additions to this project so that we can stop our fork. (e.g. we had done the BC update, too)...
For PAdES I fear I currently don't have the time to work on, since this is not a small topic... I mean we coul

[2018-08-02 09:55] tlxtellef commented on #85
Binary and compile wise it is compatible but when it comes to runtime control flow it is not. As these methods now throw a different exception as the already existing try/catch blocks are tuned in on an exception with a different signature. However, as you mentioned, what kind of useful response would there be to these exceptions?

[2018-08-02 10:04] andreasrosdal commented on #86
@Lonzak Since you have been maintaining your own fork, perhaps you would be interested in commit access to this project also?

[2018-08-02 10:29] andreasrosdal opened #88 "SHA-1 is unsafe / deprecated"
SHA-1 is unsafe / deprecated.  How should we handle this in OpenPDF?

https://en.wikipedia.org/wiki/SHA-1
https://itextpdf.com/blog/are-pdf-signatures-shattered

https://github.com/LibrePDF/OpenPDF/search?q=sha-1

[2018-08-02 11:00] Lonzak commented on #86
Commit access would be great.

For the basic profile we would need to
(1) Analyse the existing signing function
(2) Understand the PAdES way of signing
(3) Adapt the existing signing to support PAdES
or (4) Completely rewrite the iText signing code since it is quite a mess (this is what the ITXT boys have been done)

[2018-08-02 20:57] andreasrosdal opened #89 "misc_licenses.txt"
https://github.com/LibrePDF/OpenPDF/blob/master/openpdf/src/main/resources/misc_licenses.txt

I suggest that the misc_licenses.txt file is reviewed, and possibly some changes to OpenPDF should be made based on the review. These files appear to be licensed with various open source licenses (mostly BSD-compatible). These files are all present in iText 2.1.7 also.

These bugs are relevant:
https://bu

[2018-08-05 07:48] andreasrosdal commented on #86
This is highly relevant: PAdES, with a LGPL license:
https://github.com/esig/dss

[2018-08-06 08:15] #89 closed

[2018-08-06 09:58] Lonzak commented on #86
Yes I have already worked with that project but they are using PdfBox. They switched away from iText a while ago due to the license change. But they developed a PAdES signing component. So maybe an external signing process using OpenPDF would be possible. This could be a way...

[2018-08-06 13:41] andreasrosdal commented on #72
@lapo-luchini Could you please share some information about how you are using OpenPDF and PdfSignatureAppearance.setCrypto to sign PDF files? This could be of interest to others also. Thanks!

[2018-08-06 14:59] lapo-luchini commented on #72
@andreasrosdal unfortunately I use that only in a work scenario and don't have a working example only using opensource code.
I found [a C# example using iText 4](https://blog.banko.cloud/blog/2013/10/24/use-itext-4-1-6-to-signing-a-pdf-file-with-c/) that, while not being updated to latest PAdES, should be a pretty decent starting point.

[2018-08-08 12:46] jsorah opened #91 "Unable to add Group3/Group4 TIFFs into Version 1.2.0"
Hello, when trying to add a Group3 or Group4 TIFF image into a PDF in release 1.2.0, there is an exception thrown by the underlying sanselan library for "unknown compression":

[code]

This was working previously in version 1.0.5, I presume because the method by which TIFFs were read has changed.

My initial research indicates that Group3/Group4 support was added to some later version of the sanse

[2018-08-08 13:16] andreasrosdal commented on #91
Yes, the reason for this is that images are now read by Apache Sanselan (Commons Imaging).

Can you please try using the latest SNAPSHOT version of Commons Imaging instead of the 0.97-incubator version?  More info here:  https://commons.apache.org/proper/commons-imaging/

Please let me know if that solved your problem.

Using a software library instead of maintaining our own image codec should be

[2018-08-08 19:41] andreasrosdal commented on #91
I have been able to reproduce this problem with loading .TIFF files with group 3/4, with Apache Sanselan version 0.97-incubator.

I have tested Apache Commons Imaging version 1.0-SNAPSHOT, and that was fortunately able to load a .TIFF image with Group 3 correctly. So in time, this will work correctly, once Apache Commons Imaging has a proper maven release to the public maven repo.

I have updated

[2018-08-09 12:58] jsorah commented on #91
@andreasrosdal I pulled the latest master version and ran it on my code and it is working correctly now.

Unfortunately I do not have many suggestions on how to improve this - it certainly makes the most sense to offload this piece to another project.  I think the downside is that commons-imaging has been "in progress" for many years at this point.

Thanks for looking at this so quickly, I just wa

[2018-08-10 16:48] wltjr opened #92 "Update to Commons-Imaging 1.0 release"
One of the new dependencies is an older version of sanselan/commons-imaging. The imports are sanselan instead of commons.imaging. Basically just need to swap out imports. No other changes are necessary. I am using sed locally to make this change on the fly for [my gentoo ebuilds](https://github.com/Obsidian-StudiosInc/os-xtoo/blob/master/dev-java/openpdf/openpdf-9999.ebuild#L44).

This repo [commo

[2018-08-10 19:18] andreasrosdal commented on #92
Yes, OpenPDF needs to update to a better Commons-Imaging release.
I have been asking on the Commons mailing lists for a proper release, and they seem to be
interested in creating a 1.0 release of Commons-Imaging soon:
http://mail-archives.apache.org/mod_mbox/commons-dev/201808.mbox/browser
So the future looks bright!

[2018-08-10 20:32] wltjr commented on #92
Good news! Glad to hear you have already been working on it. I think 5 years of a RC is long enough, 1.0 release is overdue. Thanks for staying on top of it!

[2018-08-13 08:19] bberto opened #93 "Nested tables"
Hello,

I've two issues with nested tables:
1. above third level of nesting, the border of enclosing cell disappears;
2. adding two nested tables to a cell, the second one has wrong size.

I attach a code snippet and current result. Code version 1.2.0.
[code]
![image](https://user-images.githubusercontent.com/3389771/44020434-31bafcf6-9ee2-11e8-987d-e8c253f4a3ef.png)

[2018-08-13 09:46] andreasrosdal commented on #93
Thanks for the bugreport. Pull-requests to fix this is welcome.

[2018-08-13 09:51] andreasrosdal commented on #93
Do you know if this has worked correctly in a previous version? For example, OpenPDF 1.0.5, iText 1.2.7, or iText 4.2.0?

[2018-08-13 11:28] bberto commented on #93
Tested with all suggested version, with no luck.  I think you meant iText 2.1.7, right?

[2018-08-16 10:16] CallousedFinger commented on #93
Use PdfPTable and PdfPCell.

[2018-08-18 06:31] andreasrosdal commented on #93
@bberto Did this solve your problem?

[2018-08-20 08:01] pvandenbroucke commented on #86
Hello,

This fork is interesting. As Lonzak said, DSS used iText its old versions. It should be possible to re-integrate it in DSS with a new module (dss-pades-pdfbox / dss-pades-openpdf).

Do you have any documentation about the evolutions since the fork creation ?

Regards,

Pierrick

[2018-08-20 08:11] andreasrosdal commented on #86
If you want to help improve the signatures support in OpenPDF, that would be very welcome!

https://github.com/LibrePDF/OpenPDF/releases

https://github.com/LibrePDF/OpenPDF/commits/master

[2018-08-20 10:52] andreasrosdal commented on #86
@pvandenbroucke How do you suggest we begin in order to do this?

[2018-08-20 11:30] pvandenbroucke commented on #86
Hello Andreas,

I'll firstly try to split the dss-pades module into two modules (api / pdfbox implementation), than retrieve the previous integration of iText and analyze what has been changed since the integration. The goal is to get a common API and two implementations (openpdf and pdfbox).

I'll soon create a new branch with the refactoring and integration. Feel free to contribute.

Regards,

P

[2018-08-21 05:56] andreasrosdal commented on #93
@bberto Please let us know if the proposed solution works.

Then please reopen this bugreport.

[2018-08-21 05:56] #93 closed

[2018-08-21 12:15] pvandenbroucke commented on #86
Hello,

I started the OpenPDF integration in DSS. The related branch is : https://github.com/esig/dss/tree/openpdf-integration

I'm facing to an issue to generate the data to be signed. If I compute twice the same operation with the same parameters, I get different digests. I identified the difference in the PDF file :
`trailer
<</Info 40 0 R/ID [<ca4b0fd5553ebacf2d6fb09534ae4cca><979a9613d657bc6d

[2018-08-21 12:33] andreasrosdal commented on #86
The fileID is hashed using the current time, so it will currently always be unstable.
This is done in PdfEncryption.createDocumentId(), source code here: [PdfEncryption](https://github.com/LibrePDF/OpenPDF/blob/94f6a23b5dc40ea1705353d64576ed898508f7df/openpdf/src/main/java/com/lowagie/text/pdf/PdfEncryption.java#L341).

It should be easy to change this so that fileID will be stable. What would the

[2018-08-21 12:45] pvandenbroucke commented on #86
Yes, I saw that in the code and the incremented static seq.

If you find a convenient way to specify that in the PdfStamper, it would be nice.

[2018-08-21 12:53] bberto commented on #93
It works! Thanks!

[2018-08-21 13:10] andreasrosdal commented on #86
What do you think of this proposal?

https://github.com/LibrePDF/OpenPDF/commit/d714c6a3b2b41779d7d693df68aeb841f7cec27f

[2018-08-21 13:38] pvandenbroucke commented on #86
That can be a solution but that needs to be exposed in the PdfStamper. The class PdfStamperImp seems to be an internal class.

I don't know very well iText and OpenPDF and how the code evolved.

[2018-08-21 17:26] mkl-public commented on #86
`PdfStamper` has a method `getWriter` via which you can retrieve the `PdfStamperImp` instance (`PdfStamperImp` is derived from `PdfWriter`). Unfortunately, though, the class `PdfStamperImp` itself is not public. To be able to universally use those new methods, `PdfStamperImp` must either become public, or implement a yet to define interface with those methods, or those methods must already be decl

[2018-08-21 19:41] andreasrosdal commented on #86
I have created a proposal where we can add includeFileID and overrideFileId properties to PdfStampler,
which allows disabling the fileId and overriding the fileId.

Pull request: https://github.com/LibrePDF/OpenPDF/pull/94
Branch: dss-openpdf
https://github.com/LibrePDF/OpenPDF/tree/dss-openpdf

Please let me know if this solves your problem. If you have other suggestions, then you can also try cr

[2018-08-22 06:44] pvandenbroucke commented on #86
Hello,

Thanks that allows me to specify the fileID. That's perfect for me.

I use the snapshot version in the same branch : https://github.com/esig/dss/tree/openpdf-integration

Regards,

Pierrick

[2018-08-22 06:52] andreasrosdal commented on #86
Cool. Let me know if you need further changes. I can also create a new release of OpenPDF when you want to.

[2018-08-22 13:59] andreasrosdal commented on #86
@pvandenbroucke What are the remaining changes required for a minimum first version?

-VRI/DSS dictionaries
-visible signatures

[2018-08-22 14:12] pvandenbroucke commented on #86
Yep, I need to implement them in the dss-pades-openpdf module. I think that features already exists (create a dictionary and add it ito an existing pdf file + visual signatures).

I'm now able to create a basic PAdES with OpenPDF and DSS (BASELINE_PROFILE) and currently trying to extend it with timestamps,... The evolutions are visible on the same branch.

Anyway, I have a question. How do you han

[2018-08-22 14:44] Lonzak commented on #86
Do you mean in the PDF file?

Up to PDF 1.7 it was: "The trailer of a PDF file enables a conforming
reader to quickly find the cross-reference table and certain special
objects. Conforming readers should read a PDF file from its end. The last
line of the file shall contain only the end-of-file marker, %%EOF. The two
preceding lines shall contain, one per line and in order, the keyword
startxref an

[2018-08-22 14:59] pvandenbroucke commented on #86
I met issues with DSS when I wanted to recover the original file from a signed PDF. Sometimes, I had a difference of one character (end-of-line after the %%EOF).

The original file can be ended with %%EOF or %%EOF EOL.

I'd like to know if OpenPDF handles this two kinds of termination when it adds a new layer (signature, timestamp,...).

([Here](https://issues.apache.org/jira/projects/PDFBOX/issue

[2018-08-22 15:49] pvandenbroucke commented on #86
Yes, it does.

IMO, the last end-of-line (\n) shouldn't be added. It could be preferable to add the end-of-line at the beginning of the new layer (if it is not already present).

I'll do some more tests these next days to see if I meet the same issue.

[2018-08-22 17:29] mkl-public commented on #86
Cf. the PDFBox issue you referenced: Even the PDF/A people consider that EOL valid (but not required), and the PDF/A requirements can be quite a PITA in other respects.

[2018-08-22 18:47] pvandenbroucke commented on #86
@andreasrosdal I'll do some tests. If I have the problem, I'll try to propose a PR.

Do you know which are the supported PDF standards by OpenPDF ?

FYI, your current merge should also help on this [issue](https://github.com/LibrePDF/OpenPDF/issues/31).

@mkl-public Do you see any limitation with my above logic (if we strictly refer to the ISO 32000) ? In DSS, we don't officially support PDF/A. We

[2018-08-23 13:05] andreasrosdal commented on #86
How do you suggest we get the signingTime?

I don't have a strong opinion for either alternative. If you can force it easily with code in dss-pades-openpdf, then that is fine with me. Is that okay for you?

[2018-08-23 13:17] pvandenbroucke commented on #86
That's ok for me. I will specify the date in the Info dictionary.

If that's not specified, you can create a new instance like now.

[2018-08-23 13:32] pvandenbroucke commented on #86
This code :
[code]
has currently no effect.

That's not a good idea. In case of multiple layers (more than one signature), the oldInfo will already have a MODDATE and it will be copied in the newInfo dictionary.

Do you any idea ?

[2018-08-24 06:04] erlangp opened #96 "can i use this library for commercial? (lib included in my project)"

[2018-08-24 06:53] andreasrosdal commented on #96
Yes! You can use OpenPDF as long as you comply with the LGPL and/or MPL licenses.

This is some background information about the licenses:
https://www.gnu.org/licenses/lgpl-3.0.en.html
https://www.mozilla.org/en-US/MPL/
https://github.com/LibrePDF/OpenPDF/blob/master/License.md
https://github.com/LibrePDF/OpenPDF/wiki/OpenPDF---License-MPL---LGPL-background-info

[2018-08-24 06:53] #96 closed

[2018-08-24 07:41] erlangp commented on #96
thanks @andreasrosdal

[2018-08-24 09:45] Lonzak commented on #96
It is the same license as the old *Text version 2.1.7. And I think that's why people do this whole project here...

[2018-08-24 13:57] mkl-public commented on #86
@pvandenbroucke

I merely mentioned the PDF/A people because they usually are quite some nitpickers. If _they_ accept the %%EOF both with and without a following end-of-line, this can be taken as a sign that neither variant can conclusively be proven to be wrong.

Furthermore, I am not aware of that end-of-line causing any issues.

All in all, therefore, I don't see a reason to change the current

[2018-08-25 08:44] andreasrosdal commented on #86
Renamed to getEnforcedModificationDate and setEnforcedModificationDate in this commit:
https://github.com/LibrePDF/OpenPDF/commit/b1132b3afdec8cb9bbe2dc79d9d546c90ab40765

Does this mean that DSS+OpenPDF can be used to sign PDF files with PAdES very soon now?

[2018-08-25 14:17] pvandenbroucke commented on #86
Yes, it will be possible in the next release (version 5.4). I still need to do some more refactorings, the visible signature and integrate unit tests.

DSS is now able to produce PAdES Baseline Profiles B/T/LT/LTA with OpenPDF.

Thanks for your help

[2018-08-26 13:35] andreasrosdal commented on #92
https://github.com/LibrePDF/OpenPDF/commit/3a19475c914e3a12c2ba7b954fcd7f5068cbfaf6

[2018-08-26 13:35] #92 closed

[2018-08-27 05:43] andreasrosdal commented on #86
OpenPDF version 1.2.1 has been released, and includes these changes: https://github.com/LibrePDF/OpenPDF/releases/tag/openpdf-1.2.1
@pvandenbroucke I hope you'll be able to use this version in the openpdf-integration branch.

[2018-08-27 09:32] CallousedFinger commented on #88
In itself the deprecation isn't what OpenPDF should be "handling". The user decides which algorithm to use, so unless OpenPDF wants to prevent users using certain algorithms with a blacklist, there's nothing to do during the signing process.

What can be done is adding a DSS to the PDF to overcome this issue. This is done by implementing PAdES, in particular part 4, which deals with long term vali

[2018-08-27 09:38] #88 closed

[2018-08-28 11:16] pvandenbroucke commented on #86
Hello,

I continued the integration with the unit tests and the signature visible.

I meet some difficulties to reproduce the same visual signatures with OpenPDF. Depending of parameters, the class PdfSignatureAppearance may generate additional things (like text from the certificates,...). Do you have any sample which creates visual representations ?

Another more important issue is that visual ge

[2018-08-28 11:28] andreasrosdal commented on #86
These are the examples we have:
https://github.com/LibrePDF/OpenPDF/tree/master/pdf-toolbox/src/test/java/com/lowagie/examples

[2018-08-28 12:54] mkl-public commented on #86
If you want iText to layout the information in the signature appearance, you can supply

* an image with `setSignatureGraphic`
* some text using `setLayer2Text` and
* a layout using `setRender` (`SignatureRenderDescription` / `SignatureRenderNameAndDescription` / `SignatureRenderGraphicAndDescription`).

If you want to layout it yourself, you can retrieve a `PdfTemplate` using `getLayer(2)` and fi

[2018-08-28 13:08] Lonzak commented on #86
We do it like this, only an image should be shown:

[code]

[2018-08-28 13:18] pvandenbroucke commented on #86
Thanks for the replies.

@andreasrosdal : The examples don't use the PdfSignatureAppearance. Do you want I add some unit tests to ensure that previous modifications work ? FYI, I'm also able to reproduce the last issue with a minimal code. That's only occurs when I call setVisibleSignature().

@mkl-public : Thanks, I will try to do by myself with the method getLayer(2).

@Lonzak : I'd like to prop

[2018-08-29 12:10] andreasrosdal opened #98 "Order of objects in generated PDF file is not always consistent"
@pvandenbroucke reported in this issue: "A important issue is that visual generation doesn't guaranteed the objects order in the pdf file. I didn't find the root cause."
Details about the bug can also be found here: https://github.com/LibrePDF/OpenPDF/issues/86#issuecomment-416547183

Pull-request to reproduce the problem: https://github.com/LibrePDF/OpenPDF/pull/97

@pvandenbroucke Please supply

[2018-08-29 13:01] pvandenbroucke commented on #98
From my analysis, the problem can happen when a visible signature is added. I added a loop in the unit test because it doesn't always occur.

If you check the files in the comment, you can see that XObjects 43 and 47 are inverted.

IMO, the problem (or a part of it) is the used Map formXObjects in the class PdfWriter. The iteration order is not guaranteed.

[2018-08-29 13:55] andreasrosdal commented on #98
I might have fixed this in the master branch now. The test is at least passing.

[2018-08-29 13:58] #98 closed

[2018-08-29 16:48] andreasrosdal commented on #86
@pvandenbroucke Do you have more details about this?

[2018-08-29 17:49] pvandenbroucke commented on #86
@andreasrosdal Thanks for fixing the objects ordering.

The class PdfSignatureAppearance contains some methods which do a lot of things (like getAppearance()) and reduce the final possibilities.

If you use DSS with PDFBox, visible signatures can be composed by :
- Free text
- Image
- Free text and image (the text can be positioned on the right/left/bottom/top of the image)

It also handles the ro

[2018-08-29 18:12] andreasrosdal commented on #86
I think the current functionality is good enough for a first version. It should be possible to sign the PDF files now, right. I can create another OpenPDF release, and then we can get feedback from the users. (release early, release often, as is common in open source).

Are there any critical blockers in OpenPDF now?

[2018-08-30 08:59] mkl-public commented on #86
As one of the original objectives of OpenPDF was to serve as a maintained drop-in replacement for iText 2.1.7, I doubt existing architectures are going to be torn asunder.

If you look at how the original iText signature API developed (in particular in the 5.3.x versions), you'll see that they in particular introduced static helper methods of a `MakeSignature` class which model different signing u

[2018-08-30 10:50] andreasrosdal commented on #83
Please test the master branch, this has been merged now: https://github.com/LibrePDF/OpenPDF/pull/99

Please reopen this bug if you have any problems with this functionality.

[2018-08-30 10:50] #83 closed

[2018-08-30 11:11] andreasrosdal commented on #86
OpenPDF 1.2.2 has been released: https://github.com/LibrePDF/OpenPDF/releases/tag/1.2.2

Pull-requests for this is welcome! Otherwise, the current signing functionality will have to be sufficient.

[2018-09-03 09:54] tzieleniewski opened #100 "Question about potentially unsafe code"
Hi Team,

Could You please share some thoughts about possible "code fragments that infringe other people's copyrights".
IText team states that such fragments were present until they removed them in version 5.1.
https://developers.itextpdf.com/question/versions-older-than-5
Do you have any knowledge about such code in version 4.2.0 from which OpenPDF was forked.

[2018-09-03 12:10] Lonzak commented on #100
I agree - every such code should be removed. Unfortunatly I didn't have the time to do so yet.
Some hint is given here:
https://opensource.stackexchange.com/questions/435/what-happens-if-stolen-software-is-published-as-open-source/437

I would look at the svn history and see what was removed and also remove it in openPDF

[2018-09-03 13:47] andreasrosdal commented on #100
I have done this. The review of this has been done here:
https://github.com/LibrePDF/OpenPDF/wiki/OpenPDF---License-MPL---LGPL-background-info
https://github.com/LibrePDF/OpenPDF/issues/89
https://github.com/LibrePDF/OpenPDF/pull/90

So an effort in good faith has been done to review and clean this up. Please let me know if further changes are required.

[2018-09-03 13:47] #100 closed

[2018-09-04 12:25] jjkarppi opened #101 "Illegal reflective access operation warning in Java 10"
Building a project using OpenPDF 1.2.2 with JDK 10.0.2 gives the following warning:

-----
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.lowagie.text.pdf.MappedRandomAccessFile$1 (file:/[local path removed from here]/openpdf.jar) to method java.nio.DirectByteBuffer.cleaner()
WARNING: Please consider reporting this to the maintainers of com.l

[2018-09-04 13:14] peda commented on #82
In the old iText version you could use PDF files in the src Attribute of img Tags - if done so it does include the vector graphics inside this other PDF - that's what I've used in the past to workaround adding SVGs

[2018-09-04 13:16] andreasrosdal commented on #101
Thanks. Pull requests welcome.

[2018-09-05 10:54] andreasrosdal commented on #101
@Lonzak what do you think of this?

Could MappedRandomAccessFile be replaced or removed? Can we use a library instead? Do you want to fix this?

[2018-09-06 12:31] Jaizkibel opened #102 "Hyphenation does not not work with 1.2.x"
After switching to 1.2.2, the hyphenation does not work anymore.

The reason seems to be the UniversalDetector class which does not recognize the encoding of the XML files from the itext-hyph_xml.jar

Code snippet from class SimpleXMLParser:

[code]

so the XML is not parsed and the hyphenation not done, because the HyphenationTree is empty

[2018-09-06 14:27] Evlikat opened #103 "Incorrect table splitting when rowspan > 1 and the cell contains a nested table"
It works fine for paragraph list but if I wrap them with a table the document looks broken

[code]
I get the following

![image](https://user-images.githubusercontent.com/4878779/45163810-d7c84700-b1f9-11e8-9cad-7c3a3e6e4180.png)

[2018-09-06 19:07] andreasrosdal commented on #102
Thanks for the bugreport. Are you able to contribute a solution to this bug?

[2018-09-06 19:11] andreasrosdal commented on #102
Can you please submit code to reproduce the problem?

[2018-09-07 09:43] Jaizkibel commented on #102
This is how to reproduce (see also "iText in Action, 1 ed., page 120f)

1. put itext-hyph-xml.jar in the classpath
This JAR contains XML-Files with the hyphenation rules for different countries

2. Instantiate a HyphenationAuto object:
[code]
The constructor parses the "en.xml" file and builds a HyphenTree object that should be visible in a debugger  afer execution of the previous line.

This work

[2018-09-07 10:03] andreasrosdal commented on #102
I have attempted a quick-fix for this. Can you please try the latest master version of OpenPDF?

This is the commit: https://github.com/LibrePDF/OpenPDF/commit/cf834abb590ffcdbb48e973dc0b93056d7c84352

[2018-09-07 11:12] Jaizkibel commented on #102
Thanks for the patch.
Will try it out.

But it gonna take some time.
Busy at work and my private pc crashed :-(

[2018-09-07 14:51] Jaizkibel commented on #102
Did a test after adding itext-hyph-xml.jar to the dependencies:

[code]

So everything works fine here.

[2018-09-08 14:31] #101 closed

[2018-09-08 14:33] andreasrosdal commented on #102
Thanks. So this issue is fixed now?
Please reopen if the problem still exists.
I'll create a new release soon.

[2018-09-08 14:33] #102 closed

[2018-09-08 15:44] andreasrosdal opened #105 "Require JDK 8"
"Java 8 is the currently supported long-term support (LTS) version and Java 10 is the currently supported rapid release version, as of March 20, 2018"

https://en.m.wikipedia.org/wiki/Java_version_history#Java_7_updates

I will set JDK 8 as required for the next version of OpenPDF. (unless there are strong objections).

[2018-09-09 08:06] #105 closed

[2018-09-10 04:56] andreasrosdal commented on #103
Thanks for the bugreport. Pull-requests welcome.

[2018-09-10 10:55] andreasrosdal commented on #102
Please give the latest release of OpenPDF a try. Version 1.2.3.

[2018-09-10 14:15] Evlikat commented on #103
Thank you!
After some investigations I managed to make content split between two pages but there is an issue related to rowspan cell splitting. The height of second part does not include any spaces for text. As a result the content of the last paragraph is not drawn at all

[2018-09-10 14:20] Lonzak commented on #105
Our current version is still Java7. The damn server world is always lagging behind....

[2018-09-10 14:30] Jaizkibel commented on #102
Hyphenation works in 1.2.3 as expected.

Thanks a lot!

[2018-09-10 14:43] andreasrosdal commented on #105
I'll create a branch and release for Java 7.

[2018-09-11 05:11] andreasrosdal commented on #105
There is now a 'java7' branch, and a separate Java 7 release:

    <dependency>
        <groupId>com.github.librepdf</groupId>
        <artifactId>openpdf</artifactId>
        <version>1.2.3.java7</version>
    </dependency>

[2018-09-11 07:13] andreasrosdal commented on #73
Do you still get this problem in OpenPDF 1.2.3?

[2018-09-11 07:14] andreasrosdal commented on #31
Do you still get this problem in OpenPDF 1.2.3?

[2018-09-12 10:05] Lonzak commented on #105
Perfect, thanks!

2018-09-11 7:11 GMT+02:00 andreasrosdal <notifications@github.com>:

--
Beste Grüße/Kind regards
Tobias van Treeck
___________________________________________________________________________________________________
Tobias van Treeck (MSc)
nepatec GmbH . Seelhorststraße 44 . 30175 Hannover
<https://maps.google.com/?q=Seelhorststra%C3%9Fe+44+.+30175+Hannover&entry=gmail&source=g>
F

[2018-09-12 11:36] jjkarppi opened #106 "Font style gets ignored when instantiating a new font"
When a new font is created using _FontFactory.getFont()_ with _style_ as one parameter, the style parameter gets ignored and _Font.NORMAL_ style gets applied. E.g.

`FontFactory.registerDirectories();`
`Font titleFont = FontFactory.getFont("Trebuchet MS", 16, Font.BOLD);`

results in that _titleFont_ style is _Font.NORMAL_ (value 0) instead of _Font.BOLD_ (value 1).

Debugging, this the error seem

[2018-09-12 13:13] jjkarppi opened #107 "Wrong font style when concatenating Phrases"
When creating a _Phrase_ and then adding another _Phrase_ to it with _add(Object o)_ method, the second _Phrase_ gets the sum of the font styles of the first and second _Phrase_, e.g.

[code]

would result in:
**First text _- Second text_**

while the intention is to get:
**First text** _- Second text_

The problem occurs in _Font.difference(Font font)_ method at the last line of the following par

[2018-09-12 15:01] andreasrosdal commented on #107
Thanks for the bugreport. Pull-requests welcome!

[2018-09-12 15:02] andreasrosdal commented on #106
Thanks for the bugreport. Pull-requests welcome!

[2018-09-12 18:41] andreasrosdal commented on #105
@Lonzak Are you using the latest version of OpenPDF? If so, is it working well for you?

[2018-09-12 20:58] jeffrey-easyesi commented on #73
No, it's fixed now. Thanks

[2018-09-13 13:09] andreasrosdal opened #108 "Java Modules support"
How should OpenPDF implement support for the Java Modules system found in Java 9 and later?

Some info:
https://www.oracle.com/corporate/features/understanding-java-9-modules.html
http://branchandbound.net/blog/java/2017/12/automatic-module-name/

[2018-09-13 13:09] andreasrosdal opened #109 "Update to Junit 5"

[2018-09-14 07:06] #108 closed

[2018-09-18 12:07] marbetschar opened #110 "How to create a PDF/a for long term archiving?"
How do I create a document in PDF/A format using OpenPDF? The information I'm able to find in the web is based upon iText and some classes which do not seem to be available in OpenPDF.

Any help would be highly appreciated.

[2018-09-19 05:56] andreasrosdal commented on #110
Please see #86. I don't think PDF/A is supported yet. OpenPDF is an open source, volunteer-based project, so feel free to help drive this feature forward. Pull-requests welcome!

[2018-09-19 06:51] marbetschar commented on #110
@andreasrosdal thanks for your feedback. I really love OpenPDF and all the work you putting in to drive it forward as the open source successor of iText!

I'm aware that some features might not be implemented yet - but I was curious if I missed something in regards of PDF/A. PDF/A is not a requirement here as of now. So, unfortunately, I don't have the time to dig deeper into this. However it woul

[2018-10-04 10:44] lapo-luchini opened #111 "Could not compile from Ant"
`ant` gives this error:

[code]

which can be fixed changing this line in `openpdf-parent/pom.xml` from
`<jdk>[1.8,</jdk>`
into this:
`<jdk>[1.8,)</jdk>`

[2018-10-04 19:32] #111 closed

[2018-10-24 08:59] lijianandwujie opened #112 "get the coordinates of the text in PDF"
How can I get the coordinates of the text in PDF

[2018-10-24 11:48] evernat opened #113 "Reduce dependencies"
I suggest reducing dependencies used by openpdf, in order that fewer users have to resolve version conflicts between dependencies and to help users who don't have clean dependency management. (See [this example](https://dzone.com/articles/10-effective-tips-on-using-maven) recommending to explicitly repeat transitive dependencies in their pom, forgetting in my opinion that it will defeat your libra

[2018-10-24 13:21] andreasrosdal commented on #113
Apache Commons IO and Apache Commons Codec have been replaced.

[2018-10-24 16:02] evernat commented on #113
The LZWDecoder.java file is not a problem because it also includes:

and there is no problem to include BSD-license code (BSD is permissive) in a MPL/LGPL software. See for example: https://opensource.stackexchange.com/questions/304/can-i-take-bsd-licensed-code-and-distribute-it-under-gpl
provided that you don't remove the copyright "2005 Sun Microsystems, Inc" and the BSD license text from the fi

[2018-10-24 19:56] andreasrosdal commented on #113
Okay, I'll fix. Anything else, or can I create a new release then?

[2018-10-24 21:18] evernat commented on #113
I think that it's ok for me.

[2018-10-25 05:55] andreasrosdal commented on #113
Done. I will create a new release shortly.

[2018-10-25 05:55] #113 closed

[2018-10-25 06:45] #112 closed

[2018-10-26 07:08] andreasrosdal opened #115 "Make TwelveMonkeys imageio-tiff optional maven dependency"
Make imageio-tiff optional maven dependency. TIFF is not a very common image format.

Pull-requests welcome!

[2018-10-29 22:02] Daniele-Comi opened #118 "Question : any Android support?"
Hi, thank you for your great work.

Just learnt how to use your library with a sample Java application
Then I used some classes I made thanks to your library in an Android environment but disocovered your library is using only AWT without no android.graphics packages suppport.
 ##
Any suggestion on how could I move on?

[2018-10-30 18:02] andreasrosdal commented on #118
Android support hasn't been implemented yet. Patches welcome!

[2018-11-16 09:48] franziskaherger opened #119 "PdfTextExtractor.getTextFromPage seems to add spaces between words"
I have a pdf with text content 'my text with simple spaces between the words'. If I read the content of the same pdf with PdfTextExtractor.getTextFromPage(), I get 'my  text  with  simple  spaces  between  the  words' (two spaces between the words).

JUnit Test that shows this behaviour:

`

	public void testPdfTextExtractor() throws Exception {

		String contentText = "my text with simple spaces

[2018-11-16 19:10] daviddurand commented on #119
I believe this is because the extractor adds spaces because they are not dependably present between words in all  PDF files. The extra space could be made conditional on an identified word not already ending in an "extracted space", but I'm not sure that that level of consistency makes complete sense. The extractor certainly does have to add spaces not present in the source, since some files don't

[2018-11-27 15:04] #115 closed

[2018-11-28 16:19] fl0gru85 opened #121 "Duplicate files in deployed Jar"
Unfortunately there are duplicated maven files (pom.xml, pom.properties) in the deployed jar, see screenshot.

This causes currently some errors for our application.

Would it be possible to to remove this files from the built jar?

![openpdf](https://user-images.githubusercontent.com/20721494/49165518-ad39e600-f331-11e8-82df-7b6fc3deaa23.png)

[2018-11-28 20:28] PaulCormier opened #122 "BidiLine - Handling of indexChars when runDirection is LTR (or RTL)"
In commit a0754dc4, lines [183 to 197 of BidiLine](https://github.com/LibrePDF/OpenPDF/blob/c4fbcb5f64c241c948c6c88701ccca6fdd8391a2/openpdf/src/main/java/com/lowagie/text/pdf/BidiLine.java#L183L197) were removed because of the removal of the BidiOrder class. But when a runDirection is set to either `PdfWriter.RUN_DIRECTION_LTR` or `PdfWriter.RUN_DIRECTION_RTL` the indexChars array (used by create

[2018-11-28 20:38] andreasrosdal commented on #122
Thanks for reporting this. Can you please submit a pull-request to fix it?

[2018-11-29 06:44] andreasrosdal commented on #121
This has been fixed in OpenPDF version 1.2.6.

[2018-11-29 06:44] #121 closed

[2018-11-29 12:37] PaulCormier commented on #122
I'll keep working on this today.

My main motivation is also to be "on the safe side" and use OpenPDF in place of iText 2.1.7. Specifically, I'm looking at using it with JasperReports. Since JasperReports is meant to support bidirectional text, there needs to be some option for outputting RTL if they are going to adopt OpenPDF. Thoughts?

[2018-11-29 12:52] andreasrosdal commented on #122
@PaulCormier Excellent idea. I think you working on supporting OpenPDF in JasperReports will help other people in the same situation. I will gladly review and merge any changes.

[2018-11-29 12:53] andreasrosdal commented on #122
There is also this:  https://github.com/TIBCOSoftware/jasperreports/issues/17

[2018-11-30 16:55] #122 closed

[2018-12-02 11:04] andreasrosdal commented on #106
@jjkarppi  Can you please verify that this has been fixed in the latest git master version?

[2018-12-02 11:05] #106 closed

[2018-12-02 14:20] #109 closed

[2018-12-03 10:52] andreasrosdal opened #128 "LGTM code review"
LGTM code review results in 27 errors, 131 warnings in OpenPDF.
Any help with fixing these issues is welcome! Some of the errors and warnings would be easy to fix for new contributors.

The report can be found here:
https://lgtm.com/projects/g/LibrePDF/OpenPDF/alerts/?mode=list

[2018-12-07 10:43] pvandenbroucke opened #129 "Logic behind the method AcroFields.getBlankSignatureNames()"
Hello,

Could you explain the implementation of the method getBlankSignatureNames ? I maybe misunderstand the goal of the method.

IMHO, we should check if the /V refer a Dictionary with the signature :

Here, the signature has been added (not blank) :
[code]

Here, we have an empty visible signature field :
[code]

Thanks in advance for your reply,

Pierrick

[2018-12-07 11:44] andreasrosdal commented on #129
This is the code in question:  https://github.com/LibrePDF/OpenPDF/blame/6ec02b3146efaac47d9a4b801b1af9dcd510cc9e/openpdf/src/main/java/com/lowagie/text/pdf/AcroFields.java#L2080

It was part of the original iText version we forked from. I have no idea why it is like this.

Can you perhaps please submit a pull-request to fix this? Perhaps create a fix, and introduce a way to keep compatibility for

[2018-12-07 12:30] pvandenbroucke commented on #129
Thanks for your feedback.

Does anyone know what should be the usage of the given method ?

I also found the same method in the [iText 7 Community](https://github.com/itext/itext7/blob/develop/sign/src/main/java/com/itextpdf/signatures/SignatureUtil.java#L235).

[2018-12-07 15:33] Lonzak commented on #129
We use this method quite intensively to detect whether a signature form field is signed or not.
What does it do?

1. Create a list of signed signatures. The following dictionaries are checked for their existance:
- Type (/FT) of the field must be /Sig
- SignatureDictionary (/V) must be filled
- The signature value (/Contents)
- The ByteRange (/ByteRange)

2. Create a list of unsigned signatures an

[2018-12-07 15:51] andreasrosdal commented on #129
@Lonzak Thanks. Which version of OpenPDF are you using? Do you have any feedback on the latest version or requests for future versions?

[2018-12-07 15:55] pvandenbroucke commented on #129
Hello Lonzak,

Thanks for your reply. I tried to reproduce the same behavior that I have with PDFBox following this issue : https://ec.europa.eu/cefdigital/tracker/browse/DSS-1543.

I get some difficulties with this attached file and its extensions to retrieve not signed signature fields :  [unsignedPDFWithSignatureFieldButInvisible.pdf](https://github.com/LibrePDF/OpenPDF/files/2657810/unsignedPD

[2018-12-07 16:06] Lonzak commented on #129
We want to use the most current version but I didn't have the time yet to merge all our fixes in our branch into OpenPDF. This is yet on my TODO list....

[2018-12-07 16:47] andreasrosdal opened #130 "HEIC image format support"
https://en.m.wikipedia.org/wiki/High_Efficiency_Image_File_Format

for iOS.

[2018-12-10 08:10] Lonzak commented on #129
Ah ok, so the problem ist not the method itself in combination with the above pdf (because that is working). In your case you take the above PDF, sign it with DSS and then openPDF still returns the field as a blank signature? Is that what you experience?
If that is the case I would need to see the signed PDF for analysis...

[2018-12-10 08:30] pvandenbroucke commented on #129
Yes, here you have the result of the same process :
- [unsignedPDFWithSignatureFieldButInvisible-signed-pades-baseline-lta-pdfbox.pdf](https://github.com/LibrePDF/OpenPDF/files/2662170/unsignedPDFWithSignatureFieldButInvisible-signed-pades-baseline-lta-pdfbox.pdf)
- [unsignedPDFWithSignatureFieldButInvisible-signed-pades-baseline-lta-openpdf.pdf](https://github.com/LibrePDF/OpenPDF/files/2662171/u

[2018-12-12 18:04] Lonzak commented on #129
When applying getBlankSignatureNames() / getSignatureNames() on both documents I get the following results:
lta-pdfbox.pdf: 0 unsigned, 1 signed
lta-itext.pdf:  1 unsigned and 2 signed

Which is the **same** what I see in adobe when opening the signature tab. So the getBlankSignatureNames() method is not the problem here. The problem is the signing with openPDF which did not use the existing field

[2018-12-12 19:02] pvandenbroucke commented on #129
Hello Lonzak,

I did an [integration ](https://github.com/esig/dss/blob/develop/dss-pades-openpdf/src/main/java/eu/europa/esig/dss/pdf/openpdf/ITextPDFSignatureService.java) of OpenPDF in DSS. I moved the common code in dss-pades and created two implementation modules (openpdf and itext) which run the same unit tests.

IMHO, the problem is to reuse the existing hidden field. I'm able to retrieve t

[2018-12-12 20:02] Lonzak commented on #129
Great work - I like the idea to have an DSS openPDF integration!

Yes you are right! The "isInvisble" flag would cause not to enter the correct if(...) branch. The thing I am asking myself is whether it might be valid not beeing able to sign it. I checked the spec:

So only Hidden and NoView are mentioned. The Invisible flag itself is defined as follows:

So one could argue that since it is invisi

[2018-12-12 21:38] pvandenbroucke commented on #129
With the commented condition isInvisible() and some changes in DSS, I'm able to generate the following basic signature using the invisible field :
 - [unsignedPDFWithSignatureFieldButInvisible-signed-pades-baseline-b.pdf](https://github.com/LibrePDF/OpenPDF/files/2673600/unsignedPDFWithSignatureFieldButInvisible-signed-pades-baseline-b.pdf)

But I'm not able to extend it directly to LTA (FYI, the

[2018-12-13 06:55] andreasrosdal commented on #129
@pvandenbroucke Please mske sure you are using the latest version of OpenPDF. Lotsbof fixes recently.

[2018-12-13 06:59] pvandenbroucke commented on #129
@andreasrosdal I did my investigations with the current master.

[2018-12-13 07:49] Lonzak commented on #129
Some observations:
- the DSS dictionary (document security store) is missing I doubt that it is already supported by openPDF
And did in the first try the `Signature2` was added by openPDF or did you add it (manually)?

[2018-12-13 08:42] pvandenbroucke commented on #129
Yes, I know. I only uploaded the baseline profile B.

Here, you have the LT with the DSS dictionary (created and injected by the DSS framework) :
- [unsignedPDFWithSignatureFieldButInvisible-signed-pades-baseline-lt.pdf](https://github.com/LibrePDF/OpenPDF/files/2675074/unsignedPDFWithSignatureFieldButInvisible-signed-pades-baseline-lt.pdf)

The LTA requires a new invisible signature with its Filt

[2018-12-13 10:12] lapo-luchini commented on #111
This is still an issue in the recent 1.2.7 release, why was it closed?

[code]

[2018-12-13 11:37] jjkarppi commented on #106
I tested this with OpenPDF 1.2.7, and it's now fixed.

[2018-12-13 16:11] lapo-luchini commented on #111
[Maven documentation](https://maven.apache.org/enforcer/enforcer-rules/versionRanges.html) also confirms `<jdk>[1.8,</jdk>` it's an invalid range.

[2018-12-14 10:50] andreasrosdal commented on #111
Merged now. Thanks!

[2019-01-10 07:35] andob commented on #118
hello,

I am also interested in android compatibility. I want to modify this library, to replace awt with android specific code.

1. I can work on this repo on another branch; create openpdf-awt, openpdf-android modules, in openpdf module we would have abstract classes without graphics logic (ie AbstractImage instead of Image). In openpdf-awt module I would pull awt logic from the base module (ie

[2019-01-10 08:07] Daniele-Comi commented on #118
@andob Well yeah that would be great, I thought to do it myself after asking for compatibility but I later realized I have already too much work to do at college.

However I resolved this missing compatibility by bypassing it : deployed a Servlet on AWS' Elastic Beanstalk using Apache Tomcat and then getting via HTTP response the processed PDF in the Android app

Yeah that's quite a trip, so I hop

[2019-01-14 15:28] sjalouali opened #133 "Since 1.2.0 loading Image with path/URL is not working"
Hi,

Since  1.2.0 loading Image with path/URL is not working.

For exemple :
<img width="822" alt="capture d ecran 2019-01-14 a 15 13 16" src="https://user-images.githubusercontent.com/12748603/51117775-0214bb80-180f-11e9-8425-5af89b358093.png">

This code return this (in 1.1.0 version):

<img width="709" alt="capture d ecran 2019-01-14 a 14 53 50" src="https://user-images.githubusercontent.com/12

[2019-01-15 04:58] andreasrosdal commented on #133
Thanks. Pull-requests welcome.

[2019-01-15 11:08] tekurusu opened #135 "Root object is missing or invalid"
There seems to be a bug with recompiling some pdfs: after just using PdfReader and writing with PdfStamper, opening the resulting output in Adobe reader outputs "There was an error opening this document. The root object is missing or invalid."

Checking the resulting file, the root object was referencing a non-existent object in the pdf. Checked and it might be because the original pdf had three C

[2019-01-16 04:13] #133 closed

[2019-01-16 06:40] andreasrosdal opened #137 "OpenJDK 11 and 12 build error"
https://travis-ci.org/LibrePDF/OpenPDF/jobs/480234424

Building index for all the packages and classes...
Generating /home/travis/build/LibrePDF/OpenPDF/openpdf/target/apidocs/overview-tree.html...
Generating /home/travis/build/LibrePDF/OpenPDF/openpdf/target/apidocs/deprecated-list.html...
Building index for all classes...
Generating /home/travis/build/LibrePDF/OpenPDF/openpdf/target/apidocs/inde

[2019-01-16 06:43] andreasrosdal commented on #133
Please test OpenPDF 1.2.9 to see if this had been fixed. Thanks.

[2019-01-16 07:12] andreasrosdal commented on #118
@andob Seems like a good plan. Perhaps you could start with 2 (the fork), and when you have something working, then you could host the repo on https://github.com/LibrePDF ?

[2019-01-16 10:02] sjalouali commented on #133
Thanks, it works perfectly !

[2019-01-16 15:53] rtfarte opened #139 "Modernization efforts"
- Add generics
- Add try-with-resource options
- Maintain backwards compatibility

[2019-01-23 02:10] andreasrosdal commented on #135
Are you still highly doubtful that this is a viable fix? Why should it be accepted then?

[2019-01-23 12:58] fvbassi commented on #139
I also would like to have the library update to be type safe and use all the "modern" features of Java 8.
**I volunteer to update the project to use the aforementioned features, if needed.**

This will very likely break the current interface, because lots of non-typed parameters in the interface are exposed in the public API.
Is there a specific branch I should start from? (Maybe a 1.4.x version)

[2019-01-23 15:03] andreasrosdal commented on #139
Pull-requests to modernize OpenPDF is very welcome!

We can not break the current interface (API) of OpenPDF. The project currently has a goal to be compatible with iText 2.x and 4.x. We can add new classes, but not break the current API now.

[2019-01-23 20:41] andreasrosdal commented on #129
Closing this now. Please submit a new issue if there are further questions.

[2019-01-23 20:41] #129 closed

[2019-01-24 13:41] andreasrosdal commented on #139
@fvbassi Yes, I think changing public methods in ways so that it will still work for existing users should be possible. This doesn't break the API, since the users of the getChunks() are expecting an ArrayList with Chunk objects. Just make sure that OpenPDF will still work for existing users. I think we need the opinions of many other OpenPDF developers and users of OpenPDF before making such chan

[2019-01-24 16:06] rtfarte commented on #139
One possible solutions would be to create new, generic-enabled classes that extend the functionality. Another possibility could be to add new methods that accept generics.

I _believe_ that returning generics on existing classes is acceptable. Is the only concern for methods that accept a generic list or updating a class to be generic?

I also think that adding try-with-resource should not affect

[2019-01-25 04:09] andreasrosdal commented on #139
Let's start with this. Pull-requests are welcome!

[2019-01-25 09:04] andreasrosdal opened #144 "Help other project upgrade from iText 2.x to OpenPDF"
This issue is about helping other open source projects migrating from iText 2.x to OpenPDF, so they can continue using the maintained LGPL/MPL version.

https://github.com/TIBCOSoftware/jasperreports/issues/17
https://github.com/javamelody/javamelody/issues/788
https://github.com/flyingsaucerproject/flyingsaucer/pull/123

There are other projects here as well:  https://mvnrepository.com/artifact/c

[2019-01-25 15:55] andreasrosdal opened #145 "Help other projects upgrade from iText 2.x to OpenPDF"
This issue is about helping other open source projects migrating from iText 2.x to OpenPDF, so they can continue using the maintained LGPL/MPL version.

https://github.com/TIBCOSoftware/jasperreports/issues/17
https://github.com/javamelody/javamelody/issues/788
https://github.com/flyingsaucerproject/flyingsaucer/pull/123

Atlassian Confluence:  https://jira.atlassian.com/browse/CONFSERVER-55407

T

[2019-01-25 15:55] #144 closed

[2019-01-26 07:26] andreasrosdalw opened #146 "Maintain Java 7 branch"
A Java 7 branch of OpenPDF has been requested multiple times, so it is something some users want. Such a Java 7 branch has been maintained in the past. However, I deleted the old Java 7 branch because of the workload required to maintain it.

I have now created a new Java 7 branch. Pull-requests welcome.

I suggest you try one of these two releases of OpenPDF for Java 7 support:
https://github.com

[2019-01-26 08:19] Kh4n opened #147 "How to edit text on a page"
Is it possible to edit the text (not AcroForm data) of a PDF with OpenPDF? I have been trying to see ways to do it in the docs, but all I can do so far is parse the document.

[2019-01-26 12:14] andreasrosdal commented on #147
https://medium.com/@sampathsl/changing-the-existing-text-in-a-pdf-d82a16219c5c

[2019-01-26 22:40] Kh4n commented on #147
Ok I can see how it is done. A few questions:
1. I see that it is replacing the actual contents stream, and not modifying some sort of object. This means that whenever text is split up (eg. `[(Com)1.4 (put)-2 (e)0.6 (r)] TJ`) I have to manually change each segment. Is there a built-in way to handle this or do I just write it myself?
2. Where are most of the iText tutorials? Many are gone from the

[2019-01-27 06:59] andreasrosdal commented on #147
There are at least two ways you could find the answer to this: hope that someone here happens to know the answer, OR you could put in the mental effort yourself to find the solution, and share the answers here. I dont know the answers, and this is a volunteer based community project. Good luck.

[2019-01-27 09:07] Kh4n commented on #147
I suppose. Thanks for the help.

[2019-01-27 09:07] #147 closed

[2019-01-28 08:21] szahariev commented on #71
I have a similar issue. I've created a PDF with Inter UI otf fonts and it looks perfect, but if you print it, it prints very badly (nothing could be read). If you however set `subset` to false it prints OK, but it is 4 times the original size.

[2019-02-01 05:20] rtfarte commented on #107
This appears to be working as designed. If you want to have a separate style applied, add a new Phrase with its own font to the document immediately after the first phrase. Something like:
`
            document.add(new Phrase("First text", headerFont));
            document.add(new Phrase(" - Second text", headerItalicFont));
`
Hopefully this helps!

[2019-02-02 20:55] andreasrosdal commented on #107
Can we close this bug? @jjkarppi

[2019-02-02 20:55] andreasrosdal commented on #71
Pull-requests welcome

[2019-02-05 13:54] #137 closed

[2019-02-05 16:45] MBurchard opened #148 "How to use Tabs and set Spasing of Tabs"
Hello,
I found several hits for iText on how to work with tabs and how to influence the size of those tabs.
Unfortunately I couldn't find a way for OpenPDF.
Aren't tabs fully supported?
Regards

[2019-02-05 17:01] andreasrosdal commented on #148
What do you specifically want to do?

Have you checked the JavaDoc? https://librepdf.github.io/OpenPDF/docs-1-2-7/?

Which class is relevant for your use? How can we improve this class?

OpenPDF is a community-driven project. Pull-requests welcome!

[2019-02-06 08:02] MBurchard commented on #148
I want to use tabs in a paragraph and those tabs should have a width of x.

Of course, I especially checked the classes Paragraph, Phrase and Chunk. I searched all over for the class TabbedChunk and the method setTabSettings.

I think one should configure tabs on the Paragraph class, or may be on the Phrase class.
First, there could be a default spacing if there is no definition. This could be abo

[2019-02-06 12:09] GitMensch opened #149 "examples reference itextdocs.lowagie.com"
See https://github.com/LibrePDF/OpenPDF/search?q=itextdocs.lowagie.com&unscoped_q=itextdocs.lowagie.com

I suggest to either replace it by:

* "was part of the 'iText tutorial' which you can find archived at http://web.archive.org/web/20090703162811/http://itextdocs.lowagie.com/tutorial"
* preferably: replace by a link to a new tutorial

[2019-02-06 12:13] GitMensch opened #150 "remove fork status"
While there is no direct option to do this (that I'm aware of) you can write a request to the [GitHub spport](https://github.com/contact) stating that this is the active repository and they will remove the fork status.

[2019-02-06 12:15] GitMensch commented on #61
See #149 for an archived version of the old tutorial.

[2019-02-06 12:38] GitMensch opened #151 "Question/FR: Extract thumbnail"
Is it possible to extract embedded thumbnails from PDF files (for the complete file / per page) or generate thumbnails?

[2019-02-06 13:08] andreasrosdal commented on #149
Pull-requests welcome

[2019-02-06 14:29] GitMensch commented on #149
I may find some time in the next 3 weeks to PR a change of all those occurrences to change the reference if you want me to.

So, are you fine with the following?

[code]

and

[code]

[2019-02-06 19:21] andreasrosdal commented on #149
Seems good. Thanks.

[2019-02-06 19:22] andreasrosdal commented on #149
If you want to write a tutorial, that would be even better.

[2019-02-06 20:15] andreasrosdal commented on #150
I think I'll close this.

[2019-02-06 20:15] #150 closed

[2019-02-08 06:32] andreasrosdal opened #152 "Maintain Tutorial on Wiki"
A tutorial for OpenPDF can be maintained here on the Wiki:
https://github.com/LibrePDF/OpenPDF/wiki/Tutorial

These are some sources for information about how to create such a tutorial:
https://github.com/ymasory/iText-4.2.0/tree/master/www/tutorial
http://web.archive.org/web/20090703162811/http://itextdocs.lowagie.com/tutorial/
#149 and #61.

[2019-02-08 06:49] andreasrosdal commented on #149
Please submit a pull-request to link here instead:  https://github.com/LibrePDF/OpenPDF/wiki/Tutorial

[2019-02-08 07:34] andreasrosdal commented on #149
Fixed in https://github.com/LibrePDF/OpenPDF/commit/33a64afb63177463229c4289358e048b7bd95487

[2019-02-08 07:34] #149 closed

[2019-02-08 07:34] andreasrosdal commented on #61
Closing as duplicate of #152. Please contribute to the wiki manual.

[2019-02-08 07:34] #61 closed

[2019-02-11 13:14] GitMensch commented on #151
If this is not possible I'd also would like to find a minimal alternative in Java (the current one is to use Apache PDFBox [which also needs Apache TextBox], but it is a lot of stuff and a duplicated PDF toolkit for just creating a thumbnail).

[2019-02-11 13:25] jjkarppi commented on #107
If it is working as designed, then why was the design changed from iText 2.1.7, thus making it harder to move to OpenPDF?

In my case I am writing text into a table cell, so I can't use document.add() as rtfarte suggested. There is a corresponding method for PdfPCell as well, addElement(), but it doesn't work correctly for my case. For some reason addElement() adds a line break between the texts a

[2019-02-12 05:05] andreasrosdal commented on #151
This csn be done using OpenPDF and Flyingsaucer, I would think.

[2019-02-12 06:40] GitMensch commented on #151
Thank you for the note, but according to its docs http://flyingsaucerproject.github.ioi it can't process PDF - or did you meant to generate HTML + CSS from the PDF with OpenPDF first (if yes, how)?

[2019-02-12 10:52] andreasrosdal commented on #151
You're right. You would probably need a PDF-renderer for this to work, something like Acrobat Reader, buy a libraru. So it is not possible. Closing.

[2019-02-12 10:52] #151 closed

[2019-02-13 08:23] GitMensch commented on #150
Can you please elaborate? Do you want to PR the changes of this "fork" back to rtfarte or the other way around and/or tell people to better fork from rtfarte and PR there instead of here?
Those are actually the main purposes of the GitHub fork status... You may want to have a look at [About forks][1]. They also have some features missing thought the most important (search) is working, but only [be

[2019-02-14 13:10] andreasrosdal opened #154 "Build issue on OpenJDK 12"
https://travis-ci.org/LibrePDF/OpenPDF/jobs/493210463

[INFO] Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0 s - in com.lowagie.text.pdf.GlyphListTest
[INFO] Running com.lowagie.text.pdf.PdfNameTreeTest
[INFO] Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0 s - in com.lowagie.text.pdf.PdfNameTreeTest
[INFO] Running com.lowagie.text.pdf.core.document.PdfCrossRef

[2019-02-15 10:43] andreasrosdal commented on #139
@fvbassi I've seen that you have done a lot of good work in your own fork on the modernization of OpenPDF. Perhaps you could submit a pull-request soon, so we can include your changes?

[2019-02-15 11:37] fvbassi commented on #139
Let me have a bit more time to cleanup few details... I don't feel
comfortable with a couple of things.

And I also want to do some testing.

–fb

Il giorno ven 15 feb 2019, 11:43 AM Andreas Rosdal <notifications@github.com>
ha scritto:

[2019-02-20 08:43] andreasrosdal commented on #107
Thanks for the bugreport. Pull-requests welcome!

[2019-02-26 06:26] andreasrosdal commented on #139
@fvbassi Any news?

[2019-02-26 09:45] fvbassi commented on #139
Sorry... You are right. Let me open a PR for these changes.
I will fix other things in a subsequent one: unfortunately in these week I
can't work on it.
I will highlight in the PR a couple of problems that are hard to solve
without breaking the API:

* the class Phrase (and another one that I can't remember), used to extend
ArrayList (as a contained of the children elements).
This is mostly imposs

[2019-03-04 06:38] andreasrosdal commented on #139
@fvbassi Any news?

[2019-03-04 09:06] fvbassi commented on #139
I should have already created one, last week. Let me check...

Il lun 4 mar 2019, 7:38 AM Andreas Rosdal <notifications@github.com> ha
scritto:

[2019-03-04 09:30] fvbassi commented on #139
I did that against a wrong branch. Sorry. I recreated a new one.
Sorry for the delay.

It's a big change. Feel free to merge it into a separate branch, if you
want, for further tests.

On Mon, Mar 4, 2019 at 10:06 AM Francesco Bassi <fvbassi@gmail.com> wrote:

[2019-03-06 08:39] GitMensch opened #156 "invalid pdf generation (can only be opened with some PDF renders)"
Firefox shows an empty page, AcrobatReader says:

[code]

Sample code reproducing the issue:

[code]

The main question: Should an error be raised somewhere as OpenPDF was used "wrong" = please handle it as Feature Request to do so (I'd like to know if someone spots what is missing); or is OpenPDF just generating a bad PDF and needs a fix = please handle it as bug report (I'd like to know if someo

[2019-03-06 10:09] GitMensch commented on #156
After some additional checks: the hidden problem is that `pdfWriter.close();` is breaking everything. I've gave this a short try but did not found a way to raise a RuntimeException there but assume this would be the correct thing to do.

Workaround: don't use `pdfWriter.close();`.

[2019-03-06 10:43] GitMensch commented on #156
Side question: Wouldn't it be reasonable to provide the createPDF code from https://github.com/LibrePDF/OpenPDF/blob/master/openpdf/src/test/java/com/lowagie/text/pdf/PdfTestBase.java as a static function in Document or PdfWriter (maybe with an optional PageSize parameter)?

[2019-03-06 16:24] beat2 opened #158 "signature wrapping attack"
iText 2.1.7 and OpenPDF too is affected by a signature wrapping attack. (For details see https://pdf-insecurity.org/).

Problem:
OpenPDF just uses the last part of the ByteRange to calculate the length a signature.

Proposed solution:
Instead one should take the length of all parts (first signed part, unsigned part which must contain only the signature, and the second signed part).

See: AcroField

[2019-03-06 21:01] noavarice commented on #118
@andob  @Daniele-Comi @andreasrosdal
AFAIU there's no specific need to use AWT in the library - there is just a need to specify a font color, so developers have decided to use AWT `Color`. So I guess it's just should be replaced with custom way to specify color to avoid pulling whole AWT JDK module which is completely redundant.

[2019-03-07 05:26] andreasrosdal commented on #158
Thanks, pull requests are welcome.

[2019-03-08 08:49] beat2 opened #160 "acroFields.verifySignature throws ClassCastException"
This is most probably an issue since the upgrade of BouncyCastle.

    PdfPKCS7 pdfPkcs7 = fields.verifySignature(signName);

Results in

[code]
Somewhat unrelated, does anybody have a code style formatter for eclipse?

[2019-03-08 09:42] andreasrosdal commented on #160
Thanks!

[2019-03-08 09:42] #160 closed

[2019-03-08 10:37] #158 closed

[2019-03-08 13:17] andreasrosdal commented on #158
@beat2 @rtfarte  Do you think OpenPDF is ready for a new release now, where this signature wrapping attack is fully fixed?

[2019-03-08 13:33] beat2 commented on #158
That's ok for me. I will provide one more PR for a "feature" maybe next week, but this is not related to security. (Support for embedding both CRL and OCSP information, that means a mix of the two).

[2019-03-09 21:06] andreasrosdal commented on #118
@noavarice How do you suggest we handle this, adding Android support, and not breaking the existing API?

[2019-03-11 02:30] srbala commented on #145
flyingsaucer project already has openpdf profile  https://mvnrepository.com/artifact/org.xhtmlrenderer/flying-saucer-pdf-openpdf

https://github.com/nuxeo/nuxeo-signature already using openpdf

[2019-03-11 02:34] srbala commented on #86
Project https://github.com/nuxeo/nuxeo-signature already using openpdf, it's LGPL. Is there anything from that project can be used here?

[2019-03-11 06:51] andreasrosdal commented on #86
Search for OpenPDF on the DSS ec.europa.eu page for more info:
https://ec.europa.eu/cefdigital/DSS/webapp-demo/doc/dss-documentation.html

[2019-03-19 19:56] mkl-public commented on #156
You shall never use `pdfWriter.close()` anyways.

The design here is that `pdfWriter` is created as an (indirect) multiple event listener of `doc`, in particular the `close` call is forwarded from `doc` to `pdfWriter` _after some finishing pieces have been sent to `pdfWriter`_. Thus, if you close `pdfWriter` before `doc` is closed, your result PDF is unfinished; and during a successful `doc.close(

[2019-03-19 20:20] mkl-public commented on #160
The method `getObject` already is defined in the common parent class `ASN1TaggedObject` of `BERTaggedObject` and `DERTaggedObject`.

Thus, the simpler fix would have been to cast to `ASN1TaggedObject` instead of sometimes `BERTaggedObject` and sometimes `DERTaggedObject`.

[2019-03-19 21:47] GitMensch commented on #156
I see. Ideally the visibility would be changed to prevent errors like these during coding - or - if this isn't possible/exceptable a RuntimeCheck thrown if the caller wasn't `doc`.

What do you think?

[2019-03-19 22:10] mkl-public commented on #156
`PdfWriter.close()` overrides a parent class method and eventually implements an interface method. Thus, visibility changes hardly will be possible.

Strictly speaking the forwarding is indirect, between `Document` and `PdfWriter` there is a `PdfDocument`. Furthermore, many people close the `PdfWriter` _after_ closing the `Document`. This is not bad (duplicate closes are ignored), so this should r

[2019-03-25 03:06] TonyLuo opened #164 "issue occurs randomly: The page 2 was requested but the document has only 1 pages"
I work with openPDF using flying-saucer-pdf-openpdf to generate pdf, following issue occurs  randomly . the input data is the same, but sometimes it works well, sometimes it goes wrong, no idea what happened.
[code]

[code]
[code]

[2019-03-27 08:19] andreasrosdal commented on #164
@TonyLuo Can you please provide enough code and example input documents to reproduce this problem?
If you want, you can e-mail me the code, if you don't want it public.

[2019-03-27 09:10] andreasrosdal commented on #154
OpenJDK 12 now works.

[2019-03-27 09:10] #154 closed

[2019-03-27 10:24] TonyLuo commented on #164
sure.  this problem doesn't happen always, it just sometimes happens.
[source.zip](https://github.com/LibrePDF/OpenPDF/files/3012639/source.zip)

 String reportContent = templateService.processThymeleafTemplateIntoString(reportTemplateName, context);
the reportContent string has been printed as reportContent.html in attachment pdfService_code.zip

[2019-03-27 10:33] TonyLuo commented on #164
this is the font used in the pdfService.java
[FangSong.ttf.zip](https://github.com/LibrePDF/OpenPDF/files/3012673/FangSong.ttf.zip)

[2019-04-01 07:46] niosdeveloper opened #167 "com.lowagie.text.pdf.ExtendedColo Class not found issue"
re-init on previously-failed class java.lang.Class<com.lowagie.text.pdf.ExtendedColor>: java.lang.NoClassDefFoundError: Failed resolution of: Ljava/awt/Color;

[2019-04-02 09:14] andreasrosdal commented on #167
Hello @niosdeveloper  Can you please give us more information?
How do you get this error? Share some source code, please.

[2019-04-02 09:19] andreasrosdal commented on #139
@fvbassi  Any news on this? Thanks for your efforts so far.

[2019-04-02 09:32] niosdeveloper commented on #167
Hello @andreasrosdal Thank you for your response.

App.gradle
-  minSdkVersion 19
dependencies{
    implementation 'com.github.librepdf:pdf-html:1.2.11'
}

Rectangle.Java-> **java.awt.Color**-> Cannot resolve symbol `Color`
![image](https://user-images.githubusercontent.com/25150469/55392017-163b9f80-5558-11e9-8ae7-31fad4cd0496.png)

[2019-04-02 10:14] andreasrosdal commented on #167
Is this on Android?

[2019-04-02 10:17] niosdeveloper commented on #167
Yes

[2019-04-02 10:19] andreasrosdal commented on #167
OpenPDF doesn't support Android yet. Please see this:  https://github.com/LibrePDF/OpenPDF/issues/118

[2019-04-02 10:19] #167 closed

[2019-04-02 10:30] niosdeveloper commented on #167
@andreasrosdal Can you help me to find best PDF print lib for android.

[2019-04-02 10:52] SuperPat45 opened #168 "Make RandomAccessFileOrArray to search in all registered directories"
Using JasperReports with OpenPDF, I can not generate PDF report with embedded arial font:

I notice, in the constructor of the com.lowagie.text.Document.RandomAccessFileOrArray class, the line:
`File file = new File(filename);`
fileName is in my case "arialbd.ttf" and not the full path name?
So It search in the current directory...

Before generating the jasper report, I call this line:
`FontFacto

[2019-04-02 10:58] andreasrosdal commented on #168
@SuperPat45 Thanks for reporting this. Pull-requests welcome!

[2019-04-02 13:36] JMiquelGarcia opened #171 "NullPointerException when using otf font type non CID"
The font Naste is a otf font with non CID.

When using this font the is a NullPointerException in CFFontSubSet class.
The function CreateNonCIDSubrs must be protected from NPE.

[code]

[2019-04-02 13:48] SuperPat45 commented on #168
Done

[2019-04-02 14:18] #168 closed

[2019-04-02 14:19] andreasrosdal commented on #168
Thanks!

[2019-04-02 14:23] andreasrosdal commented on #171
Thanks for reporting this! Pull-requests welcome!

[2019-04-03 06:23] andreasrosdal commented on #171
Fixed in https://github.com/LibrePDF/OpenPDF/commit/d3a03936972b7dfb1b5dfc8fa3c62f9c799a0eed

[2019-04-03 06:23] #171 closed

[2019-04-03 08:55] max-faupel opened #175 "custom image bullet point not showing in list"
I want to set custom bullet points created from an image in a list. I tried different code examples from the internet but the bullet points are not visible. I am not sure if it is a bug but I think so.
[code]

[2019-04-03 11:29] andreasrosdal commented on #175
Thanks for reporting this. Pull-requests welcome!

@max-faupel Perhaps you can try to fix this yourself?

[2019-04-03 18:42] GitMensch commented on #60
To create a back-reference: https://github.com/rtfarte/OpenPDF/pull/22 (it seems the PR never contained any change to the tokenizer, just pull the changes from this repo).

To extend what @tlxtellef said: the manual goes on with saying that if a newer version than 1.2 is used an entry in the FDF *catalog* (not header) should be made (page 714):

[2019-04-04 08:34] ConcidentiallyMan commented on #164
Did u resolved this problem? I'm facing it right now..

[2019-04-04 09:12] max-faupel commented on #175
Hi Andreas,
I debugged the program and found out that the image should be displayed. After moving it a little bit down it became visible.
[code]
So it seems like an overlapping problem but I don't know how to fix it.

[2019-04-04 10:25] TonyLuo commented on #164
not yet...
this issue happens randomly, very difficult to trace the cause

[2019-04-10 06:47] andreasrosdal commented on #164
If you are able to reproduce, please post more information here. A pull-request to fix this would be awesome.

[2019-04-13 22:31] Kindrat commented on #175
For some reason current implementation allows only 3px of height. With -3 offset and 6px scale condition is passed.

com/lowagie/text/pdf/ColumnText.java:864
[code]
yLine == 790
minY == 787
maxY == 790
currentLeading ==3 for `-3` offset and `6` without offset

Will try find out why there is only 3px window in this case

[2019-04-15 09:44] peterm0x commented on #164
ITextRenderer is not thread safe, are you sure that you are not reusing the same instance across different threads (e.g. via Async annotated method calls) ?

[2019-04-15 14:13] TonyLuo commented on #164
I use Async annotated method calls, but generate pdf inside synchronized  block.
[code]

[2019-04-17 07:42] tabibite opened #181 "PDF-UA AccessibilityProperties for building a tag-tree"
I would like to create a tagged PDF and there I need to build a tag-tree. Is it possible with OpenPDF?

[2019-04-17 13:35] Javilete commented on #119
Hello, I am using the pdfTextExtractor and I am experiencing the same as there are two spaces between spaces. Is the issue being worked on o it is not a priority? Thank you in advance.

[2019-04-18 04:06] daviddurand commented on #119
I looked at my git repo, and I see that I made a fix to this, which has never been pushed. The modified version will no longer add spaces to any text object that contains spaces.

I'm afraid it will need some work, as I haven't rebased against master in quite a while. I will try to put in a little time in on this in the next month, and get it posted.

The extra spaces will not exist in some files,

[2019-04-18 13:53] TonyLuo commented on #164
one more thing: when this issue happens, I restart the server, it will become normal .....

[2019-04-18 17:57] wil-everlaw opened #182 "Add support for very large PDF files"
https://itextpdf.com/en/resources/faq/technical-support/itext-5-legacy/what-size-limit-pdf-file

It looks like OpenPDF is forked from a version of iText before they made the change from int byte offsets to long byte offsets, which allows the library to work with PDFs greater than 2GB.  We sometimes run into situations where we need to write PDFs larger than that size.  Is this a problem that has b

[2019-04-19 03:47] andreasrosdal commented on #182
I think the 2gb limitation is still in OpenPDF. Pull requests welcome.

[2019-04-21 02:41] TonyLuo commented on #164
I replace openPDF with itext5, everything goes well...

[2019-04-21 21:43] Kindrat commented on #175
Who knows what's the reason for setting those limits?
[code]

[2019-04-22 10:39] andreasrosdal commented on #182
This is relevant: https://github.com/itext/itextpdf/commit/e8425d367633fba3d86db3c52fca063695e5b497

[2019-04-22 10:40] andreasrosdal commented on #182
@wil-everlaw Can you please submit enough information to reproduce this problem?

[2019-04-22 23:14] wil-everlaw commented on #182
@andreasrosdal From what I understand in terms of reproducing this issue, attempting to generate a PDF with size greater than 2GB using PdfWriter will result in a PDF with broken xrefs due to integer overflow.

[2019-04-23 19:13] andreasrosdal commented on #164
@pbrant Can you help us with this?

[2019-04-24 01:16] TonyLuo commented on #164
after running for days, itext5 also has such issue...

[2019-04-24 11:54] pbrant commented on #164
It might be the same problem as
https://github.com/flyingsaucerproject/flyingsaucer/pull/159

Generally speaking, it's probably safest to only use a particular instance
of ITextRenderer only once. It does maintain a certain amount of internal
state. It should work to re-use though too (barring bugs like in PR 159
above).

On Wed, Apr 24, 2019 at 3:16 AM Tony <notifications@github.com> wrote:

[2019-04-25 06:52] andreasrosdal commented on #182
This Java code allows creating a PDF file which is 12GB.

So I assume that this 2GB limit is related to using "cross-reference streams" in PDF versions 1.5? How do I enable cross-reference streams?

[code]

@wil-everlaw How do I reproduce the problem you are having?

[2019-04-25 07:56] andreasrosdal commented on #182
I have just tested writing a new PDF of 13 GB, and that works correctly.

In order to read PDF files larger than 2GB, RandomAccessFileOrArray needs to be updated,
and the xref logic needs to be updated to use long instead of int.

[2019-04-25 08:32] andreasrosdal commented on #182
I added a test for large PDF files here: https://github.com/LibrePDF/OpenPDF/commit/c77a03bec1fb766438ee1534de68d11687c93910

[2019-04-26 05:29] andreasrosdal commented on #175
I don't know. Maybe we can make them configurable? What does iText do?

[2019-04-26 07:37] andreasrosdal commented on #164
I added a comment to the code about this issue here:
https://github.com/LibrePDF/OpenPDF/commit/c579d91857718e878e0a3820dda7dd164449dbf9

[2019-04-26 07:37] #164 closed

[2019-04-26 07:59] andreasrosdal opened #183 "Add Image rendering callback"
A OpenPDF user has requested support for an Image rendering callback function.

"I've been trying to migrate from iText v5.5.11(License version) library to OpenPDF v1.2.8(Open Source) library.I think that both are having similar functionalities. But,the renderImage function from iText library is missing in OpenPDF library and I'm in need of an alternative function in OpenPDF library" Source:  http

[2019-04-26 09:16] andreasrosdal commented on #182
2GB should be enough for anyone.

[2019-04-26 12:07] venkattarigopula commented on #36
Hi all,
The same issue I am getting with Telugu ( India ) language like pointed by @asturio of two characters not mixing to have proper diacritic. The solutions suggested by @rntrp is not solving. As @asturio said about using the right font, I think that is not the issue in my case. Please let me explain.

If the combined string of the two characters ( \u0C2D \u0C4B ) are displaying properly in th

[2019-04-26 19:17] wil-everlaw commented on #182
We often run into extremely large document image files that are provided to us by users that need to be converted to PDF in certain use cases.  These can exceed 2GB.  As much as I agree that that is an absurd size for a PDF, it does happen.

[2019-05-02 06:24] ctolkmit opened #184 "Automatic-Module Names broken for certain JARs"
pdf-html-1.2.16.jar specifies Automatic-Module-Name: com.github.librepdf.pdf-html
pdf-xml-1.2.16.jar specifies Automatic-Module-Name: com.github.librepdf.pdf-xml

As Module-Names are PackageOrTypeNames, the allowed characters in are strictly limited to those in Identifiers and "." (dot) as Separator. (ref. Section 3.8 of Java Specification).
Thus, using a dash ("-") in the name is explicitely forb

[2019-05-02 06:26] ctolkmit opened #185 "Module / Split Package Issue with pdf-xml"
Both the JAR pdf-xml and  openpdf contain a package com.lowagie.text.pdf and com.lowagie.text.xml
This is not allowed in a modular/jigsaw context, unless you use the strongly discouraged patching mechanisms.

[2019-05-03 05:58] andreasrosdal commented on #184
Fixed in https://github.com/LibrePDF/OpenPDF/commit/aef1d4966b11da93493a7b7e696445d16f34414e

Thanks for reporting this. Can you please verify that the solution solved your problem?

[2019-05-03 05:58] #184 closed

[2019-05-03 06:06] ctolkmit commented on #184
@andreasrosdal The generated artifacts (jars/modules) look fine now. Sadly, unless #185 is fixed as well, I cannot test this in my code.
As a workaround, I am currently building a shadow-jar that contains all my needed OpenPDF-Classes and writes an own manifest.

[2019-05-03 06:18] andreasrosdal commented on #185
How do you propose we fix this, without breaking the exisiting API?
Merge pdf-xml into openpdf?

[2019-05-03 06:40] ctolkmit commented on #185
You could in theory merge all jars that contain the same package into one. (I think, there is the same issue
Then you would only have a single module (Sadly, you cannot have multiple Modules in a single JAR) and thus only a single module name.

There are other occurrences of the same problem in the project, as I see:

I use the following command to find the packages used by each jar/module and ins

[2019-05-03 10:21] andreasrosdal commented on #185
@daviddurand @rtfarte @asturio @albfernandez What do you think of this?

[2019-05-03 10:46] andreasrosdal opened #186 "Help people with OpenPDF on Stackoverflow"
Help people with OpenPDF on Stackoverflow:
https://stackoverflow.com/questions/tagged/openpdf

[2019-05-03 12:32] Lonzak commented on #186
I am already watching the tag and already answered :-)

[2019-05-03 12:37] andreasrosdal commented on #185
There is a proposal to fix this here:  https://github.com/LibrePDF/OpenPDF/pull/187

[2019-05-03 23:36] andreasrosdal commented on #185
@Lonzak

[2019-05-06 06:07] #185 closed

[2019-05-06 06:08] andreasrosdal commented on #185
@ctolkmit Can you please verify that this is working as you expect now?

[2019-05-06 06:32] ctolkmit commented on #185
@andreasrosdal With openpdf-1.2.17-SNAPSHOT built from the current master, everything is fine in my build/runtime now

[2019-05-06 14:24] luberti opened #188 "Java 7"
I see in github that there is a java7 branch.
How is that stable?
Ar there jar files available?

Thanks for your work and
thanks in advance your answer

[2019-05-07 07:19] andreasrosdal commented on #188
I suggest you try one of these two releases of OpenPDF for Java 7 support:
https://github.com/LibrePDF/OpenPDF/releases/tag/1.2.3.java7
https://github.com/LibrePDF/OpenPDF/releases/tag/1.0.5

The Java 7 branch is currently unmaintained. See issue #146.

[2019-05-07 07:19] #188 closed

[2019-05-07 10:56] andreasrosdal commented on #188
@luberti I could add support for Java 7 again, and maintain the Java 7 branch, for a fee where your company pays me to do the development work. Contact me if this is of interest to you.

[2019-05-09 12:32] #186 closed

[2019-06-04 02:09] wil-everlaw commented on #182
@andreasrosdal Closing this now that a pr has been merged.  Thank you for your help.

[2019-06-04 02:09] #182 closed

[2019-06-05 16:59] Kindrat commented on #183
There is note in iText `we don't call invokeOperator for embedded images - this is one area of the PDF spec that is particularly nasty and inconsistent`. For inline images they do not call operator to draw, rather this callback only.

I think that is a major change to existing pdf processing, as it differs much from what is in iText. How much can we copy/move from their codebase?

**com.itextpdf.t

[2019-06-05 17:08] Kindrat commented on #183
Ok, actually we cam mimic same behaviour by changing only `private class Do implements ContentOperator` in `PdfContentStreamHandler`.

[2019-06-06 17:57] andreasrosdal commented on #183
@Kindrat Thanks for looking at this. Remember, all contributions to OpenPDF must be developed independently, and must not be copied from other projects.

[2019-06-06 19:03] Kindrat commented on #183
yeah, but in this case entrypoint would be exactly the same, however processing and callback signature would be different as in iText they introduced lots of new entities to work with these callbacks.

we can expose similar callback with same info but different representation

[2019-06-10 17:51] andreasrosdal commented on #183
Good plan. Pull requests welcome

[2019-06-13 16:05] andreasrosdal opened #193 "Warnings compiling OpenPDF"
[WARNING] /C:/git/OpenPDF/openpdf/src/main/java/com/lowagie/text/pdf/PdfReader.java:[2760,17] unchecked call to putAll(java.util.Map<? extends K,? extends V>) as a member of the raw type java                                         .util.HashMap
[WARNING] /C:/git/OpenPDF/openpdf/src/main/java/com/lowagie/text/pdf/PdfReader.java:[2799,26] unchecked call to put(K,V) as a member of the raw type java.

[2019-06-15 13:59] karishmapujara commented on #118
Hello @andob @Daniele-Comi @andreasrosdal
Any news on Android support?

[2019-06-18 16:22] andreasrosdal commented on #118
@karishmapujara  Pull requests welcome.

[2019-06-22 20:11] asturio commented on #33
Added https://github.com/LibrePDF/OpenPDF/pull/194

[2019-06-22 20:11] #33 closed

[2019-06-26 17:07] bitkorn opened #196 "Unbalanced save/restore state operators (in example PageNumbersWatermark)"
The example throw an IllegalPdfSyntaxException:

[code]

I am new to OpenPDF and can not debug this error.

My search in the www shows me that this is a very old bug from iText.

Can someone help me to learn?

[2019-07-01 11:57] tipenull opened #197 "Try-with-resources not working properly"
We recently updated some of our code using OpenPDF to managing AutoClosable resources with try-with-resources.

In this case a PdfWriter is created for a Document, both of which are managed using try-with-resources. However, closing the PdfWriter before the Document seems to cause a problem.

Is this setup not working properly with try-with-resources deliberate?

This is the (not exactly expressiv

[2019-07-03 04:14] andreasrosdal commented on #197
@wiktor-k

[2019-07-03 08:28] wiktor-k commented on #197
To be honest I've seen this exception before and I had a couple of ideas where to fix it but ultimately I wasn't sure which one is the best (good?) approach.

The issue stems from intricate interactions of PdfWriter/DocWriter/Document closing themselves.

I attached a PR that just checks if a Document object is closed and if so does nothing. That fixes the small repro code I've added.

It would be

[2019-07-03 16:46] #197 closed

[2019-07-07 07:27] sixdouglas commented on #193
Hello,
I'm working on this issue, if it's ok with you.
You can find the branch [here](https://github.com/sixdouglas/OpenPDF/tree/RemovingWarnings).
When I first build the project, there were 139 Warnings reported by Intellij. But whenever I fix a warning more seems to appear... I can't get this number down.
How do you want me to proceed? Do you want one big Pull Request? Multiple small ones?
As yo

[2019-07-07 12:11] asturio commented on #193
Cool. Please try to make many small changes, over one big change. It is simpler to review. You don't need to fix all at once. Just reducing the number of Warning is great.

[2019-07-08 12:18] mkl-public commented on #197
The original iText usage pattern was to *not* close the writer oneself but instead let it be closed via closing the document.
Thus, the writer indeed should neither be explicitly closed nor be used as a resource of a try-with-resource structure.
Whether there actually can be something missing if you first close the writer, then the document, I have not checked in the code, but it is possible by th

[2019-07-10 07:01] chaco89 opened #199 "Blank Page after PTable"
I added the Ptable into document class.
I realize if the element is Element.PTABLE it will create a new line throught newLine method which create a blank page on my pdf even it's fit on one page.
it will create the newPage if this condition fulfilled.
"currentHeight + line.height() + leading > indentTop() - indentBottom()"
For example :
my current height is 534
534.0 + 16.0 + 16.0 > 580.8268 - 44.

[2019-07-10 12:29] sixdouglas commented on #193
Hello,
Here comes the first MR #200 , #201 and #202
I tried to stay small, but cleaning some classes implies committing some others.
Hope it is not too much work for you.

[2019-07-10 15:02] andreasrosdal commented on #193
@asturio @bengolder Please help review these changes.

Thanks, @sixdouglas 👍

[2019-07-11 06:10] chaco89 opened #203 "Blank page if second PTable is not fit on 1 page."
I created 2 PTable, both table should be in separated page.
Step 1. document.add(table1) -> fits on page
Step 2. document.newPage()
Step 3. document.add(table2) -> this is not fit on 1 page, It's dynamic table.
The blank page is occurs on page 2.
Page 1 -> table 1 (fits)
Page 2 -> blank
Page 3 -> table 2
Page 4 -> table 2 (continued).

The method addPTable, in looping create a newPage in the first

[2019-07-11 16:28] andreasrosdal commented on #193
@rtfarte Please help review this.

Remember that we must be conservative and not break the existing API without good reasons.

[2019-07-11 19:45] sixdouglas commented on #193
I agree with you.
What do you think about going back to typed generic ArrayList instead of the typed generic List interface?
It won’t be the best practice but it will still remove the warnings.

[2019-07-11 22:48] andreasrosdal commented on #193
Your changes seem to be moving the code into a more modern direction.
I will merge three PRs now. The next release of OpenPDF will then have breaking API changes. It's the price of progress.

[2019-07-11 22:49] andreasrosdal commented on #193
Tha

[2019-07-11 22:49] #193 closed

[2019-07-12 05:11] andreasrosdal commented on #193
@sixdouglas Can you please help update this wiki document about the API changes:
https://github.com/LibrePDF/OpenPDF/wiki/OpenPDF-1.2.22-API-changes

[2019-07-12 05:18] andreasrosdal commented on #193
@albfernandez I would appreciate if you could please review these changes also.
I think this is generally a modernization of the API, however we need to consider all the
effects of this change.
While the PRs are merged now, possibly you might have further feedback or questions.

[2019-07-12 06:26] sixdouglas commented on #193
@andreasrosdal I will do it.
Though, I still have a lot of changes hanging on my computer. Do you want me to push them? or do you prefer to slow down the changes?

[2019-07-12 09:12] andreasrosdal commented on #193
@sixdouglas Thanks! Please submit more improvements, but please reduce the number of API changes as much as possible.

[2019-07-12 10:09] andreasrosdal opened #204 "Warnings compiling OpenPDF"
[WARNING] /C:/git/OpenPDF/openpdf/src/main/java/com/lowagie/text/pdf/PdfReader.java:[2760,17] unchecked call to putAll(java.util.Map<? extends K,? extends V>) as a member of the raw type java.util.HashMap
[WARNING] /C:/git/OpenPDF/openpdf/src/main/java/com/lowagie/text/pdf/PdfReader.java:[2799,26] unchecked call to put(K,V) as a member of the raw type java.util.HashMap
[WARNING] /C:/git/OpenPDF/op

[2019-07-12 18:27] andreasrosdal opened #205 "OpenPDF template engine"
OpenPDF should have a template engine! Is there an existing open source framework we can use?

https://itextpdf.com/en/blog/itext-news/itext-launches-itext-dito-powerful-template-engine-converts-data-itext-quality-pdfs

[2019-07-12 18:42] #205 closed

[2019-07-15 06:46] andreasrosdal commented on #139
As part of the modernization efforts, the next version of OpenPDF will be 1.3.0. In this new version, we may modernize the API, so breaking API changes are allowed in order to utlilize new Java features.

@fvbassi @rtfarte Please help with this modernization effort if you can.

[2019-07-15 11:22] andreasrosdal commented on #139
@albfernandez @asturio @rtfarte   @fvbassi  @LibrePDF/developers

Your experience and assistance is needed to make this modernization a success. Some PRs have been merged now, breaking the API, and using new Java features.
So, please help with this modernization.

[2019-07-16 15:05] rtfarte opened #207 "Investigate using spotless for code style consistency"
Perhaps using spotless could remove inconsistencies in the code.

https://github.com/diffplug/spotless/

[2019-07-22 21:34] albfernandez commented on #139
I've reviewed the pull request. I think we may try to be backwards compatible in source and binary form.

I think changing private, protected and package elements it's ok, but public elements should be taken with extreme care.

Some thoughs

Moving from raw ArrayList typed List<>. I think we must remain ArrayList<>.
Example:
    ```public ArrayList getChunks()```  is changed to   ```public java.ut

[2019-07-24 14:58] andreasrosdal commented on #139
@albfernandez Your proposal is good. Thanks! Please provide a pull request.

[2019-07-29 20:47] andreasrosdal commented on #139
What is the next modernization step now?

[2019-07-31 03:40] ducnv82 opened #211 "Exception writing font to PDF file"
Using
[code]

Then I have the exception
[code]

If I revert the try-with-resources, then all is ok.
Version: LibrePDF 1.3.0
Latets Oracle Java 8 on macOS

[2019-07-31 05:01] andreasrosdal commented on #211
Thanks for reporting. Pull request welcome.

[2019-07-31 06:12] andreasrosdal commented on #211
@asturio  Can you please look at this? It looks related to the recent font additions?

[2019-07-31 06:46] andreasrosdal commented on #211
@ducnv82 Can you please try to reproduce the problem on the 'bug_211' branch:
https://github.com/LibrePDF/OpenPDF/tree/bug_211

I have added a commit here: https://github.com/LibrePDF/OpenPDF/commit/4ae6f87eee7264cc363291a078e94014074936a9

[2019-07-31 07:05] ducnv82 commented on #211
Hi @andreasrosdal , thank you for your quick actions. I applied, but I got another exception:
[code]

[2019-07-31 07:10] ducnv82 commented on #211
The fonts I use:
[code]

[2019-07-31 07:44] andreasrosdal commented on #211
@ducnv82 Can you please submit complete code to reproduce this problem?

[2019-07-31 07:51] ducnv82 commented on #211
I am sorry, I can't. My company product. It only uses 2 fonts: notosans, notosansBold.
Thank you.

[2019-07-31 08:53] andreasrosdal commented on #211
I added a new commit to the 'bug_211' branch. Can you please try that?

@ducnv82 Maybe you can try to create a good fix yourself?  :)

[2019-07-31 09:29] ducnv82 commented on #211
Hi @andreasrosdal , just FYI-new exception:
[code]
Thank you for your time :)
Best regards

[2019-08-01 05:38] andreasrosdal commented on #211
@ducnv82  Can you please create a minimal example in Java, where this problem can be reproduced? Just create a new Java class with enough code to reproduce the problem. That means loading the notosans font, and creating a simple PDF file.

[2019-08-01 08:40] ducnv82 commented on #211
Hi @andreasrosdal , try this:
[code]
I downloaded NotoSans-Bold.ttf, NotoSans-BoldItalic.ttf, NotoSans-Italic.ttf, NotoSans-Regular.ttf and put in D:\temp\fonts

[2019-08-01 14:58] andreasrosdal commented on #211
The example you provided isn't valid Jaca code.
Please provide a complete, working and compiling Java class.

[2019-08-01 15:19] ducnv82 commented on #211
Hi @andreasrosdal :
[code]
results in NullPointerException:
[code]
Code runs ok:
[code]

[2019-08-01 15:37] ducnv82 commented on #211
Hi @andreasrosdal , only need to remove PdfWriter writer = PdfWriter.getInstance(document, outputStream) from the try-with-resources block, then it is ok, I have tested with OpenPDF 1.3.0
So, is 1.3.1 needed? or can it be reverted?
Thank you

[2019-08-02 10:00] andreasrosdal commented on #211
@asturio @wiktor-k @daviddurand  Can you please help here? The above code can reproduce the problem. I'm unsure of the best solution.

[2019-08-03 14:07] asturio commented on #211
I'll take a look at it.

[2019-08-03 20:57] albfernandez opened #215 "Clean metadata patch only hide metadata instead of removing"
The pull Request #179 tries to clean metadata from resulting pdf files. It only hides from view in "properties" in pdf viewers, but the metadata is hidden in the file and can be viewed via text editor.

[2019-08-03 21:01] albfernandez opened #216 "Should metadata be cleaned or maintained by default in pdfstamper?"
The Pull Request #179 clean metadata from resulting pdf files by default.

As noted by @ngs-software, it can cause issues as changes default behavior and some software need the metadata (for indexing purposes)

We have been experiencing issues when signing documents with keywords/metadata previously injected in a document, as these become inaccessible through API after document is stamped.

As far

[2019-08-05 06:24] andreasrosdal commented on #216
What is your recommendation, @albfernandez @asturio ? The proposal from @ngs-software seems sane, can we make a PR for this?

[2019-08-05 12:58] fono opened #217 "Image transparency loaded incorrectly - Image's black color "burns out""
In one of our projects we render images to PDF documents in a similar way to backround images in CSS: the image can be offset, tiled, or repeated horizontally/vertically in a placeholder area.
In some cases the black color burns out in the PDF, displaying white instead of black. I managed to create a very simple project to reproduce the issue:
https://github.com/fono/openpdf-test-image

I included

[2019-08-05 13:10] fono commented on #217
![result](https://user-images.githubusercontent.com/3025973/62467027-19a79780-b793-11e9-9ef9-690af79905a3.png)

[2019-08-06 07:16] andreasrosdal commented on #217
OpenPDF 1.2.x switched to using Java ImageIO to load images. This was to move the maintenance of image codec loading code from the OpenPDF project, and use a common library instead.
https://docs.oracle.com/javase/8/docs/api/javax/imageio/package-summary.html

@fono Can you please update the openpdf-test-image project to use OpenPDF 1.3.1 instead, it's the latest version. The code for loading image

[2019-08-06 07:29] fono commented on #217
I've updated the sample project to use OpenPDF 1.3.1.

At some time I should have a try and debug the issue, but I'm not very familiar with image processing (and also with PDFs), so someone with more experience might be more efficient.

[2019-08-06 07:31] andreasrosdal commented on #217
Thanks. The relevant code is here:  https://github.com/LibrePDF/OpenPDF/blob/master/openpdf/src/main/java/com/lowagie/text/ImageLoader.java

[2019-08-11 22:35] asturio commented on #216
I think the expectation described by @ngs-software is correct. When creating a new document, I would expect of having empty fields.
When signing a document I would not expect to have the meta-data hidden or erased. I would also have the case, where I would expect seeing the original meta-data as part of the signed document, so I can see author, and date of a signed document.

A totally agree, that

[2019-08-12 05:29] andreasrosdal opened #229 "Compilation error: The default package '.' is not permitted by the Import-Package syntax."
I get this build error on the latest git master branch:

[ERROR] Manifest com.github.librepdf:openpdf:jar:1.3.2-SNAPSHOT : The default package '.' is not permitted by the Import-Package syntax.
 This can be caused by compile errors in Eclipse because Eclipse creates
valid class files regardless of compile errors.
The following package(s) import from the default package null
[ERROR] Error(s) found

[2019-08-12 11:50] sixdouglas commented on #229
@andreasrosdal : I'm sorry if I broke anything.
Do you try to launch Maven build from within Eclipse?
Can you explain me with a little more details what you attempted to do?

[2019-08-12 20:14] albfernandez commented on #216
I've created a Pull request which partially reverts #179
the documents are created with no metadata(only the metadata specified by the calling code).
On stamper, metadata is preserved. If you want to remove the metadata, you must call cleanMetadata:
[code]

cleanMetadata call setInfoDictionary with a special Map with all keys in metadata and null values, who forces the stamper to remove this keys

[2019-08-12 20:31] #216 closed

[2019-08-13 05:30] andreasrosdal commented on #229
@sixdouglas I don't think this is caused by your changes. Still, I'm not sure why this has happened. Building on Travis-CI works fine. Maybe there is something on my system?

[2019-08-13 05:32] andreasrosdal commented on #229
I deleted some unversioned files on my system ,and now it builds correctly. Sorry about this.

[2019-08-13 05:32] #229 closed

[2019-08-13 05:36] andreasrosdal commented on #217
This has been fixed in the latest version.

@fono Can you please verify?

[2019-08-13 05:36] #217 closed

[2019-08-13 06:00] andreasrosdal commented on #215
Is this still relevant?

[2019-08-13 09:28] fono commented on #217
Thanks, our tests regarding the images pass with this release.

[2019-08-13 23:40] albfernandez commented on #215
Yes, it's closed in #230, so I close this issue.

[2019-08-13 23:40] #215 closed

[2019-08-14 10:11] fono opened #231 "Text is not rendered with specific font"
OpenPDF 1.3.2 introduced a new issue: some texts are not rendered. As far as I can see it is font related, I have just experienced the bug only with Roboto. It worked fine with 1.3.1.

I have created a simple test to reproduce the issue:
https://github.com/fono/openpdf-test-image

See `TextTest.testGenerateText()` test (sorry for the lame assert for (not) finding the rendered text...). This test w

[2019-08-14 11:06] fono commented on #231
Git bisect tells me that the bug was introduced by the commit b8fa1a9c5e0d4d58d74545061ea300070bcee6b2, however, reverting that commit has no effect on the result of the test.

[2019-08-14 16:01] andreasrosdal commented on #231
Thanks fono! I guess it's the price of progress.
Can you please help make a fix?

[2019-08-14 16:04] andreasrosdal commented on #231
@sixdouglas Can you also please help investigate?

[2019-08-15 06:03] sixdouglas commented on #231
@andreasrosdal , @fono I'm looking at it

[2019-08-16 05:32] sixdouglas commented on #231
@andreasrosdal : here is the fix

[2019-08-16 05:36] #231 closed

[2019-08-16 06:40] #204 closed

[2019-08-16 06:51] andreasrosdal commented on #231
Thanks to you both. Can you please give OpenPDF 1.3.3 a try, and verify that everything works correctly now?

[2019-08-16 07:24] fono commented on #231
Thank you, I confirm this works properly.

[2019-08-21 04:36] dprutean opened #239 "Internationalization support ( Cyrillic, Chinese....)"
I use openPdf to generate diagrams. Users can be from any country. Which is the recommended way to support major charachter sets (at least cyrillic, chinese, japonese ) ?

I saw few examples of embedding the arialuni.ttf, but maybe is any other simple way to do it?

[2019-08-21 05:19] sixdouglas opened #240 "Sample Arabic text, test is broken"
`pdf-toolbox/src/test/java/com/lowagie/examples/directcontent/graphics2D/ArabicText.java` Produces a blank PDF

[2019-08-21 05:29] #240 closed

[2019-08-21 06:42] sixdouglas commented on #239
Hello,
You have an example of Arabic in this sample `/pdf-toolbox/src/test/java/com/lowagie/examples/directcontent/graphics2D/ArabicText.java`.

[2019-08-21 06:47] sixdouglas opened #242 "PageNumbersWatermark is broken"
The PageNumbersWatermark test  (com.lowagie.examples.directcontent.pageevents.PageNumbersWatermark) breaks with this exception:

[code]

[2019-08-21 11:22] sixdouglas commented on #242
I went back in time (through the tags up to the 1.0.4) and failed to find a version where this test run without this stack trace.

Two options here:

* Remove the Sample
* Make the sample works

I prefer the second, but I don't feel able to do it.

[2019-08-22 13:50] razilein opened #244 "JasperReports - Export PDF - Bold fonts are too thick"
Hello,

I'm using Jasperreports and switched from itext to openpdf.
Unfortunately the bold fonts when exporting the report to pdf are too thick.

I've made a sample project to show you: https://github.com/razilein/openpdf-test

When switching between itext and openpdf you can see a huge difference between the bold and italic text.

On the left you can see the exported pdf with openpdf on the right

[2019-08-23 10:08] sixdouglas commented on #244
Hello,
I found the commit responsible for this behaviour:

https://github.com/LibrePDF/OpenPDF/commit/9cf326d21562a90ff86afa5632b5a652f2e2ebdd

There is Unit Test associated to this commit, that is great!
But even with this I can't figure out how to solve the issue.

[2019-08-23 10:28] sixdouglas commented on #244
Lets say, we want a font in bold for example "Courrier"
This is what I understand about this code:
* getting all fonts that contains "Courrier" int the FontFamillyMap,
* searching for one that contains "bold" in its name

So at the end we are creating a font with name "courrier-bold" and that will be rendered in Bold.
In the PDF we render the text as Courrier Bold Bold

[2019-08-23 18:58] andreasrosdal commented on #244
See: #106 @noavarice

[2019-08-25 07:24] sixdouglas commented on #244
The problem here, is to be able to make a difference between:

* the font family and its style using the API
* the real font used at PDF rendering time

This way we would be able to manipulate `Courrier Font` in `Bold` style through the API, and use `courrier-bold` in `normal` style at render time.

Do you agree?

@asturio I'd like your advice on this one, if you it's possible

[2019-08-25 07:33] sixdouglas commented on #211
@ducnv82 : can you check with the latest version if the bug is still present?
I can't manage to reproduce it.
Thank you

[2019-08-25 11:32] ducnv82 commented on #211
Hi @sixdouglass, still it is

import java.io.FileOutputStream;
import java.io.IOException;
import java.io.OutputStream;

import com.lowagie.text.Document;
import com.lowagie.text.Font;
import com.lowagie.text.Paragraph;
import com.lowagie.text.pdf.PdfWriter;

import static com.lowagie.text.FontFactory.getFont;
import static com.lowagie.text.FontFactory.registerDirectory;
import static com.lowagie.

[2019-08-27 06:56] sixdouglas commented on #211
@ducnv82: I'm puzzled here. I can't get to reproduce this bug.
Looking at the Stack-trace it looks like the font you've downloaded is/are no good.
In fact, the failing function is called when OpenPdf includes a subset of the desired font in the output PDF. I can't get a NullPointerException in this function.
Maybe you can try to re-download them?
I guess, you've checked the directories existence,

[2019-08-27 07:15] andreasrosdal commented on #211
I'm able to reproduce this on Windows, using the code from @ducnv82.

[2019-08-28 06:33] sixdouglas commented on #239
@dprutean: does this answer your question or do you need something more general?

[2019-08-28 06:53] andreasrosdal commented on #211
@ducnv82 Can you please check if the problem is solved for you now, in the latest version of the master branch?

[2019-08-28 06:53] #211 closed

[2019-08-28 12:17] ducnv82 commented on #211
Hi all, I got the error Caused by: com.lowagie.text.ExceptionConverter: The document is not open.

[2019-08-28 12:20] andreasrosdal commented on #239
Maybe we could add a Cyrillic / Russian example? I would like that a lot.

[2019-08-28 12:58] sixdouglas commented on #211
@ducnv82 can you give me some more specifics? code, full stack?

[2019-08-28 14:18] ducnv82 commented on #211
Hi @sixdouglas , I cannot reproduce with the above simple Java app Utils, but my project throws exception
[code]
I am sorry that I could not give more my project source code. Thank you and best regards.

[2019-08-28 16:05] sixdouglas commented on #211
@ducnv82 can you tell if the pdf gets generated?

[2019-08-28 16:24] ducnv82 commented on #211
@sixdouglas : yes, but it misses the last page, only 2 pages. Removing PdfWriter writer = PdfWriter.getInstance(document, outputStream) from try-with-resources block (before writer.setFullCompression(); in the below open bracket), then it generates fully 3 pages.

[2019-08-28 16:37] sixdouglas commented on #211
@ducnv82: Is that the expected result? Do you still have the exception?
I have the impression that when using try with resources and multiple elements in it, java closes them in the creation order when I would have expected the reverse order. So, in deed, moving the writer out of it would be a solution.
Do not hesitate to tell us if we can close this issue. 😉

[2019-08-28 18:29] dprutean commented on #239
I tried to use the following code. If possible please review this code:

First I try to scan the text to check if is using non-latin characters (need unicode font):

[code]

If I need an unicode font I do:

[code]

This can be used in tables or any text:
[code]

and direct drawing:
[code]
The font ttf file I found has cyrillic andd chinese glyphs. It is 15Mbyte large.
I expected the Pdf file to be

[2019-08-29 03:15] ducnv82 commented on #211
Thanks, @sixdouglas . I will use finally in this case because I want to close PrintWriter also. But in other tutorials of iText, PrintWriter is not closed also, only Document is closed.

[2019-08-29 06:57] andreasrosdal opened #249 "Convert PDF to image"
Support for converting PDF to image would be nice.

JPedal has this: https://www.idrsolutions.com/jpedal/convert-pdf-to-image/

[2019-08-29 07:07] Lonzak commented on #249
Jpedal is not the way to go, believe me. I maintain one of the forks of the last open source version of jpedal (https://github.com/Lonzak/JPedal) and we used it for years in our products. But we recently switched to PdfBox for PDF to image conversion. We did heavy testing with over 400+ PDFs and compared the results. Altough PdfBox is not perfect the results were quite clear: Jpedal image conversi

[2019-08-29 08:19] #249 closed

[2019-08-29 09:18] Lonzak commented on #249
But I didn't want to stall the discussion ;-)

[2019-08-29 16:05] mkl-public commented on #211
Just to explain why with code like this problems are extremely likely to occur:

    try (   OutputStream outputStream = new FileOutputStream("D:\\temp\\file.pdf");
            Document document = new Document();
            PdfWriter writer = PdfWriter.getInstance(document, outputStream)) {

        ...
    }

This eventually calls the respective `close` methods of first the `PdfWriter`, then the

[2019-08-29 19:04] sixdouglas commented on #211
@mkl-public : thanks for these clear explanations. I’m wandering what is the pattern around the PDF Writer. This is not the subject of this thread but if you could point me to some explanations I would be thankful.

[2019-08-30 08:20] arnthom commented on #145
OK, I will try to use OpenPDF as a iText 2 replacement ... meanwhile I have been using PdfBoxLayout.

BUT:
- where is a binary to download?
- how can I import this into eclipse to build a binary?
- can I use the old code compatible with iText2 or do I have to change things? is there any manual for this scenario?

Thanks a lot!

[2019-08-30 12:00] Lonzak commented on #145
1) Binary is available in maven central: https://search.maven.org/search?q=g:com.github.librepdf%20AND%20a:openpdf&core=gav

2) Your 2nd question I don't understand - do you want to build your own binary? This is possible just download it via git and build it using the maven.

3) Just replace the jar and have a look where you get errors...

[2019-08-30 12:43] arnthom commented on #145
OK. thanks.
I don't have maven and thought there might be some way to put it into an eclipse project to build the .jar. But jar is available, thanks again.

[2019-08-30 14:10] thekalinga opened #251 "Custom rendering of paragraph"
I am trying to render the first character of the paragraph using drop caps

Sorry for posting a question as an issue. I am a bit new to this library & posted the same question to stack overflow. Since I have not received any answer there, I would like to check if such a customisation is supported by any API within the library

Thanks

https://stackoverflow.com/questions/57664774/drop-caps-using-it

[2019-09-02 13:42] mkl-public commented on #211
@sixdouglas Concerning the patterns around `PdfWriter` - As far as I know (only Bruno Lowagie and maybe Paulo Soares can tell for sure) iText originally was meant to have a document abstraction upfront (our `Document`) to send generic document components to. To this abstraction you could register listeners (yes, plural) which created concrete document files from the input in parallel, e.g. for the

[2019-09-02 14:01] sixdouglas commented on #211
@mkl-public: Thanks for this clear explanation and to be there to still have this in mind 😉.

[2019-09-02 18:22] asturio commented on #244
Hi, sorry for the delay. Yes, I think your suggestion is the right way to go. As some fonts are present in the style you need, you should use that font (courrier-bold.ttf in normal style), instead of the normal font ("courrier.ttf" in bold style). The second option should only be used if the "bold" font is not present.
Tests and Merge requests welcome :-)

[2019-09-02 21:19] asturio commented on #239
Hi @dprutean ,
As far as I know, you can create PDF without embedding Fonts, which is not Portable, as the document will only display correctly if the needed font is present in the viewing system.
When embedding fonts PDF will only to this, embedding the used glyphs, as there may be legal issues using a font.
The logic is: if you embed all the complete font, someone could just extract it from the

[2019-09-02 22:13] asturio commented on #239
Oh, and there is a small Example using the included Liberation-Font (which should be Unicode-capable) here:
openpdf/src/test/java/com/lowagie/text/pdf/UnicodePdfTest.java

Just use the same font, and you should create documents using Greek or Cyrillic symbols.

[2019-09-03 17:53] BobbyRuby commented on #118
I don't have the skill to have this support Android, so hoping someone takes this one soon.  Maybe if iText didn't require a purchase of 5k of licenses at $3.50 a pop I could use it but damn ya know.  Really?  My app is not something that would go on the market... highly specialized for my business.  Not worth much to anyone else.

[2019-09-04 04:46] andob commented on #118
@BobbyRuby hello,

Sorry to dissapoint, but porting to android is a quite hard task and needs some time. You can find awt references in many places. Classes like awt.Color, Point, Dimensiom can be easily replaced. But classes like PdfGraphics2D need to be rewritten from scratch, since they use so much awt logic. All the rendering logic is done with awt and needs to be rewritten, retested etc.

Com

[2019-09-04 06:24] andreasrosdal commented on #118
So let's list the tasks required for Android support:

-Classes like awt.Color, Point, Dimensiom can be easily replaced.
-Classes like PdfGraphics2D need to be rewritten from scratch, since they use so much awt logic.
-All the rendering logic is done with awt and needs to be rewritten, retested etc.

There is also:  https://github.com/witwall/appengine-awt - Could we use this?

[2019-09-04 08:05] andob commented on #118
@andreasrosdal @BobbyRuby
Well, we could use [`https://github.com/windwardadmin/android-awt`](https://github.com/windwardadmin/android-awt) which is based on [appengine-awt](https://github.com/witwall/appengine-awt).

I forked it into [`https://github.com/andob/android-awt`](this repo) and converted it to gradle. I tested with my old PDF generating code based on iText, I converted that code to Ope

[2019-09-04 10:03] andreasrosdal commented on #118
Can you please post a description about how to use OpenPDF with android-awt?
android-awt needs maven support also.
Thanks @andob !

[2019-09-04 10:36] andob commented on #118
@andreasrosdal
Yes. My repo contains java.awt.* and javax.imageio.* classes. You just have to import both libraries (OpenPDF and the one from my repo). When OpenPDF will try to access awt classes, the JVM will find these classes on android-awt library.

On Android we use Gradle, which is fully compatible with maven.
[code]

[code]

On Maven this can be configured as
[code]

[code]

[2019-09-04 19:54] andreasrosdal commented on #118
Excellent! Can you please document this on the OpenPDF github wiki?

[2019-09-05 18:35] andob commented on #118
@andreasrosdal [done](https://github.com/LibrePDF/OpenPDF/wiki/Android-support)

[2019-09-06 01:45] BobbyRuby commented on #118
I'll give this a shot... Hoping it will do the trick for filling forms.  Won't be tonight but will try to get it tested before end of next week.

[2019-09-11 04:03] andreasrosdal commented on #128
@sixdouglas can you help?

[2019-09-11 19:59] dprutean opened #253 "Issue with createStamp annotation on Adobe Acrobat Reader DC"
I create annotations over a diagram using:
[code]
In chrome the diagram looks fine, the annotation is not visible and the tooltip shows correctly, but in Adobe Acrobat Reader DC looks like this.
![image](https://user-images.githubusercontent.com/4970910/64730278-3f853200-d4df-11e9-8796-667bb791b128.png)

How can I avoid this ?

[2019-09-13 08:24] mkl-public commented on #253
I could not reproduce that (my test: [CreateStamp](https://github.com/mkl-public/testarea-itext5/blob/8bc28a64f9c153e1bee2b2f4c0b532be44be818c/src/test/java/mkl/testarea/itext5/annotate/CreateStamp.java#L68) test `testCreateMultipleLikeDprutean`). Please provide code that reproduces the issue.

I doubt that. This appears to be Adobe Reader's special way to indicate a hover text in waiting.

[2019-09-14 11:04] debuglevel opened #254 "Producer value gets scambled"
I'm filling a PDF form ([PDF form.zip](https://github.com/LibrePDF/OpenPDF/files/3612627/PDF.form.zip), created with LibreOffice 6.0) with OpenPDF and noticed that the "Producer" value in the PDF gets scrambled after OpenPDF 1.3.8/PdfStamper processing (at least for my sample PDF):

![Producer before](https://user-images.githubusercontent.com/2401265/64907081-66658300-d6ee-11e9-9427-a8881ad81d20.p

[2019-09-14 19:52] #254 closed

[2019-09-14 19:53] andreasrosdal commented on #254
@debuglevel Can you please confirm that this has been fixed in the latest git master branch version?

[2019-09-14 20:21] debuglevel commented on #254
Cool, works perfectly :-). Thank you and @albfernandez very much!

![image](https://user-images.githubusercontent.com/2401265/64913294-95efac00-d73d-11e9-98a7-86731bc759c3.png)

I tested it with the 'com.github.LibrePDF.OpenPDF:openpdf:6ceda3dec2' dependency via [JitPack](https://jitpack.io/#LibrePDF/OpenPDF/6ceda3dec2)

[2019-09-16 06:34] rammetzger opened #258 "Incorrect buttom height calculation in table cell"
For long texts (more than one page) within a table cell, it can happen that a line is printed twice. One time on the last page and one time on the next. The cause is an incorrect calculation of the available cell height.

The bug is in the calculation of cell height in class PdfPRow on lines 609-612:
[code]
The bottom value does not consider EffectivePaddingTop. The code should look something like

[2019-09-16 07:23] andreasrosdal commented on #258
https://github.com/LibrePDF/OpenPDF/blob/master/openpdf/src/main/java/com/lowagie/text/pdf/PdfPRow.java#L609

Pull requests welcome!

[2019-09-16 14:37] MaurizioCasciano opened #259 "setMargins() not working after document.open() and before document.newPage()"
The `setMargins()` command doesn't seem to be working when I want to change the margins for a new page.

The version of OpenPDF that I'm using is the **1.3.10**

Here the minimum working example to reproduce the error:

[code]

and this is the output I'm getting, with the maring not corresponding to the ones that I did set:
![Schermata da 2019-09-16 16-14-52](https://user-images.githubusercontent.

[2019-09-16 14:51] PalAditya commented on #258
Added a PR (#260) to help out with this 😁

[2019-09-16 14:54] izio7 commented on #259
@andreasrosdal

[2019-09-16 15:44] andreasrosdal commented on #258
@rammetzger Can you please verify that this has been fixed in the master branch?

[2019-09-16 15:44] #258 closed

[2019-09-16 15:45] andreasrosdal commented on #259
Thanks for reporting this. Pull requests welcome!

[2019-09-17 04:22] andreasrosdal commented on #128
It's now 3 errors, and 94 warnings!

[2019-09-17 08:32] rammetzger commented on #258
Hi Andreas,

the bug seems to be fixed. I can’t reproduce it any more.

Thanks for the quick fix.

Viele Grüße / Best regards
Michael Metzger

Von: Andreas Rosdal <notifications@github.com>
Gesendet: Montag, 16. September 2019 17:45
An: LibrePDF/OpenPDF <OpenPDF@noreply.github.com>
Cc: Michael Metzger | RA Consulting <M.Metzger@rac.de>; Mention <mention@noreply.github.com>
Betreff: Re: [LibrePDF/O

[2019-09-17 10:39] V-F opened #261 "Incorrect information about the library"
The library version is currently parsed from the manifest file in the
`com.lowagie.text.VersionBean` class . If a program is built as a single jar file the manifest file of the library will be replaced and incorrect information will be parsed. This information is used by creation of pdf document (see: `com.lowagie.text.pdf.PdfPages` line: 152 / `com.lowagie.text.pdf.PdfStamperImp` line: 170. The c

[2019-09-17 10:54] V-F commented on #82
You can try to use [Apache Batik](https://mvnrepository.com/artifact/org.apache.xmlgraphics) library for that. It’s need to make the following steps:
1.	Create `org.w3c.dom.svg.SVGDocument:`
[code]
2.	[Create ](https://stackoverflow.com/questions/44177676/how-to-get-svg-node-at-coordinates-with-batik) `org.apache.batik.gvt.GraphicsNode` from the `org.w3c.dom.svg.SVGDocument`:
[code]
3.	Define the

[2019-09-17 11:21] andreasrosdal commented on #261
@V-F Can you please propose a better implementation and submit a PR?
@albfernandez @asturio @sixdouglas What do you think of this?

[2019-09-17 12:32] razilein commented on #244
Hi @sixdouglas
I have a solution for the issue.

How can I create a branch?

[2019-09-17 12:48] razilein commented on #244
I've created the pullrequest #262

[2019-09-17 14:07] #244 closed

[2019-09-17 17:02] asturio commented on #261
I think a property file, created at build time (maven can do this for you) is a nice solution, and the VersionBean Voodoo is no longer necessary.

[2019-09-18 07:19] andreasrosdal opened #263 "Test failures with Bouncy Castle 1.63 in ExtractCertificatesTest"
After updating to Bouncy Castle version 1.63, there is now a test failure in [ExtractCertificatesTest](https://github.com/LibrePDF/OpenPDF/blob/master/openpdf/src/test/java/com/lowagie/text/pdf/sign/ExtractCertificatesTest.java).

Travis-CI build log:
https://travis-ci.org/LibrePDF/OpenPDF/jobs/586399586

https://www.bouncycastle.org/releasenotes.html

[ERROR] Tests run: 2, Failures: 0, Errors: 2,

[2019-09-18 13:10] Lonzak opened #264 "Test failures on systems where Tahoma-bold font is available"
I just wanted to build the project but the following junit test fails:

"testStyleSettingByValue" in FontTest.java. The Problem seems to be when the Font is created via the FontFactory (line 47) the second iteration (style=1) fails.
I debugged into the FontFactoryImp.java and in the getFont() method there is a retrieval of the font families: [Tahoma, Tahoma, Tahoma Bold, Tahoma Bold]. (line 177).

[2019-09-18 13:21] andreasrosdal commented on #264
Pull welcome!

[2019-09-18 13:51] Lonzak commented on #263
added a pull request... (https://github.com/LibrePDF/OpenPDF/pull/265)

[2019-09-18 14:29] #263 closed

[2019-09-19 05:24] razilein commented on #264
I wrote the test. Didn't know Tahoma has a bold font too. I'll fix it. Do you know a font which has no bold or Italic styled font?

[2019-09-19 06:26] andreasrosdal commented on #261
Please make sure that this works in all use cases, for example also when OpenPDF is used in a Java webapp on Tomcat.

[2019-09-19 07:12] #264 closed

[2019-09-22 11:30] smartgatto opened #269 "Using this library for a commercial use?"
Hi, my name's Marco and I write my first app. I'd like to use this library for create a PDF report. My app will be used for medical commercial use. It is possible to use it? Thank you and excuse my bad english!

[2019-09-22 14:37] andreasrosdal commented on #269
Yes, you can use OpenPDF is commercial projects.

For the details, see: http://www.gnu.org/licenses/lgpl.html
and:
https://github.com/LibrePDF/OpenPDF/blob/master/License.md

[2019-09-23 14:35] abdlkrmdlgr commented on #119
Hi,
How can i get text height my pdf pages. Not all page size. Only text height. When i use iText, this code do this.

`PdfReaderContentParser parser = new PdfReaderContentParser(pdfReader);
		TextMarginFinder finder = parser.processContent(pageNumber, new TextMarginFinder());
		try
		{
			return finder.getLly();
		}
		catch (Exception e)
		{
			return 0;
		}`

[2019-09-24 17:59] #242 closed

[2019-09-25 13:27] matija137 opened #271 "PdfPTable not visible in Paragraph if keepTogether is set to true"
First and foremost I would like apologize if this is not a place for this question. Essentially I'm repeating the question I asked a while ago on [Stackoverflow](https://stackoverflow.com/questions/57787275/why-is-pdfptable-not-visible-in-paragraph-if-keeptogether-is-set-to-true).

I'm trying to group table with two texts (one above, and one below table) to prevent splitting of elements when they

[2019-09-25 20:01] razilein commented on #271
I think the Problem is, if keepTogether is set to true, then all elements of the paragraph are added to a new table without borders. If I try to add a table to a cell of a table it isn't visible.

https://github.com/LibrePDF/OpenPDF/blob/master/openpdf/src/main/java/com/lowagie/text/pdf/PdfDocument.java#L529

[2019-09-26 08:36] sixdouglas opened #273 "Hacktoberfest"
Can you imagine some improvements that could be done in the context of the Hacktoberfest?

https://hacktoberfest.digitalocean.com/details

[2019-09-26 14:33] b9chris commented on #26
You would need to build the bridge code between Java and .Net libraries, similar to the way parts of Lucene were originally ported to the .Net platform. Or, if you're OK with a much narrower bottleneck, you could just call the Java version with command-line calls via Process.Start(). Or you could do the hardest thing, which is to translate the Java version to C#, perhaps starting with an automated

[2019-09-27 12:00] andreasrosdal opened #274 "iText 2.x compatibility issue in recent OpenPDF versions"
https://github.com/javamelody/javamelody/issues/788#issuecomment-535818722

[2019-09-27 22:01] evernat commented on #274
Perhaps this issue also impacts other software or applications using or trying to use OpenPDF as a replacement for iText 2.1.7.

The compatibility between OpenPDF 1.3.x and iText 2.1.7 may be restored by adding:
[code]
I think it's worth it to keep compatibility.
Of course, if there are other major api incompatibilities, it may not be worth it.

[2019-09-28 19:33] sixdouglas commented on #261
@asturio @andreasrosdal any news about my last changes? Did you have time to have a look at it? Can you give some input to make it fit your will?

[2019-09-29 15:57] triyasniko commented on #273
actually, i think you are only required to do 4 verified pulls

[2019-09-29 17:05] sixdouglas commented on #273
@triyasniko I agree with you. But with the tag on some issues the project would be more visible and we would get some help 😉

[2019-09-29 19:13] asturio commented on #239
I just wrote some more examples for Cyrillic and Greek. Please see take a look at:

openpdf/src/test/java/com/lowagie/text/pdf/GreekAndCyrillicTest.java

Your posted code is interesting, but I think, you shouldn't need to detect if the text contains unicode characters. Just use a Font that support Unicode always, and everything should be correct. I can't see why anybody should use non-unicode font

[2019-09-29 20:23] asturio commented on #273
The open issues are not really "nice" and "self contained". Maybe not this year, but I think this is a great idea.

[2019-09-29 21:14] alaingaudreau opened #276 "PdfPCell background color ignoring alpha channel of an rgba"
Is it expected behavior for PdfPCell to ignore the alpha channel value when you setBackgroundColor with a Color(r,g,b,a)?

I haven't seen anything in the docs/javadocs for this class regarding the alpha channel.

[2019-09-30 09:36] lapo-luchini opened #277 "JAR size has increased due to included fonts"
JAR size has increased a lot:

    1899402 openpdf-1.1.0.jar
    4243560 openpdf-1.3.11.jar
    1898896 openpdf-1.3.11-without-TTFs.jar

mostly thanks to bc98cd8f5137b6dc5cadc65cf80c3ec37e62e2d0 adding Liberation fonts.
Those seems like very useful in other use-cases but are they necessary in basic parsing / changing in a non-graphical way / digital signature of PDFs?
Would it be possible to inclu

[2019-09-30 11:54] asturio commented on #277
Yes, that is true. The fonts are quite big. They are the only Unicode-Fonts included in the package, as many user had problems generating PDF in non English languages. And the missing fonts is the problem. The old included fonts were really ancient and supported only a small set of characters.

I think actually the user should be responsible for using the correct font, but many just don't do it, s

[2019-09-30 13:02] arnthom commented on #102
Sorry to add this to the issue, but where dp I find itext-hyph-xml.jar to add hyphenation to openPdf?
Thanks a lot!

[2019-09-30 13:29] sixdouglas commented on #273
Ok, lets keep it in mind for next year so.

[2019-09-30 13:29] #273 closed

[2019-09-30 15:59] mkl-public commented on #261
More to the point, the value, the name **ITXT**, has been registered as prefix for second-class names by Bruno Lowagie on behalf of 1T3XT BVBA on 29.04.2009. Thus, its use is up to iText to decide and its use in OpenPDF may eventually not be desired anymore.

You might want to consider registering an own prefix to use instead or dropping the version string injection altogether.

[2019-10-01 05:02] andreasrosdal commented on #261
We must never forget that iText was released under the GNU LGPL and Mozilla public license, and that OpenPDF is now using the source code in compliance with that license. We can continue using the variable name ITXT in the source code, because it was released as open source with the the open source licenses mentioned previously. So @mkl-public please stop spreading that false message here.

Today,

[2019-10-01 08:36] mkl-public commented on #261
I was not talking about licenses but about validity.
But as I see that help is not wanted by OpenPDF, I'll retire from offering it.

[2019-10-01 12:37] Lonzak commented on #261
Luckily the other messages have been deleted - nobody could or would want you to stop sharing your deep PDF inside here, MKL!

But back to the point: I have registed a 2nd class prefix once and I agree with MKL. The prefix "belongs" to the iText guys and a such proud project like openPDF should get its own.

One last thing: Bruno always mentioned that he is able to recognize PDFs created with iTex

[2019-10-01 12:55] sixdouglas commented on #261
I totally agree with you.
Hard with the code, kind with with the guys.
Deep knowledge are needed, specially for people like me, new on the project.
This said, I don’t really understand what you mean by “register”

[2019-10-01 13:52] mkl-public commented on #261
@Lonzak

It is one such marker but as it's so obvious it clearly is usually removed by people trying to hide the actual producer. Other markers are less obvious, in particular a combination of PDF generation properties, e.g. the preferred eol-marker, the choice of direct or indirect objects for certain dictionaries, the position of certain dictionaries in the serialized file, ...

By removing the

[2019-10-01 14:04] Lonzak commented on #261
@MKL I know that it only was a superficial way and that the way a PDF is structered is a kind of fingerprint in itself...
Thanks for the list! Some years back I asked adobe (I think it was Leonard) for that exact list but they didn't give it out. Nice to finally see it...
And I didn't know that you registered your own prefix MKLx :-)

[2019-10-01 14:16] mkl-public commented on #261
@Lonzak

Beware, see the *Additional Details* in the README:

Thus, don't count on the list being complete.

[2019-10-01 14:27] sixdouglas commented on #261
Ok, with this explained, I agree with you for OpenPdf to have this kind of prefix registered.

[2019-10-03 06:59] razilein commented on #203
You code is hard to understand, because there are missing some information about the variables and methods you are using and how you build your table (for example. what is newPage() doing?). That's why I can't reproduce your problem.

I've made a short example and with this it worked. The first table is on the first page. Then the second table is on the second page and continues on the third page.

[2019-10-03 09:04] razilein commented on #276
https://github.com/LibrePDF/OpenPDF/blob/master/openpdf/src/main/java/com/lowagie/text/pdf/PdfContentByte.java#L2262

I've found this. The alpha channel is ignored, because it's value is not delivered at this point.

The alpha channel should be delivered to this method:
https://github.com/LibrePDF/OpenPDF/blob/master/openpdf/src/main/java/com/lowagie/text/pdf/PdfContentByte.java#L2166

But I don't

[2019-10-03 10:54] asturio commented on #261
It should be nice to have a registered prefix, but as I see in the list, and in the registration template, the Information for a "Open Source Project"  could be difficult, as there is no address, no "single person", an no e-mail address for OpenPDF as an organization.
Any ideas on that?

[2019-10-04 14:13] albfernandez commented on #274
It's not easy because Phrase extends ArrayList<Element>
method add(Object) could not be defined ... unless remove the generic Element in the extends clause (and rollback generics changes related to it in this and other classes)

[2019-10-04 19:38] asturio commented on #274
@albfernandez I think you are right. We should revert these changes. And redo them in another Major Version.

[2019-10-06 19:48] #271 closed

[2019-10-06 20:15] #239 closed

[2019-10-06 20:16] #269 closed

[2019-10-06 20:18] asturio commented on #196
@bitkorn Does the actual master-branch solves the problem for you?

[2019-10-07 05:06] andreasrosdal commented on #274
Maybe it was time to break API compatibility with iText, in this small way, as part of the modernization efforts. People should update from old iText versions to OpenPDF anyway, to get all the latest security fixes and bugfixes.

[2019-10-07 08:12] Lonzak commented on #261
Prefix: LBRP_ (For LiBRePdf) but other suggestions are welcome...
First Name: Andreas
Last Name: Rosdal
Email: andreasrosdal@somemail.net (an email he is willing to provide)
Entity/Organization Name: OpenPDF
Create Date: date

[2019-10-07 10:23] andreasrosdal commented on #261
@Lonzak  I have somewhat retired from maintaining this project, I'm so busy with other things. We need more other people to contribute to maintenance, such as yourself. So using my name in the registration would not be the best alternative.

[2019-10-07 14:18] udittmer commented on #118
What do I need to add to my ProGuard setup to make this work? While the code works fine -many thanks to all involved!- in the debug build, the release build fails at the transformClassesAndResourcesWithProguardForRelease step, with the last message being

Warning: there were 143 instances of library classes depending on program classes.
         You must avoid such dependencies, since the program

[2019-10-07 18:03] asturio commented on #274
So... how about branch now a 1.3 release and a 2.0 release (e.g. in master). In the 2.0 release we can continue the modernization, and we break the compatibility even more, and in the 1.3 line, we try to keep the compatibility (and restore any broken issues)?
And I would only release some RC of the 2.0-line at first. So we could do all the nice things we are dreaming about :-)

[2019-10-07 21:25] asturio commented on #146
I'm just taking a look at the java7 branch. I merged master into it (only locally), and changed the pom so java 1.7 is really used (not only in travis). There are many issues here, because streams, optionals and lambdas are being used. I'm not sure how easy it will be to port this things back to java7.

[2019-10-08 07:35] arnthom commented on #146
I would appreciate, if the Java7 branch could be maintained.
Bound to an old IDE, I have to work on WinXP and Java 7 is the last release that installs on XP.
And maybe there is more need for a Java7 release of openPDF ...

[2019-10-08 08:00] andob commented on #118
@udittmer Please update ``android-awt`` to its latest version, ``1.0.1``

[code]

And add these rules to your ``proguard-rules.pro`` file

[code]

[2019-10-08 19:19] sixdouglas commented on #276
Here you have an example of the ContentByte in use:
https://github.com/LibrePDF/OpenPDF/blob/master/pdf-toolbox/src/test/java/com/lowagie/examples/directcontent/colors/Transparency.java
Maybe you can manage using this for the background color.

[2019-10-09 07:39] udittmer commented on #118
Thanks for the reply, but adding that didn't make a difference. I'm not sure why it would, anyway: suppressing warnings in ProGuard doesn't address the issue it complains about (about library classes depending on program classes), does it?

Is there a demo app (or any app that uses android-awt) available somewhere that shows how it all fits together?

[2019-10-09 09:18] andob commented on #118
@udittmer well I couldn't replicate your exact error
If I import ``OpenPDF`` and ``android-awt:1.0.0`` and then build with proguard I got the following errors:
![image](https://user-images.githubusercontent.com/5281358/66462797-8174aa00-ea84-11e9-88dd-abe390f8771b.png)

There are some missing classes from ``java.awt.*``, ``javax.*`` packages. I've added those classes in the latest version, 1.0.1.

[2019-10-09 09:29] mkl-public commented on #276
Related: https://stackoverflow.com/a/56954685/1729265

[2019-10-09 15:10] albfernandez commented on #274
I think it's easier to maintain a 1.2.x (java7) branch and try to backport there the important fixes.

I'm not sure in doing a "break" release. We use some libraries with use OpenPDF / itext, if we break compatibility, we must stuck in old versions until all libraries upgrade to the new release.

[2019-10-10 10:54] udittmer commented on #118
Thanks very much for the help, I appreciate it. I can build the sample code fine, and after upgrading my tool chain to the latest Gradle version (I was still using 4.10.2), so does my app. Maybe something internal to Gradle changed along the way. Anyway, the problem is solved.

[2019-10-12 11:46] asturio opened #283 "Code Convention and Style Guide"
OpenPDF had till 2019-10-12 no Coding Convention or Style guide. And the formatting of the code is really a mess. So from now on, please use the Google Style Guide for Java code.

[2019-10-12 14:46] asturio commented on #146
I manage to convert all production code to Java7: no streams, no lambdas, no functionalInterfaces, and no use of classes, which are not present in JDK 7.
But now, going to the tests I have a dilemma: JUnit5 requires JDK 8? what do?
Any Suggestions?

[2019-10-12 15:24] noavarice commented on #146
There must be possibility to compile tests with different JDK version, but running tests with different Java version is probably related to CI, I'm not sure about that.
Or project can be switched back to JUnit 4 ofc)

[2019-10-12 20:31] asturio commented on #146
I think I have the solution: It must be compilable on JDK7, but the build and test can be done with JDK8, so the Tests will run.
I'm still not ready, as there are some Optionals in the code, I didn't get using jdk8 locally.

[2019-10-13 14:22] sixdouglas commented on #283
@asturio: what kind of help do you want on this issue? Creating the Eclipse settings file? Or more than that? Like running these settings on the master and submit a PR?

[2019-10-13 16:38] asturio commented on #283
An Eclipse file would be nice, the first step.
Then we could add some more rules to checkstyle, but only one at time, so there will be no overwhelming warnings.

I think the curly braces rule and the indentation should be the first one, as these are the more significant rules, I think.

[2019-10-14 13:24] noavarice commented on #146
It's actually unreasonable to downgrade Java version. We can't satisfy all possible user needs. If I create issue that I need to use library with Java 4 - this does not mean that we will remove all annotations from code.

@arnthom What do you mean under "maintained"? AFAIK there's already Java 7 compatibility branch. Does it suit your particular needs? I do not want to limit someone in usage of Op

[2019-10-15 08:55] arnthom commented on #146
There is indeed "openPdf 1.2.3 Java 7". I managed to use this instead of 1.3.11.
It would be nice, if this branch could profit from bugfixes and maybe some enhancement in the main branch.

[2019-10-16 18:46] #261 closed

[2019-10-16 18:50] asturio commented on #146
Hi @arnthom ,
can you try the new branch, after the last merge from master? You need to build it yourself.

[2019-10-18 08:25] rammetzger opened #288 "Parsing nested lists with HTMLWorker"
The HTMLWorker.parseToList() method has a bug when parsing nested lists, e.g.
[code]
As a result, only the first-level elements are returned: ['Element-1', 'Element-2'].

The bug is in the HTMLWorker.endElement() method:
[code]
For nested lists, variable 'obj' is of type 'com.lowagie.text.List', but it is casted to type 'Element'. Therefore the method 'add(Element o)' is called, but this method do

[2019-10-18 08:58] saalmi098 opened #289 "Repeat Cell Content on new Page after Page-Break"
**Problem**

I have a table that goes over several pages.

When the table splits due to a page-break, I would like to repeat the cell contents of the last cell (on the old page) in the new cell on the next page.

**Example**

![image](https://user-images.githubusercontent.com/34773412/67080750-27679900-f196-11e9-82bc-bd445e931b8d.png)

**Logic with iText**

With the iText library this logic is fai

[2019-10-23 11:09] arnthom commented on #146
Hi @asturio!
Now I started a new Maven project in Eclipse (openpdf, pdf-swing, pff-toolbpx), but (since it is my first encounter with Maven) I do not know how to build.
Can you give a hint how do do this? Thanks a lot!

[2019-10-23 20:39] asturio commented on #146
Hi @arnthom ,
just to in to the project directory and type "mvn package". You will find the jar in openpdf/target. If your project uses maven, you can also install openpdf with "mvn install", and your project should find the jar if you put the right dependency there.
HTH

[2019-10-25 14:41] sixdouglas commented on #276
@asturio maybe we need to build a release to make these changes available to all

[2019-10-29 20:03] sixdouglas commented on #288
@rammetzger can you check my [PR](https://github.com/LibrePDF/OpenPDF/pull/290) and tell me what would be the expected result?

[2019-11-06 17:54] sonOfRa opened #291 "ScaleToFit but don't increase size"
I'm not sure if one of the existing methods in Image already do this, if so, I didn't understand the documentation on them quite right, but what I want do is the following:

I'm building PDFs that use user-supplied Logos at the top. The logo has a certain box of width and height that it is not allowed to exceed. What I would like to do is scale the image to fit into that box, but do not ever scale

[2019-11-13 11:39] legiorange opened #293 "How to add watermarker use chinese?"
I put OpenPDF in project
but still don't know how to add watermarker use chinese.
I try use unicode but not chinese here . I try change character set now.
I really need help.

[2019-11-13 13:33] andreasrosdal opened #294 "Update Bouncycastle to 1.64"
Update bouncycastle to 1.64

https://www.bouncycastle.org/latest_releases.html

[2019-11-13 21:43] noavarice commented on #293
Can you please provide us with minimal working example? This will simplify debug and testing

[2019-11-14 02:31] legiorange commented on #293
1.package com.lowagie.toolbox.plugins.watermarker;
2.class WatermarkerTest

    @Test
    void shouldWriteWatermarkWithIOStreams() throws IOException, DocumentException {
        // GIVEN
        Path path = Paths.get("src/test/resources/MyFile.pdf");
        byte[] input = readAllBytes(path);
        String text = "1 :\u4e2d\u6587";
        int fontsize = 100;
        float opacity = 0.5f;

[2019-11-14 07:28] bsanchezb opened #296 "Visible signature loses its state"
Hello,

We faced with an issue after the last commit from 21.10.2019 (7e5a8f0) when creating a visual signature. The problem is that the code produces two different outputs when I create a data-to-be-digested and the signed document.

The code of the library is quite complex, so I cannot find an issue by myself.

The examples of two produced files are in the attachment. The problem seems to be in

[2019-11-16 09:42] codecracker2014 opened #297 "Multilingual fonts not supported properly as typography rules not implemented."

[2019-11-16 19:01] noavarice commented on #293
@legiorange, sorry for a such a long response
**TL;DR**: Currently it's not possible to add watermark with Chinese symbols, but you can workaround it for now.

**Explanation**: After some investigation it finds out that you cannot add watermark with Chinese text at least with current version of OpenPDF. The root of a problem is a font that is used to add watermark - it's Helvetica with CP-1252 sin

[2019-11-18 06:45] legiorange commented on #293
I Love u。

It's helpful!

[2019-11-18 07:11] msdobrescu commented on #145
Hi, same problem with Eclipse here.
I don't use Maven, I want to build it myself, but I don't get the main project imported.
I.e., using Eclipse (2019-09), I try to import the project from the sources path, but only the pdf-swing and pdf-toolbox are imported properly, and Eclipse projects are created for them, but for openpdf not.
An empty nuild configuration is created only.
What is the reason?

[2019-11-18 18:52] srbala commented on #145
you have to import project as existing maven project and select pom.xml in root folder

![image](https://user-images.githubusercontent.com/1273137/69080694-752c2700-0a0a-11ea-8b92-f06d979a7c32.png)

![image](https://user-images.githubusercontent.com/1273137/69080778-9ab93080-0a0a-11ea-8844-997ba5c75801.png)

![image](https://user-images.githubusercontent.com/1273137/69080830-af95c400-0a0a-11ea-98d

[2019-11-18 18:57] srbala commented on #145
It's easier to get prebuilt jar from maven repository, unless you  are planning on work on any issues. Master branch points upto date development. If you need stable sources, use release versions https://github.com/LibrePDF/OpenPDF/archive/1.3.11.zip for 1.3.11 release. Prior versions available at https://github.com/LibrePDF/OpenPDF/releases

[2019-11-18 20:13] msdobrescu commented on #145
It's simply strange. What is openpdf-parent? Eclipse it's not that friendly in referring projects.
On one hand, importing as Maven, although seems successful, doesn't work for pdf-swing, pdf-toolbox, because claims those can't find openpdf build through Maven. I would have expected to be able to refer openpdf from the local build... Anyway, I probably don't need them, so removing them or ignoring

[2019-11-18 20:14] msdobrescu commented on #145
And to clarify why I have did like this: I need to debug openpdf just to start understanding it and know it better.

[2019-11-18 20:39] srbala commented on #145
Looks like you are not familiar with maven and how to compile and build. Please google up, you may find some material. It might takes tedious step using debug in Maven; you may have to use the sources to import into regular java project and set the dependency manually.

This thread OR project issues is not meant to be how-to

[2019-11-18 20:50] msdobrescu commented on #145
Indeed, but Maven is not my choice at all, I should not intall Maven related plugins just to disable/remove it from the project.

[2019-11-19 20:14] sixdouglas commented on #296
@bsanchezb Acrobat complains when trying to open the toBeSigned.pdf file. The document may be corrupted. Though I can open it in Chrome. Can you add, here the code you used to generate it?
What would you say by:

[2019-11-19 20:15] sixdouglas commented on #297
@codecracker2014 thanks for this issue but what would you mean? Any particular issue? Code to reproduce it?

[2019-11-20 01:16] codecracker2014 commented on #297
Current output:
![image](https://user-images.githubusercontent.com/6597998/69200240-92730980-0b60-11ea-8b68-13b952258923.png)

Expected output:
![image](https://user-images.githubusercontent.com/6597998/69200399-044b5300-0b61-11ea-9692-104b1efaff52.png)

This is due to glyph substitutions not done as per TTF file.
Below is link to typography specs:
https://docs.microsoft.com/en-us/typography/opent

[2019-11-20 06:29] bsanchezb commented on #296
@sixdouglas The Adobe complains because it is not a document "toBeSigned", it is a pre-computed data, which will be hashed and actually signed (if to open the document with a text-editor, you will see that it contain an empty "contents" element).

In DSS (a digital signature application), we firstly compute a digest to be signed, and then we actually sign the document. In PAdES the signature cover

[2019-11-20 17:48] msdobrescu commented on #145
Hi, I chose Maven, in the end, even in Eclipse. The reason is Eclipse is not that clever at importing OpenPDF. It can't properly import OpenPDF because the parent project is called "OpenPDF" and contains the core project, called "openpdf" , that name being in conflict (regardless the casing). So, it throws an error and import stops. At least under Windows. This might be one thing to take into acco

[2019-11-21 06:59] msdobrescu opened #299 "Please help on how to parse"
Hello,

I'd need to parse a PDF. For security reasons I can't provide it.
Is there a way to get a collection of styles, paragraphs, cells, in order to decide which contained text section to take? I've seen LibreOffice does this as export to .fodg, but would be good to avoid that.
What are the classes and functions to look for? Is there some mock-up code that would be a start for this?

Thank you i

[2019-11-26 06:57] sprengstuff opened #300 "codewords padding for Macro PDF417-macro barcodes"
PDF-417 macro barcodes are not generated correctly
Look at the bug in itext
https://github.com/itext/itextpdf/commit/adb9b5e86a53d4c95b7fe1bf8fe3fe3be88f6179#diff-4e078bbe8890325866c39d8ca563f49f

[2019-11-26 07:00] sprengstuff commented on #300
[macroBarcode.zip](https://github.com/LibrePDF/OpenPDF/files/3890449/macroBarcode.zip)

[2019-11-27 16:54] mkl-public commented on #296
@bsanchezb

I just inserted the signature value from your `signedDoc.pdf` into your `toBeDigested.pdf` resulting in [toBeDigested-WithSignature.pdf](https://github.com/LibrePDF/OpenPDF/files/3897725/toBeDigested-WithSignature.pdf). It also is broken. Thus, you do have other issues, too.

----

The differences in the object stream is the order in which two objects with identical content appear (two

[2019-11-27 16:59] mkl-public commented on #297
Just like in iText 5, OpenPDF only has a limited support for advanced typography.

[2019-11-27 18:11] bsanchezb commented on #296
Dear @mkl-public , thank you for your comments.
Of course the signature will be broken, because these two documents have different content (exactly by a reason what you described afterwards).
We do a signature in three steps:
- get dataToSign (toBeDigested);
- get signature value (sign the digest);
- generate the signature document.
And only in case of PAdES the dataToSign is equal to the output s

[2019-11-28 04:30] codecracker2014 commented on #297
itext2 was used in more then 150 open source libraries, now these libraries can use OpenPDF. But all of them having this limitation. Itext was rewritten just add advanced typography, which is no longer compatible with other open source libraries. I'm working on improving OpenPDF to support advanced typography and got it working. I'll share pull request shortly.

[2019-11-28 08:05] bsanchezb commented on #296
Hello Michael,

I re-checked the case today morning, indeed, yesterday I understood wrongly what you did.
The signature has a problem with a certificate there.

To be consistent I attach new files created with the develop branch of OpenPDF. And the merged result "toBeDigested-WithSignature".
[toBeDigested.pdf](https://github.com/LibrePDF/OpenPDF/files/3900542/toBeDigested.pdf)
[signed.pdf](https:/

[2019-11-29 10:26] mkl-public commented on #296
Do you have a test case with which one can reproduce the issue?

[2019-11-29 14:27] bsanchezb commented on #296
@mkl-public you can try to run [PAdESSignatureField](https://github.com/esig/dss/blob/master/dss-pades/src/test/java/eu/europa/esig/dss/pades/signature/visible/PAdESSignatureField.java) test with OpenPDF version 1.3.12-SNAPSHOT

[2019-11-30 10:10] josephe-kv opened #301 "PNG type TYPE_BYTE_BINARY incorrectly printed"
The 2, or 4 bit image (PNG) type of TYPE_BYTE_BINARY is not correctly printed.

example of the image:
![wn_screen](https://user-images.githubusercontent.com/58358982/69899007-e6e86700-1360-11ea-8827-0c513ee91efd.png)

incorrect ouput:
<img width="334" alt="obrazek" src="https://user-images.githubusercontent.com/58358982/69899074-a5a48700-1361-11ea-9b08-74dea09ebded.png">

The problem could be solv