[2019-11-30 10:57] josephe-kv commented on #301
Problem solved in
https://github.com/josephe-kv/OpenPDF/commit/85e4e2231d1cb5518dc65ca77496c5f52a678edc

[2019-12-04 16:00] justinasbardauskas opened #303 "Validation error is caused by the use of item /ITXT inside PDF file"
Hello,

We use OpenPDF (1.3.11) with JasperReports to create  PDF files, which will be sent to document signing third-party provider. The problem is that PDF contains invalid "/ITXT" which causes the failure,  because it is not whitelisted for use in Denmark .  Currently I'm using PdfBox as a workaround to remove it.

The cause of this issue is:
- https://github.com/LibrePDF/OpenPDF/blob/master/op

[2019-12-04 17:52] mkl-public commented on #303
**ITXT** is a valid name.

Nonetheless there was a recent discussion to replace it because it is linked to the original iText library developer, see https://github.com/LibrePDF/OpenPDF/issues/261 ... perhaps your issues pushes that discussion somewhat further

You might want to explain this. Who white-lists PDF names in which contexts and for which use cases in Denmark?

The iText library versions

[2019-12-05 11:38] justinasbardauskas commented on #303
@mkl-public Thanks for your effort.
As I understand, they whitelisted items to ensue rule "[What You See Is What You Sign](https://en.wikipedia.org/wiki/WYSIWYS)".

Removal is only a last resort option and there is always backward-compatibility question. In my opinion OpenPDF requires new feature which would allow to exclude/disable items, meaning configured items wont be included in to PDF e.g. `

[2019-12-05 13:45] mkl-public commented on #296
@bsanchezb

A work-around for your issue is to replace

    protected HashMap<PdfDictionary, PdfObject[]> documentExtGState = new HashMap<>();

in `PdfWriter` by

    protected Map<PdfDictionary, PdfObject[]> documentExtGState = new LinkedHashMap<>();

which will make sure that the **ExtGState** dictionaries will be stored in the order they were created, not in an unpredictable hashing order.

---

[2019-12-05 18:07] mkl-public commented on #303
Yes, but by keeping it simple for themselves and ignoring the context in which a name is used, they forbade much too much.

Interestingly enough, they even effectively forbade PAdES signatures (if the provided white-listing is still current and complete), ensuring non-interoperability with standard European PDF signatures. I wonder whether this was actually done by design...

Adding configurable o

[2019-12-06 14:00] bsanchezb commented on #296
@mkl-public thank you for investigations. It works indeed.

[2019-12-06 14:11] arnthom opened #305 "Table with .setTableFitsPage(true) and border fills rest of page with empty bordered table"
In my document, there are some tables filled with text depending on some situation.
I don't like them to be split by a pagebreak, so I use .setTableFitsPage(true);
When this text/table is of some importance, I use a border and grey-filled background.

Now rendering fills the rest of the page when the next table does not fit.
It seems to fill the page with a blank table with no background, but a bo

[2019-12-11 18:24] cfraenkel opened #310 "GPL License header in PdfCrossReferenceTest"
This license text belongs on GPL files, I suspect this was meant to be LGPL ?

https://github.com/LibrePDF/OpenPDF/blob/dcf96f1b2ef9f213af97fb692f61d3940dff78ca/openpdf/src/test/java/com/lowagie/text/pdf/core/document/PdfCrossReferenceTest.java#L9-L20

https://www.gnu.org/licenses/gpl-howto.en.html states:

[2019-12-12 14:45] Sercurio opened #311 "Help to get the value of Item Object"
Before i used to get the value like that :
[code]
But now getFields is deprecated so I wanted to go like :
[code]
But that print the memory adress of the Item Object.

It is the good way to handle this ?

[2019-12-12 15:32] arnthom commented on #305
Some issue with
table.setBorder(Rectangle.BOX);

I have to check deeper ...

[2019-12-12 15:32] #305 closed

[2019-12-13 14:14] mkl-public commented on #311
`getAllFields` return exactly the same map as `getFields` does, merely the announced type differs. Thus, you can simply replace `getFields` by `getAllFields` in your original code and be done with this deprecation.

[2019-12-15 11:07] andreasrosdal commented on #310
All source code in OpenPDF is LGPL/MPL licenced. The license text in PdfCrossReferenceTest.java is essentially a typo, and should be corrected and updated to the normal LGPL/MPL licence header used elsewhere.

[2019-12-16 07:13] codecracker2014 opened #312 "Bold fonts not working for Calibri"
getFont method of FontFactoryImpl expects fontname, size, style. But doesn't consider style argument in case different bold font exists for provided font name, as per below code.

![image](https://user-images.githubusercontent.com/6597998/70886308-2ff71700-2001-11ea-8544-03ffbe0b487e.png)

So with above condition if i use below code it will output normal style :
`            Paragraph p1 = new Par

[2019-12-16 07:33] V-F opened #313 "StackOverflowError by calling PdfGraphics2D.translate(int,int)"
After f73467c commit, calling the method translate(int,int) of the class PdfGraphics2D results in an StackOverflowError. Bugfix is proposed in the [306 PR](https://github.com/LibrePDF/OpenPDF/pull/306).
The following code example may reproduce this error when uncommenting a line:

    import java.awt.Color;
    import java.awt.FontMetrics;
    import java.awt.Graphics2D;
    import java.awt.geom.A

[2019-12-16 08:21] V-F opened #314 "Problem with simulating bold font by drawing text"
There is a problem with simulating bold font by drawing text with the logical font if text cosists from the symbols from the different physical fonts (logical fonts always has suffix ".bold" for the bold style and ".bolditalic" for the bold & italic style).  Bugfix is proposed in the [PR 307](https://github.com/LibrePDF/OpenPDF/pull/307).
The following code example may reproduce this problem:

[2019-12-16 08:55] V-F opened #315 "Problem with displaying strings with composite fonts"
There is a problem by drawing a string that contains various Unicode characters when using logical fonts for displaying. The reason is that it is not enough to check the availability of the glyph in the physical font, but it is necessary to check the presence of the character in the BaseFont used for drawing, since it doesn't know how the FontMapper is implemented.
Bugfix is proposed in the [PR 30

[2019-12-16 09:17] codecracker2014 commented on #312
Raised pull request for this issue against #316

[2019-12-17 16:25] Sercurio commented on #311
Thanks that working.

Maybe give the possibility to get the value field from the Map ??

[2019-12-18 07:36] rammetzger opened #317 "Lines get lost on page break"
3 months ago we asked for bug fix because we had a problem with rows, that were printed twice when a page break occurred inside a table cell. [https://github.com/LibrePDF/OpenPDF/issues/258]

However, we have now discovered that this bugfix causes another problem: Sometimes a row is lost if a page break occurred in a table cell with long text.

Please revert the changes from this issue.

[2019-12-23 09:30] vikash-tiwari opened #318 "Document.close() always add a new page if PdfWriter is used."
This is a simple code copied from https://github.com/LibrePDF/OpenPDF/wiki/Hello-World. I am only adding a single paragrape, I expect page number to be 1 only, but it always adds a newPage (in listener i.e. PDFDocument)

[code]

How can I get the actual number of Pages in the documents?

[2019-12-23 11:50] legiorange opened #319 "I need append more watermaker ,do tile effect."
I' m so sorry!

I try what I can do , but still can't set more watermaker on one line.

I really need Tile effect ....

[2019-12-23 17:08] mkl-public commented on #318
It is part of the architecture of iText up to and including its 5.x versions and, therefore, also of OpenPDF to sometimes create pages and drop them again when it turns out they are not needed.

Furthermore, you test a value of the `PdfWriter writer` after it is closed (it implicitly is closed when closing the `Document document`), and one should never trust properties of a closed entity other tha

[2020-01-03 12:37] vic0075 opened #320 "OpenPDF uses hardcoded digest algorithm SHA-1 for timestamp imprint. Doesn't support any other algorithm (e.g. SHA-256)"
OpenPDF being forked from Itext4 is till using hard coded SHA-1 digest for timestamp imprint. Itext, itext5 onwards, allows to use TSAClient to get timestamp imprints
https://github.com/itext/itextpdf/blob/develop/itext/src/main/java/com/itextpdf/text/pdf/security/PdfPKCS7.java
[code]
In older standard https://www.etsi.org/deliver/etsi_en/319100_319199/31914201/01.01.01_60/en_31914201v010101p.pdf

[2020-01-03 22:02] andreasrosdal commented on #320
PR welcome!

[2020-01-06 11:23] vic0075 commented on #320
PR added
https://github.com/LibrePDF/OpenPDF/pull/321

[2020-01-06 20:05] mluppi opened #322 "Subclasses of List no longer render "bulletpoint"-characters properly"
After upgrading to version 1.3.11 I noticed that my lists using `ZapfDingbatsList` do not render as they did previously. The "bulletpoint"-characters no longer seem to function properly. Actually all subclasses of `List` are affected by this bug.

_The following sample code is used to demonstrate the issue:_
[code]

_Here are the different results:_
<img width="236" alt="render-2-versions" src="ht

[2020-01-07 14:31] exuvo commented on #277
I also see the filesize increase as an issue. We deploy many tomcat webapplications and an 2.4MB lib size increase would multiply many times across all the webapplications leading to a measurable increase in disk usage and redeployment times. Unfortunately we are not able to use filesystem deduplication at this time and even with it we still have to transfer it to a handful of servers some remote

[2020-01-09 06:42] dprutean opened #324 "Reduce size of sticky notes"
I use OpenPdf to generate database diagrams with column tooltips like here:
![image](https://user-images.githubusercontent.com/4970910/72043687-12406900-32b2-11ea-8027-0b7d336ac6e3.png)

using :
[code]
I wrote to Adobe User Group asking how may I get rid of the yellow sticky note. Their answer is below. Do you know how may I implement their recomandation in OpenPDF ?

-------
Try reducing the opac

[2020-01-13 07:35] omkar-tenkale opened #325 "Crash on document.add(image) on android"
Theres this error occuring when converting images to pdf as follows;

[code]
**Tried adding**
[code]
**but same error**

[code]

[2020-01-14 00:26] BobbyRuby commented on #118
I just saw the samples and was going to share it here!  Thanks andob!  I will be putting this to good use I think.  I'll report back any problems or issues I may find!

[2020-01-15 14:18] andreasrosdal opened #326 "Update BouncyCastle dependency to 1.64"
Update BouncyCastle dependency to 1.64

[2020-01-15 15:12] asturio commented on #313
PR integrated

[2020-01-15 15:12] #313 closed

[2020-01-16 06:22] #320 closed

[2020-01-16 06:31] #315 closed

[2020-01-16 06:33] #314 closed

[2020-01-16 06:39] #326 closed

[2020-01-16 07:33] #312 closed

[2020-01-16 07:37] #294 closed

[2020-01-16 07:37] #301 closed

[2020-01-16 07:37] #322 closed

[2020-01-16 07:38] andreasrosdal commented on #314
This has been fixed in OpenPDF 1.3.12. Please test that version, and report if this issue is fixed there.

[2020-01-16 07:39] andreasrosdal commented on #315
This has been fixed in OpenPDF 1.3.12. Please test that version, and report if this issue is fixed there.

[2020-01-16 07:39] andreasrosdal commented on #312
This has been fixed in OpenPDF 1.3.12. Please test that version, and report if this issue is fixed there.

[2020-01-16 07:40] andreasrosdal commented on #301
This has been fixed in OpenPDF 1.3.12. Please test that version, and report if this issue is fixed there.

[2020-01-16 07:42] andreasrosdal commented on #325
Maybe you need liblcmm ?

[2020-01-16 07:47] andreasrosdal commented on #128
The repo has been updated now.

[2020-01-16 13:53] chas678 opened #327 "Producer program + version number metadata is not populated in PDF's"
Producer metadata not available.  Missing out on free marketing opportunity for this project :-D
test was doing a PDF merge (merge 3 PDFS into 1) - no metadata available in the output.

[2020-01-16 16:34] andreasrosdal commented on #327
Thanks for reporting. Pull request welcome.

[2020-01-16 18:36] albfernandez commented on #327
Hi
I've submitted several pull request on this topic [here](https://github.com/LibrePDF/OpenPDF/pull/179) It's intentional to disable by default  wrinting any metadata (security reasons: we dont want to leak info to an attacker).
You can always call to document.addProducer() by yourself.

It's open for discussion of course.

[2020-01-16 19:14] #327 closed

[2020-01-16 19:46] #303 closed

[2020-01-17 06:34] andreasrosdal commented on #288
This has been merged to the master branch now.
@rammetzger @sixdouglas Can you please confirm that this is working as expected now?

[2020-01-17 06:34] #288 closed

[2020-01-17 09:19] V-F commented on #314
Tested. This issue was fixed in 1.3.12.

[2020-01-17 09:21] V-F commented on #315
Tested. This issue was fixed in 1.3.12.

[2020-01-17 11:00] andreasrosdal commented on #128
OpenPDF now has 0 errors, and 82 warnings!

https://lgtm.com/projects/g/andreasrosdal/OpenPDF/?mode=list

[2020-01-17 21:05] NishJavaDev opened #328 "OpenPDF jar version with XXE vulnerability fix"
Currently I am using Birt Report runtime version 4.4.2 and it internally uses iText version - 2.1.7 I have Birt report .rptdesign files as template and using Birt Report runtime engine for dynamically create/render pdfs where data comes from database and pdf will be rendered on web browser.

As per below link there is XXE vulnerability in iText 2.1.7 version

https://www.cvedetails.com/cve/CVE-201

[2020-01-18 06:31] andreasrosdal commented on #328
Thanks for reporting. Pull requests welcome.

@daviddurand @bengolder @asturio @sixdouglas

[2020-01-18 09:19] andreasrosdal commented on #328
Isn't this fix sufficient: https://github.com/LibrePDF/OpenPDF/pull/56/files

[2020-01-18 09:22] #328 closed

[2020-01-19 12:08] mluppi commented on #322
Tested. This issue was fixed in 1.3.12.

[2020-01-19 12:32] asturio commented on #277
Ok, we could make a separate package with only the added fonts. So if you do not need UTF-8 support, or have your own fonts, you won't need the extra 2.4 Mb...

[2020-01-20 07:08] vic0075 commented on #259
Isn't this a wrong practice to start with ie. setting margin after document is opened.
I have slightly updated your piece of code with
`Document document = new Document(PageSize.A4, 0, 0, 0, 0);
        PdfWriter writer = PdfWriter.getInstance(document, new FileOutputStream("testSetMargin.pdf"));
        document.open();
        document.setMargins(40, 40, 40, 40);
        document.newPage();

[2020-01-23 11:27] sixdouglas commented on #317
Is it possible to provide a sample code to reproduce easily this bug?

[2020-01-23 13:26] rammetzger commented on #317
I cannot provide an example because the code for generating the report is very large. it would be too much work for me. I made some screenshots, I hope they help you. See: input_text.png and printed_text.png.

I tested with version 1.3.13 and found another issue. Opacity no longer works as expected. See: draft_old.png and draft_new.png.

Viele Grüße / Best regards
Michael

Von: SIX Douglas <notifi

[2020-01-27 06:23] omkar-tenkale commented on #325
If it is required for such a basic task, shouldnt it be  included in  library?

[2020-01-27 08:34] andreasrosdal commented on #325
Have you read https://github.com/LibrePDF/OpenPDF/wiki/Android-support ?
And seen https://github.com/andob/android-awt ?

Pull requests welcome.

[2020-01-27 17:48] gliwka opened #330 "Extracting text from PDF with embedded Identity-H font fails"
### Summary

Extracting the text from an file with an embedded Identity-H font previously created by OpenPDF fails (sample file: [identity-h.pdf](https://github.com/LibrePDF/OpenPDF/files/4118041/identity-h.pdf)). It just returns an empty string instead of "Hello World".

I'm using the latest release.

### Discoveries during debugging

I was able to trace the issue to https://github.com/LibrePDF/O

[2020-01-28 06:19] andreasrosdal commented on #330
Thanks for reporting. Pull requests welcome.

[2020-01-28 11:45] omkar-tenkale commented on #325
I don't know the issue to even try to fix it.
Opened issue here
https://github.com/andob/android-awt/issues/2

[2020-01-30 00:16] alanwhite opened #331 "Illegal reflective access warning at Java 13"
Similar to issue #101.

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.lowagie.text.pdf.PdfGraphics2D$CompositeFontDrawer (file:[snip]openpdf-1.3.12.jar) to method sun.font.FontUtilities.getFont2D(java.awt.Font)
WARNING: Please consider reporting this to the maintainers of com.lowagie.text.pdf.PdfGraphics2D$CompositeFontDrawer
WARNING: Use --

[2020-01-30 06:37] andreasrosdal commented on #331
Thanks for reporting. Pull requests welcome.

[2020-01-30 06:40] #311 closed

[2020-01-30 14:07] mkl-public commented on #330
Please be aware that the OpenPDF parsing framework inherited from iText 2.1.7 (4.2.0) is essentially in a state of proof-of-concept. In iText the development of it continued during the 5.x versions to eventually be production-ready.

The current state in OpenPDF does not yet support multi-byte encodings. Work on it had already begun as you can see in the check for **Identity-H** in the `ParsedText

[2020-01-30 15:50] #331 closed

[2020-01-31 03:53] #297 closed

[2020-01-31 08:56] andreasrosdal commented on #330
Yes, it's a new feature. whatever. Most software is essentially in a state of proof-of-concept which is continually developed.

[2020-01-31 13:06] codecracker2014 commented on #145
Making xdoc-report(https://github.com/opensagres/xdocreport) compatible with OpenPDF with #333

[2020-01-31 14:57] srbala commented on #145
@codecracker2014 Going backwards is not a good option, might be good to update xdoc-report

[2020-01-31 17:13] codecracker2014 commented on #145
@andreasrosdal, @srbala  there are around 160 open source projects listed on maven (https://mvnrepository.com/artifact/com.lowagie/itext) which are using itext 2, if we can keep backward compatibility it would be really easy for them to migrate.
Regarding https://github.com/LibrePDF/OpenPDF/pull/333#issuecomment-580730527:
Pull request for backward compatibility have been already merged with #210.

[2020-02-06 14:01] cursor42 opened #334 "What happened to module 'pdf-rtf' ?"
In older releases of OpenPDF (e.g. 1.1.0) there was a module called `pdf-rtf` (still hosted on Maven Central as `com.github.librepdf / pdf-rtf / 1.1.0`) which seemed to be a fork of `itext-rtf`.

We used `itext` and `itext-rtf` version 2.1.7 for a long time. `OpenPDF`should be a good replacement for `itext` but I cannot find a replacement for `itext-rtf`.

Could you please tell me, if it is possib

[2020-02-06 19:52] andreasrosdal commented on #334
pdf-rtf can now be found as OpenRTF here:  https://github.com/LibrePDF/openrtf

pdf-rtf was removed from OpenPDF, and can now be found in the repository above. Contributors to that project is welcome!

[2020-02-07 06:30] #334 closed

[2020-02-07 21:21] sslavian812 opened #335 "Set specific page size and DPI."
Hi, I'm trying to construct a single-page pdf with a single picture filling all the space.
I want it to have specific dpi and specific page size in mm. Say, 300 dpi, 112.86x169.33mm

As far as I understood, `com.lowagie.text.Rectangle(float urx, float ury)` width and height are set in "points". And I can't specify dpi for the `com.lowagie.text.Document`, since it's vector object.
I saw `com.lowagi

[2020-02-08 18:18] mkl-public commented on #335
The meaning of the `Rectangle` width and height depend on where that rectangle is going to be used. As you mention `PageSize`, though, I assume you mean `Rectangle` instances used to set the page size property of a `Document`, either in the constructor or the accordingly named setter.

Here the rectangle dimensions are set in _default user space units_. These units are defined by the **UserUnit**

[2020-02-09 05:45] #335 closed

[2020-02-11 23:40] timbaas opened #336 "Iterate through the elements of a PDF's page and change font color."
Hi there,

Been searching for a while to find a way to iterate through a PDF's objects, determine if the type of the object is a text and manipulate the font color in certain cases.

The best I've got until now is iterating the keys of a `PdfDictionary` returned by `reader.getPageN()`.

I see some PRIndirectReference instances which I think are graphics and text, but I'm not sure how to go from he

[2020-02-12 14:58] mkl-public commented on #336
First of all, what you are trying to achieve in general is not easy:

In the PDF you don't have something like a "text object" with some "text content" and "text properties" like font and color.

Instead you have a stream of instructions, among them font selection instructions (referencing a font object in the resources associated to the stream by name and a font size), color selection instruction

[2020-02-12 20:30] #336 closed

[2020-02-12 20:34] timbaas commented on #336
Thanks so much for this very detailed explanation! The instructions make perfect sense, but I never knew PDF's were structured this way. I will jump in the specs and will post the solution here if it works out. Thanks again!

[2020-02-13 12:30] sslavian812 commented on #335
Thanks, it worked like a charm!

[2020-02-13 14:54] mkl-public commented on #299
**If your PDF is not tagged**, please be aware that there are no explicit styles, paragraphs, or cells in your PDF, there merely are streams of instructions (like _select-font-and-font-size_, _select-fill-color_, _draw-text-chunk_, _select-stroke-color_ _move-to_, _line-to_, _draw-path_, etc.).

By parsing these instructions you can try to collect text chunks and arrange them to text lines and par

[2020-02-18 23:38] mattymurphy opened #337 "OpenPDF 3x file size than itext 2.1.7"
I'm migrating from itext 2.1.7 to OpenPDF. The same PDFs being generated are 3x the size with OpenPDF. Are there methods for optimizing the file size? Should I expect the file size to be close to equivalent?

[2020-02-19 06:55] andreasrosdal commented on #337
Hello. As part of cleaning up OpenPDF from the old iText-legacy-code, some image codecs were removed from OpenPDF, because we didn't want to maintain image codecs (it's complicated!), and we wanted to use the image codecs which were provided by the native Java JVM libraries and other Java libraries instead. This was also part of removing uncertainties about the origin and license of some parts of

[2020-02-19 06:55] #337 closed

[2020-02-19 07:56] Lonzak commented on #337
Since we don't know what you are doing it is difficult to tell: Creating PDFs from scratch, Splitting, Merging, Editing ....
But depending on your use case there are also certain methods available:

- removeUnusedObjects()
- setFullCompression
- use PdfSmartCopy instead of PdfCopy
- compress your images
- ...

[2020-02-19 13:03] timbaas opened #338 "Trying to add fillColor operation with PdfSpotColor, but references to GraphicState and ColorState don't exists in final PDF"
I'm trying to merge multiple PDFs that represent layers into a single new PDF. This works, but another thing I need to do is replace a regular `fillColor` operation with a `fillColor` & `SpotColor` combination.

Currently I read the `byte[]` of each layers' PDF by using `getPageContent()` into a variable. I use the `PRTokenizer` to iterate through the tokens and when I come across the `"rg"` opera

[2020-02-19 19:34] pamplemousse-apps commented on #337
I am the originals poster's co-worker and I ended up calling setFullCompression on the PDFwriter and it significantly reduced the size of the PDF file.  It doesn't explain why the original file was over 3 times bigger but at least it's a smaller size now.  We were not using pdfcopy/PdfSmartCopy  and we also do not have any images in the PDFs in question.  The files only contain plain text.  and we

[2020-02-26 09:37] Alexandru-Pirvu opened #339 "Table over multiple pages with cell borders"
Hello! I am trying to create a table which spans over multiple pages. I want the cells to have space between them and the only way I found to do this is to add an "invisible" bottom border to the cell. It is not perfect, but it works. If I add spacing, it also adds space on the sides, and I don't want that.

The problem is that I get a NPE when the table reaches page 2, and it is because the _cell

[2020-02-29 12:11] asturio opened #341 "2 x IntelliJ Licenses for active Contributors"
Hi everyone,
I have 2 licenses for IntelliJ Ultimate to give away for active contributors. If you think, you are an active contributor, please let me know in a comment here, and I'll check that.
You may also name a contributor.
On 2020-03-07 I'll distribute them.

[2020-02-29 16:04] codecracker2014 commented on #341
May I have one.

[2020-03-01 06:01] andreasrosdal commented on #341
I would discourage people from using closed-source software as their main IDE.

[2020-03-08 08:57] vermanshuman opened #342 "Duplicate Comments on using setPDFXConformance"
I am trying to convert PDF to PDFA. I have comments added in source table. Everythisg works fine except the if I use setPDFXConformance method it show duplicate comment in final pdf. I am not sure what is the issue.  Also this is not visible in 100% mode but in 125% I can see. Attaching two screenshot. Also if I don't use setPDFXConformance  everything good

![Final](https://user-images.githubuser

[2020-03-09 10:28] andreasrosdal opened #343 "Convert dangerous PDFs to a safe PDF using OpenPDF"
Add support for converting potentially dangerous PDFs to a safe PDF. This should be done inside OpenPDF in Java. This involves removing potentially unsafe content inside a PDF.

How can we add support for securing PDF files with OpenPDF?
What are things inside a PDF file which can be unsafe? If we can identify unsafe content, then we can add a new function to OpenPDF to remove the unsafe content.

[2020-03-10 08:33] arnthom opened #344 "jlink complains about openpdf being an automatic module"
When I try to deploy my pdf project with OpenJava and use jlink to pack the files together, jlink complains
Error: automatic module cannot be used with jlink: com.github.librepdf.openpdf from file:///path-to-lib/openpdf-1.3.13.jar
Error: automatic module cannot be used with jlink: itext.hyph.xml from file:///path-to-lib/itext-hyph-xml.jar
Is it possible to provide an OpenPdf module to modular Java

[2020-03-10 09:51] andreasrosdal commented on #344
Thanks for reporting this. Pull requests welcome.

[2020-03-10 13:41] PsYkO54 opened #345 "PdfPTable is sometime missing a line when using setSplitLate"
Table is sometime missing a text line when using setSplitLate

It works as expected with version 1.3.10, but is not with version 1.3.11+

[code]

I get the following:
![image](https://user-images.githubusercontent.com/50425425/76317772-fc184e80-62dc-11ea-9b83-368774285a44.png)

[2020-03-10 20:19] albfernandez commented on #345
Seems to be cause of the fix for the issue https://github.com/LibrePDF/OpenPDF/issues/258 on the pull request https://github.com/LibrePDF/OpenPDF/pull/260

The https://github.com/LibrePDF/OpenPDF/issues/317 is the same of this, but without sample code

[2020-03-11 15:08] lapo-luchini commented on #274
Mhhhh… being "drop-in" replacement for iText 2.x (or, the few that knew it, 4.x) is a strong use-case for OpenPDF in many situations, I'd be nice to have a (somewhat maintained) branch of that available in the future too (which, of course, can have much less changes/updates than any main branch), it would be a shame to lose that.

[2020-03-13 08:56] #341 closed

[2020-03-18 13:16] sabraMa opened #346 "Convert pdf to images"
Hello
I have some questions:
1 Could I convert my pdf document( multipages) to png images with OpenPDF ?
2 Is it possible to generate pdfA format ?
3 there is any way to compress exsiting pdf ?

thank you a lot for your help

[2020-03-18 13:22] sabraMa commented on #110
Hello
Do you have an idea if this functionality is implemented int the newest version?

[2020-03-18 14:34] RangerMak opened #347 "How to make title page with different header/footer?"
I'm try to create multipage PDF with title page.
Header and footer are sets to all document.
How to make different header/footer for title (first) page?

[2020-03-19 12:34] RangerMak commented on #82
This solution is partially works for me.
But result image is cut off by height. So i have to increase height for template creation.
Getting of size code:
[code]
Is i made something wrong?

[2020-03-20 19:10] #343 closed

[2020-03-31 15:56] RangerMak opened #350 "How to remove dot after chapter/section number?"
`ChapterAutoNumber` make chapter header with dot after its number (example: `1. Chapter name`).
I need to remove ending dot (example: `1 Chapter name`).
How can i do it?

The same problem with sections.

[2020-04-01 10:06] arnthom commented on #350
Can you add how you use ChapterAutoNumber?
In `Section` you can find
`public static final int NUMBERSTYLE_DOTTED = 0;` and
`public static final int NUMBERSTYLE_DOTTED_WITHOUT_FINAL_DOT = 1;`
maybe this could help you?

[2020-04-01 11:06] RangerMak commented on #350
I'm use ChapterAutoNumber like this:
[code]

Yes. `public static final int NUMBERSTYLE_DOTTED_WITHOUT_FINAL_DOT = 1;` is what i need.
`chapter.setNumberStyle(NUMBERSTYLE_DOTTED_WITHOUT_FINAL_DOT);` works fine.

Thanks.

[2020-04-01 11:06] #350 closed

[2020-04-03 13:28] stolp opened #351 "Missing embedded HTML Support with using openPDF with JBoss-Seam-PDF"
In my project we are using jboss-seam-pdf (https://github.com/albfernandez/jboss-seam) for report generation which is using IText2 as a PDF renderer.

JBoss-Seam-PDF allows to embed HTML into the PDF document (<p:html>, see: https://docs.jboss.org/seam/2.3.1.Final/reference/html/itext.html). This is working fine with itext, but once I replace it with openPDF all HTML output is suddenly missing. Ev

[2020-04-14 15:35] dstucki commented on #119
@daviddurand any ETA for this issue?

[2020-04-15 02:21] testn commented on #276
so this one should be closed?

[2020-04-15 05:24] #276 closed

[2020-04-15 08:31] otoman opened #355 "How to number pages in the footer (with total page number)"
Hi, sorry for my stupid question.
I try to get for example _Page 1 of 3_ in the footer.
I found `new HeaderFooter(new Phrase("This is page: ", new Font(bf_courier)), true);` but can´t find how to add total number page. What is the best way?

Thank you :)

[2020-04-15 15:32] egaillardon opened #356 "Anchor with a URL containing a fragment doesn't work"
Hello,
I'm trying to create a document with an anchor that must reference a URL containing a fragment.
But the hash mark is always url encoded : **http://www.ehcache.org/apidocs/3.8.1/org/ehcache/Cache.html%23clear**.
So the browser indicates that the page is not found.
Below a simple code to reproduce the issue I'm facing.
[code]
Did I forget something ?

Thank you.

Emmanuel

[2020-04-21 10:12] jonasatmonday commented on #146
Hello,
first let me thank you a lot for setting up a Java 7 branch for OpenPDF. I am currently working on a project that is still on Java 7 but requires automatic PDF formular population. I first tried out `1.2.3.java7` but had some dependency issues that I could not resolve due to the other given dependencies in the project. 1.0.5 seemed to work at first as it let me compile but now I get an erro

[2020-04-22 04:43] testn commented on #183
Where are we with this?

[2020-04-22 05:47] vic0075 commented on #356
There seems to be some misunderstanding. I have used your code as it is and it is working for me.

![image](https://user-images.githubusercontent.com/6236263/79945071-b11c5a00-848a-11ea-9856-780aaada8959.png)

[2020-04-22 07:10] andreasrosdal commented on #183
Pull requests welcome, still  :)

[2020-04-22 08:36] suiaing opened #358 "AcroFields.setFieldProperty with NullPointerException start from v1.3.12"
Part of log using v1.3.15
java.lang.NullPointerException
	at com.lowagie.text.pdf.PdfContentByte.setGState(PdfContentByte.java:3042)
	at com.lowagie.text.pdf.PdfContentByte.saveColorFill(PdfContentByte.java:2350)
	at com.lowagie.text.pdf.PdfContentByte.setRGBColorFill(PdfContentByte.java:2233)
	at com.lowagie.text.pdf.PdfContentByte.setColorFill(PdfContentByte.java:2343)
	at com.lowagie.text.pdf.A

[2020-04-22 09:11] mkl-public commented on #146
Such an exception usually means that multiple jars in your classpath contain the same package (here `org.bouncycastle.jce.provider`) and that classes in that package from both jars in use.

This in turn most often means that you have multiple versions of the same library in your class path.

Thus, please check your classpath (also endorsed and similar in-JRE paths) for conflicting BouncaCastle ver

[2020-04-22 09:12] suiaing commented on #358
Close as created pull request as #359

[2020-04-22 09:12] #358 closed

[2020-04-23 04:05] testn commented on #183
@andreasrosdal are you ok with api exactly the same as itextpdf?

[2020-04-23 07:09] sophiniashi opened #360 "Hey ! Im Newbie ,"
Hey ! Im Newbie ,  Have u tutorials how to use this library
i want to build openPDf to openPdf.jar

thanks in advance

[2020-04-23 07:23] egaillardon commented on #356
Hello
Thank you for the reply.
It turns out that, using Acrobat Reader instead of the Apple viewer, it works fine.
Sorry for the inconvenience.
Regards
Emmanuel

[2020-04-23 07:23] #356 closed

[2020-04-23 12:01] timbaas opened #362 "Incorrect mm to pt conversion due to floats"
Hi there!

We use OpenPDF to add bleed and trim boxes to PDF's exported with chrome/puppeteer. The size of the bleed and trim boxes are defined by a Rectangle which constructs out of 4 floats. We use mm to define the sizes, so we convert these to points first and that's when the problem occurs.

For example:

`126mm = 357.165354330708661417680 (using BigDecimal)`

But, with floats:

`126mm = 357.1

[2020-04-23 19:46] andreasrosdal commented on #360
1. install Apache Maven.
2. check out OpenPDF from git.
3. run this command in the OpenPDF directory:
mvn install
4. openpdf.jar can be found in the target directory.

[2020-04-23 19:46] #360 closed

[2020-04-24 06:07] wise-coders opened #363 "PdfAnnotation font"
I am creating PdfAnnotations with Cyrilic or Asian text. For correct display I need to use an unicode font. How may I change an PdfAnnotation font ?

[code]
Here a sample output:

![image](https://user-images.githubusercontent.com/60284259/80180165-6c1b3380-8602-11ea-9c5a-4cbf4df6f7e2.png)

[2020-04-24 14:27] jonasatmonday commented on #146
Hello @mkl-public ,
thank you a lot for your explanation. I checked and we do indeed have an older `bouncycastle` version on the class path coming from an existing dependency that does not allow us to upgrade to the `bouncycastle` version required by the `openpdf` Java 7 branches.

[2020-04-30 09:14] gabrielecriscuolo opened #364 "Size of the created pdf files"
Hello,

I'm bringing a project from itext4.2.1 to OpenPdf. I noticed that the size of the pdf files created are about 30% larger. I attempted to parse the code and found, in my case, that the saveColorFill statement in the setRGBColorFill method of the PdfContentByte class is responsible for this increment. Commenting on this instruction, which is not present in itext4.2.1, the dimensions decrease

[2020-04-30 11:53] asdf913 opened #365 "Minor spelling issue found in javadocs (</CIDE> -> </CODE> i.e. in-balance HTML tag)"
https://github.com/LibrePDF/OpenPDF/blob/master/openpdf/src/main/java/com/lowagie/text/Element.java

![image](https://user-images.githubusercontent.com/2301325/80706997-d577d680-8b1b-11ea-8d0d-e9de3357189e.png)

`    /** This is a possible type of <CODE>Element </CIDE>. */
    int AUTHOR = 4;

    /** This is a possible type of <CODE>Element </CIDE>. */
    int PRODUCER = 5;

    /** This is a pos

[2020-05-01 19:13] andreasrosdal commented on #365
Pull requests welcome. Thanks for reporting.

[2020-05-02 08:48] #365 closed

[2020-05-02 08:55] andreasrosdal commented on #365
Thanks for improving the JavaDoc. I know more can be done to improve the JavaDoc. There are some JavaDoc warnings during maven install. You are welcome to improve this also!

[2020-05-02 20:14] andreasrosdal opened #367 "Improve JavaDoc!"
Let's improve the JavaDoc in OpenPDF! This will make it easier to learn how to use the library. Please help add good descriptions to the source code in a consistent way. Pull requests welcome!

The most recent JavaDoc can be found here: https://librepdf.github.io/OpenPDF/docs-1-3-17/

[2020-05-02 20:16] andreasrosdal commented on #364
Pull requests welcome.

[2020-05-02 20:16] #364 closed

[2020-05-04 12:41] vic0075 commented on #367
This seems like a giant task
I mean, last I check there were ~66 errors and ~4k warnings.

Fixing errors is relatively easy, warnings also, to some extent, but then there are ~90% cases where parameter's description is missing. for the sake of removing warning, I suppose, we can provide a decent description, but not always.

I am willing to take it up as long but apt description, I'm afraid, will

[2020-05-04 12:44] vic0075 commented on #347
Well, you could always create 2 pdfs, 1 for `title page` and 2nd for the rest. And then merge them.

[2020-05-04 18:12] andreasrosdal commented on #367
I suggest starting with the most important things. Fixing the errors. Then making sure the most important classes are well documented.

[2020-05-10 02:42] vic0075 commented on #339
Could you please share an example code that causes this?

[2020-05-10 13:20] andreasrosdal commented on #367
https://github.com/LibrePDF/OpenPDF/pull/368

[2020-05-13 10:07] Xnyle opened #369 "openpdf-xml 1.2/1.3 pull in slf4j-api 1.8beta breaking logging functionality"
openpdf-xml (tested 1.2) pulls in org.slf4j:slf4j-api:1.8.0-beta2 via com.github.spotbugs:spotbugs:3.1.12

This is bad as slf4j-api:1.8.0-beta2 breaks code that is build for 1.7 (StaticLoggerBindings in my case)

Non beta versions should never pull in experimental or beta stuff not even through transitive dependencies.

[2020-05-13 11:20] andreasrosdal commented on #369
Pull requests welcome. Thanks for reporting.

[2020-05-13 14:17] andreasrosdal commented on #369
This has been fixed in OpenPDF 1.3.17. Please give that version a try, and report back.

https://github.com/LibrePDF/OpenPDF/releases/tag/1.3.17

[2020-05-13 14:17] #369 closed

[2020-05-13 14:18] andreasrosdal commented on #367
The most recent JavaDoc can be found here: https://librepdf.github.io/OpenPDF/docs-1-3-17/

[2020-05-13 14:45] andreasrosdal commented on #369
Spotbugs is an optional dependency.

[2020-05-13 16:29] arnthom opened #370 "NPE in PdfContentByte ... table cannot be drawn when exceeding space and uses background color ... now with test"
Hello there!
I use several tables in my created pdf document to set the text layout.
At some step I use up to three tables (with background), if the next table would cause a page break a NullPointerException occurs.
This NPE occurs at
`Caused by: com.lowagie.text.DocumentException: java.lang.NullPointerException
at com.lowagie.text.pdf.PdfDocument.add(PdfDocument.java:770)
at com.lowagie.text.Docu

[2020-05-15 06:42] otoman commented on #355
Ok, I found a way.
First I normally generate PDF with numbered footer aligned to the left side. But with no total page number. Close the document. Then open it again with PdfReader and add total page number and align it to the right.
            P```
dfReader reader = new PdfReader("OpenPDFExample.pdf");
            PdfStamper stamper = new PdfStamper(reader, new FileOutputStream("File.pdf"));

[2020-05-15 08:56] kennywin2000 opened #371 "java.lang.Class<com.lowagie.text.pdf.PdfPrinterGraphics2D>: java.lang.NoClassDefFoundError: Failed resolution of: Ljava/awt/print/PrinterGraphics"
find this issue on Android

openpdf\src\main\java\com\lowagie\text\pdf\PdfPrinterGraphics2D.java
import java.awt.print.PrinterGraphics;
import java.awt.print.PrinterJob;

No PrinterGraphics and PrinterJob class on Android

[2020-05-23 09:47] noavarice opened #372 "(Question) Migrate to Gradle"
Are there any concerns against using of Gradle build framework?
I'm not very experienced Gradle user (though using way longer than Maven), but definitely Gradle is more flexible instrument. Maybe someone have already thought about this, thus providing some help to accomplish the task, especially regarding CI and release deployment

[2020-05-23 10:57] andreasrosdal commented on #372
I would prefer that OpenPDF continued to use Maven.

[2020-05-23 10:57] #372 closed

[2020-05-23 14:35] KasperHelsted opened #373 "Table in footer get wrong y value"
When i try and add a table to the footer of a page, I would expect the table to be within the marked lines at the bottom of the page, however this is not the result.

The table is located at the top of the page, and not at the desired position, this is the same if the table is added to the header, the table is placed just after the margin.

I have created a test scenario to show what i mean:
[code

[2020-05-23 18:46] KasperHelsted commented on #373
After further digging, I can see it's the same for Image and SimpleTable

[2020-05-26 07:14] arnthom commented on #370
OK, I have a test class for this error, maybe this helps ...
If the cell exceeds the remaining space AND a background is used, the NEP occurs.

[code]

[2020-05-26 08:21] arnthom commented on #370
as I said, in openPDF 1.3.11 this works, with 1.3.12 up to 1.3.17, the NPE occurs

[2020-05-27 12:20] arnthom commented on #347
I use a PdfEvent class and set header and footer as is needed for each page. I use several conditions in onStartPage to set the text and elements.
[code]

[2020-05-28 07:40] ralfhauser opened #375 ""Unknown encryption type R = 6" support AES256"
It seems that the first AES256 encrypted pdf's are out in the wild

https://stackoverflow.com/questions/50822874/unknown-encryption-type-opening-pdf-file

I guess they should be supported

[2020-05-28 10:42] andreasrosdal commented on #375
Pull requests welcome

[2020-05-28 12:01] Lonzak commented on #375
I tried this once but failed and didn't have the time to investigate further. Seems not so easy...

[2020-05-29 06:05] HerrDietz opened #376 "Parsing img-Tag in two nested span-Tags leads to EmptyStackException"
While trying to convert some xhtml into a pdf I ran into an issue with a specific combination of html-tags.

I created a minimal testcase:

https://github.com/HerrDietz/OpenPDF/blob/4ee422b5c5ad19f11cc1e3b174d7919b68e17c92/openpdf/src/test/java/com/lowagie/text/html/HtmlParserTest.java#L42

the html
[code]

produces an `EmptyStackException` while being parsed

[2020-05-29 06:51] ralfhauser commented on #375
[pwProtectedAES256_openPDFiss375.pdf](https://github.com/LibrePDF/OpenPDF/files/4700100/pwProtectedAES256_openPDFiss375.pdf)

Here comes a test file

[2020-05-29 06:54] ralfhauser commented on #375
Created with
![SettingsPwProtectedAES256_openPDFiss375](https://user-images.githubusercontent.com/1681677/83230388-f74f9200-a189-11ea-9197-a2b604763591.png)

[2020-05-29 09:50] andreasrosdal commented on #376
Pull requests welcome

[2020-05-29 10:07] HerrDietz commented on #376
I created a pull request. It is my very first github pull request. Improvements are welcome :)
#377

[2020-05-30 07:15] andreasrosdal commented on #370
Thanks for reporting this bug.

This seems to be the relevant code where the NullpointerException occurs:
https://github.com/LibrePDF/OpenPDF/blame/1.3.12/openpdf/src/main/java/com/lowagie/text/pdf/PdfContentByte.java#L3041

This seems to be the relevant pull request:
https://github.com/LibrePDF/OpenPDF/pull/282

Perhaps we can just add some checks to protect this method from NPExceptions?
Pull re

[2020-05-30 08:49] #376 closed

[2020-06-02 06:23] andreasrosdal commented on #370
I have added a fix to the master branch here:  https://github.com/LibrePDF/OpenPDF/commit/2c53d754178c7e20c250d1581b2e7ca010591aa9

@arnthom Can you please try the latest master branch from git of OpenPDF, and see if the problem has been solved for you there?

[2020-06-02 06:23] andreasrosdal commented on #370
@sixdouglas

[2020-06-02 08:23] arnthom commented on #370
Yes! @andreasrosdal it works, thank you!

[2020-06-02 09:25] #370 closed

[2020-06-02 10:34] andreasrosdal commented on #370
OpenPDF 1.3.18 has been released today, with this fix included.

[2020-06-06 21:58] albfernandez commented on #351
Hi
You must also install [openrtf](https://github.com/LibrePDF/openrtf)
With openpdf and openrtf installed your webapp will start but, depending on your code, it will work or fail (there are some breaking changes in OpenPDF 1.3).
I've created an issue albfernandez/jboss-seam#39 to upgrade to OpenPDF.
You can close this issue and discuss the issue there.

[2020-06-06 22:02] stolp commented on #351
Thanks @albfernandez , will do!

[2020-06-06 22:02] #351 closed

[2020-06-18 08:42] stonewoodman opened #380 "KeepTogether on ListItem not implemented"
The value `keeptogether` on a `ListItem` is ignored
[code]

**expected result**
The flag has the same behavior as by `Paragraph`.

[2020-06-18 08:58] andreasrosdal commented on #380
Pull requests welcome.

[2020-06-18 09:25] arnthom commented on #380
OK, method getKeepTogether() is used in PdfDocument.add(Element) if the element is Paragraph, but not if it is ListItem, although ListItem extends Paragraph ...
[code]

[2020-06-20 06:17] andreasrosdal commented on #371
Thanks for reporting this.

Have you seen this page: https://github.com/LibrePDF/OpenPDF/wiki/Android-support

If so, then please report this bug to
https://github.com/andob/android-awt

[2020-06-20 06:19] andreasrosdal commented on #371
https://github.com/andob/android-awt/issues/4

[2020-06-22 06:00] ModdyLP opened #381 "PdfTemplate not visible"
Hello,

i have a Problem inserting a template in my document. If i add the template and print text in it at a later time, the text will be there but not visible. You can select the text with the mouse and copy it, but you cant see it. I have in total 2 templates on the document. The first template works like expected. Can you help me with that. The following are the Code snippets.

[code]
Next:
[c

[2020-06-22 06:18] ModdyLP commented on #355
there is an example how it works without reopening the document. Not all of the example is needed for this but you can cut out the parts you Need. https://github.com/LibrePDF/OpenPDF/blob/master/pdf-toolbox/src/test/java/com/lowagie/examples/directcontent/pageevents/PageNumbersWatermark.java

[2020-06-22 10:33] renber commented on #199
I second this.
As a result of this, a blank page is added after a table which has ExtendLastRow set to true and thus if the table is the last element of the document a trailing blank page remains.

[2020-06-22 14:32] arnthom commented on #381
There was a bug with transparency (https://github.com/LibrePDF/OpenPDF/pull/378), maybe in this case the color is set to transparent?
Maybe you can step down to the PdfContentByte.setColorFill and see, if the alpha value is opaque or transparent.

[2020-06-23 14:36] lapo-luchini opened #383 "Big signatures broken since 1.2.18"
This apparently harmless change in eb875bc24b688ced9b7ea57e021b1c48cec32ea9 broke (some) digital signatures due to rounding:
[code]
…because `ByteBuffer.append(int)` exists, while `ByteBuffer.append(long)` does not and thus implicitly uses `ByteBuffer.append(float)`, where the value doesn't fit exactly.

Final effect is a signature where this happens:
[code]
Notice that the fourth number gets roun

[2020-06-23 14:42] lapo-luchini commented on #383
[According to StackOverflow](https://stackoverflow.com/a/3793950/166524) the first integer that can't fit in a float is 2^24+1 = 16_777_217, which is the max file size that can be safely signed by OpenPDF 1.2.18-1.3.19.

[2020-06-23 14:46] lapo-luchini commented on #383
BTW I'd never have understood this if I didn't notice that the IntelliJ debugger was translating code thus:
![image](https://user-images.githubusercontent.com/420454/85418302-e9b2df80-b570-11ea-8dec-02a0da0ee0da.png)

[2020-06-23 15:02] andreasrosdal commented on #383
Thanks for reporting. Pull requests welcome.

[2020-06-23 16:03] #383 closed

[2020-06-23 17:03] andreasrosdal commented on #383
Could you please create an unit test for this?
That way, we are sure that signatures are correct and that it will not happen again.

[2020-06-24 08:09] fakekowa opened #385 "Nordic letters "ÅÄÖ" are removed when settings field to text"
Been using this in android trying to stamp text into an acrofield form.setField("myfield", "PÅL") sets the field text to "PL" removing the Å letter.

Best regards
fakekowa

[2020-06-24 09:55] lapo-luchini commented on #383
@andreasrosdal I did in #386, but I fear that test is fairly specific to this bug, doesn't ensure signatures will always be good.
To do that, I'd say we should use a real signature scheme which actually checks the hash (and that'd be more complex to test).

[2020-06-24 11:00] asturio commented on #385
Are you using an UTF-8 Font?

[2020-06-24 11:20] andreasrosdal commented on #383
Yes, this would be great to have!

[2020-06-26 18:34] otoman commented on #355
thank you... that´s better solution :)

[2020-06-30 03:49] doobo commented on #71
Do you have plans to support IVS fonts?

[2020-06-30 04:21] codecracker2014 commented on #71
We have fixed substitution problems for TTF fonts by delegating font substitution to Apache FOP which very well supports advanced typography refer #297, #329. Same approach can be used for OTF, CFF and IVS fonts as well which is supported by FOP. Pull requests are welcome.

[2020-06-30 04:26] codecracker2014 commented on #36
With #329 this issue has been fixed, please check with latest OpenPDF, make sure to include FOP dependency as well. @asturio we can close this issue.

[2020-06-30 04:29] codecracker2014 commented on #107
@jjkarppi  please check if this is fixed with #316

[2020-06-30 04:34] #36 closed

[2020-06-30 09:32] doobo commented on #385
Can you provide examples of IVS fonts?
[example](https://github.com/LibrePDF/OpenPDF/wiki/Multi-byte-character-language-support-with-TTF-fonts),It is not valid for IVS!

[2020-06-30 10:26] codecracker2014 commented on #385
@doobo what output you are getting?

[2020-06-30 10:57] doobo commented on #385
[Ming_MSCS_Full.ttf](http://m.ipav.vip/Ming_MSCS_Full.ttf),[output](http://m.ipav.vip/HelloWorld.pdf).
It should output [hello.pdf](http://m.ipav.vip/hello.pdf)!

[2020-06-30 11:17] doobo commented on #346
This is my method of rewriting. I hope it will be useful！
[code]

[2020-06-30 11:19] fakekowa commented on #385
@asturio you are correct, i wasn't using a correct font, i'm closing this ticket as resolved, many thanks!

[2020-06-30 11:19] #385 closed

[2020-06-30 11:29] doobo commented on #71
Can you provide examples of IVS fonts?[example](https://github.com/LibrePDF/OpenPDF/wiki/Multi-byte-character-language-support-with-TTF-fonts),It is not valid for IVS!
[code]
[Ming_MSCS_Full.ttf](http://m.ipav.vip/Ming_MSCS_Full.ttf)
It output: [output](http://m.ipav.vip/HelloWorld.pdf).
It should output: [hello.pdf](http://m.ipav.vip/hello.pdf)!

[2020-06-30 20:22] andreasrosdal commented on #346
Thanks for sharing! Can you please submit this code as a pull request to OpenPDF? Create a new Java class for it. Then we can add this as a useful high-level feature.

[2020-07-02 12:54] jjkarppi commented on #107
The bug seems to be fixed indeed. At least in OpenPDF 1.3.13, so I assume it was fixed in version 1.3.12 with #316.

[2020-07-02 12:54] #107 closed

[2020-07-04 06:11] doobo opened #387 "ivs font cannot be displayed"

[2020-07-04 11:05] andreasrosdal commented on #387
Thanks for reporting. Pull requests welcome.

[2020-07-07 06:35] doobo commented on #387
I've found a way to support IVS, and I need to modify three files！

[2020-07-07 14:52] lauragarbati opened #391 "license issue"
Checking openPDF's license file it seems to be a case of dual license under MPL 2.0 and _LGPL 2.1,_ while in the readme file it is reported that openODF is released under the MPL 2.0 and the _LGPL v3_ licenses. Which is the right one? Furthermore, is your dual licensing designed to let the licensee free to choose between the two ones, or the two licenses must be both accomplished? Thanks in advanc

[2020-07-07 18:47] Lonzak commented on #391
Parts of your question is answered here. iText=openPDF in this case.
Regarding LGPL 2.1 and 3.0 this should be corrected.

[2020-07-07 19:04] #391 closed

[2020-07-08 02:51] doobo commented on #387
This problem has been solved and can be closed!

[2020-07-08 02:51] #387 closed

[2020-07-08 14:13] CanyonJ opened #392 "FontSelector.Process should NOT skip characters"
Currently, if none of the fonts in the font selector list returs true for charExists, the character is skipped. The code should instead choose the first font in the list and use that because generally font fallback will find a viable font on the system to use. Its better than loosing the character entirely. I can reproduce this currently by using Helvetica font, and the string "Greek - Χαίρετε". w

[2020-07-10 05:18] phoneix1221 opened #393 "how to compress images from camera and gallery ,PDF size by adding one picture is more than 1mb"
need a way to decrease PDF file size by compressing image  and processing time of creating PDF with images with a minimal loss of image quality in android . please help

[2020-07-14 16:25] michaelhugi opened #394 "java.util.regex.PatternSyntaxException on android"
librepdf 1.3.20 is almost working on android. There is only one issue with custom fonts:

- Registering font (create local file of ttf from resources and register it with alias works)
- FontFactory.getFont(...) calls

[code]
Used in Play! Framework DocumentException is thrown.
On Android java.util.regex.PatternSyntaxException is thrown, therefore using custom fonts is not working. The error is cau

[2020-07-14 16:38] michaelhugi commented on #394
For anyone having this issue. Workaround is to 1. register font and 2. getFont with:

[code]

[2020-08-07 08:00] lauragarbati opened #396 "which LGPL?"
Dear all, with a previous issue I’ve asked some clarification about the right license actually applied to OpenPDF (LGPL 2 or 3.0) and you kindly and promptly sent a feedback also about this point, saying that it was something to be corrected. I’m sorry to bother again, but I’d like to re-use your product and I’d like to set the Third Party Notice correctly, so while you fix the point can you kindl

[2020-08-12 13:32] RobinChien opened #397 "How to add Chunk with chinese?"
I try to write Chinese into pdf file.
I have read this post [How to add watermarker use chinese?](https://github.com/LibrePDF/OpenPDF/issues/293)

So I add the NotoSansTC and NotoSansSC in to fonts folder
![image](https://user-images.githubusercontent.com/22998999/90007060-9e918f00-dccc-11ea-8dac-b54613ac1c12.png)

And create them by `BaseFont.createFont()`
![image](https://user-images.githubuserc

[2020-08-13 13:15] andreasrosdal commented on #396
It's great that you want to use OpenPDF in your project.

What are the practical differences between version 2 and 3 of the LGPL?

You are free to choose between using version 2 and 3. Note this text in the source code license:

"This library is free software; you can redistribute it and/or modify it
 * under the terms of the MPL as stated above or under the terms of the GNU
 * Library General Pub

[2020-08-20 15:01] kunkelt opened #399 "KeepTogether in paragraph broken with more than one chunk and different font"
The fix of #271 and commit [1d3c049](https://github.com/LibrePDF/OpenPDF/commit/1d3c049aa312c3adf93eb6fb915b93b825ad6bb4) brought a new issue for our application. Paragraphs with more than one chunk and different fonts lead to unexpected line breaks inside a paragraph.

Code to reproduce:

[code]

Result is:
![grafik](https://user-images.githubusercontent.com/12070298/90786751-3e21d380-e304-11ea-9

[2020-08-21 10:23] mwgmnn opened #400 "Remove dependency to juniversalchardet or make it an optional dependency"
Dear all,

is it possible to remove the dependency to this extra library? I see that it is used only in one place, to get the encoding of an xml-document from the bom header, see com.lowagie.text.xml.simpleparser.SimpleXMLParser.parse(...)
The logic in UniversalDetector.detectCharsetFromBOM(...) is not so special and complex and is not prone to be changed in the future. I know that reusing sourcec

[2020-09-02 09:17] #291 closed

[2020-09-09 21:08] #344 closed

[2020-09-09 21:12] asturio commented on #400
This should be fixed now.

[2020-09-09 21:12] #400 closed

[2020-09-10 14:50] andreasrosdal opened #404 "1.3.21 release"
The OpenPDF 1.3.21 release.

@asturio can you do it?

[2020-09-10 19:00] gzalo opened #405 "Bold+Underline is bolder than expected"
Hi!
I'm using OpenPDF 1.3.20.
I found that Drawing text with a bold + underline font results in a stroke that is bolder than just using bold.
Is this expected? Is any workaround to make the font less thick?

![image](https://user-images.githubusercontent.com/538127/92786367-90dc3180-f37e-11ea-938b-42dff0c1a501.png)

Sample test code:
[code]

[2020-09-10 19:23] asturio commented on #405
@gzalo Can you test it with the Liberation fonts? I don't know how "nice" the are "simple" Fonts in OpenPDF.

[2020-09-10 21:32] gzalo commented on #405
Hmm. I'm not seeing the `openpdf-fonts-extra` on any maven repository. Has it already been uploaded?
Or is there any other easy way to try it those on 1.3.20?

[2020-09-14 07:42] andreasrosdal opened #407 "Add Text extraction tutorial example to Wiki"
OpenPDF supports text extraction from PDF files.

Add Text extraction tutorial example to the wiki:
https://github.com/LibrePDF/OpenPDF/wiki/Text-Extraction

This seems to be something people want which would be useful to document.
So please help improve the documentation of OpenPDF in the Wiki. https://github.com/LibrePDF/OpenPDF/wiki

[2020-09-17 11:28] giangnvt opened #408 "ConcurrentModificationException in FontFactory"
I have ConcurrentModificationException when call FontFactory.getFont() function. Below is stacktrace.
Very rare to happen, but it exists.
Version: 1.3.16

`java.util.ConcurrentModificationException: null 	at java.base/java.util.ArrayList$Itr.checkForComodification(ArrayList.java:1042) 	at java.base/java.util.ArrayList$Itr.next(ArrayList.java:996) 	at com.lowagie.text.FontFactoryImp.getFont(FontFac

[2020-09-18 17:47] asturio commented on #404
Status: I'm having some problems with my public gpg-key. Just uploaded it to keyserver.ubuntu.com. I think I need to wait some time, till the key is "known", c64beb3e97c774f7

[2020-09-18 18:50] asturio commented on #404
Ok, everything is done, I hope.

[2020-09-18 18:50] #404 closed

[2020-09-20 13:52] asturio commented on #405
Just released 1.3.21. Take a look

[2020-09-22 12:50] lapo-luchini opened #411 "1.3.21 (on Maven Central) is broken on Java 8"
I guess 1.3.21 on Maven Central was compiled using Java 9+, as I get this error (doesn't happen with 1.3.20):

[code]

I guess the reason is that targeting the compiler to Java 8 is not enough, as the libraries are different and the method `MappedByteBuffer.position(int)` is new in Java9.

(I'm opening this as a reminder, but I didn't look into a way to resolve it, yet)

[2020-09-22 13:09] lapo-luchini commented on #411
[JEP-247](http://openjdk.java.net/jeps/247) should address exactly this problem:

[2020-09-22 13:42] lapo-luchini commented on #411
…but I see [we're already using](https://github.com/LibrePDF/OpenPDF/commit/345566ad22389c173af4257a36d837104cbc7b64#diff-600376dffeb79835ede4a0b285078036R303) that parameter:

[code]

[2020-09-22 14:11] asturio commented on #411
Java 8 is still a must. Ich build it using java 11. @prashantbhat: Can you take a look at it?

[2020-09-22 14:47] lapo-luchini commented on #411
I'm not good with Maven… but reading it again it might be that the `<release>9</release>` tag is only used for the module file in the java9 folder, while [around line 166](https://github.com/LibrePDF/OpenPDF/blob/a3a2df3289e289a11290d62282bc45fd0014a3cb/pom.xml#L164) the usual (old) target is used:

[code]

and we should add `<release>8</release>` there too.
(I'm not sure about MAven, but Ant auto

[2020-09-22 16:00] prashantbhat commented on #411
It is working with the following default configuration in JDK9+ profile. (Btw, when I tried using `<release>8</release>` directly on maven compiler options using JDK8, it failed!)
`
<configuration>
    <release>8</release>
</configuration>
`
After building with this change using Java 11, all tests have completed successfully running on Java 8.

I'll send a PR for this.

[2020-09-23 07:03] #411 closed

[2020-09-23 07:07] lapo-luchini commented on #411
I guess needing Java 9+ to build is fine, as long as the generated JAR runs on Java 8. 👍🏼

[2020-09-23 09:09] prashantbhat opened #413 "Build fails on JDK 15 due to maven bundle plugin error"
Using JDK 15, the project build command `mvn clean install` fails with the following error:

[code]

Updating `maven-bundle-plugin` to it's latest release `5.1.1` is solving this issue as I tested locally.

And I notice that there are few other maven plugins that can be updated. Enabling [Dependabot](https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot/) for this projec

[2020-09-23 09:55] andreasrosdal commented on #411
Cool, may we have a release with this fix, please?

[2020-09-23 11:07] asturio commented on #411
Today, I'll to it again :-)

[2020-09-23 12:35] lapo-luchini commented on #277
I'd say this has been solved in 1.3.21:

[code]

[2020-09-23 12:35] #277 closed

[2020-09-23 12:36] lapo-luchini commented on #277
(still increased 1898896 → 2116586, but I'd say that's minor)

[2020-09-23 13:34] #396 closed

[2020-09-26 05:32] andreasrosdal commented on #413
pull requests welcome ☺️

[2020-09-26 12:21] prashantbhat commented on #413
@andreasrosdal I've created PR #415 to fix this issue along with other dependency updates, please review.

[2020-09-28 06:32] #413 closed

[2020-10-01 22:32] KurtTrentch commented on #229
what were the files @andreasrosdal ?

[2020-10-02 08:38] boxcee opened #423 "Image is not rendered correctly with HtmlParser"
Hey there,

I am having two problems parsing the following HTML:
[code]

It results in the following PDF: https://imgur.com/a/rtURXTD

1. Why is the title present in the PDF?
2. Why is the image off screen?

Here is my code:
[code]

[2020-10-02 09:14] boxcee commented on #423
Also tried to use CSS now. The generated PDF prints out all the CSS code.

[2020-10-02 09:29] boxcee commented on #423
I was able to solve the problem with the title. I had to omit the whole `<head>` for it to work.

[2020-10-02 15:09] laurerunser commented on #367
Hi ! Do you still need help with that ? I'd love to contribute !

[2020-10-03 09:00] asturio commented on #367
Yes, please. Pull requests welcome!

[2020-10-03 17:13] asturio commented on #423
I don't know how good is the HtmlParser in OpenPDF. But for converting HTML-Templates into PDF I would recommend
https://github.com/flyingsaucerproject/flyingsaucer , which also work grate with openPDF.

[2020-10-05 08:17] boxcee commented on #423
@asturio thanks! Works pretty well.

[2020-10-06 19:10] asturio commented on #367
Should this be closed now? JavaDoc can always be improved and corrected.

[2020-10-06 19:11] laurerunser commented on #367
Maybe keep it open some more. I might be able to work on all those errors by the end of the week !

[2020-10-15 15:44] exuvo commented on #408
If you load all your fonts first in a single threaded context it should then be safe to use multithreaded later.

[2020-10-27 18:04] chrismaster opened #439 "since 1.3.22 setColor(java.awt.Color.SOMECOLOR) does not work anymore in jpms program"
in 1.3.20
fontCell.setColor(Color.BLACK) works
in 1.3.21 and 1.3.22 I get
error: cannot access Color
                    fontCell.setColor(BLACK);
                            ^
  class file for java.awt.Color not found

in module-info.java is
requires java.desktop;

without module-info.java it compiles....

[2020-10-27 18:05] chrismaster commented on #439
fontCell.setColor(0,0,0);
compiles too

[2020-10-27 18:07] chrismaster commented on #439
Color BLACK = Color.BLACK;
compiles too, so java.awt.Color is accessible
but if i add
fontCell.setColor(BLACK);
it gives
error: cannot access Color
                    fontCell.setColor(BLACK);
                            ^
  class file for java.awt.Color not found

[2020-10-27 18:46] asturio commented on #439
Thanks. Pull Requests welcome!

[2020-10-27 21:35] chrismaster commented on #439
Sorry, got no real java skills. And my git skills are 0.
I cloned openpdf and added to
modules-info.java
requires java.desktop;

with this new openpdf-1.3.23-SNAPSHOT.jar
fontCell.setColor(java.awt.Color.SOMECOLOR) gives no error

in the module java.desktop is java.awt.Color.*
requires static java.desktop; would also do the job.....

[2020-10-27 21:44] chrismaster commented on #439
#440

[2020-10-27 23:03] asturio commented on #439
Ok, I'll make a fix for it.

[2020-10-27 23:14] #439 closed

[2020-10-28 14:41] #119 closed

[2020-10-28 18:06] vk-github18 opened #442 "Accented Letters composed of Unicode base letter and combining accent are rendered incorrectly."
**Describe the bug**

The position of the accents is incorrect for most of the character sequences
defined in the following specification:

DIN SPEC 91379: Characters in Unicode for the electronic processing of names
and data exchange in Europe; with digital attachment
https://www.xoev.de/downloads-2316#StringLatin
https://www.din.de/de/wdc-beuth:din21:301228458

E.g. with 0041 030B LATIN CAPITAL

[2020-10-28 18:15] asturio commented on #330
@gliwka ,
I'm also having some issues trying to extract Strings containing the "€" Symbol. I don't understand, if the problem was in the generation of the PDF, or reading it.

Have you found a work around for this issue?

[2020-10-28 21:26] sa-sh opened #443 "NullPointerException on decrypting an empty stream"
**Describe the bug**
NullPointerException occurs at com.lowagie.text.pdf.StandardDecryption#finish(StandardDecryption.java:105)
in PDF enctypted with AES while decrypting object of empty stream (**cipher** is not initialized in this case)

sample pdf object that causes NPE if try to modify (using PDFStamper) encrypted PDF with such object

stacktrace of error

[code]

**To Reproduce**
1. Sample Co

[2020-10-28 22:03] daviddurand commented on #330
I wrote some of this code, and Identity-H and character encoding generally is a real pain.

When PDF was created 8-bits was the size of a character in any font, and Unicode support was added on later. This means that are various odd cases throughout the code to determine what the stored bytes for a `PdfString` actually mean (sometimes they are 8-bit values that map to unicode characters via a CMAP

[2020-10-30 10:43] andreasrosdal commented on #443
pull requests welcome

[2020-10-31 00:57] sa-sh commented on #443
thanks, request #445 opened

[2020-10-31 17:46] asturio commented on #443
Your PR is now merged. I'll close the issue, and create a new release in the next days.

[2020-10-31 17:47] asturio commented on #443
Resolved with #445

[2020-10-31 17:47] #443 closed

[2020-11-02 10:37] asturio commented on #442
Pull Request are welcome :-) !

[2020-11-04 10:49] renber opened #450 "Huge increase in PDF filesize since 1.3.12"
**Describe the bug**
After updating to the latest version we noticed that the pdfs we create using OpenPDF have massively increased in size.
(e.g. a PDF with ~200 pages containing nested tables was 10MB and now is 150MB).
I have traced it back to changes in 1.3.12. If I use a OpenPdf version < 1.3.12 our software outputs a 10MB file, If I update OpenPDF to anything >= 1.3.12 the very same code pro

[2020-11-04 16:32] andreasrosdal commented on #450
Thank you for reporting.

These are the release notes for 1.3.12:
https://github.com/LibrePDF/OpenPDF/releases/tag/1.3.12

[2020-11-04 16:35] andreasrosdal commented on #450
Can you please submit a Pdf file generated with the two relevant versions of OpenPDF, it will be useful to understand the problem.

[2020-11-05 10:36] #367 closed

[2020-11-06 09:49] renber commented on #450
I have created two pdf files (with sensitive information removed) for comparison. Although the actual document has 198 pages I  uploaded only 20 pages for each since the difference is already visible.

[Uploading OpenPDF_1.2.17.pdf…](File created with OpenPDF 1.2.17 ~1MB)
[Uploading OpenPDF_1.3.22.pdf…](File created with OpenPDF 1.3.22 ~14MB)

When opened in a PDF Viewer the files look the same

[2020-11-06 12:11] mkl-public commented on #450
The large PDF has more than 180000 indirect objects and all but at most 150 are extended graphics state dictionaries setting foreground or background opacity to 1.
The small PDF has merely 100 objects, none of those extended graphics state dictionaries at all.

From the release notes the obvious candidate is

[2020-11-06 22:43] andreasrosdal commented on #450
@sixdouglas

[2020-11-07 06:56] sixdouglas commented on #450
@mkl-public what tool do you use to see this indirect objects?

[2020-11-08 18:40] mkl-public commented on #450
A standard text viewer (the Total Commander built-in one in my case but most text viewers should do).

[code]

[2020-11-08 19:00] sixdouglas commented on #450
@renber do you think you could provide a simple Java program to reproduce these tables ?

[2020-11-08 19:29] sixdouglas commented on #450
@renber could you give this branch build a try?

[2020-11-09 10:49] asturio commented on #450
Or try the SNAPSHOT Version :-) Already merged.

[2020-11-09 15:48] renber commented on #450
Thank you.
I have tested the latest master and there is already an improvement. Unfortunately, the resulting file is still around 7 times larger that that created with OpenPDF 1.2.17. So, there seems to be another thing contributing to the size.

[File created with OpenPDF 1.3.24-SNAPSHOT (2020/11/09) ~7MB](https://github.com/LibrePDF/OpenPDF/files/5511613/OpenPDF_1.3.24-SNAPSHOT.pdf)

I can prepa

[2020-11-09 15:54] sixdouglas commented on #450
@renber it would be really nice to have this sample because your tables are really complicated to reproduce.

[2020-11-10 13:16] renber commented on #450
I have created a sample repository with a program which replicates the table structure (as far as possible by stripping away everything unnecessary): https://github.com/renber/OpenPDF_Issue450

[2020-11-10 18:23] sixdouglas commented on #450
@renber
Super, merci
I'll have a look at it. Thanks

[2020-11-10 21:00] sixdouglas commented on #450
@renber the new version should the good for you. If you can give it a try and let me know, it would be greate.

[2020-11-10 22:20] asturio commented on #450
@renber Please check the latest SNAPSHOT. Is the problem solved now?

[2020-11-11 09:18] renber commented on #450
It is a further improvement, thank you. The pdf from the sample repository is fine now.
However, our production code still produces a larger file than with 1.2.17.
Although, filesize has been reduced from 150MB to 40MB, this is still 4 times larger than the old file, unfortunately.
There still seems to be something contributing to the size.

How should we proceed in debugging this?

[2020-11-11 10:55] arnthom commented on #450
Hi renber, have you tried to set the compression level of the pdf?
Maybe the default compression has changed since 1.2.17?
Use `writer.setFullCompression();` or `writer.setCompressionLevel(...)`
with `PdfStream.BEST_COMPRESSION` or `PdfStream.DEFAULT_COMPRESSION);`

[2020-11-12 10:52] PallaviSaini opened #454 "Tab character is not visible in the PDF generated as glyph substitution not working"
**Bug**
Tab character is not visible in the PDF generated.
This is due to glyph substitutions are not done for tab character as per the TTF file.
Below is link to typography specs:
https://docs.microsoft.com/en-us/typography/opentype/spec/gsub

**Below is code to Reproduce**
package test;

import java.io.BufferedOutputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStrea

[2020-11-12 13:41] renber commented on #450
@arnthom: Unfortunately, neither `setFullCompression()` nor using `BEST_COMPRESSION` lead to a change in filesize (still 40MB).

[2020-11-12 14:22] renber commented on #450
I have investigated this a bit further. When using OpenPDF 1.3.12 as it is, the resulting file is 150MB. By reverting only the changes from the two commits from PR #282 the filesize drops to 10 MB like before. So there still seems to be something in this feat which doe snot play nice with our pdfs (and has not been caught yet by the changes in 5feac692d713a13bd1a2306d62e65962a86631ca and a2f5e3b7d

[2020-11-12 15:55] sixdouglas commented on #450
@renber is possible for you update your sample to be closer to the PDF generated in production? This way I'll be able to investigate further.

[2020-11-12 21:19] renber commented on #450
@sixdouglas: I created the sample by stripping away sensible (and hard to port) stuff, so I am afraid I cannot provide a better one within a reasonable time.

I made some changes to the OpenPDF code of 1.2.12 myself (based on the commit diff) and if I change the `saveColorStroke` and `saveColorFill` to NOPs i get the old behavior (10MB file) and the pdf looks the same (at least to me). Since the o

[2020-11-13 23:12] andreasrosdal commented on #330
Any news on this? 😊

[2020-11-14 15:35] sixdouglas commented on #450
@renber can you give a sample of your production file in order to try to see how I can go further on this subject?

[2020-11-16 22:23] pszemia commented on #325
Same error here

[2020-11-19 10:31] sixdouglas commented on #450
@renber : I pushed a new commit on my branch,
In this commit I want to avoid using the new GraphicState created during the saveState() function call, by resetting the values on the existing object.
Can you give it a try?

[2020-11-20 13:53] renber commented on #450
@sixdouglas: That's it. I have run our pdf generation with the code from your `fix_#450/fixPdfSize` branch and now the resulting file is back at ~10 MB. So this issue seems to be resolved with the changes you made. Thank you, this is much appreciated.
Looking forward to the next release version ;)

[2020-11-20 16:33] sixdouglas commented on #450
It really was a wild guess, but if it works for you it good for me! 😉

[2020-11-22 11:09] #450 closed

[2020-11-27 21:52] asturio commented on #325
@omkar-tenkale

This seems to be a dependency problem of apache harmony. The Stacktrace says that "liblcmm.so" could not be found. As I understand the code, this is a JNI part of apache harmony. So you probably have to bundle the native library to your App.

I have no idea how this is done, but I found this:
(German) https://wissensbasis.net/4198939/droidText-unstaisfiedLink-Fehler-beim-Erstellen-

[2020-11-29 13:37] #442 closed

[2020-11-29 13:58] asturio opened #459 "Discussion: detatch OpenPdf from the fork network"
Hi there,

I'd like to have OpenPDF as a parent project in GitHub, so we can promote it better. Although it is a fork of other projects, like @rtfarte / OpenPDF, @kulatamicuda /iText-4.2.0 and @daviddurand / iText-4.2.0.

The main advantage would be, that the project will receive a "community" entry in insights. I have started little issue in the GitHub Support community, and this is the suggested

[2020-11-29 18:07] rtfarte commented on #459
As I'm sure everyone knows, I haven't been very active at all in quite some time. I'm all for getting additional contributors to the project and watching it grow, though. Whatever I can do to help with that, I'm all for it. Please let me know what I need to do to get this to happen.

[2020-12-01 17:04] andreasrosdal commented on #459
Detatching OpenPDF allows using https://lgtm.com , which hasn't been possible yet because this is a fork.

[2020-12-01 20:11] asturio commented on #459
Nice, didn't knew that. It seems a good idea then. Ok, I'll see to continue on this one.

[2020-12-02 17:35] noavarice commented on #459
I think OpenPDF can be considered separate project, meaning not a fork in terms of Github projects. However, having documentation links to the projects from which OpenPDF originates would be great - at least for history

[2020-12-03 10:40] andreasrosdal opened #461 "Migrate from travis-ci.org to GitHub actions."
It looks like travis-ci.org is going away. From
https://docs.travis-ci.com/user/migrate/open-source-repository-migration/#frequently-asked-questions
Q. What will happen to travis-ci.org after December 31st, 2020?
A. Travis-ci.org will be switched to a read-only platform, allowing you to
see your jobs build history from all repositories previously connected to
travis-ci.org.

Suggestion:  Migrate t

[2020-12-05 18:40] asturio commented on #459
OpenPDF ist now a parent project. The ancestor projects are referenced in the README.md.

[2020-12-05 18:40] #459 closed

[2020-12-05 18:41] asturio commented on #461
I just added GitHub CI to the project. I'll still have to do some tuning, before closing this issue.

[2020-12-05 18:47] asturio commented on #461
We are now using the GitHub Actions: https://github.com/LibrePDF/OpenPDF/actions

[2020-12-05 18:47] #461 closed

[2020-12-10 11:29] chjtrifork opened #463 "Missing text from pdf file when calling PDFReader getPageContent"
[testGetEmptyDDCard.pdf](https://github.com/LibrePDF/OpenPDF/files/5672355/testGetEmptyDDCard.pdf)
**Describe the bug**
Parts of the text is missing when PDFReader opens a pdf file generated with OpenPDF, using the method getPageContent(). The file contains the expected contents when opening it in Acrobat Reader. The same happens when using PDFTextExtractor.getTextFromPage().

**To Reproduce**
(se

[2020-12-10 21:26] SHRIVP commented on #110
Hi,

Is this feature to convert to pdf/a available now?

Thanks,
Pushkar

[2020-12-11 11:00] asturio commented on #110
I don't think so. But Pull Requests are welcome :-).

[2020-12-14 13:16] DarthCoder117 commented on #397
Same question here, but I need to display Japanese.

[2020-12-16 08:31] HamidrezaAmz opened #464 "Remove or clear added icon images from PDF file"
**Describe the bug**

I am trying to remove added image with annotation from pdf file. here my code to add image with annotation.

`

            InputStream inputStream = new FileInputStream(file);

            // we create a reader for a certain document
            PdfReader reader = new PdfReader(inputStream);

            // we create a stamper that will copy the document to a new file

[2020-12-16 13:29] bigos opened #465 "documentation - Provide clear explanation of correct version of Bouncy Castle to be used."
I am stuck at trying to sign my pdf.

And get a similar method error to this one:
https://stackoverflow.com/questions/43181550/nosuchmethoderror-org-bouncycastle-asn1-asn1inputstream-readobjectlorg-bouncyc

That explanation from 3 years ago says that bouncy castle needs a correct version to work. If they are correct please provide better documentation for that.

My error is:
[code]

[2020-12-16 14:22] mkl-public commented on #464
Your code adds the image to the static page content:

    over = stamp.getOverContent(pageIndex);
    ...
    over.addImage(img);

The annotation you assigned to the image

    img.setAnnotation(new Annotation(0, 0, 0, 0, "http://www.lowagie.com/iText"));

merely is added to the same page with the same location and dimensions as the image but its not the holder of the image.

To also remove the im

[2020-12-16 15:25] arnthom commented on #465
bcprov-jdk15on-167.jar should work, if not try bcprov-ext-jdk15on-167.jar, and maybe bcpkix-jdk15on-167.jar is needed too

At https://www.bouncycastle.org/latest_releases.html you can read

It may depend on the things you'd like to do, which jar is needed and any documentation of OpenPDF may be incorrect, when BouncyCastle changes the content and naming of jar files ...
At least it is mentioned on

[2020-12-16 15:46] mkl-public commented on #463
The missing text is drawn using a composite font with **Identity-H** encoding while the other text is drawn using simple fonts. Quite likely, therefore, this problem is related to https://github.com/LibrePDF/OpenPDF/issues/330

[2020-12-16 15:51] HamidrezaAmz commented on #464
Yes It's not a bug.
Can you give a code snippet about this issue? just add icon with link with possibility to be deleted. I can not find any thing in DOC or Wiki.
Thanks for your help

[2020-12-16 16:36] bigos commented on #465
Thank you very much. The suggested version works.

Thank you for noticing that bigos is a delicious dish and not accusing me of being a big-headed author of bigOS. :-)

[2020-12-17 09:47] chjtrifork commented on #463
Thank you very much for the reply! I created the specific text with the same font as the other texts in the pdf, and now the text is returned from the reader as expected.

(I am a bit unsure about the workflow regarding the issue, should I close it or would you like to keep it open?)

[2020-12-17 10:18] mkl-public commented on #463
As the underlying issue is still there (you only found a work-around for your use case, not a fix for the actual issue), probably not closing as fixed. Maybe closing as duplicate of #330 would make sense.

[2020-12-17 11:15] chjtrifork commented on #463
Duplicate of #330

[2020-12-17 11:15] #463 closed

[2020-12-18 13:40] HamidrezaAmz commented on #464
Here my progress
Now I can achieve the XObjects added into pdf file, and I can remove them from pdf page this way:

`
            // inout stream from file
            InputStream inputStream = new FileInputStream(file);

            // we create a reader for a certain document
            PdfReader pdfReader = new PdfReader(inputStream);

            // get page file number count
            int

[2020-12-27 20:38] asturio commented on #465
Does this PR #468 solve this issue? I added a link to the pom.xml so the correct version can be verified, and added also what concrete artifact is needed (as of @arnthom)

[2020-12-27 21:20] asturio commented on #423
Closing this now. PR with improvements on HtmlParser are welcome!

[2020-12-27 21:20] #423 closed

[2020-12-27 21:26] asturio commented on #397
The code seems correct, and I would expect, that glyphs should be rendered right.

[2020-12-27 21:40] asturio commented on #397
PR are welcome!

[2020-12-27 21:45] asturio commented on #393
You probably need some kind of library to reduce the size (scaling) of the image you want to embed first. Have you tried something like this?

Make something like https://stackoverflow.com/questions/3629601/image-manipulation-using-java ?
`image.getScaledInstance()` may help.

[2020-12-27 22:15] asturio commented on #397
I just managed to create a document using this Font:
https://github.com/adobe-fonts/source-han-serif/blob/release/OTF/SimplifiedChinese/SourceHanSerifSC-Regular.otf

And using this code:
[code]
Maybe is the font you are using not really working.

Can you try this code?

[2020-12-27 22:45] asturio commented on #293
Closing, it works now :-)

[2020-12-27 22:45] #293 closed

[2020-12-27 23:04] asturio commented on #397
The PR #469 is an example how this can be done.

[2020-12-27 23:43] asturio commented on #362
How are you converting mm to pt? Because the error is quite big here. Already at 1E-5.
Maybe you can try some rounding.

You are using a constant in the conversions:

1. 2.83464566929133858268
2. 2.83464558919270833333

I calculated this as a constant for transforming mm in pt:
0. 2.83501683501683501683

So 126 * 2.83501683501683501683 = 357.21212121212121212058

And converting back I get:
357.212

[2020-12-28 10:24] asturio commented on #408
Do you have some sample code, that provoke this issue?

[2020-12-28 10:26] asturio commented on #405
Hi @gzalo , any news on this?

[2020-12-29 19:50] #465 closed

[2021-01-04 10:23] #397 closed

[2021-01-14 10:55] Azaratur commented on #325
Google play console is rising target sdk api level, so this will become an issue in no-time.
Also i saw on my phone (Google pixel 4xl android 11) that PNG file works as expected, JPG will not work.

Include this so library is not easy (at least for me) since i cannot find it anywhere...
I guess it's a native library but i am not sure about it.

[2021-01-15 18:22] joseluu commented on #394
The proper syntax would be: msg = msg.replaceAll("\\{1\\}", p1.toString());
The second bracket should be escaped as the first because it is a special char in the regex language
This happens only on android because they have substituted the java pattern matcher by a native library: ICU which is less tolerant

The call is in openpdf/src/main/java/com/lowagie/text/error_messages/MessageLocalization.j

[2021-01-15 20:19] asturio commented on #394
This code seems to have been changed by some IDE-Optimisations. It was originally:
[code]

[2021-01-15 22:29] asturio commented on #394
I'll do some refactoring on this, this weekend. Stay tuned.

[2021-01-16 14:14] #394 closed

[2021-01-16 14:16] asturio commented on #394
Hi @joseluu , @michaelhugi ,

Could you try with the SNAPSHOT-Version, to see if the issue is fixed?

Thanks

[2021-01-19 12:05] joseluu commented on #394
Yes, I confirm that the issue is fixed

[2021-01-20 19:23] Drakot commented on #464
But this is clearing all images, how to clear a specific image?

[2021-01-21 08:23] mkl-public commented on #464
Obviously you first have to recognize that image. You talk about a _**specific** image_. What is it that makes that image **specific**?

From your answer to that question you have to derive criteria which a program can handle.

[2021-01-21 09:06] Drakot commented on #464
That's right, I tried to put an ID when creating the image as specified [here](https://stackoverflow.com/a/40340913)

But I'm unable to iterate through the objets and obtain the id

[2021-01-22 13:48] Lonzak commented on #375
Damn also had a document with this error now :-(
Seems more and more docs are in the wild using this standard

[2021-01-28 01:02] fredtucs opened #479 "lock document with signature"
Is there a way to block the document or textfield with digital signature?

[2021-01-28 07:27] Lonzak commented on #479
When you digitally sign a document it is "blocked" so to speak. Conforming readers should not allow to change it. There are tools however (like the apple preview) which completely ignores this and allow changes to the document and thus break it.
What we additionally do before signing the first signature, is that we set the readonly and lock flags for all form fields. (But even that is no guarantee

[2021-01-28 12:24] fredtucs commented on #479
Thanks for your answer @Lonzak

Perhaps I have not been very precise in my query, the case that I am trying to solve is that several signatures are inserted in the document and before the last signature the fields are filled in is where I need to block the fields.

Reviewing I could verify that it is possible to do it with iText 5.5.6 by means of the following code:

[code]

**however I would like

[2021-01-28 14:35] Lonzak commented on #479
Yes that is quite possible. However note, that applying a LOCK to a field doesn't mean that filling the field is blocked.
The LOCK flag means that the properties can not be changed.  For that you need to apply the READ-ONLY flag. (which can also be applied by openPDF)

The spec says about the LOCK flag:
"If set, do not allow the annotation to be **deleted** or its **properties** (including positio

[2021-01-28 14:45] mkl-public commented on #479
The OP does not talk about the lock _flag_, he talks about _signature field lock dictionaries_.

[2021-01-28 14:50] Lonzak commented on #479
Ah you are right, was too skimming to quickly :-)
But still, adding a LOCK dictionary with openPDF is also possible...

[2021-01-28 15:47] mkl-public commented on #479
Indeed, the `PdfSigLockDictionary` class is no magic, merely a dictionary with a very few entries.
But one should be aware that there is no explicit OpenPDF support for the lock dictionary during signing; in iText such support started during the 5.3.x versions. This might be of interest if the OP wants to apply that "last signature" using OpenPDF. (It might work out of the box, though. If I recall

[2021-01-28 17:43] fredtucs commented on #479
First of all thank you for your answers.

I am just trying to do what @mkl-public mentions in your comment, maybe you could help me to better understand the idea by using a code snippet how to add a LOCK to the dictionary with openPDF, similar to what the `PdfSigLockDictionary` does.

thank you for your help.

[2021-01-29 10:12] lzqwebsoft opened #480 "For Android support Java 8"
When I use the latest version of OpenFDF(1.3.24) in Android 5.0 to generate PDF, caused an exception:
[code]
That means `java.lang.String#chars()` stream method not support in android 5.0 core. that since java 1.8.

I check source code at `PDFChunk.java`:

![PdfChunk](https://user-images.githubusercontent.com/1137657/106260325-40953b80-625b-11eb-9ef8-1bb2d0b4130e.png)

That modify at 2020/05/25 by

[2021-01-29 10:21] lzqwebsoft commented on #480
Explanation, I change `build.gradle` like this: https://developer.android.com/studio/write/java8-support

Also not support `java.lang.String#chars()`。

[2021-01-31 10:56] pcegarra commented on #325
Im having the same error:
  java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/sign.pdf.document-K_ZkmDYfjbzQm4KKpsQLfA==/base.apk"],nativeLibraryDirectories=[/data/app/sign.pdf.document-K_ZkmDYfjbzQm4KKpsQLfA==/lib/arm64, /data/app/sign.pdf.document-K_ZkmDYfjbzQm4KKpsQLfA==/base.apk!/lib/arm64-v8a, /system/lib64, /product/lib64]]] couldn't find "liblcmm

[2021-02-01 08:15] arnthom commented on #325
The links by asturio didn't help?
Find "liblcmm.so" and include it into your project.
Unfortunately "Apache Harmony is retired at the Apache Software Foundation since Nov 16, 2011. "
So it might be difficult to find this file ...

[2021-02-02 04:43] wng97 opened #484 "Replace iText With openPDF in Gradle Project"
I am having a problem with switching the dependencies from iText to openPDF. The problem i faced is the POM.xml File for the JasperReport plugins which using the iText Dependencies is read only file. So i am unable to change the dependencies directly from that file. i found out that i can use resolutionStrategy rule, but theres some errors pop up when i run bootrun.

Below is the code that i imple

[2021-02-02 09:17] #484 closed

[2021-02-02 10:13] asturio commented on #480
Hi, I don't know if this is feasible, because OpenPDF is written for Java 8.

There is still a java7 branch, that could be used with ancient versions of android. But the branch is not really maintained (pull request are welcome there :-) ).

I don't think we can solve this in OpenPDF.

[2021-02-02 10:45] asturio commented on #479
Improvements in pull requests are welcome!

[2021-02-02 15:02] asturio commented on #408
Is the error present in the latest Version?

[2021-02-02 18:48] asturio commented on #405
Hi there, this may be only a workaround, but what about this code?
[code]

[2021-02-02 21:05] asturio commented on #405
I found the error. The issue will be closed by my next push.

[2021-02-02 23:02] #393 closed

[2021-02-02 23:04] asturio commented on #392
It is a bit old. Pull request are welcome.

Do you have any sample code for reproducing this?

[2021-02-04 07:47] HamidrezaAmz commented on #464
Hey guys, according to my issue, I have create a new repository and added my research results into it.
I have added some base functionalities like and and remove annotations and etc.
check it out here in [MagicalPdfEditor](https://github.com/HamidrezaAmz/MagicalPdfEditor)

[2021-02-04 07:47] #464 closed

[2021-02-04 18:27] #405 closed

[2021-02-04 18:33] asturio commented on #371
Can't be fixed in OpenPDF, so closing it.

[2021-02-04 18:33] #371 closed

[2021-02-04 18:35] asturio commented on #363
Hi @wise-coders , did you find a solution for this issue?
Pull requests welcome.

[2021-02-04 18:45] #355 closed

[2021-02-04 18:47] asturio commented on #347
Seems to be solved.

[2021-02-04 18:47] #347 closed

[2021-02-04 18:52] asturio commented on #346
This is a nice one for anybody wanting to contribute.

- Grab the code of https://github.com/LibrePDF/OpenPDF/issues/346#issuecomment-651729163
- Create some new utility class for that method
- write some Unit-Test
- Create a Pull Request

[2021-02-04 19:07] asturio commented on #345
Trying to organize this:
Related Issues: #345

- Issue #317
- Issue #258, PR #260 (Cause)

[2021-02-04 19:08] asturio commented on #317
Probably the same Problem as #345

[2021-02-04 19:09] asturio commented on #345
Pull request welcome :-)

[2021-02-04 19:16] asturio commented on #342
Hi @vermanshuman , did you find a solution for your problem? Does using another PDF-Reader change the behavior?

[2021-02-04 19:18] asturio commented on #339
Hi @Alexandru-Pirvu , have you found a solution for this issue? Pull requests are welcome!

[2021-02-04 19:24] asturio commented on #338
@timbaas , did you find a solution for this problem?

[2021-02-04 19:25] asturio commented on #330
Sill not solved. Don't have that much time :-(, but still wanting to fix it. Any help?

[2021-02-04 19:36] asturio commented on #325
I think @arnthom is right.

I'm closing this issue, as this is an Android-Runtime problem, as java.awt seems not to be available on android. And as long OpenPDF uses java.awt this can't be fixed.

I just checked that OpenPDF uses 290 imports of java.awt Classes, so using an alternative to AWT will be quite a big refactoring.

Feel free on dropping your ideas in gitter https://gitter.im/LibrePDF/Op

[2021-02-04 19:36] #325 closed

[2021-02-04 19:42] asturio commented on #324
Hi @dprutean , have you found a solution for this issue? Pull requests are welcome.

[2021-02-04 19:43] asturio commented on #319
Have you found a solution for this issue, @legiorange ?

[2021-02-04 19:57] timbaas commented on #338
@asturio
I got it to work in the end, but I can't remember exactly how and don't have the code near me currently.
I remember converting each layer to a new PDF first and merge the new PDF's to one instead off writing them to a new PDF directly while converting.

The replacement of the rg operation was pretty hard, since bytes needed to be shifted to make room in the stream and this wasn't as strai

[2021-02-04 20:28] #318 closed

[2021-02-04 20:41] asturio commented on #300
This is also a nice one for new contributor. There is a fix in itext. The fix MAY NOT be copied from iText due license issues, but the code is a great starting point for an independent implementation in OpenPDF.

A UnitTest for this could also be nice.

Pull requests are welcome.

[2021-02-04 20:45] asturio commented on #299
HI @msdobrescu , have you solved this issue?

[2021-02-04 21:02] asturio commented on #296
Hi @bsanchezb and @mkl-public , just making an issue-grooming. I think this is already fixed in #304 , isn't it ?

[2021-02-05 00:47] Lonzak opened #487 "openPDF still vulnerable to Signature wraping attack"
By accident I stumbled over the [fix ](https://github.com/LibrePDF/OpenPDF/issues/158) for the signature wrapping attack (you might remember in 2019 there were some PDF [vulnerabilities](https://www.pdf-insecurity.org/signature/signature.html#attack-3-signature-wrapping-swa) published)
There also has been a fix for openPDF for one of the attacks. However the fix doesn't fix it correctly. It become

[2021-02-05 05:38] msdobrescu commented on #299
No. I have not enough knowledge on PDF to do it.
I have used gs+ps2ascii.ps (in command line) to extract the text, then parsed that.

[2021-02-05 06:31] bsanchezb commented on #296
Hello @asturio ,

Yes, the issue has been fixed in the pull-request #304 .

I will close the issue.

Cheers,
Aleksandr.

[2021-02-05 06:31] #296 closed

[2021-02-05 07:25] dprutean commented on #363
Yes, thank you, I have included an unicode font in the document.

[2021-02-05 08:49] Azaratur commented on #325
Ok, so OpenPDF does NOT support android anymore.

[2021-02-05 14:13] asturio commented on #338
Thanks. If you have some improvement for OpenPDF feel free to create a pull request.

[2021-02-05 14:13] #338 closed

[2021-02-05 14:18] asturio commented on #487
Nice finding! It would be nice to have a failing test for this. I think the behavior  should be similar to Acrobat Reader.

[2021-02-05 14:19] #299 closed

[2021-02-05 14:22] #363 closed

[2021-02-05 15:01] asturio commented on #325
Sorry, but this is not an issue of OpenPDF. It's an issue of https://github.com/andob/android-awt. If you want to use OpenPDF on Android you need to use some library that provides AWT. I'm no Android programmer, so I can't explain this very good. But as you can see, there is no **java.awt** oder **javax.swing** packages on android, only **java.awt.font**.

https://developer.android.com/reference/p

[2021-02-05 15:05] Azaratur commented on #325
I agree this is not an OpenPDF bug, android move to OpenJDK removing Harmony, but you cannot say that OpenPDF is available on Android, this is not true.

Any new app must be target sdk 30 now and this will trigger this crash, so your android support is deprecated.

[2021-02-05 15:09] asturio commented on #325
Thank you, I think it was never really supported. I'll correct the Wiki page. Can you tell, since which version of android it don't work anymore?

[2021-02-05 15:12] Azaratur commented on #325
Harmony was deprecated since Nougat (api level 27), but i got this crash on android 30, but i may be wrong.

[2021-02-05 15:30] asturio commented on #325
Thanks a lot for your input. I just corrected the Wiki-Page https://github.com/LibrePDF/OpenPDF/wiki/Android-support to reflect the reality. So to keep people to being frustrated. Feel free to correct the information of the page.

We are happy in receiving any code contribution to resolve that point.

[2021-02-05 15:33] Azaratur commented on #325
I am trying to convert android-awt to use OpenJDK, will let you know if i succeed.

[2021-02-05 16:25] Lonzak commented on #487
I checked the project with which we share common roots to see how they solved this. They also report that the signature is **valid** but does **not** cover the full document. So the behavior is the same like now.

I mean I am not 100% sure but when looking at the attack I would say that `pk.verify()` should return false instead of true.
There is an invalid ByteRange used to extend the area which i

[2021-02-07 16:12] Azaratur commented on #325
Thanks to andob now the bug seems to be fixed, he did find an old library repository and merged it on android-awt.

[2021-02-07 17:30] legiorange commented on #319
I do.
First time I used java. awt.(and It work but it hard to write that effect)
And next, I try canvas.
I really doubt about my life when I f**ed up.
Finally, I use itext.
I'll try find some solution on this, just because I like it .

[2021-02-08 10:18] Lonzak commented on #487
My idea to fix this is the following:  We scan the content of the `/Contents<...>` byte string. According to the PDF spec it is defined as:

So its format should be like this (abbreviated):

`/Contents <308006092A8648[...]3F76416524A00000000000000000[...]0000>`

But in the attack the byte range also includes other parts:

[code]

So when detecting characters like '<' or '/' or keywords like 'endob

[2021-02-08 12:19] mkl-public commented on #487
Indeed, the only sure way here is to check whether both
* the gap in the signed byte ranges contains exactly one hex encoded string and nothing else, and
* that hex encoded string equals the value of the signature field value's *Contents* value
are true.

I would propose not to try any short cuts here.

[2021-02-11 10:10] asturio opened #489 "Radiogroup in a table split due a page break, is rendered wrong"
## Describe the bug
Given I have a table, where radio buttons of the same radio-group are put in different rows.

When this table is split, because of a page break, having the row with radio button 1 still on page 1, and the row with radio button 2 on page 2,

then the radio button 2 will be drawn correctly on page 2, but radio button 1 will not be drawn on page 1, but on page 2, and in the positi

[2021-02-22 09:45] #480 closed

[2021-02-26 22:06] pipebaum opened #493 "PDF/A PDF/UA Support"
Trying to figure out if either PDF/A or PDF/UA are supported. If so what versions and is there any documentation?

[2021-02-27 01:00] Sanadis opened #494 "OpenPDF Not Using JVM Supplied Fonts"
**Describe the bug**
We recently switched our JDK to OpenJDK and were looking to substitute the fonts with Liberation as it is a quick package install on Linux. The reporting tool we use is JasperReports which calls in to OpenPDF to find its fonts but it wasn't finding them no matter what. After a bit of digging through the sources, it seems like the list of available fonts has been hard coded usi

[2021-02-27 14:21] bk-oasys opened #495 "Tamil Font Display"
We are the library for export to pdf, not displaying tamil text in the odf

[2021-02-27 21:59] asturio commented on #495
Can you elaborate the problem a bit more? Are you embeding the font?

[2021-02-28 02:48] bk-oasys commented on #495
We are having the text in database andbare embedding , but in the final pdf it is empty

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: asturio <notifications@github.com>
Sent: Sunday, February 28, 2021 3:30:07 AM
To: LibrePDF/OpenPDF <OpenPDF@noreply.github.com>
Cc: bk-oasys <bhaskar@oasys.co>; Author <author@noreply.github.com>
Subject: Re: [LibrePDF/OpenPD

[2021-02-28 10:30] asturio commented on #493
Yes, PDF/A is supported. Take a look in the Class `PdfWriter`. You can use the method `setPDFXConformance()` and some of the Constants there, like `PDFA1A` or `PDFA1B`.
There is no example for that, but you can create one in pdf-toolbox if you want.
Pull requests are welcome.

[2021-02-28 10:31] asturio commented on #495
Do you have some sample code for that?

[2021-02-28 11:18] asturio commented on #495
Please note that the encoding of the text should match the encoding of the font. What are the encodings you are using?

[2021-02-28 11:40] codecracker2014 commented on #495
@bk-oasys please try to run example documented at below link with Tamil text and Tamil Font.
https://github.com/LibrePDF/OpenPDF/wiki/Multi-byte-character-language-support-with-TTF-fonts

[2021-02-28 11:41] bk-oasys commented on #495
Thanks, will try this and revert RegardsBhaskar+91 7401439799Skype : bhaskar1970Sent from Mail for Windows 10 From: Gajendra kumarSent: 28 February 2021 17:10To: LibrePDF/OpenPDFCc: bk-oasys; MentionSubject: Re: [LibrePDF/OpenPDF] Tamil Font Display (#495) @bk-oasys please try to run example documented at below link with Tamil text and Tamil Font.https://github.com/LibrePDF/OpenPDF/wiki/Multi-byte

[2021-03-01 18:05] BuZZ-dEE opened #497 "`shape-rendering="geometricPrecision"` leads to pixelated rendered text"
**Describe the bug**

If the [svg](https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/ZwoGYsiZYRWLUsSKDizUhWCt) file contains text `shape-rendering="geometricPrecision"` the text in the rendered [pdf file](https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/yrUFvcBZTYoQsYrTdjpLYDlw) is pixelated. If remove `shape-rendering="geometricPrecision"` from the [svg fi

[2021-03-02 17:59] GreenToad commented on #346
This code uses Apache PDFBox not LibrePDF

[2021-03-05 14:44] BuZZ-dEE opened #498 "Rendering a SVG file to a glitch in the resulting PDF file"
**Describe the bug**
A clear and concise description of what the bug is.

Hi, I generated a PDF from a [SVG](https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/WLxZKCUOPlYHKUxYzrrVmgjR) file with a `feGaussianBlur` and the resulting [PDF](https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/kQpXCAKsApQKEVsmUYKeisCX) file has a glitch. Is this a bug in OpenPDF? I

[2021-03-06 11:50] asturio commented on #495
Hi @bk-oasys , do you have any success feedback on this? Can we close this issue?

[2021-03-06 11:53] bk-oasys commented on #495
Yes Sir, over the weekend we have manged to sort out, much appreciated RegardsBhaskar+91 7401439799Skype : bhaskar1970Sent from Mail for Windows 10 From: asturioSent: 06 March 2021 17:21To: LibrePDF/OpenPDFCc: bk-oasys; MentionSubject: Re: [LibrePDF/OpenPDF] Tamil Font Display (#495) Hi @bk-oasys , do you have any success feedback on this? Can we close this issue?—You are receiving this because yo

[2021-03-06 11:55] #495 closed

[2021-03-07 10:51] andreasrosdal opened #499 "PDF 2.0 standard support"
Please add support for PDF 2.0 and more recent PDF standards to OpenPDF.

https://www.pdfa.org/the-new-pdf-2-0-and-subset-standards/

https://itextpdf.com/en/blog/technical-notes/release-new-pdf-standard-pdf-20

https://issues.apache.org/jira/browse/PDFBOX-3892

[2021-03-08 10:51] StefanOltmann opened #500 "NullPointerException using PdfCopyFields (broken since v1.1.0)"
**Describe the bug**

Here is a sample document with a table of contents on the first page: [openpdf_bug_test.pdf](https://github.com/LibrePDF/OpenPDF/files/6100746/openpdf_bug_test.pdf)

I want to copy only the first page into a new file using code like this...

[code]

... and get this exception:

[code]

Since OpenPDF v1.1.0 it only works if I specify "1-2" as a range because otherwise a NullPo

[2021-03-09 19:11] vk-github18 opened #501 "Wiki page for Correct positioning of accents, DIN SPEC 91379, non-latin scripts"
I would like to contribute to the wiki.

You find the proposed changes in https://github.com/vk-github18/OpenPDF/wiki
I added one page "Accents,-DIN-SPEC-91379,-non-latin-scripts.md"
and changed "Tutorial.md".

I found no way to change the wiki directly or create a pull request for the wiki

[2021-03-17 13:36] VedranSlankovic opened #502 "NPE when exporting JasperPrint to PDF/A document"
Hello,

I'm using JasperReports with OpenPDF and I can not export JasperPrint to PDF/A document.

I'm using jasperreports exportReport() method from JRPdfExporter which calls method  com.lowagie.text.pdf.PdfWriter.getInstance(Document document, OutputStream os) in which object com.lowagie.text.pdf.PdfDocument is constructed with constructor :

[code]
Problem is that NPE occurs when XMPMeta object

[2021-03-18 03:18] ambrish24 opened #503 "Font Color on PdfPCell increases the PDF file size more than 2x times"
I have created a Font in this way.

`Font tableHeaderFont = new Font(Font.HELVETICA, 8, Font.NORMAL, Color.WHITE);`

and then using it inside PdfPCell with Phrase.

`PdfPCell hcell = new PdfPCell(new Phrase("Column A", tableHeaderFont));`

I am showing table header on every page.

Now if I drop the Font Color, it generates the PDF file of size 10 MB but **when Color is provided it generates PDF fi

[2021-03-18 08:37] andreasrosdal commented on #502
Thanks, pull requests welcome!

[2021-03-18 13:58] ambrish24 commented on #503
In addition to this, when I try to merge these pdf documents using `PdfSmartCopy` it takes around 4 GB memory usage.

[2021-03-19 01:37] applikationsprogramvara commented on #69
I have `NullPointerException` in [PdfReader.java](https://github.com/LibrePDF/OpenPDF/blob/116b38cdbe30385161444976a2c418446fdaf0a5/openpdf/src/main/java/com/lowagie/text/pdf/PdfReader.java#L1076) in `readPages` because `trailer` is null.

[code]

This is pretty critical, because it happens at the very beginning and nothing can't be done with the document.

The problem appeared as mentioned before

[2021-03-19 17:57] mkl-public commented on #69
I'm afraid you misinterpreted that. What's meant there is that the _relaxed implementation note by Adobe_ (which only requires the %%EOF to appear _somewhere within the last 1024 bytes of the file_) has been dropped when PDF became an ISO standard.

The ISO standard requires: _The last line of the file shall contain only the end-of-file marker, %%EOF._ And both OpenPDF and iText accept somewhat in

[2021-03-19 18:07] mkl-public commented on #69
That been said, your screenshot looks like the extra trash after the %%EOF is actually some PDF content (the _endstream ... stream_ segment is very PDF'ish).

This has the smell of PDFs generated by buggy software that stores PDFs in files inappropriately opened for writing (with `Open` instead of `Create`) or in memory streams with some previous content without making sure to eventually only use

[2021-03-19 21:06] applikationsprogramvara commented on #375
Here is an another example of the 256-bit AES encrypted file:
https://pratiyogitaabhiyan.in/wp-content/uploads/2020/09/Indian-National-Movement-Phase-III-1935-1947-NotesMCQ-PDF-pratiyogitaabhiyan.in_.pdf

Qpdf output:

[code]

[2021-03-19 21:12] applikationsprogramvara commented on #375
To fix the problem of opening files with 256-bit AES encryption [this part](https://github.com/itext/itext7-dotnet/blob/40817078bce310497ad33351c10dd86882d498ef/itext/itext.kernel/itext/kernel/crypto/securityhandler/StandardHandlerUsingAes256.cs#L206) from "itext7-dotnet" repository should be brought into this repository somewhere here:

https://github.com/LibrePDF/OpenPDF/blob/116b38cdbe303851614

[2021-03-19 21:27] applikationsprogramvara commented on #69
@mkl-public thank you for your feedback!

Now I understand why 1024 is hardcoded here.

I replaced the function mentioned [above](https://github.com/LibrePDF/OpenPDF/issues/69#issuecomment-802447672) via this code:

[code]

It is working universally for me for the usual files as long as for the files with "trash" at the end. I would propose a PR to include the code to the main repository.

The PDF

[2021-03-20 11:46] #502 closed

[2021-03-20 11:51] asturio commented on #487
Just to write it: Pull Requests welcome! ;-)

[2021-03-20 12:12] asturio commented on #494
I was searching for fonts in the JDK (8, and 11) and there are no Fonts in these. There is some mechanism for finding and using fonts of the OS (Linux uses e.g. fontconfig). Maybe we can use that mechanism in OpenPDF. Maybe in a new utility class "OsFonts" or the like.

The point is, the TTF-File is needed to instantiate an OS-Font in OpenPDF. And I haven't found a way to locate were these files a

[2021-03-20 12:12] asturio commented on #494
Pull Requests are welcome!

[2021-03-20 12:14] asturio commented on #497
Pull requests are welcome!

[2021-03-20 12:25] asturio commented on #346
Just answering 2 questions:

2. Yes, OpenPDF can generate PDF/A
3. I'm not aware of any part of OpenPDF for compressing existing PDFs. There are some other nice (non-Java) tools  which can manipulate Postscript and PDF. Maybe Ghostscript is a away to do so.

[2021-03-20 12:27] asturio commented on #498
Pull requests are welcome!

[2021-03-20 12:29] asturio commented on #500
Pull requests are welcome!

[2021-03-20 12:38] asturio commented on #501
Hi @vk-github18 , I changed access to the Wiki to public, so OpenPDF users and contributors can share their knowledge easier.

I hope we don't get spammed. Can you check if you can write now?

[2021-03-20 12:44] asturio commented on #503
Thank you for reporting.
Maybe this is only consequence that the colors are added in every page. This need some investigation.

Pull requests are welcome!

[2021-03-20 12:46] asturio commented on #375
Pull requests welcome!

[2021-03-20 12:57] asturio commented on #69
Pull requests are welcome!
@mkl-public : Are you fine with the suggested code?

[2021-03-20 13:42] vk-github18 commented on #501
Hi @asturio , thanks, I could add the new page.

[2021-03-20 13:42] #501 closed

[2021-03-20 13:44] vk-github18 commented on #501
New page added and included a link in "Tutorial.md"

[2021-03-21 18:55] mkl-public commented on #69
One problem: If the **startxref** occurs partially in one read packet and partially in another, it won't be found. This can be resolved by having the packets overlap, e.g. by initializing `pos` with

    int pos = file.length() - 8;

and reading a packet with

    String str = readString(step + 8);

----

One aside, though, I don't concur with

While users indeed often don't care whether a PDF _wa

[2021-03-22 08:23] ambrish24 commented on #503
The same goes for Margins and Background Color. When I left the margins at top, bottom, left and right of PDF document, the size of PDF file increases exponentially.

@asturio If you need any further information on this, feel free to reach me.

[2021-03-22 15:54] mkl-public commented on #375
Beware not to really copy from there to here. While being inspired by it certainly is ok, a more or less verbatim copy of too much code might cause license issues.

[2021-03-22 17:48] Sanadis commented on #494
That is correct, the JDK uses fontconfig based on the following documentation:
https://docs.oracle.com/javase/8/docs/technotes/guides/intl/fontconfig.html

However even without a $JDKHOME/lib/fontconfig, there still seems to be something in the JDK framework that when running on a Linux platform, it will load in the OS fontconfig if it exists. But regardless of that, the JDK seems to already have

[2021-03-23 00:20] applikationsprogramvara commented on #375
@mkl-public I get you point.

Actually I saved the link with AES256 implementation in iText because it is always nice to have a working code and you can always take a look into the alternative implementation, if you got stuck.

BTW [here is the same part on Java](https://github.com/itext/itext7/blob/21c9b38db565d1815041438f2c8b6e1d6b1a2e7e/kernel/src/main/java/com/itextpdf/kernel/crypto/securityha

[2021-03-23 01:05] applikationsprogramvara commented on #69
@mkl-public thank you for pointing to the case with packets overlaping. I have updated the code under PR https://github.com/LibrePDF/OpenPDF/pull/505

[2021-03-23 01:18] applikationsprogramvara commented on #69
@mkl-public I understand your point.

I think as long as deviations are still _comprehensible_ and the document can be opened/rendered/etc., it is OK to show some marking "you document is not build according to the standard". If from the other hand OpenPDF chooses to bump such a message to the users while failing to operate such documents, it will be proud following the standards, but the users an

[2021-03-25 12:19] aakashgarg19 commented on #503
Facing same issue, any updates on this?

[2021-03-25 20:57] asturio commented on #375
So this mean, that if you copy code from AGPL, into the LGPL project, the copied code still is AGPL. And OpenPDF would become AGPL too, which is not the intend of OpenPDF. It should remain LGPL, so it can still be used in closed source projects.

[2021-03-28 02:43] nikolavojicic commented on #373
Is there any workaround for this?

[2021-04-08 07:42] ambrish24 commented on #503
@asturio

With iText 5+, When I use the `BaseColor` class then I am getting the same size of pdf file with or without Font Color.

`Font tableHeaderFont = new Font(Font.HELVETICA, 8, Font.NORMAL, BaseColor.WHITE);`

Do we have any alternative of `iText's BaseColor `class in OpenPDF or iText4?

[2021-04-09 10:43] aakashgarg19 commented on #503
@asturio can you add BaseColor support?

[2021-04-09 10:50] jherkel opened #512 "Wrong OSGI import for javax.annotation"
I tried to use openpdf with karaf 4.3.1 (OSGI server) but I found out that there is a wrong import :
missing requirement [com.github.librepdf.openpdf/1.3.25] osgi.wiring.package; filter:="(&(osgi.wiring.package=javax.annotation)(version>=3.0.0)(!(version>=4.0.0)))"]]

But there isn't any bundle that provides javax.annotation >= 3.0.0.The latest javax.annotation package has this osgi releated manif

[2021-04-13 11:18] RangerMak opened #513 "Help wanted: How to attach file with unicode name"
I'm trying to attach file using `writer.addFileAttachment()`.
Name of file contains cyrillic symbols which not shown in resulted PDF.

How to attach file with unicode name?

[2021-04-13 12:00] taoshouxin opened #514 "Pdf form write data wireless loop"
![image](https://user-images.githubusercontent.com/16337812/114547857-8fb31000-9c91-11eb-9a95-0f0e777b142b.png)

1. setVerticalAlignment(CENTER) or setVerticalAlignment(BOTTOM)  and one table contains super multiple rows of data,Problems happened.It cannot stop writing because the file is growing (1G more).
![image](https://user-images.githubusercontent.com/16337812/114548821-d9502a80-9c92-11eb-9b

[2021-04-14 08:35] mkl-public commented on #503
It's not a matter of whether it's `BaseColor` or `Color`, it's a matter of how the color values internally are used. So just like @asturio said, _This need some investigation_ and then some optimization.

[2021-04-14 08:53] aakashgarg19 commented on #503
Any idea by when we can hear around this?

[2021-04-14 09:16] Wugengxian commented on #500
I have fixed it [solution](https://github.com/LibrePDF/OpenPDF/pull/515)

[2021-04-14 09:22] RangerMak commented on #513
Solved:
[code]

It will be better to add unicode checking to `public static PdfFileSpecification fileEmbedded(PdfWriter writer, String filePath, String fileDisplay, byte[] fileStore, String mimeType, PdfDictionary fileParameter, int compressionLevel)`?
For example like this:
[code]

[2021-04-14 09:29] ambrish24 commented on #503
Completely agree. It's a matter of how **iText** processing and applying the color on PDF.

[2021-04-15 15:14] andreasrosdal commented on #512
Pull requests welcome

[2021-04-16 16:26] Wugengxian commented on #503
@ambrish24 can you give some test cases? I want to fix this issue.

[2021-04-17 11:05] aakashgarg19 commented on #503
@Wugengxian create a pdfptable add a header in it, it should be more than 10000 pages, have wide margins, have custom font, have background color added only to header row. have different font size for header and normal rows. And you should be able to reproduce the scenario. You will see huge gap just with removing/adding font and background colors. Margin also increases it a lot.

[2021-04-19 20:48] Wugengxian opened #517 "The size pdf always be bigger than iText5"
**Is your feature request related to a problem? Please describe.**
The size pdf which is produced by OPENPDF always be lager than that of iText5

**Describe the solution you'd like**
it should be smaller or equals to iText5

**Describe alternatives you've considered**
Beginning with PDF 1.4, /ProcSet is considered obsolete. We can delete /ProcSet in dictionary of /Resources.

**Additional context*

[2021-04-19 20:49] Wugengxian commented on #517
The version of pdf produced by OpenPDF is 1.5.

[2021-04-20 06:04] Wugengxian commented on #517
I have a solution for [this](https://github.com/LibrePDF/OpenPDF/pull/518)

[2021-04-20 06:18] Wugengxian commented on #500
@StefanOltmann I have fixed it, you can find the [pull request](https://github.com/LibrePDF/OpenPDF/pull/515)

[2021-04-20 06:27] StefanOltmann commented on #500
Thank you! 😀

[2021-04-20 06:28] Wugengxian commented on #503
@aakashgarg19 I have tried to reproduce the scenario, but I don't see huge gap. this is my code.

`public static void main(String[] args) throws FileNotFoundException {
        Document document = new Document(PageSize.A4.rotate(), 10, 10, 10, 10);
        Document.compress = false;
        try {
            PdfWriter.getInstance(document,
                    new FileOutputStream("AddBigTable.pdf"

[2021-04-20 06:34] ambrish24 commented on #503
@Wugengxian Thanks for the quick response.

Could you please try this use case?

We have java class `CustomerGenerator` that will give you dummy data for PDF. I have used both OpenPDF and iText 5.5 with version mentioned below:

**iText 5.5:**

[code]

**OpenPDF 1.3.20**

[code]

Next, we have two implementation for PDF generation `PDFGenerator.java` & `PDFGeneratorIText.java`. When I use PDFGener

[2021-04-20 06:57] ambrish24 commented on #503
@Wugengxian I have tried your use case(code) as well and able to reproduce the issue.

**OpenPDF Impl: PDF File Size is around 15 MB**

[code]

**iText Impl: PDF File Size is around 8.5 MB**

[code]

[2021-04-20 11:20] Wugengxian commented on #503
@ambrish24 you can update the version of OpenPdf to 1.3.25, and this issue has been fixed.

[2021-04-20 11:57] ambrish24 commented on #503
@Wugengxian My Bad. I didn't check the latest version. With latest version the issue has been fixed. Thanks for pointing out this.

[2021-04-20 11:57] #503 closed

[2021-04-20 20:54] Wugengxian commented on #454
@asturio @PallaviSaini I have fix it [solution](https://github.com/LibrePDF/OpenPDF/pull/519). In the futher, I will study how to let other fonts to encode \t and give a better solution.

[2021-04-21 07:49] jherkel commented on #512
I will prepare PR. Temporary I solved this with wrap and rewriting version
of import.

Jakub

On Thu, Apr 15, 2021 at 5:14 PM Andreas Rosdal ***@***.***>
wrote:

[2021-04-21 20:18] Wugengxian commented on #489
@asturio you can change your code like this.
[code]

[2021-04-21 21:15] Wugengxian commented on #330
@asturio I want to work on this issue, can you give some test codes

[2021-04-21 22:03] Wugengxian commented on #489
this also have a better solution like this which can keep completeness of /Kids of radioGroup
[code]

[2021-04-22 16:20] #517 closed

[2021-04-22 16:36] #454 closed

[2021-04-22 16:36] asturio commented on #454
Thanks for the contribution!

[2021-04-22 18:16] #500 closed

[2021-04-22 18:41] StefanOltmann commented on #500
@asturio Nice.

When will the next release to maven central happen?

[2021-04-23 00:21] Wugengxian commented on #330
@asturio I have fixed it. [Link](https://github.com/LibrePDF/OpenPDF/pull/521)

[2021-04-23 08:58] macromogic commented on #497
Hi. I am trying to reproduce the bug with the provided code. But I cannot find the `SVGUtil` class to compile the code. I wonder if you have added other dependencies for this code? @BuZZ-dEE

[2021-04-23 09:39] BuZZ-dEE commented on #497
@macromogic that is just a function to read the dimension from the element. do you really need that?

[2021-04-23 14:43] macromogic commented on #497
@BuZZ-dEE I am just suspecting if I have missed some of the dependencies that include this class. I have just cloned this repo and tried to use your code and file to reproduce the bug. However, I didn't find the class in either the project or the dependencies. I don't know what I have missed.
Also, I have no idea how to read the file as an `SVGDocument`. Could you give me some information?

[2021-04-23 15:52] whexy commented on #345
Hi, I've looked into this issue for a while. It seems that PR #260 introduced a bug. Please find the solution in PR #524.

[2021-04-23 15:52] macromogic commented on #392
Hi. I have reproduced this bug:

[code]

As stated by the author, the greek characters will be lost because _Helvetica_ does not contain the characters, and there is no font fallback.

Now I am working on this issue.

[2021-04-24 18:57] Wugengxian commented on #392
It is cause by that Font.HELVETICA don't decode Χαίρετε. A good idea is to add `selector.addFont(new Font(Font.SYMBOL));` after selector.addFont(new Font(Font.SYMBOL)), when Font.HELVETICA don't decode and it will use Font.SYMBOL.

[2021-04-25 02:48] macromogic commented on #392
@Wugengxian Yes. But you should not assume the users have full knowledge of the fonts being used. Chances are that some of the characters fail to be rendered by any of the fonts specified in the selector. A font fallback with a warning message can at least make sure that all contents are shown in the document, and remind the user to specify other fonts if necessary.

[2021-04-25 02:54] CanyonJ commented on #392
In our primary use case we don’t know the language entered. We rely on font fallback to work if our preferred font won’t support the characters passed in. 

On Saturday, April 24, 2021, 9:48 PM, Weijie Huang ***@***.***> wrote:

@Wugengxian Yes. But you should not assume the users have full knowledge of the fonts being used. Chances are that some of the characters fail to be rendered by any of the

[2021-04-25 04:09] Wugengxian commented on #392
@macromogic what you said is very reasonable. I think the better pull request is to add default font in fonts of `fontselector`, everytime we call add method that we will call fonts.add(len-1). The least change makes better.

[2021-04-25 04:25] macromogic commented on #392
@Wugengxian Have you noticed the info message when a font fallback happens? I prefer keeping this message to notify the user that the default font is adopted.
Although I have not read other parts of this project, I don't think it is a good idea to add the default font _here_. Also,  I believe adding an element at index `len-1` is slower than just appending the element.

[2021-04-25 06:50] whexy commented on #317
Hi, I've looked into this issue for a while. It seems that PR #260 introduced a bug. Please find the solution in PR #524.

[2021-04-25 12:46] #330 closed

[2021-04-25 12:52] asturio commented on #514
Pull requests are welcome!

[2021-04-25 12:53] asturio commented on #514
Do you have sample code for reproducing this?

[2021-04-25 13:19] asturio commented on #500
Let's see if I can go through some PR this weekend, so I can release in the next week. :-). It's great to have so much contribution.

[2021-04-25 13:28] #399 closed

[2021-04-26 04:02] Wugengxian opened #529 "error with PDFTextExtractor"
**Describe the bug**
/toUnicode is error, then PDFTextExtractor will make mistake.

**To Reproduce**
this is code:
[code]
**Expected behavior**
when we copy "ετε" in html or use PdfTextExtractor, it show "ͧͶͧ". which is error
**Expected behavior**
when we copy "ετε" in html or use PdfTextExtractor, it should show "ετε".

**Screenshots**
![image](https://user-images.githubusercontent.com/60342704/1

[2021-04-29 07:34] nicodmt opened #532 "document.add(paragraph) does not add paragraph object to document"
**Describe the bug**
When using the Document class add() the added objects does no add to Document object.

**To Reproduce**
Code to reproduce the issue
1. My Sample Code
My Controller method:

[code]

My export() in BudgetPDFExporter:
[code]

**Expected behavior**
I expect to have the text "Budgetplan" written on my generated PDF but so is not the case.
It seems that:
[code]
paragraph never is ad

[2021-05-01 08:23] Wugengxian commented on #532
@nicodmt I try to reproduce it, but I can not reproduce it. I think your issue may caused by  `response.getOutputStream()`

[2021-05-01 10:06] nicodmt commented on #532
Thank you for your answer!
After creating this post I found the issue to be cause by the method you also are thinking about.
By changing the OutputStream from the HttpServletRespons object to a new FileOutputStream like so
`PdfWriter.getInstance(document, new FileOutputStream(Paths.get(System.getProperty("user.home"), "Downloads") + "\\Budget-Plan-" + currentDateTime + ".pdf"));`
I am receiving my

[2021-05-01 10:33] Wugengxian commented on #532
Because `HttpServletResponse` is a interface, the implement of `getOutputStream` is depend on what entity class it is. Maybe `getOutputStream` returns null, and it is ok for OpenPDF to work.

[2021-05-01 17:19] omesquita commented on #325
This worked for me.  Thanks guys!

This worked for me. Thanks guys!

[2021-05-02 17:08] asturio commented on #513
You mean if the file name contains non-ASCII character (or at least non-Latin symbols) the file name won't be shown?

Pull request welcome.

[2021-05-02 17:56] #392 closed

[2021-05-02 18:22] Wugengxian commented on #529
it also has other problem when we use font.Symbol in Chunk. I will provide a  pull request in the future.

[2021-05-02 19:11] #529 closed

[2021-05-02 19:12] #512 closed

[2021-05-02 20:21] #69 closed

[2021-05-03 01:20] Doragon-S opened #534 "Justified Text not supporting RTL"
**Describe the bug**
When aligning a paragraph as "Justified", it changed to LTR. The hebrew letters were written backwards, like english. I thought I had broke something until I tried changing the alignment to "Right" and "Center".
I had written this in Kotlin, but since Kotlin is compatable with Java, I don't think there will be any difference between the two.

**To Reproduce**
Code to reproduce

[2021-05-03 07:56] nicodmt commented on #532
I'm truely gratefull for your answers but could you explain how the implementation om .getOutputStrem() depends on the entity class? I don't understand that part. I might be to Junior for that.

[2021-05-04 22:59] Doragon-S commented on #534
This should probably also make the last line aligned right.
Also, is it possible to have options for the last line? for example: make the last line (or two?) centered instead of always being constrained to the side the words start from?

[2021-05-10 04:06] Wugengxian commented on #534
@Doragon-S I know the reason, I will fixed it in this week.

[2021-05-11 06:55] kolaval opened #536 "setSkipFirstHeader not working"
**Describe the bug**
Calling table.setSkipFirstHeader(true) does not skip the header rows on the first page.

**To Reproduce**
create basic table that spans multiple pages.
[code]

**Expected behavior**
First page should not have HEADER 1,2,3 rows.

Screenshots
![image](https://user-images.githubusercontent.com/4124487/117771631-943dfa80-b236-11eb-8c35-61baf02dea6c.png)

[2021-05-11 21:41] Wugengxian commented on #534
I don't know how how to do this, and maybe you can wait for others to help you.

[2021-05-11 23:17] Wugengxian commented on #536
@kolaval I have fixed it #537, it is a little problem.

[2021-05-12 02:31] Doragon-S commented on #534
Do you know who I could ask? and how I would ask? (I'm new to GitHub)

[2021-05-12 15:07] arnthom commented on #534
Hi Dorago-S!

In my case I want to set a specific header to document pages that are filled by the _add_ method of the Document class.
I have managed this by using method _writeSelectedRows_ of PdfPTable class.
In _writeSelectedRows_ you can set the position, size and content.
Is this a method you could use?

[2021-05-12 18:24] Doragon-S commented on #534
I'm not sure. Would I need to make a whole table to use it?
I was planning on using multiple "textbox" objects to get the text into a certain shape (fitting comments around a base text - I was going to have the commentary be in a smaller font size and surround the base text kind of in an L shape). I had thought the best idea would be to make 3 textboxes - one for the base text, one for the part of

[2021-05-13 08:46] Wugengxian commented on #534
@Doragon-S I have fixed it. Wish it can help you.

[2021-05-13 09:24] Wugengxian commented on #534
@Doragon-S I have fixed it. Hope it can help you.

[2021-05-13 11:08] #536 closed

[2021-05-13 13:18] #408 closed

[2021-05-13 14:16] #534 closed

[2021-05-13 15:42] asturio commented on #534
Hi @Doragon-S , can you take a look at the test `whenLayoutRightToLeftHebrew_thenRevertCharOrder` in https://github.com/LibrePDF/OpenPDF/blob/master/openpdf/src/test/java/com/lowagie/text/pdf/LayoutProcessor534Test.java, if it make some sense? I don't know hebrew, and my knowledge in RTL-languages is almost non-existent :-)

[2021-05-13 20:25] Wugengxian commented on #497
@BuZZ-dEE this issue is not related to OpenPDF, it is cause by `org.apache.batik.ext.awt`.
when shape-rendering="geometricPrecision" is on. it will pass image to OpenPDF by the code
`g2d.drawImage(bi, clipR.x, clipR.y, (ImageObserver)null)` in line 185 of org.apache.batik.ext.awt.image.GraphicsUtil
when shape-rendering="geometricPrecision" is off. it will pass the shape to OpenPDF by the code
`gra

[2021-05-13 22:57] Doragon-S commented on #534
Hi! I'm new to coding, and I don't really know what to do, so I'll tell you what I tried doing and you tell me if it helped/what to actually do?

When I ran the code, I got a failed test of:

`INFO: Reading font-fallback/LiberationSans-Regular.ttf...

org.opentest4j.AssertionFailedError:
expected: ".ויה אלש םירבדה ןמ יושע ,דהדהמ ,לולח טקש היה וילאמ שקבתמה קלחה.םיקלח השולש תב הממד וז התיהו ,ךרדה־ןב

[2021-05-13 23:40] Wugengxian commented on #498
@BuZZ-dEE this issue happen when there are many pictures to merge. when you use ApacheFOP, the pdf only have one picture. so it does not have a glitch. But if page page size of OpenPDF is suitable, it will have one picture and do not have a glitch. And how to solve the issue when too many picture to merged, I have not idea. I think it is the problem for the tool to render it.
pdf:
![image](https:/

[2021-05-14 16:50] thezukkino opened #541 "Android Support for API < 24"
I've a problem with this great library with Android API < 24 (for 25+ the lib works well).

- IDE: Android Studio
- Gradle: 4.1.3

Following the [Sample project](https://github.com/andob/OpenPDFAndroidSample) I've added the dependencies:
`implementation 'com.github.librepdf:openpdf:1.3.24'
implementation 'ro.andob.androidawt:androidawt:1.0.4'`
The compile option is set to Java 1.8
and Maven repo:

[2021-05-18 23:38] BuZZ-dEE commented on #497
@Wugengxian Apache FOP has no problem to render the same PDF. I thought Apache FOP would also use Apache Batik. Doesn't it?

[2021-05-21 14:38] Wugengxian commented on #497
@BuZZ-dEE Apache FOP transform svg to pdf, it don't use the way you used.

[2021-05-24 02:17] takotakot opened #550 "Font embedded setting may not work"
**Describe the bug**
Font `embedded` config may not work.
I tried: https://github.com/LibrePDF/OpenPDF/wiki/Multi-byte-character-language-support-with-TTF-fonts with Jaldi-Regular.ttf in https://github.com/LibrePDF/OpenPDF/tree/master/openpdf/src/test/resources/fonts/jaldi .

**To Reproduce**
Code to reproduce the issue
1. Copy  https://github.com/LibrePDF/OpenPDF/wiki/Multi-byte-character-languag

[2021-05-24 17:56] #513 closed

[2021-05-24 18:37] asturio commented on #541
Pull request welcome.

[2021-05-24 18:54] #300 closed

[2021-05-24 23:51] Doragon-S commented on #534
@asturio
Hi, I'm trying to make a text wrap around other text, and I think the best way to do that is by making multiple textBox objects (or something similar) to set certain sections of text to specific places. Is this possible? What would be the best way to do this? arnthom had suggested making a PdfPTable, but I couldn't find an easy to follow documentation (or example) on how to use it properl

[2021-05-25 07:35] thezukkino commented on #541
Currently I've solved downgrading the dependency
`implementation 'com.github.librepdf:openpdf:1.0.5'
implementation 'ro.andob.androidawt:androidawt:1.0.4'`

As far as I've a little chunk of time I'll try the PR.

Thanks

[2021-05-25 09:24] asturio commented on #550
Pull requests are welcome.

[2021-05-25 09:59] asturio commented on #541
There is a java7 Branch, which you can take a look. The main Problem of older APIs for Android is that there is no support for Streams and Lambdas. The branch is quite updated, so any "upgrades" there are also welcome.

[2021-05-25 10:29] thezukkino commented on #541
I've noticed the problem of Lambdas and Streams.
My idea is to add
`coreLibraryDesugaring 'com.android.tools:desugar_jdk_libs:1.1.5'` dependency
and
`coreLibraryDesugaringEnabled true`
to allow Lambdas and Streams usage in API <24.

[2021-05-25 19:15] rajukumar17 opened #552 "I am trying to migrate a project from itext to openPdf"
java.lang.NoSuchMethodError: com.lowagie.text.pdf.PdfPTable.setComplete(Z)V

when i try to create a pdf i am getting this exception.the code is working fine in itext 5.0.6 version when i am changing to openpdf 1.3.26 version getting this exception.

java.lang.NoSuchMethodError: com.lowagie.text.pdf.PdfPTable.setComplete(Z)V.

[2021-05-25 19:25] asturio commented on #552
Strange, than the method exists:

com.lowagie.text.pdf.PdfPTable#setComplete.

https://github.com/LibrePDF/OpenPDF/blob/bb764e0296db309a53baa1188195273cd4b24d54/openpdf/src/main/java/com/lowagie/text/pdf/PdfPTable.java#L1602

Please note, that for iText 5+ you should use https://github.com/LibrePDF/OpenPDF5

[2021-05-25 19:39] mkl-public commented on #552
That might not be possible if the OP switched to OpenPdf to avoid the AGPL...

[2021-05-26 02:51] Doragon-S commented on #152
Can someone please add a Tutorial for making a Table and Placing it in a specific position in the pdf page? It would be very appreciated.

[2021-05-26 22:02] jdeavers commented on #514
We are seeing this issue as well.

When using basic `com.lowagie.text.Table` objects, and at least 2 columns are defined, and one has vertical alignment set to either BOTTOM or CENTER (as opposed to BASELINE, TOP, or UNDEFINED) and one of the columns has a large amount of text, an infinite loop is occurring in `PdfDocument.addPdfTable`. The pdf file becomes massive in a very short time. We had a c

[2021-05-27 09:28] asturio commented on #552
Yes, that is true. And I just checked OpenPDF5. It recommends the usage of OpenPDF instead.

[2021-05-27 12:49] rajukumar17 commented on #552
I just solved that problem.there is a itext 2.0.6 dependency that caused the problem.i removed it and everything is working fine.tq..

[2021-05-27 12:49] #552 closed

[2021-05-27 20:18] BuZZ-dEE commented on #498
@Wugengxian what is a suitable page size? We tested the PDF in Okular, Evince, Qpdf and Adobe Reader, all these tools show a glitch. Do you know a tool, which renders this correct?

[2021-05-28 07:45] flywire commented on #152
Tutorials should be implemented in https://jsfiddle.net/ or similar, even allow users to upload files and process them.

[2021-06-01 08:44] nicodmt commented on #532
Update.

By adding "produces = MediaType.APPLICATION_PDF_VALUE" in my @GetMapping the issue is no more. Closing this now.

[2021-06-01 08:44] #532 closed

[2021-06-02 16:54] Lonzak opened #555 "Changing fonts for form fields not working correctly"
I just stumbled over the following issue:

I wanted to change a font of a form field. However there seems to be problem with the current implementation.
I have a form field like this:

Original PDF:
[code]

So now I change the font from Arial to TimesNewRoman
[code]

and the result is like this:

[code]
The result is not correct I would say:
1. The DA of the parent stays the same
2. The DA is adde

[2021-06-02 23:39] Doragon-S opened #556 "Manually positioning text on the pdf"
I'd like to manually control the position of text on a pdf page.

I thought it would be convenient to have a function that adds text to the pdf starting at a specified position

someone suggested making a table, setting it to a specific point, and adding the text into there. But I haven't figured out how to do that, and I found no tutorials online.

This is the way pdfBox adds text, and since I kn

[2021-06-03 18:44] Doragon-S commented on #556
I guess a simple way to rewrite the question is this: Is there a way to access the basic actions of editing a pdf? (adding a page, adding a word to a specific place on the pdf, etc.)

[2021-06-04 12:49] katjas opened #559 "What PDF and PDF/A versions are supported?"
Hi there

we are evaluating which PDF creating library we want to use in our company (we are currently using an iText 2.1.7 and would like to replace it). The main criteria are to be able to produce PDFs in version 1.7 respectively PDF/A-2 at least.
I the OpenPDF library able to produce such files? I have not found this information in the available documentation unfortunately.

Thanks in advance a

[2021-06-05 15:33] mkl-public commented on #556
OpenPdf offers lower-level APIs, too.
In these cases you address a `PdfContentByte` instance (e.g. from `PdfWriter.getDirectContent()`/ `PdfWriter.getDirectContentUnder()` or from `PdfStamper.getOverContent()`/`PdfStamper.getUnderContent()`) with similar methods as you see in PDFBox.
There are some intermediary level methods, e.g. `PdfContentByte.showTextAligned()` and use of the `ColumnText` clas

[2021-06-06 18:33] Doragon-S commented on #556
Thank you so much!
I got an error of "document has no pages", and document.addPage() doesn't exist. is that also a PdfWriter function?

[2021-06-06 22:44] Doragon-S commented on #556
Thank you so much!
Could I also ask you how to make a page? I keep getting the "document has no pages" error. I couldn't find anything about adding pages except pdfPage, and that one said it needed a rectangle, hashmap and a dictionary. And I could only find what a rectangle was.

[2021-06-07 11:23] asturio commented on #559
As from the source code, there seems to be support for PDF 1.7, and PDF/A1A and PDF/A1B
https://github.com/LibrePDF/OpenPDF/blob/12ecb0f21b3766f19f46a5ff902e0008b1b883dd/openpdf/src/main/java/com/lowagie/text/pdf/PdfWriter.java#L1346
https://github.com/LibrePDF/OpenPDF/blob/12ecb0f21b3766f19f46a5ff902e0008b1b883dd/openpdf/src/main/java/com/lowagie/text/pdf/PdfWriter.java#L737

Please be aware that

[2021-06-11 07:59] Noobgamer0111 opened #561 "VirusTotal flags the 1.3.26 Source Code."
Hey guys!

I've got this small issue. I decided to chuck the source code for v1.3.26 into VirusTotal. I know you guys have no intent to put a virus into your work and I'm believing it as a false flag.

Results: https://www.virustotal.com/gui/file/82a85ecdd0813171504014a49c783196e1d5f6c179953b67bc4ed7478f08ee31/detection

![image](https://user-images.githubusercontent.com/60173797/121652358-e943898

[2021-06-11 08:01] Noobgamer0111 commented on #561
Image was edited to remove identifying personal information.

[2021-06-16 10:53] mkl-public commented on #556
CAn you show your code so we can tell you what to change?

[2021-06-17 00:06] Doragon-S commented on #556
`    val wr = PdfWriter.getInstance(document, FileOutputStream("filepath.pdf"))
val r = Rectangle(50f,50f,100f,100f)
wr.setBoxSize("LETTER", r)
wr.directContent.setFontAndSize(font.baseFont, font.size)
wr.directContent.showTextBasic(text)`

[2021-06-21 11:38] alesky78 opened #568 "When add a Table by ColumnText, the ColumnText doesn't reconize there is no space in the document"
when try to add a Table by the ColumnText also if we are sure that there is no enough space to fit the table in the page, the ColumnText believe that all the content entered in the page
[BUGColumnTextWihtOnlyTable.txt](https://github.com/LibrePDF/OpenPDF/files/6686290/BUGColumnTextWihtOnlyTable.txt)

a full test case is implemented that show in detail the bug
moreoever is added also a case that in

[2021-06-23 07:37] asturio commented on #561
Jep, very strange. The ZIP file is generated by GitHub when a Release is published, and all the code is in Git (anybody can check it). The SHA256-Sum is also correct, and the same as here in GitHub. I'll try to scan all the sources with G Data.

[2021-06-23 19:41] asturio commented on #561
Hi @Noobgamer0111 ,
I made some research on this. What G Data finds is the siwa.pdf file in the source code in the tests in:
https://github.com/LibrePDF/OpenPDF/blob/master/openpdf/src/test/resources/siwa.pdf
As you can see, this is a PDF in the tests, exactly to check for the bug:
#158 signature wrapping attack
Here you can see the commit #159

So this is just a false positive finding of G Data

[2021-06-23 19:41] #561 closed

[2021-06-23 19:47] asturio commented on #561
I reported the issue to G Data.

[2021-06-24 17:06] mkl-public commented on #556
Please be aware that you are working with a low-level API here. Thus, you have to enclose text objects with `beginText()` and `endText()` calls. Furthermore, you don't use a `moveText` variant, so your text might appear at a location you don't expect.

Also you do `wr.setBoxSize("LETTER", r)` according to the JavaDocs: `Allowed names are: "crop", "trim", "art" and "bleed".` Thus, your LETTER box m

[2021-06-29 02:32] Doragon-S opened #571 "Bolding/Italics/different font for words, in middle of Column Text"
**Is your feature request related to a problem? Please describe.**

I want to be able to have certain words bolded or italicized or in a different font in the text I'm putting to the pdf.
I guess this is more of a question of how to do it if it possible, and if not - could this be made to be possible.

**Describe the solution you'd like**

I know this might sound stupid, but I have no idea how to

[2021-07-05 16:10] Doragon-S commented on #571
I figured out that I could do something similar by passing an array of Strings and Fonts to columnText, and having it print the first string with the first font, second with second, etc.

It doesn't really fix the issue though, since the second string gets printed onto a new line. It would not help if you wanted to have certain words bolded in the middle of the same line.

Is this possible somehow

[2021-07-09 12:03] nazmul-prince opened #572 "Bengali font is always broken in pdf"
**Describe the bug**
I've tried almost all available Bengali font but got broken Bengali words in the pdf. For example I wanted to print the following Bengali line in pdf:
আমার নাম নাজমুল আপননিই জেকোনো নামো টোলা বিশ্বাসপাড়া which is broken in the generated pdf as broken (pdf attached)

**To Reproduce**
Code to reproduce the issue
[code]
2. You just need to run the above code. :)

**Expected behav

[2021-07-09 12:18] codecracker2014 commented on #572
Do you have apache fop on classpath?

[2021-07-09 12:20] nazmul-prince commented on #572
@codecracker2014 nope I dont. Do I need to add that in my dependencies?

[2021-07-09 12:27] codecracker2014 commented on #572
Yes

[2021-07-09 12:53] nazmul-prince commented on #572
@codecracker2014 thanks for your quick comments. I've added that dependencies but still no luck.

Here is my pom.xml:
`<?xml version="1.0" encoding="UTF-8"?>

<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion

[2021-07-09 14:30] codecracker2014 commented on #572
Please add dependency of xmlgraphics-commons as well. Refer this wiki https://github.com/LibrePDF/OpenPDF/wiki/Multi-byte-character-language-support-with-TTF-fonts

[2021-07-09 16:26] nazmul-prince commented on #572
@codecracker2014 still having the same problem :(. My current pom is:

[code]

[2021-07-09 17:25] nazmul-prince commented on #572
This issue is making me crazy :). Anyone faced this problem ever?
Btw special thanks to @codecracker2014  as he tries his best :+1:

[2021-07-11 11:52] manugbhat opened #573 "Adding bookmarks for lists and list items"
Unable to add bookmarks at list and list item level.
[code]
And the consuming class,
[code]
I am using Lists because chapters and sections are always rendered with numbered bullers. I dont need numbered bullets.
The problem here is that unless I add the list to the document, the position does not move and hence the adding the dummy paragraph is adding outlines at the same destination. In the gener

[2021-07-13 13:02] delacrm opened #574 "License query"
Hi! I just want to verify if using OpenPDF will require us to have our source code be shared with the contributors/authors of this library as well. If not, is there anything you require from us when we use this library? Thank you in advance!

[2021-07-14 06:27] Lonzak commented on #574
OpenPDF is licensed under LGPL/MPL.

[2021-07-17 14:10] mluppi commented on #573
@manugbhat
I have answered your question on StackOverflow: https://stackoverflow.com/a/68419054/5024726
Additionally, I'm adding a new example to the [existing collection](https://github.com/LibrePDF/OpenPDF/tree/master/pdf-toolbox/src/test/java/com/lowagie/examples) in PR #577

[2021-07-17 16:37] mluppi commented on #556
@Doragon-S
I have answered your question on StackOverflow: https://stackoverflow.com/a/68419550/5024726
Additionally, I'm adding a new example to the [existing collection](https://github.com/LibrePDF/OpenPDF/tree/master/pdf-toolbox/src/test/java/com/lowagie/examples) in PR #578 which extends on the above mentioned answer.

[2021-07-17 18:56] mluppi commented on #346
@asturio The labels **good first issue** and **task** could probably be removed from this issue. The code is for *Apache PDFBox* and I don't see an easy way to just add that functionality. This issue does not need continuous attention as #145 and #152 which have the **task** label.

[2021-07-19 02:33] Doragon-S commented on #556
thank you

[2021-07-19 09:31] mluppi commented on #571
@Doragon-S
To format the elements, you first need to define a new `Font` with the desired font family, size and style. For example:
[code]

Then, you can use smaller text elements and define a different font as the parent element. By default, the font is inherited from the parent. So you can for example add a "formatted" `Chunk` (the smallest part of text) to a `Phrase` or `Paragraph`. Or you can

[2021-07-19 12:54] Doragon-S commented on #571
YAY!!! Thank you! I didn't know that you can do this. Thank you so much.

[2021-07-21 07:53] szattila98 opened #579 "TextPosition and Image extraction"
Hi! I am vigorously browsing the javadoc, and I can see that the library can extract text as string. Could someone tell me, whether I can extract the position of the text or characters on the page, and also images and their position and dimension data with it? I didn't see examples or javadoc entries/classes about this so far. Thanks in advance!

[2021-07-21 08:52] andreasrosdal opened #580 "NullPointerException in SimpleBookmark.getBookmark()"
**Describe the bug**
We get an NullPointerException in SimpleBookmark.java SimpleBookmark.getBookmark().
OpenPDF version 1.0.5. Running on Linux with Java 11.

**This is the Exception stacktrace:**
Caused by: java.lang.NullPointerException
	at com.lowagie.text.pdf.SimpleBookmark.bookmarkDepth(SimpleBookmark.java:123)
	at com.lowagie.text.pdf.SimpleBookmark.getBookmark(SimpleBookmark.java:289)
	at

[2021-07-21 15:54] nadir35 opened #581 "PDFWriter uses wrong file.encoding to write XREF"
**Describe the bug**
PDFCrossReference.toPDF(OutputStream os)  should not use getBytes() to write the XREF to the file. If the file.encoding property of java is set to some non ISO or UTF-8 encoding, the file will become corrupt and won't be able to open with Adobe Reader. It can still be opened by browsers though. Instead, getISOBytes() should be used.

**To Reproduce**
1. Change your file.encodi

[2021-07-28 10:05] #580 closed

[2021-07-28 10:06] #556 closed

[2021-07-28 10:08] #573 closed

[2021-07-29 00:47] VincentJoshuaET commented on #118
[code]

[2021-08-03 17:04] mluppi commented on #128
Updated Link: https://lgtm.com/projects/g/LibrePDF/OpenPDF/alerts/?mode=list

[2021-08-04 07:43] Marco-Sulla opened #584 "Add motivations to add FOP"
Currently, in the README there's no explanation why someone should consider to add FOP too.
PS: and I'm curious :D

[2021-08-04 08:35] codecracker2014 commented on #584
Fop is required to process gsub table for TTF fonts. Without this glyph substitution doesn't work properly.
Ex: #297

gsub processing using FOP was added in #329.

[2021-08-04 08:36] codecracker2014 commented on #584
Adding above to wiki as well.

[2021-08-04 08:38] codecracker2014 commented on #584
Wiki link: https://github.com/LibrePDF/OpenPDF/wiki/Multi-byte-character-language-support-with-TTF-fonts

[2021-08-04 08:53] codecracker2014 commented on #584
updating main page with #585

[2021-08-05 08:50] Marco-Sulla commented on #584
Is it only for this? I read also for ligatures.

[2021-08-05 10:13] codecracker2014 commented on #584
Yes

[2021-08-09 17:12] JohnPlanetary commented on #86
Please considered integrating the ETSI EN 319 142-1 V1.1.0 (2016-02) (PAdES digital signatures) ( https://www.etsi.org/deliver/etsi_en/319100_319199/31914201/01.01.00_30/en_31914201v010100v.pdf ) B-LTA level.

6
6.1. Signature levels
d) B-LTA level provides requirements for the incorporation of electronic time-stamps that allow validation of the
signature long time after its generation. This level

[2021-08-10 09:28] mkl-public commented on #86
For extending signatures to B-LTA level (or creating them at that level), you do not only need the code to _integrate given validation related information_ into a PDF but als code to _collect that validation material_ in the first place. Thus, you don't only need the eSig DSS dss-pades-openpdf and dss-pades modules but quite a number of the other modules, too.
Furthermore, eSig DSS is actively mai

[2021-08-12 09:55] mppperez opened #587 "Set Font in PdfGraphics2D not working / PdfGraphics2D manipulates set Font (not expected)"
**Describe the bug**
We didn't update for a while but the changes from 2019 (commit 15e89ca38126ae1dbe5ec869708370321f0ed265) break all generated PDFs (wrong font used).

This can be reproduced with an existing test : `com.lowagie.text.pdf.fonts.FontTest#testBoldSimulationAndStrokeWidth`.

Executing the test on my machine (Ubuntu, Java 11) let the `compositeFontDrawer` in `PdfGraphics2D` choose th

[2021-08-12 11:05] mppperez commented on #587
followup: expected behaviour would be also to fail with an exception that the font were not found rather then just using another one that breaks with policies that documents should have a predefined style just only because it is in the same font family...?

[2021-08-14 12:06] mppperez commented on #587
Update: unfortunately I cannot reconstruct why this fix (see commit above) for Windows was built... or initially Windows and then changed to Mac.

Additionally the `splitStringIntoDisplayableParts`(which was added with the commit) looks like a fix for a project specific problem that were built in core mechanics of OpenPDF? If we want to write a PDF document with PdfGraphics2D then we explicitly se

[2021-08-17 15:53] mppperez commented on #587
update: I've edited the initial post and added the most recent comment so that it is more clear.

the created PR contains a workaround for now until there is some more feedback from community / developers.

[2021-08-19 09:25] #587 closed

[2021-08-19 10:41] langmeng opened #589 "Alpha value of fill color take no effect after PdfContentByte.restoreState() call."
**Describe the bug**
After restoreState(), set alpha value of fill color not working , if alpha value of the new fill color equals alpha value of the last fill color.

**OpenPDF version**
1.3.26

**To Reproduce**
Run this test application.

[code]

**Expected output**
![image](https://user-images.githubusercontent.com/500238/130054517-4da2186c-4edf-4311-8843-06789f89e6c1.png)

**Output**
![image](

[2021-08-19 17:59] mkl-public commented on #589
Indeed, `saveState` and `restoreState` have not been considered in the `last*Alpha` handling. strictly speaking those should not have been made `PdfContentByte` members; instead the graphics state should have been used.

[2021-08-23 04:54] sis-yoshiday opened #591 "FopGlyphProcessor.convertToBytesWithGlyphs() does not consider surrogate pair"
**To Reproduce**
1. include apache FOP to class path
2. output text contains surrogate pair

add example code to pull-request https://github.com/LibrePDF/OpenPDF/pull/592

**Expected behavior**
text should be processed same as `com.lowagie.text.pdf.FontDetails#convertToBytesWithGlyphs`

[2021-08-27 09:05] dstucki opened #596 "Image.getInstance on PNG performs worse compared to original code"
**Describe the bug**
Performance for handling PNG's (e.g. inserting into PDF Document) has become noticeable slow from original itext implementation to latest openpdf implementation.

**To Reproduce**
Example Project see https://github.com/dstucki/openpdf-png-performance

OR

[code]

**Expected behavior**
Performance of original itext code should be more or less restored

**System (please complete

[2021-08-30 07:10] ApionXD commented on #596
We are using Java's ImageIO class to read PNGs, and that seems to be our bottleneck here. I don't see a way to improve performance unless wither go back to writing our own codecs or finding a library that can read images (specifically pngs) faster.
![image](https://user-images.githubusercontent.com/5356562/131299843-bc54b33c-dd1e-46a9-8744-8c461b67ae46.png)

[2021-09-02 10:11] dstucki commented on #596
Thanks for your analysis.

What are your thinking about bringing back com.lowagie.text.pdf.codec.PngImage and using it in the ImageLoader class just fo r loading PNG?

[2021-09-02 15:47] Lonzak commented on #596
a)
Can you check whether you use ImageIO.setUseCache(false) for in memory-based caching instead of disk-based caching?

b)
ImageIO#read does a bunch of stuff under the hood. If you know, for instance, that your images are all PNGs then you could use ImageIO.getImageReadersByFormatName("PNG"); to get the reader once and then use that reader for all your images without having to search again.

Two o

[2021-09-02 16:12] ApionXD commented on #596
I can say that I looked at using the PNG ImageReader and it did not offer a significant increase in performance.

[2021-09-03 06:43] asturio commented on #128
I think any improvement is an improvement. Some kind of warnings can be bundled and resolved together, buy I think there is no need to remove them all at once.
Other changes may be more important or valuable.

[2021-09-03 06:51] asturio commented on #596
Have anybody tried bringing back `com.lowagie.text.pdf.codec.PngImage` and compare the performance directly with `ImageIO`?

[2021-09-03 12:55] sixdouglas commented on #128
Hi @asturio
Just to be sure to have expressed myself as I intended to, I was talking about removing deprecated functions.

[2021-09-07 15:38] dstucki commented on #596
I updated my example repo to help answer some of your questions, 4 pngs read 10 times.

ImageIO.read with disabled cache: 3351ms
 com.lowagie.text.pdf.codec.PngImage.getImage: 65ms

ImageIO.setUseCache(false) gives some improvements, but far away from the original itext implementation

Didn't try that yet

I did notice the performance drop using the same jdk

Yes

[2021-09-08 06:19] Lonzak commented on #596
Interesting - didn't realize that the PNGImage was thrown out. Anybody know the reason?

[2021-09-08 09:29] dstucki commented on #596
Issue #89 with Pull Request #90 threw PngImage out.

Maybe @andreasrosdal can share some additional info?

[2021-09-09 18:26] ApionXD commented on #596
I believe I read somewhere that we wanted to use standard libs instead of maintaining our own codecs to read images, will try to find the source.

[2021-09-09 20:14] asturio commented on #596
Yes, that was the case. Instead of reinventing the wheel every time, it is better to use libraries to make non-PDF stuff for us. Maybe ImageIO can be used in a more optimized way.

[2021-09-19 14:34] mkl-public opened #602 "Error in parsing of cross reference streams with multiple revisions"
**Description**

When reading a cross reference stream, iText/OpenPdf clears the corresponding object from the internal cross reference information as that object ID can be re-used in later revisions and should not be accessed directly by normal user code anyways.

Unfortunately, if in a multi-revision PDF that object ID indeed has been re-used in a later revision and OpenPdf reads that multi-revi

[2021-09-21 19:28] Zoharat commented on #196
I have OpenPDF version 1.3.26, and also get the same error.

[2021-09-28 21:52] asturio commented on #196
Pull-requests are welcome!

[2021-09-28 23:30] albfernandez commented on #196
This concrete case was in the examplw file PageNumbersWatermark.java

Are you using PageNumbersWatermark.java or a different file?

[2021-09-29 15:11] Zoharat commented on #196
So the font I used in my test I had the size accidentally set as 0. That caused this issue. Once I used a an actual non zero font it worked for me.

[2021-09-29 16:37] #196 closed

[2021-10-01 15:52] vk-github18 commented on #584
It is also possible to render texts needing glyph positioning, substitution and reordering using
LayoutProcessor. See https://github.com/LibrePDF/OpenPDF/wiki/Accents,-DIN-91379,-non-Latin-scripts
The result for the example is:
![image](https://user-images.githubusercontent.com/39316085/135649860-db73ad15-269b-4d4d-8ead-6f89072aa250.png)

Maybe we should also add a reference to LayoutProcessor to

[2021-10-03 17:03] Doragon-S commented on #571
I found that when trying to do this with Hebrew text (and I'm assuming all RTL languages) it prints the characters LTR. Is there a way this can be fixed?

[2021-10-04 06:09] vk-github18 commented on #572
@nazmul-prince you could try to use LayoutProcessor, see https://github.com/LibrePDF/OpenPDF/wiki/Accents,-DIN-91379,-non-Latin-scripts

[2021-10-12 10:56] asturio commented on #571
Pull requests welcome!

[2021-10-12 11:13] asturio commented on #584
The PR is merged, can we close this?
@vk-github18

[2021-10-12 13:35] Earless opened #609 "Incorrect license in pom.xml"
According to the following files OpenPDF is licensed with MPL 2.0 and LGPL 2.1.
- License.md
- LGPL-2.1.md
- Readme.md.

However, according to your pom.xml, OpenPDF is licensed with MPL 2.0 and LGPL 3.0.

Am I correct to assume that there is a mistake in your pom.xml, and that OpenPDF is indeed licensed with MPL 2.0 and LGPL 2.1? If so, please update the pom.xml.

[2021-10-12 18:16] asturio commented on #609
Just fixed it

[2021-10-12 18:16] #609 closed, assigned to nobody

[2021-10-12 19:07] asturio opened #610 "Remove ITXT or replace it with a new Name"
Hi all, I'm thinking about the ITXT topic again as mentioned in:

- #261
- #303

Bruno Lowagie also mentioned it in this video (https://youtu.be/bZudGJw3Ck0?t=1819 , from about 30:32 till 35:30), so I think it is a good idea, if this issue is addressed soon.

So the idea is to either remove the usage of ITXT and similar at all, or:

- replace it with something new and not registered. Just some ran

[2021-10-13 19:38] sixdouglas commented on #610
Like @justinasbardauskas I'm not expert enough to bring new arguments, for or against keeping or removing this tag.
But in the light of what has been said, removing it seems the right option here.

[2021-10-14 06:36] asturio commented on #610
Very constructive arguments. It seems the best to remove the code related to the ITXT prefix.

[2021-10-14 08:53] borjafg opened #611 "Shrink an existing PDF document"
Can this library be used to shrink (resize to fit) an existing PDF document?

---

This is the code to resize the pdf pages to A4 with itext 7 library, but I don't know how to do the same with OpenPDF.

	// Open original pdf
	PdfReader originalPdfReader = new PdfReader(originalPdfFileURI);
	PdfDocument originalPdf = new PdfDocument(originalPdfReader);

	// Generate a copy and open it
	File copyPdf

[2021-10-14 11:21] mkl-public commented on #611
Well, you are aware that that code throws away all interactive PDF content (annotations) and any document-level information is lost, are you?

If that's ok with you, you can get a similarly lossy solution with OpenPDF without problem.

If you actually don't want such a lossy routine, the task is much more complicated, both with iText 7 and with OpenPDF.

[2021-10-14 16:21] #610 closed

[2021-10-15 11:56] borjafg commented on #611
The document only contains images obtained from a scanner, and I need to resize them to A4 size because some may be larger than A4.

I tried taking the images out of the PDF and adjusting them and then re-inserting them into the PDF, but it didn't work.

This is the only solution I found.

Do you know what the equivalent code would be in this library? Or the code to do it in a better way (with thi

[2021-10-16 07:44] XiuyeXYE opened #613 "Font Nirmala not supported?"
## Code:
[code]
Exception occurs at "close" line

## Exception：
![image](https://user-images.githubusercontent.com/16207730/137578416-853f273c-a3c2-453c-b7ca-1cbb54dcf500.png)

**======================**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Code to reproduce the issue
1. Sample Code
2. Unit-Test

**Expected behavior**
A clear and concise descr

[2021-10-21 01:36] zengleo commented on #613
Hi, I'd like to work on this issue for academic purposes.  Thanks!

[2021-10-21 01:42] zengleo commented on #339
Hi, I'd like to work on this issue for a school project.  Thanks!

[2021-10-22 06:25] renis1235 opened #615 "Parsing nested HTML lists with HTMLWorker does not nest the PDF lists correctly"
**Description**
This may be a bug on the Original iText used in this project but still, I think it is worth an Issue.
Basically, if we parse a HTML String through `HTMLWorker.parseToList`, we get a list of PDF elements that we can add to our document. The problem is that when we parse a nested HTML list, the nesting is not done properly in the PDF.

The HTML List looks like this:

![image](https:/

[2021-10-25 14:06] bhupendersinghh opened #616 "Convert pdf pages to images"
Does openPdf support conversion of pdf file pages to images or a way to generate thumbnails for pdf files?

[2021-11-04 03:11] YourLord00 commented on #613
Hi,can I get a pull request？ Is this issue still open, I want to work on this to solve the issue

[2021-11-04 03:11] YourLord00 commented on #589
Hi,can I get a pull request？ Is this issue still open, I want to work on this to solve the issue

[2021-11-04 09:35] mattys31 opened #618 "Text extractor with UTF-8"
Hi All,

I am trying to read a PDF which has nordic (äöå) characters in it, but I can't seem to get them from a text extractor, they just get replaced with spaces.

Here's the code

[code]

First few characters of the result are "T m "
I was expecting "Tämä"

I've seen a few issues regarding whitespace but not special characters.

Any help would be very gratefully received.

Thanks

Matt

[2021-11-04 10:08] asturio commented on #613
Hi @YourLord00 , @XiuyeXYE closed the issue. I think because it is solved using FOP. Maybe there is a need to document it better. Fell free doing this :-).

[2021-11-04 10:09] asturio commented on #589
HI @YourLord00 , fell free in creating a pull request. The issue still open.

[2021-11-04 13:13] YourLord00 commented on #589
Thank you, I will just create pull request, so would this be like the
normal clone git repo?

On Thu, Nov 4, 2021 at 6:09 AM asturio ***@***.***> wrote:

[2021-11-04 13:13] YourLord00 commented on #589
Thank you, I will just create pull request, so would this be like the
normal way to clone git repo?

On Thu, Nov 4, 2021 at 9:12 AM Jiachun Tang ***@***.***> wrote:

[2021-11-04 13:14] YourLord00 commented on #613
You mean I still can get a pull or could you explain it to me?I am
confused:(

On Thu, Nov 4, 2021 at 6:08 AM asturio ***@***.***> wrote:

[2021-11-04 13:17] YourLord00 commented on #613
Can I still get a pull request since I want to study for this one?

On Thu, Nov 4, 2021 at 9:13 AM Jiachun Tang ***@***.***> wrote:

[2021-11-04 14:27] Herobin1 opened #619 "rowspan-attribute gets ignored when converting from html to (pdf-)document"
**Describe the bug**
When cells in a http-table use the attribute "rowspan" it gets ignored when converting into a document.
The following rows will start in the wrong column.
Result:
[testOut.pdf](https://github.com/LibrePDF/OpenPDF/files/7475443/testOut.pdf)

**To Reproduce**
Code to reproduce the issue
You can test it by using the following code:

Document doc = new Document(PageSize.A4);
PdfWr

[2021-11-04 16:38] asturio commented on #613
Take a look at https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests

Normally, you clone the project, do some changes in your copy (probably in a separate branch), and then create a pull request. If it is good, I'll merge it.

[2021-11-07 14:29] mkl-public commented on #618
Please share an example PDF for which that happens.

[2021-11-09 11:18] gradlifier opened #620 "Paragraph leading ist ignored, when keepTogether is set"
The fix of #271 and commit 1d3c049 brought a new issue for our application. The leading is ignored in paragraphs with keepTogether set to true.

Code to reproduce:
`public class TestBad211 {

	public static void main(String[] args) throws IOException {
		final Path createdPdfFile = Files.createTempFile("TestBad211", ".pdf");

		Document document = new Document();
		try {
			PdfWriter.getInstance(d

[2021-11-16 14:34] mattys31 commented on #618
Working on the example without any customer data etc that I can put on here. In the meantime, I have tried to examine as much as I can to understand where the problem is. I have tried getOriginalChars and getOriginalBytes from the resulting PDF string from the text extractor and I can see that already at that point the characters have been remapped to spaces.

Eg: here's the printout of bytes and

[2021-11-16 15:12] Lonzak commented on #618
It can be the font but it can also be other things. What happens if you copy the text out of *dobe Reader? Is it correct?
And post an example PDF here - I can try with my local version because I remember that I had problems in the Past with UTF-16 BOM encoded PDFs and special characters and text extraction etc. If that is the problem I may be able to provide a patch ...

[2021-11-18 02:50] cesiabulnes commented on #571
@asturio Hi I'm a first time contributor working on this for University, is it ok if I work on the bolding of different words etc? I will also try to do the RTL fix if I have the time!

[2021-11-18 08:00] mattys31 commented on #618
Finally managed to produce a test file!

[ESISBlank.pdf](https://github.com/LibrePDF/OpenPDF/files/7561065/ESISBlank.pdf)

I'm wondering if it's the fonts, which are minion pro (Adobe special font that I dont have loaded?) or E X_ CF F_ Arial (No idea what that is, is it part of the Arial family or do i need something special?)

Many thanks

Matt

[2021-11-18 15:41] mkl-public commented on #618
Ok, I had a look into that file.
The PDF font that Tämä is drawn with is an embedded Type 1 font that has no **ToUnicode** map and also no **Encoding** entry. Thus, one has to assume a built-in encoding and use that.
OpenPDF here uses the StandardEncoding as encoding. It matches somewhat but has many gaps, and it in particular has no code representing an 'ä'.

One might try and retrieve the built-

[2021-11-18 16:10] Lonzak commented on #618
I was wondering why it is working for me but then I realized that I am using PdfBox for text extraction 😂

[2021-11-24 09:51] bsanchezb opened #623 "Make BaseFont subset prefix generation deterministic"
Hello,

While trying to embed a font subset to a PDF, we have faced with an issue in OpenPdf, as it generates a new random name for a font subset each time a single PDF document is generated.

As in our signature creation tool, we need to execute the PDF generation twice, one for a ToBeSigned data generation and the second one for a final signed document generation, the generated PDF document shal

[2021-11-26 20:02] jmenzies12 opened #624 "Java 11 Support and Software Site"
Hey there,

We are currently using openpdf 1.1.0 and are about to upgrade to java 11. Is it possible to run and build in java 11 with this version or will we have to update to get compatibility?

Also, by any chance do you have a software site we can use to download the release from?
Sorry if this is the wrong place to post this, I couldn't find a forum link or contact details anywhere.

Cheers
Jo

[2021-11-29 09:23] arnthom commented on #624
Hi Jonathan, you can find the Download at
https://search.maven.org/search?q=g:com.github.librepdf%20AND%20a:openpdf&core=gav

[2021-11-29 22:03] debuglevel commented on #375
See also PDFBox at https://issues.apache.org/jira/browse/PDFBOX-4413 and https://issues.apache.org/jira/browse/PDFBOX-1594

[2021-11-30 20:21] jmenzies12 commented on #624
Thanks for that!

Could you tell me if version 1.1.0 is compatible to be built on Java 11 ?

[2021-12-01 19:46] codylerum commented on #624
Looks like the CI builds are running on 8,11 and 16.

I'm running it on 17 without issue.

[2021-12-02 05:54] cesiabulnes commented on #373
I'll be introducing a PR for this this week. Thanks

[2021-12-02 20:49] jmenzies12 commented on #624
Hey sorry just wanted to clarify, you are running openpdf 1.1.0 on Java 17 ?

I couldn't see what version the CI builds are running on so I presume they are running on a recent version

[2021-12-02 20:54] codylerum commented on #624
Running `1.3.26` on JDK 17. `1.1.0` is a 3 year old release so you may want to get that updated first.

You can see versions https://github.com/LibrePDF/OpenPDF/blob/master/.github/workflows/maven.yml#L16

Or from recent builds in actions https://github.com/LibrePDF/OpenPDF/actions/runs/1514668628

[2021-12-05 15:18] nfmueller opened #629 "Infinite loop in xref table causes OOM"
I've come across a PDF with the following xref table:
[code]

When I attempted to create a new PdfReader from this document, my application crashed with an OOM error.
Upon debugging, it looks like there is an infinite loop in the readXref() method:
[code]
as prev.intValue() is the same value as the startxref, which leads to a continuous allocation of memory until it crashes.

pdfinfo (by xdpfreade

[2021-12-06 00:44] korlan01 commented on #498
I tried to recreate the issue and think the problem is with pixel count/viewing pdfs in different viewers on different systems.  Playing around with pagesize made the issue go away on a Linux pdf viewer but brought up a weird line to the right on the Windows adobe and Microsoft Edge viewer.  It may have to do with pixel count in the pdf, this article helps explain it: https://docs.oracle.com/cd/E8

[2021-12-08 09:46] mkl-public commented on #629
It is a good idea to prevent such endless loops.

Can you share the PDF in question for analysis and tests?

[2021-12-08 09:52] nfmueller commented on #629
Unfortunately, the full pdf contains private/sensitive information and I'm not able to share it.  I can share header data/data if it doesn't contain the private/sensitive info, if I'm directed on what data to share?

[2021-12-08 11:04] martcre opened #631 "Wrong License in maven.org distributed file"
**Describe the bug**
At least in Version 1.3.26 of openpdf distributed via repo1.maven.org contains different license files than present in the github-repo, and especially there is GPL License Text in the file lgpl.txt.

OpenPDF is wrongly identified by Sonatype IQ Server to be GPL, although licensed under LGPL and MPL

**To Reproduce**
1. Download https://repo1.maven.org/maven2/com/github/librepd

[2021-12-08 20:35] mluppi commented on #624
@jmenzies12 Is there a specific reason preventing you from upgrading to the most recent version?
I suggest that you try with Java 11 and then verify if everything works as expected. I was able to compile and run some basic tests with the tag `1.0.1`. However, I recommend that you upgrade if possible.

[2021-12-10 14:00] alesky78 opened #633 "wirting a single table in the ColumnText in simulation mode is not taken in consideration and skiped"
**Bug description**
in the version 1.3.26 of the lib
when you use the ColumnText in simulation mode and you add just a single table, in case the first rows of the table has not enought space to be introduced in the simulated pdf, the table is excluded from the ColumnText calculation.

a simple code example
[code]
**To Reproduce**
[BUGColumnTextWihtOnlyTable.txt](https://github.com/LibrePDF/OpenPDF

[2021-12-10 14:04] alesky78 commented on #633
I case is required, I can do a fix by myself,  and then  make a pull request,
please let me know how i can help to fix this issue and speed up the publish of the fix

[2021-12-10 15:09] alesky78 commented on #616
I investigate the same issue time ago...
actually this functionalit is not supported then I'm forced to use also the PDFBox lib in my application to support this feature

[2021-12-10 15:12] alesky78 commented on #568
i recreate the issue https://github.com/LibrePDF/OpenPDF/issues/633
after deep investgation in the code:

[2021-12-10 15:12] #568 closed

[2021-12-14 20:25] #623 closed

[2021-12-15 10:45] laurelgr opened #636 "Radio Button is not filled correctly"
**Describe the bug**
I have an existing PDF Acroform with a group of 2 radio buttons with appearances states "Y", "N" and the default "Off".

When filling with `acrofields.setField(myRadio, "Y")`, the value *seems* to be correctly set since `getField(myRadio)` returns "Y". However after writing the file the radio buttons are both empty, and when looking through the AcroForm dictionnary there is no

[2021-12-17 02:07] laurelgr commented on #636
Fixed somewhat, the field was set as "invisible" but since my pdf browser displayed it I didn't notice...
Although I do not think the invisible field was updated correctly...

[2021-12-17 02:07] #636 closed

[2021-12-17 14:19] p4535992 commented on #512
It's seem the error persist on version 1.3.26:

`osgi:install -s mvn:com.github.librepdf/openpdf/1.3.26`

here the error i get on my project:

[code]
Here the important part:
[code]

[2021-12-17 14:42] p4535992 commented on #512
never mind it's seem some strange error with my projects i solved by changhing these:
[code]
to this:
[code]
where "osgi.openpdf.version" is 1.2.7

[2021-12-21 16:11] ivanasen opened #639 "openpdf:1.3.26 is flagged as vulnerable to CVE-2021-43113 due to com.lowagie.itext package"
Vulnerability analysis tools like Synopsis's "Black Duck Binary Analysis" mark  openpdf:1.3.26 as vulnerable to [CVE-2021-43113](https://nvd.nist.gov/vuln/detail/CVE-2021-43113).

[2021-12-21 20:37] asturio commented on #633
Please feel free in creating a fix for this, and creating a pull request.

[2021-12-21 20:54] asturio commented on #639
Please note that OpenPDF is a fork of iText 2.1.7, and has no affiliation to iText. As OpenPDF is (by now) a binary compatible replacement for that iText version, all the package-names must remain.
This Security can be ignored, as there is no GhostScript support in OpenPDF, and the given class is not present.

[2021-12-21 20:54] #639 closed

[2021-12-22 14:09] tkalcevict opened #640 "PDF digital signature validation - Exception SHA1with1.2.840.10045.4.1 Signature not available"
**Description**
Hi,
I have a PDF file signed with ecdsa-with-SHA1 object id: 1.2.840.10045.4.1.

When I try to verify the digital signature with openpdf version "1.3.26"
Exception is thrown:
ExceptionConverter: java.security.NoSuchAlgorithmException: SHA1with1.2.840.10045.4.1 Signature not available
	at java.security.Signature.getInstance(Signature.java:228)
	at com.lowagie.text.pdf.PdfPKCS7.<init

[2021-12-22 18:00] mkl-public commented on #629
Some test files:

* https://github.com/mkl-public/testarea-itext7/raw/master/src/test/resources/mkl/testarea/itext7/meta/loopInXref-stream-single.pdf
* https://github.com/mkl-public/testarea-itext7/raw/master/src/test/resources/mkl/testarea/itext7/meta/loopInXref-stream-double.pdf
* https://github.com/mkl-public/testarea-itext7/raw/master/src/test/resources/mkl/testarea/itext7/meta/loopInXref-tabl

[2021-12-24 14:38] andreasrosdal commented on #640
https://github.com/LibrePDF/OpenPDF/blob/0ce79b9d3f192d644164778df67090e6038ba9f0/openpdf/src/main/java/com/lowagie/text/pdf/PdfPKCS7.java

[2022-01-07 09:37] tkalcevict commented on #640
Hi,
can you please explain me your reply?

Is comment only for future reference that problem is in
"com.lowagie.text.pdf.PdfPKCS7" class
or in it is provided solution?
I looked upon provided class and concluded that problem is still there.

Thank you in advance!

[2022-01-10 11:11] tellschaft opened #646 "Font.BOLD not working, when the Euro sign (€) is in the Text."
**Describe the bug**

After the migration from iText to OpenPDF 1.3.26 the Property Font.BOLD is not working when the Text in the Paragraph contains an Euro sign (€).

**To Reproduce**
Code to reproduce the issue
1. Sample Code

 try {
      Document document = new Document(PageSize.A4.rotate());

      File path = new File("test_euro.pdf");

      FileOutputStream fileOutputStream = new FileOutpu

[2022-01-11 08:20] tellschaft commented on #646
Replacing

` Font font = new Font(Font.HELVETICA, fontSizeText, Font.BOLD);`

with

`Font font = FontFactory.getFont(FontFactory.HELVETICA, fontSizeText, Font.BOLD);`

fixes the Problem.

[2022-01-14 00:50] seanleblancicdtech opened #650 "Text extractor NullPointerException"
I get a NPE when trying to extract the page of a file. Unfortunately, this might be hard to troubleshoot, since I will be unable to provide this file due to it not being a file I can share.

However, what I see when tracing is that the Do operator seems to end up with a null value for resources in Do.invoke of PdfContentStreamHandler.java (line 967), which throws a NullPointerException:

 PdfDicti

[2022-01-21 09:36] Nutstree opened #651 "remove javax.annotation dependency"
**Describe the bug**
Unnecessary dependency on javax.annotation.
In the OpenPDF pom there is an OSGI dependency declared in the maven-bundle-plugin configuration. As far as I can tell there is no dependency on this by maven.

We are working on making our software java17 compatible and therefor are migrating all dependencies on javax.* to jakarta.* and noticed this OSGi dependency.

**To Reproduce*

[2022-01-21 23:22] bradh opened #652 "Allow local builds without signing"
**Is your feature request related to a problem? Please describe.**
When doing a local build on a machine that doesn't have a gpg key (or a way to provide the passphrase, like an unattended build), the build fails with
[code]

I think it would be useful to only require signing on release (i.e. link it to a profile that is activated by a release activity).

**Describe the solution you'd like**
Allow

[2022-01-25 08:13] bhupendersinghh commented on #346
Hi @zengleo did you make changes to add this functionality?

[2022-01-26 07:41] fredmafu opened #655 "support AES-256 encryption"
New const of encryption type like PdfWriter.ENCRYPTION_AES_256.

Thank you.

[2022-02-03 11:57] #629 closed

[2022-02-03 14:06] #571 closed

[2022-02-10 18:32] ernestoacosta75 opened #658 "PdfPTable keepRowsTogether() and getLastCompletedRowIndex() method implementations like iText"
**Is your feature request related to a problem? Please describe.**
Iàm not able to find an equivalent implementation(s) of the keepRowsTogether() method as are implemented in iText.

**Describe the solution you'd like**
It would be nice to have them implemented in OpenPDF.

[2022-02-10 18:34] ernestoacosta75 opened #659 "PdfPRow setMayNotBreak property && setter/getter as iText"
It would be nice to have this feature (in the same way that is implemented in iText) because is useful when we have to generate PDF files with many tables on several pages.

[2022-02-14 19:09] andreasrosdal commented on #655
Pull requests welcome!

[2022-02-14 19:09] andreasrosdal commented on #655
https://github.com/LibrePDF/OpenPDF5/commit/7bcd438aacf224c45d07a86cd259b51dca3c380d

[2022-02-14 19:12] andreasrosdal commented on #652
allows you to build without signing.

[2022-02-14 19:39] andreasrosdal commented on #640
Pull requests welcome!

[2022-02-14 19:59] andreasrosdal commented on #596
The idea was to use a standard library to handle images, instead of maintaining image codecs in OpenPDF. This has several advantages related to security, maintainability, supporting the PNG format much better, and was also a part of the license review process of the OpenPDF source code. The iText people were very license-militaristic-hostile-evil at one point in the long distant past, so using lib

[2022-02-14 20:09] andreasrosdal commented on #596
Removing PngImage resolved this license issue:
![image](https://user-images.githubusercontent.com/41650711/153938579-e0efe396-c404-46c3-af8c-43041eee1e17.png)

[2022-02-14 20:37] andreasrosdal opened #663 "New release of OpenPDF?"
Is it time for a new release of OpenPDF soon, please?

[2022-02-14 21:35] andreasrosdal commented on #631
Are you sure the license file contains the GPL license text? Can you please post a screenshot of this?

[2022-02-14 22:05] bradh commented on #652
Thanks. That is probably enough for me. Happy for this to be closed (and will do so), unless you'd like to do anything more on it.

[2022-02-14 22:06] #652 closed

[2022-02-15 08:44] Lonzak commented on #655
We can not take AGPL code and put it into this LGPL/MPL licensed code.
There is an development in this area however and an independent implementation of this.
Something is soon to come :-)

[2022-02-15 17:03] nikosdimitrakas opened #665 "Bold fonts not working"
Up until version 1.3.17 bold fonts were working fine. From version 1.3.18 all the way to 1.3 26 they are not. Here is an example of two fonts that became identical in version 1.3.18:
new Font(Font.HELVETICA, 16f, Font.BOLD)
new Font(Font.HELVETICA, 16f)
Just in case it matters, the fonts above were used in a chunk in a paragraph. No special characters and nothing special otherwise.

[2022-02-16 07:01] andreasrosdal commented on #665
Thanks for reporting this issue. Do you think this PR is related to this bug?
https://github.com/LibrePDF/OpenPDF/pull/374

[2022-02-16 08:44] nikosdimitrakas commented on #665
Of all the things included in the release notes of 1.3.18, this is probably the one that relates to this.

[2022-02-17 08:28] arnthom commented on #665
using `new Font(baseFont, size, style, color)` bold fonts do work in OPenPdf 1.3.26

[2022-02-17 19:05] andreasrosdal commented on #651
This can be closed.

[2022-02-18 05:42] andreasrosdal commented on #559
I recommend that you update from iText to OpenPDF.

What is needed for OpenPDF to support PDF/A-2?

https://www.loc.gov/preservation/digital/formats/fdd/fdd000319.shtml

[2022-02-18 05:45] andreasrosdal commented on #487
Any news on this? Can this PR be merged now?

[2022-02-18 15:01] ernestoacosta75 opened #667 "keepRowsTogether method not implemented"
**Describe the bug**
After the migration from iText to OpenPDF I;m not able to find an implementation of kepRowsTogether() method as in iText, with the consequence that if I try to add a PdfPPTable in a cell of another PdfPTable, the cell containing the PdfPTable is moved to the next page.

**To Reproduce**
In iText for PdfPTable we have:
public void keepRowsTogether(int[] rows) {
        for(int

[2022-02-19 07:31] #663 closed

[2022-02-21 17:30] draccagni opened #668 "class com.lowagie.text.pdf.PdfDictionary cannot be cast to class com.lowagie.text.pdf.PRIndirectReference"
Hello,
reading a pdf file the library rises the following exception:

I temporary solved the issue by adding to the PdfReader class the method:

[code]

by invoking it in the method:

[code]
I hope it is helpful. Could the final fix be included in one of the next releases?

Thanks in advance
[PdfReader.java.txt](https://github.com/LibrePDF/OpenPDF/files/8116666/PdfReader.java.txt)

[2022-02-22 20:33] jhippolyte opened #669 "Header and Footer definition is ignored"
##  Description
When I try to define a Header and a Footer for a Document, it is not taken into account.

## To Reproduce
Code to reproduce the issue
[code]

## Expected behavior
The Header and Footer should have been added to the document.

## Screenshots
![image](https://user-images.githubusercontent.com/28600737/155214022-51a2c332-98b0-41ba-987a-5cf933b447da.png)

## System
 - OS: Windows 10

T

[2022-02-22 20:52] andreasrosdal commented on #668
Pull requests welcome!

[2022-02-24 20:30] nikosdimitrakas commented on #665
After some more testing, I have identified that the problem with bold not working depends on whether or not the string in the chunk or paragraph contains a new line character \n. When there is a \n in the string, bold does not work. I hope this helps identify the issue in the code.

[2022-02-25 09:47] fredmafu opened #672 "Digital Signature invalidated after encrypt a pdf by PdfStamper#setEncryption(...)"
I try to protect a signed pdf by

[code]

After open the protected pdf with "psw" in Adobe Reader, the digital signature becomes invalidated.  May I know is it expected? Any fixing / workaround? Thank you.

[2022-02-25 18:11] Jaspreet96 opened #674 "RTL support"
I am using Apache POI with OpenPdf to convert docx(with arabic text) to a pdf. However, in the pdf being generated the characters are printed in the direction left to right instead of Right to Left.
Refer the below two images:
![doc](https://user-images.githubusercontent.com/42904853/155765606-ac4813e1-3d0c-4a49-b5af-9d5fd124bca3.PNG)
![pdf](https://user-images.githubusercontent.com/42904853/15576

[2022-02-26 14:40] andreasrosdal commented on #674
emoclew stseuqer lluP

[2022-02-26 18:35] andreasrosdal commented on #674
Pull requests welcome

[2022-02-27 14:04] mluppi commented on #669
Header and footer definitions need to be set _before_ opening the document. Here in an example:

[code]

*Output:*
![Screenshot](https://user-images.githubusercontent.com/53262016/155885616-feafda20-8521-4af3-816c-fc86576cf23f.png)

[2022-02-27 15:43] arnthom commented on #669
Good point ...
In Document.class you can read after all the imports:
` * Remark:
 * <OL>
 *     <LI>Once a document is created you can add some meta information.
 *     <LI>You can also set the headers/footers.
 *     <LI>You have to open the document before you can write content.
`

Maybe one could add to the second listitem "before opening the document."

And should this be mentioned within the

[2022-02-27 19:31] mluppi commented on #669
@arnthom On of your proposed remarks is already addressed just 2 items below:
https://github.com/LibrePDF/OpenPDF/blob/bff6520a368fe0a35b443740a36cba108f4ed1a4/openpdf/src/main/java/com/lowagie/text/Document.java#L78-L79

I updated my comment to reflect the general case. Additionally, I improved the Javadoc of the methods used to set header/footer. Here is the PR: #675

[2022-02-28 04:12] AnthonyStevens opened #676 "Tagged PDF fails Acrobat syntax check"
When testing a tagged PDF crated by openPDF the Acrobat preflight syntax check reports that the ParentTree mapping is inconsistent. I'm not sure of the exact problem, but I've noticed a difference in tagged PDFs created by openPDF & iText 2.1.7. In openPDF the /K array of a structure element contains the dictionary object of the child structure, whereas in iText it contains an indirect reference
[

[2022-02-28 13:40] mluppi commented on #251
I'm adding a new example to the [existing collection](https://github.com/LibrePDF/OpenPDF/tree/master/pdf-toolbox/src/test/java/com/lowagie/examples) in PR #678 to show a possibility on how to draw text with a drop cap.

[2022-03-01 12:16] mkl-public commented on #672
A digital signature of a PDF contains a fingerprint (hash value) of the document bytes. By encrypting the PDF you change the document bytes. Thus, you invalidate the signature.

If you want a PDF to be both signed and encrypted, you have to encrypt the original PDF before or as part of the signing process.

In particular this is no _bug_ but _expected behavior_.

[2022-03-02 07:40] andreasrosdal commented on #676
Pull requests welcome

[2022-03-03 06:29] wise-coders opened #679 "Exception when registering Unicode Font"
I got an exception registering an unicode.ttf font,
FontFactory.register( LOCAL_FONT_FILE.getAbsolutePath(), "Unicode");

Do you have any idea which could be the reason? This happens only on one system, a MacOS with a Chinese locale.
Eventually, I can add the unicode.ttf file.

java.lang.IllegalArgumentException: newPosition > limit: (15891762 > 5325824) at java.base/java.nio.Buffer.createPosition

[2022-03-04 15:17] bsanchezb opened #680 "Why Default Appearance is created for an empty signature field?"
**Describe the bug**
As initially reported in [DSS-2691](https://ec.europa.eu/digital-building-blocks/tracker/browse/DSS-2691), OpenPdf adds _/DA_ and _/DR_ dictionaries in an empty signature field creation, when using the method [PdfStamper.addSignature(...)](https://github.com/LibrePDF/OpenPDF/blob/1.3.26/openpdf/src/main/java/com/lowagie/text/pdf/PdfStamper.java#L479).
This is caused by the lin

[2022-03-04 15:56] andreasrosdal commented on #680
Thanks for reporting this. Pull requests welcome.

[2022-03-05 14:31] #251 closed

[2022-03-05 14:35] #669 closed

[2022-03-05 14:42] #668 closed

[2022-03-05 14:45] asturio commented on #674
@Jaspreet96
Can you write the correct Arabic text here, so I can play around with it. Just a little snippet will do.

[2022-03-05 14:58] asturio commented on #674
There is an example of using arabic text here: [com.lowagie.examples.directcontent.graphics2d.ArabicText](https://github.com/LibrePDF/OpenPDF/blob/master/pdf-toolbox/src/test/java/com/lowagie/examples/directcontent/graphics2d/ArabicText.java)

Does this example solve your question?

[2022-03-05 17:43] andreasrosdal opened #681 "Add support for PDF/UA (PDF/Universal Accessibility)"
Please add support for PDF/UA (PDF/Universal Accessibility) in OpenPDF.

https://en.m.wikipedia.org/wiki/PDF/UA

Pull requests for this is welcome.

[2022-03-05 17:45] andreasrosdal commented on #681
Duplicate of #493

[2022-03-05 17:45] #681 closed

[2022-03-05 17:46] andreasrosdal commented on #493
What is needed to support PDF/UA?
https://en.m.wikipedia.org/wiki/PDF/UA

[2022-03-05 18:18] andreasrosdal commented on #610
https://youtu.be/bZudGJw3Ck0?t=1819

Can we use this video to improve OpenPDF?
-Implement PDF/U
-What else?

[2022-03-06 15:03] jhippolyte commented on #669
@mluppi thanks for your helpful answer !

[2022-03-07 17:26] Jaspreet96 commented on #674
Hey @asturio I am using Apache Poi with OpenPdf (xdocreport) to convert docx to pdf. I think the issue might lie with how they are converting docx to pdf. Haven't reached any conclusion yet.

[2022-03-08 12:40] ObsisMc commented on #346
Hi, is there anyone work on this issue? Can I take it?

[2022-03-08 12:41] ObsisMc commented on #346
Hi, is there anyone working on this issue? Can I take it?

[2022-03-09 13:31] deepoceansame commented on #175
I will try woking on this

[2022-03-09 13:32] deepoceansame commented on #646
I will try working on this

[2022-03-09 13:37] tellschaft commented on #646
Hello, Thank your for the Support,

Is it maybe the same Problem as in #665 ?

[2022-03-09 18:36] youyumeimei commented on #667
Hello @ernestoacosta75 , our group are interested in this issue, and we will try to fix it.
---- SE_SUSTech, group: Lanrand

[2022-03-09 18:45] youyumeimei commented on #130
Hello @andreasrosdal , our group are interested in this issue, and we will try to fix it.
---- SE_SUSTech, group: Lanrand

[2022-03-10 03:19] haha989 commented on #659
Hello @ernestoacosta75 , our group are interested in this issue, and we will try to fix it.
---- SE_SUSTech, group: Lanrand

[2022-03-10 03:42] haha989 commented on #620
Hello @gradlifier  , our group are interested in this issue, and we will try to fix it.
---- SE_SUSTech, group: Lanrand

[2022-03-10 04:19] ThreeHmeng commented on #381
Hello @ModdyLP , our group are interested in this issue, and we will try to fix it.
---- SE_SUSTech, group: Lanrand

[2022-03-10 04:41] ThreeHmeng commented on #680
Hello @bsanchezb , our group are interested in this issue, and we will try to fix it.
---- SE_SUSTech, group: Lanrand

[2022-03-10 06:25] ObsisMc commented on #616
@bhupendersinghh hello, is there anyone working on this enhancement? I am interested in it and want to try it.

[2022-03-10 06:26] ObsisMc commented on #616
@bhupendersinghh hello, is there anyone working on this enhancement? I am interested in it and want to try it.

[2022-03-10 06:31] bhupendersinghh commented on #616
I'm not sure anyone is. I had to use pdfbox because of this

[2022-03-10 06:57] ObsisMc commented on #616
@asturio hello, is there anyone working on this issue? If not, I can have a try.

[2022-03-10 07:03] bsanchezb commented on #680
Hello @ThreeHmeng ,

That sounds great!

For your additional information, it seems like my first idea, mentioned in the first message, was a bit too optimistic. Actually, the idea to skip #drawSignatureAppearance method is bad, as it draws a normal appearance, which is actually required in PDF/A or PDF-2.0. The problem is _/DA_ and _/DR_ dictionaries created in the same steps. I tried to configure

[2022-03-10 07:11] ObsisMc commented on #550
@asturio Hi, if no one takes it, I want to try it.

[2022-03-10 13:21] mkl-public commented on #680
Two remarks:

* A default appearance (**DA**) entry does not make sense for signature fields. Default appearances are only meaningful for text fields. Signature fields are no text fields.
* A default resources (**DR**) AcroForm entry is not per se bad. What makes it bad in the case at hand is the font OpenPDF adds to it as it is invalid for PDF/A use. (One might argue that that the font is not act

[2022-03-11 08:47] wzy1935 commented on #103
Hi, My teammate and I are interested in this issue for a school project. We would like to contribute :)

[2022-03-11 08:47] wzy1935 commented on #514
Hi, My teammate and I are interested in this issue for a school project. We would like to contribute :)

[2022-03-11 15:01] ernestoacosta75 commented on #667
Good afternoon youyumeimei,
Thanks for the interest of the group about this bug. It's really important for the correct PDF generation processs.
Hoping to get other feedback from the group soon, I wish to all of you a nice weekend.
Best regards,
Ernesto.

[2022-03-13 00:41] #581 closed

[2022-03-14 04:46] ObsisMc commented on #550
@takotakot
you only replace font name in following code in https://github.com/LibrePDF/OpenPDF/wiki/Multi-byte-character-language-support-with-TTF-fonts, but `"Identity-H"` will force `embedded` to be true.
`document.add(new Chunk(
                        "नमस्ते",
                        FontFactory.getFont("nirmala ui", "Identity-H",false,10,0,null)));`

I don't know whether it is a wrong usage

[2022-03-14 19:33] andreasrosdal commented on #130
See this issue: https://github.com/haraldk/TwelveMonkeys/issues/440

[2022-03-16 19:12] andreasrosdal commented on #128
There are now 92 warnings and 1 recommendation, and 0 errors.

https://lgtm.com/projects/g/LibrePDF/OpenPDF/alerts/?mode=list

[2022-03-17 04:13] andreasrosdal commented on #183
The idea is that we make an API which solves the problem reported by this user. The API doesn't have to be exactly like anything else. There could be something different with a different name, and we could tell users of OpenPDF to use this instead.

@testn @Kindrat

[2022-03-17 17:40] sanchi82 opened #685 "Simplified Chinese Text using Noto font"
Trying to print a Simplified Chinese text using NotoSansCJKsc.
When I open the pdf:
* I have an error "Cannot extract the embedded font 'IRVBRI+NotoSansCJKsc-Regular-Identity-H'. Some characters may not display or print correctly."
* The text is not present.
* The font is embedded (see image) ![font_noto](https://user-images.githubusercontent.com/35366336/158861848-121cb079-6843-4a7c-8fa5-9c4d1146

[2022-03-18 07:33] ObsisMc commented on #373
It seems that the PR above isn't accepted, I will try this issue.